@charset "UTF-8";
@import url("/assets/css/ui.css") all and (min-width: 769px);
@import url("/assets/sp/css/ui.css") all and (max-width: 768px);
/* 汎用クラス */
[class^="mark"] {
  padding-left: 15px;
  background: no-repeat left .5em;
}

.mark1 {
  background-image: url(../img/share/mark_1.gif);
}

.mark2 {
  background-image: url(../img/share/mark_2.gif);
}

.mark3 {
  background-image: url(../img/share/mark_3.gif);
}

.mark4 {
  background-image: url(../img/share/mark_4.gif);
}

.mark5 {
  background-image: url(../img/share/mark_5.gif);
}

.opacity {
  opacity: 0.75;
  -moz-opacity: 0.75;
  filter: alpha(opacity=75);
  -ms-filter: "alpha(opacity=75)";
}

.opacity_rev {
  opacity: 1;
  -moz-opacity: 1;
  filter: alpha(opacity=100);
  -ms-filter: "alpha(opacity=100)";
}

.inline_block {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

.table_cell {
  display: table-cell;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
}

.fr,
.imgR {
  float: right;
  margin-left: 10px;
}

.fl,
.imgL {
  float: left;
  margin-right: 10px;
}

.imgC,
.tC,
.btn {
  text-align: center;
}

.imgC {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.tR,
.sign {
  text-align: right;
}

.box_size {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.ts_none {
  -webkit-text-shadow: none !important;
  -moz-text-shadow: none !important;
  -ms-text-shadow: none !important;
  -o-text-shadow: none !important;
  text-shadow: none !important;
}

.bs_none {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  -ms-box-shadow: none !important;
  -o-box-shadow: none !important;
  box-shadow: none !important;
}

.hover_anime {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/* line-Box */
.line_box {
  letter-spacing: -.40em;
}

/* line-Box none */
.line_box_none {
  letter-spacing: normal;
}

/* img-Replace */
.img_replace {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

/* img-Replace none */
.img_replace_none {
  text-indent: inherit;
  white-space: normal;
  overflow: auto;
}

/* img-Fit */
.img_fit {
  width: 100%;
  height: auto;
}

/* img-Baseline */
.img_baseline {
  vertical-align: top;
  vertical-align: bottom;
}

/* clearfix */
.clearfix {
  *zoom: 1;
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

/* clearfix */
#content {
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  box-align: stretch;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  -ms-align-items: stretch;
  -o-align-items: stretch;
  align-items: stretch;
  -ms-flex-align: stretch;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  box-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  -o-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-pack: start;
}

#content aside .news h2 {
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  box-align: stretch;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  -ms-align-items: stretch;
  -o-align-items: stretch;
  align-items: stretch;
  -ms-flex-align: stretch;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
}

main #timeline section.time_line3 {
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
}

#content aside .news h2 {
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  box-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  -o-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-pack: start;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  color: #333;
  font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", "Open Sans", "Helvetica Neue", Helvetica, Arial, Verdana, Roboto, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Meiryo UI", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

figure {
  line-height: 0;
}

a:hover img {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}

/*-------------------------------------------------
+++++++++++++++++++++++++++++++++++++++++++++++++++
	SPモード
+++++++++++++++++++++++++++++++++++++++++++++++++++
-------------------------------------------------*/
/*-------------------------------------------------
+++++++++++++++++++++++++++++++++++++++++++++++++++
	/SPモード
+++++++++++++++++++++++++++++++++++++++++++++++++++
-------------------------------------------------*/
.is-show-pc {
  display: block;
}

.is-show-sp {
  display: none;
}

.foot-sec {
  background-color: #000 !important;
  padding-top: 30px;
}

@media screen and (max-width: 768px) {
  .foot-sec {
    padding-top: 0px;
  }

  .is-show-pc {
    display: none;
  }

  .is-show-sp {
    display: block;
  }

  .fb-page .fb_iframe_widget span {
    width: 100% !important;
  }

  .fb-page .fb_iframe_widget span iframe {
    width: 100% !important;
  }
}
#testButton {
  font-size: 20px;
  font-size: 1.25rem;
  margin-top: 30px;
  margin-bottom: 30px;
  display: block;
  color: #000;
  background-color: #ccc;
}

body {
  background-color: #000;
  color: #fff;
  background-image: url("/sokuhou/img/bg_mv.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center 45px;
}

.archive #soccer_report > header:after {
  display: none;
}

#soccer_report > header {
  height: 490px;
  width: 100%;
  position: relative;
  display: none;
}
#soccer_report > header .pageTitle {
  background-color: #fff;
  line-height: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
}
#soccer_report > header .pageTitle .logo img {
  height: auto;
  width: 190px;
}
#soccer_report > header h1 {
  height: 130px;
  width: 551px;
  position: absolute;
  top: 100px;
  right: 0;
  left: 0;
  margin: auto;
}
#soccer_report > header .fixtures {
  height: 100px;
  width: 820px;
  margin: 210px auto 0;
  display: table;
}
#soccer_report > header .fixtures > p {
  display: table-cell;
  vertical-align: middle;
}
#soccer_report > header .fixtures > p img, #soccer_report > header .fixtures > p span {
  vertical-align: middle;
}
#soccer_report > header .fixtures > p:nth-of-type(1) {
  text-align: left;
  height: auto;
  width: 220px;
  font-size: 24px;
}
#soccer_report > header .fixtures > p:nth-of-type(1) img {
  margin-left: 20px;
}
#soccer_report > header .fixtures > p:nth-of-type(2) {
  text-align: center;
}
#soccer_report > header .fixtures > p:nth-last-of-type(1) {
  text-align: right;
  height: auto;
  width: 220px;
  font-size: 24px;
}
#soccer_report > header .fixtures > p:nth-last-of-type(1) img {
  margin-right: 20px;
}
#soccer_report > header .fixtures .score {
  font-size: 30px;
  font-family: Helvetica, "Helvetica Neue";
  line-height: 1;
  font-weight: bold;
}
#soccer_report > header .fixtures .score span {
  font-family: Helvetica, "Helvetica Neue";
  font-size: 110px;
  line-height: 1;
  font-weight: bold;
}
#soccer_report > header .fixtures .score span:nth-of-type(1) {
  margin-right: 20px;
}
#soccer_report > header .fixtures .score span:nth-of-type(2) {
  margin-left: 20px;
}
#soccer_report > header .fixtures.name4 .flag {
  width: 250px;
}
#soccer_report > header .fixtures.name7 {
  position: relative;
  left: 70px;
}
#soccer_report > header .fixtures.name7 .flag {
  width: 330px;
}
#soccer_report > header .fixtures.name7 .flag.jp {
  width: 200px;
}
#soccer_report > header .stadium {
  height: 1em;
  width: 820px;
  position: absolute;
  top: 375px;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
  font-size: 16px;
}
#soccer_report > header .state {
  font-size: 18px;
  display: block;
  height: auto;
  width: auto;
  line-height: 1;
  position: absolute;
  top: 406px;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}
#soccer_report > header .state span {
  display: inline-block;
  border: 2px solid #e1e1e1;
  padding: 10px;
  font-weight: bold;
}
#soccer_report > header:after {
  content: '';
  display: block;
  height: 30px;
  width: 54px;
  background-image: url("/sokuhou/img/icon_live.png");
  background-repeat: no-repeat;
  background-size: 54px 30px;
  position: absolute;
  top: 10px;
  right: 20px;
}
#soccer_report > header .score, #soccer_report > header .state {
  display: none;
}
#soccer_report > header.loaded {
  display: block;
}
#soccer_report > header.loaded .score, #soccer_report > header.loaded .state {
  display: block;
}

#content {
  margin: 0 auto;
  height: auto;
  width: 1090px;
}
#content aside {
  height: auto;
  width: 300px;
  margin-left: 30px;
}
#content aside .banner, #content aside .news {
  margin-bottom: 20px;
}
#content aside .banner:nth-of-type(2) {
  display: none;
}
#content aside .news {
  background-color: #fff;
}
#content aside .news h2 {
  font-size: 14px;
  height: 40px;
  width: auto;
  padding-right: 15px;
  padding-left: 15px;
  background-color: #071f41;
}
#content aside .news ul li {
  border-bottom: 1px solid  #e9e9e9;
}
#content aside .news ul li:last-child {
  border-bottom: none;
}
#content aside .news ul li a {
  padding: 20px 50px 20px 12px;
  display: block;
  color: #555;
  line-height: 1.5;
  font-size: 14px;
  position: relative;
  text-decoration: none;
}
#content aside .news ul li a:after {
  content: '';
  height: 10px;
  width: 6px;
  background-image: url("/sokuhou/img/awr_1.png");
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: 20px;
  bottom: 0;
  margin: auto;
}
#content aside .news ul li a:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}

main {
  position: relative;
  height: 100%;
  width: 760px;
}
main #banner {
  margin-bottom: 20px;
}
main #banner p {
  line-height: 0;
}
main #banner p a, main #banner p picture, main #banner p img {
  display: block;
  line-height: 0;
  cursor: pointer;
}
main #summary {
  display: none;
  background-color: #061b38;
  margin-bottom: 30px;
}
main #summary.show {
  display: block;
}
main #summary h2 {
  background-color: #9d1b26;
  line-height: 0;
  text-align: center;
  padding: 19px;
}
main #summary .txt {
  line-height: 1.7;
  font-size: 14px;
  padding: 30px 20px;
}
main #timeline {
  position: relative;
  background-color: #082956;
  height: 100%;
  width: 760px;
  overflow: hidden;
}
main #timeline:before {
  content: '';
  display: block;
  height: 100%;
  width: 2px;
  background-color: #cc141d;
  margin: auto;
  position: absolute;
  top: 20px;
  right: 0;
  left: 0;
}
main #timeline.unloaded section {
  display: none !important;
}
main #timeline.uae-jp section.time_line3:before {
  background-image: url("/sokuhou/img/img_flag_uae.png");
}
main #timeline.uae-jp section.time_line3:after {
  background-image: url("/sokuhou/img/img_flag_jp.png");
}
main #timeline.jp-tha section.time_line3:before {
  background-image: url("/sokuhou/img/img_flag_jp.png");
}
main #timeline.jp-tha section.time_line3:after {
  background-image: url("/sokuhou/img/img_flag_tha.png");
}
main #timeline section {
  position: relative;
  margin-top: 20px;
  			/*
  			&:first-child:not(.time_line3) {
  				@include padding(20px null null null);
  				&:before {
  					top: 0;
  				}
  			}
  			&.hide_true {
  				display: none;
  			}
  			&.event_start, &.event_end, &.time_line3, &.event_id_7, &.BeforeTheGame {
  				background-color: $c_blueD;
  				background-image: none;
  				@extend %flex_row_center_vertical_center;
  				@include size(100% 80px);
  				&:before, &:after {
  					display: none;
  				}
  			}
  			.text {
  				font-size: 14px;
  			}
  			//共通イベント以外
  			&.time_line1, &.time_line2 {
  				min-height: 40px;
  				@include padding(null null 40px null);
  				.title {
  					display: none;
  				}
  				.time {
  					@include size(320px auto);
  					line-height: 1.5;
  					font-size: 14px;
  				}
  				.text {
  					@include size(320px auto);
  					line-height: 1.5;
  					font-size: 14px;
  				}
  			}
  			&.time_line1 {
  				.time {
  					float: left;
  					@include position(relative, null null null 410px);
  				}
  				.text {
  					float: right;
  					text-align: right;
  					@include position(relative, null 410px null null);
  				}
  			}
  			&.time_line2 {
  				.text {
  					float: left;
  					@include position(relative, null null null 410px);
  				}
  				.time {
  					float: right;
  					text-align: right;
  					@include position(relative, null 410px null null);
  				}
  			}
  			&.time_line3, &.event_id_7, &.BeforeTheGame {
  				&:before, &:after {
  					content: '';
  					display: block;
  					@include size(34px 22px);
  					background-size: 34px 22px;
  					background-repeat: no-repeat;
  					position: absolute;
  				}
  				&:before {
  					background-image: url("/sokuhou/img/img_flag_jp.png");
  					left: 20px;
  					top: 0;
  					bottom: 0;
  					@include margin(auto);
  				}
  				&:after {
  					background-image: url("/sokuhou/img/img_flag_iq.png");
  					right: 20px;
  					top: 0;
  					bottom: 0;
  					@include margin(auto);
  				}
  			}
  			&.event_id_1, &.event_id_7, &.event_id_9 {
  				.time, .text {
  					width: 360px;
  				}
  				.time {
  					font-size: 0;
  					background-image: url("/sokuhou/img/txt_kickoff.png");
  					background-repeat: no-repeat;
  					background-position: right top;
  					@include size(300px 15px);
  				}
  				.text {
  					&:before {
  						content: '';
  						display: inline-block;
  						background-image: url("/sokuhou/img/icon_whistle.png");
  						background-repeat: no-repeat;
  						background-position: center top;
  						background-size: 20px 15px;
  						@include size(20px 15px);
  						@include margin(null 20px);
  						@include position(relative, 4px null null null);
  					}
  				}
  				&+ .event_id_3, &+ .event_id_8 {
  					margin-top: 20px;
  					@media only screen and (max-width : $sp_point){
  						margin-top: 0;
  					}
  				}
  			}
              &.event_id_1 {
  				.time {
  					background-size: 60px 15px;
  				}
  			}
  			&.event_id_7 {
  				.time {
  					background-image: url("/sokuhou/img/txt_halftime.png");
                      background-size: 72px 15px;
  				}
  			}
  			&.event_id_9 {
  				.time {
  					background-image: url("/sokuhou/img/txt_fulltime.png");
                      background-size: 70px 15px;
  				}
  			}
  			&.event_id_7, &.event_id_9 {
  				@include margin(null null 0 null);
  				&+section {
  				}
  			}
  			&.event_id_2 {
  				&:before {
  					content: '';
  					display: block;
  					background-color: $c_blue;
  					background-image: url("/sokuhou/img/icon_shoes.png");
  					background-repeat: no-repeat;
  					background-position: center 20px;
  					background-size: 23px 20px;
  					@include size(40px 60px);
  					@include position(absolute, -20px 0 null 0);
  					@include margin(auto);
  				}
  			}
  			&.event_id_3 {
  				&:before {
  					content: '';
  					display: block;
  					background-color: $c_blue;
  					background-image: url("/sokuhou/img/icon_ball.png");
  					background-repeat: no-repeat;
  					background-position: center 20px;
  					background-size: 20px 20px;
  					@include size(40px 60px);
  					@include position(absolute, -20px 0 null 0);
  					@include margin(auto);
  				}
  				.text {
  					// line-height: 1;
  					&:before {
  						content: 'GOAL!!';
  						display: block;
  						font-family:  Helvetica, "Helvetica Neue";
  						font-size: 30px;
  						font-weight: bold;
  						line-height: 1;
  						@include padding(0 null 0.2em);
  					}
  				}
  				@media only screen and (max-width : $sp_point){
  					margin-bottom: -3px !important;
  				}
  			}
  			&.event_id_4 {
  				&:before {
  					content: '';
  					display: block;
  					background-color: $c_blue;
  					background-image: url("/sokuhou/img/icon_card_y.png");
  					background-repeat: no-repeat;
  					background-position: center 20px;
  					background-size: 16px 20px;
  					@include size(40px 60px);
  					@include position(absolute, -20px 0 null 0);
  					@include margin(auto);
  				}
  			}
  			&.event_id_5 {
  				&:before {
  					content: '';
  					display: block;
  					background-color: $c_blue;
  					background-image: url("/sokuhou/img/icon_card_r.png");
  					background-repeat: no-repeat;
  					background-position: center 20px;
  					background-size: 16px 20px;
  					@include size(40px 60px);
  					@include position(absolute, -20px 0 null 0);
  					@include margin(auto);
  				}
  			}
  			&.event_id_6 {
  				@include padding(null null 20px null);
  				background-color: transparent;
  				margin-top: 20px;
  				.time {
  					display: none;
  				}
  				&:before, &:after {
  					display: none;
  				}
  				.text {
  					&:before {
  						content: '';
  						display: block;
  						background-color: $c_blue;
  						background-image: url("/sokuhou/img/icon_timer.png");
  						background-repeat: no-repeat;
  						background-position: center 20px;
  						background-size: 19px 23px;
  						@include size(40px 45px);
  						// @include position(absolute, -20px 0 null 0);
  						@include margin(0 auto 3px);
  					}
  					float: none;
  					text-align: center;
  					background-color: $c_blue;
  					position: static;
  					@include size(100% auto);
  					@include padding(0 null 10px);
  					@include margin(-20px null null null);
  				}
  			}
  			&.event_id_8 {
  				&:before {
  					content: '';
  					display: block;
  					background-color: $c_blue;
  					background-image: url("/sokuhou/img/icon_change.png");
  					background-repeat: no-repeat;
  					background-position: center 20px;
  					background-size: 22px 20px;
  					@include size(40px 60px);
  					@include position(absolute, -20px 0 null 0);
  					@include margin(auto);
  				}
  			}
  			&.event_id_1 {
  				.time {
  					&:before {
  						content: '';
  						display: block !important;
  						@include size(2px 20px);
  						background-color: $c_blue;
  						@include margin(0 auto);
  						@include position(absolute, -20px 0 auto 0);
  					}
  				}
  			}
  			&.event_id_7 {
  				.time {
  					&:before {
  						content: '';
  						display: block !important;
  						@include size(2px 20px);
  						background-color: $c_blue;
  						@include margin(0 auto);
  						@include position(absolute, -20px 0 auto 0);
  					}
  					&:after {
  						content: '';
  						display: block !important;
  						@include size(2px 20px);
  						background-color: $c_blue;
  						@include margin(0 auto);
  						@include position(absolute, auto 0 -20px 0);
  					}
  				}
  			}
  			&.event_id_9 {
  				.time {
  					&:before {
  						content: '';
  						display: block;
  						@include size(2px 20px);
  						background-color: $c_blue;
  						@include margin(0 auto);
  						@include position(absolute, -20px 0 auto 0);
  					}
  					&:after {
  						content: '';
  						display: block !important;
  						@include size(2px 20px);
  						background-color: $c_blue;
  						@include margin(0 auto);
  						@include position(absolute, auto 0 -20px 0);
  					}
  				}
  			}
  			&.event_id_10 {
  				background-color: $c_blueD2 !important;
  				padding: 30px 20px;
  				.time {
  					display: none;
  				}
  				.text {
  					width: 100%;
  					float: none;
  					position: static;
  					text-align: left !important;
  				}
  			}
  			&:first-child {
  				&.event_id_1 {
  					@include margin(null null 60px null);
  					.time {
  						&:after {
  							content: '';
  							display: block !important;
  							@include size(2px 20px);
  							background-color: $c_blue;
  							@include margin(0 auto);
  							@include position(absolute, auto 0 -20px 0);
  						}
  					}
  				}
  			}
  			&:last-child {
  				// @include margin(null null 0 null);
  				margin-bottom: 0 !important;
  				&.event_id_9 {
  					.time {
  						&:before {
  							content: '';
  							display: block;
  							@include size(2px 20px);
  							background-color: $c_blue;
  							@include margin(0 auto);
  							@include position(absolute, -20px 0 auto 0);
  						}
  					}
  				}
  				&.event_id_10 {
  					.text {
  						&:before {
  							content: '';
  							display: block;
  							@include size(2px 20px);
  							background-color: $c_blue;
  							@include margin(0 auto);
  							@include position(absolute, -20px 0 auto 0);
  						}
  					}
  				}
  				&.event_id_2 {
  					padding-bottom: 60px !important;
  					&:after {
  						content: '';
  						display: block !important;
  						@include size(2px 20px);
  						background-color: $c_blue;
  						@include margin(0 auto);
  						@include position(absolute, auto 0 0 0);
  					}
  				}
  			}
  			*/
}
main #timeline section::after {
  clear: both;
  content: "";
  display: table;
}
main #timeline section:first-child {
  margin-top: 0;
}
main #timeline section.BeforeTheGame {
  padding-top: 0 !important;
  height: 100px;
  width: 100%;
  border-top: 4px solid #cc141d;
  background-color: #082956;
  display: flex;
  justify-content: center;
  align-items: center;
}
main #timeline section.BeforeTheGame .text {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}
main #timeline section.BeforeTheGame .text em {
  display: block;
  padding-top: 5px;
}
main #timeline section.BeforeTheGame .text em:before {
  content: '';
  display: inline-block;
  background-image: url("/sokuhou/img/icon_whistle.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 20px 15px;
  height: 15px;
  width: 20px;
  margin-right: 10px;
}
main #timeline section.time_line3 {
  background-color: #071f41;
  background-image: none;
  height: 80px;
  width: 100%;
}
main #timeline section.time_line3:first-child {
  border-bottom: 20px solid #082956;
  height: 100px;
  margin: 0;
}
main #timeline section.time_line3:before, main #timeline section.time_line3:after {
  content: '';
  display: block;
  height: 22px;
  width: 34px;
  background-size: 34px 22px;
  background-repeat: no-repeat;
  position: absolute;
}
main #timeline section.time_line3:before {
  left: 20px;
  top: 0;
  bottom: 0;
  margin: auto;
}
main #timeline section.time_line3:after {
  right: 20px;
  top: 0;
  bottom: 0;
  margin: auto;
}
main #timeline section.time_line3 .time, main #timeline section.time_line3 .text {
  width: 360px;
}
main #timeline section.time_line3 .time {
  font-size: 0;
  background-repeat: no-repeat;
  background-position: right top;
  height: 15px;
  width: 300px;
}
main #timeline section.time_line3 .text:before {
  content: '';
  display: inline-block;
  background-image: url("/sokuhou/img/icon_whistle.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 20px 15px;
  height: 15px;
  width: 20px;
  margin-right: 20px;
  margin-left: 20px;
  position: relative;
  top: 4px;
}
main #timeline section.time_line3.event_id_1 .time {
  background-image: url("/sokuhou/img/txt_kickoff.png");
  background-size: 60px 15px;
}
main #timeline section.time_line3.event_id_1:last-child {
  height: 100px;
  border-top: 20px solid #082956;
}
main #timeline section.time_line3.event_id_7 {
  border-top: 20px solid #082956;
  height: 100px;
}
main #timeline section.time_line3.event_id_7 .time {
  background-image: url("/sokuhou/img/txt_halftime.png");
  background-size: 72px 15px;
}
main #timeline section.time_line3.event_id_7 + .event_id_10 {
  border-top: none;
  margin-top: 0;
  border-bottom: 20px solid #082956;
}
main #timeline section.time_line3.event_id_7:first-child {
  height: 80px;
}
main #timeline section.time_line3.event_id_9 .time {
  background-image: url("/sokuhou/img/txt_fulltime.png");
  background-size: 70px 15px;
}
main #timeline section.time_line3.event_id_9:last-child {
  height: 100px;
  border-top: 20px solid #082956;
}
main #timeline section.time_line3.event_id_9:first-child {
  border: none;
  height: 80px;
}
main #timeline section.time_line3.event_id_6 {
  background-color: #082956;
  background: none;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}
main #timeline section.time_line3.event_id_6:first-child {
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: none;
}
main #timeline section.time_line3.event_id_6 .time {
  display: none;
}
main #timeline section.time_line3.event_id_6:before, main #timeline section.time_line3.event_id_6:after {
  display: none;
}
main #timeline section.time_line3.event_id_6 .text {
  margin-bottom: 0;
  border-bottom: 20px solid #082956;
  float: none;
  text-align: center;
  background-color: #082956;
  position: static;
  height: auto;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: -20px;
}
main #timeline section.time_line3.event_id_6 .text:before {
  content: '';
  display: block;
  background-image: url("/sokuhou/img/icon_timer.png");
  background-repeat: no-repeat;
  background-position: center 20px;
  background-size: 19px 23px;
  height: 45px;
  width: 40px;
  margin: 0 auto 5px;
}
main #timeline section.time_line3.event_id_6 + .event_id_10 {
  margin-top: 0;
}
main #timeline section.time_line3.event_id_6 + .event_id_7, main #timeline section.time_line3.event_id_6 + .event_id_9 {
  margin-top: 0;
  border-top: 20px solid #082956;
  height: 100px;
}
main #timeline section.time_line3.event_id_10 {
  background-color: #061b38;
  padding: 30px 20px;
  height: auto;
  border-top: 20px solid #082956;
}
main #timeline section.time_line3.event_id_10:first-child {
  border-top: none;
  border-bottom: none;
}
main #timeline section.time_line3.event_id_10:before, main #timeline section.time_line3.event_id_10:after {
  display: none;
}
main #timeline section.time_line3.event_id_10 .time {
  display: none;
}
main #timeline section.time_line3.event_id_10 .text {
  width: 100%;
  float: none;
  position: static;
  text-align: left;
}
main #timeline section.time_line3.event_id_10 .text:before, main #timeline section.time_line3.event_id_10 .text:after {
  display: none;
}
main #timeline section.time_line3.event_id_10 + .event_id_7, main #timeline section.time_line3.event_id_10 + .event_id_9 {
  height: 100px;
  margin-top: 0;
  border-bottom: 20px solid #082956;
  border-top: none;
}
main #timeline section.time_line3.event_id_10 + .event_id_9 {
  height: 80px;
  border: none;
}
main #timeline section.time_line1, main #timeline section.time_line2 {
  min-height: 60px;
  padding-top: 20px;
}
main #timeline section.time_line1 .title, main #timeline section.time_line2 .title {
  display: none;
}
main #timeline section.time_line1 .time, main #timeline section.time_line2 .time {
  height: auto;
  width: 320px;
  line-height: 1.5;
  font-size: 14px;
}
main #timeline section.time_line1 .text, main #timeline section.time_line2 .text {
  height: auto;
  width: 320px;
  line-height: 1.5;
  font-size: 14px;
}
main #timeline section.time_line1:before, main #timeline section.time_line2:before {
  content: '';
  display: block;
  background-color: #082956;
  background-repeat: no-repeat;
  background-position: center 20px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 60px;
  width: 40px;
  margin: auto;
}
main #timeline section.time_line1.event_id_2:before, main #timeline section.time_line2.event_id_2:before {
  background-image: url("/sokuhou/img/icon_shoes.png");
  background-size: 23px 20px;
}
main #timeline section.time_line1.event_id_3:before, main #timeline section.time_line2.event_id_3:before {
  background-image: url("/sokuhou/img/icon_ball.png");
  background-size: 20px 20px;
}
main #timeline section.time_line1.event_id_3 .text:before, main #timeline section.time_line2.event_id_3 .text:before {
  content: 'GOAL!!';
  display: block;
  font-family: Helvetica, "Helvetica Neue";
  font-size: 30px;
  font-weight: bold;
  line-height: 1;
  padding-top: 0;
  padding-bottom: 0.2em;
}
@media only screen and (max-width: 768px) {
  main #timeline section.time_line1.event_id_3, main #timeline section.time_line2.event_id_3 {
    margin-bottom: -3px !important;
  }
}
main #timeline section.time_line1.event_id_4:before, main #timeline section.time_line2.event_id_4:before {
  background-image: url("/sokuhou/img/icon_card_y.png");
  background-size: 16px 20px;
}
main #timeline section.time_line1.event_id_5:before, main #timeline section.time_line2.event_id_5:before {
  background-image: url("/sokuhou/img/icon_card_r.png");
  background-size: 16px 20px;
}
main #timeline section.time_line1.event_id_8:before, main #timeline section.time_line2.event_id_8:before {
  background-image: url("/sokuhou/img/icon_change.png");
  background-size: 22px 20px;
}
main #timeline section.time_line1:last-child, main #timeline section.time_line2:last-child {
  background-color: #082956;
  padding-bottom: 20px;
}
main #timeline section.time_line1 .time {
  float: left;
  position: relative;
  left: 410px;
}
main #timeline section.time_line1 .text {
  float: right;
  text-align: right;
  position: relative;
  right: 410px;
}
main #timeline section.time_line2 .text {
  float: left;
  position: relative;
  left: 410px;
}
main #timeline section.time_line2 .time {
  float: right;
  text-align: right;
  position: relative;
  right: 410px;
}
main .end #timeline section.event_id_2 + .event_id_1 {
  border-top: 20px solid #082956;
  border-bottom: 20px solid #082956;
  height: 120px;
}
main .end #timeline section.event_id_9 {
  border-top: 20px solid #082956;
  height: 100px;
}
main .end #timeline section.event_id_9 + .event_id_10 {
  border-top: none;
  margin-top: 0;
}
main .end #timeline section.event_id_10 + .event_id_7 {
  border-top: none;
}

/*-------------------------------------------------
+++++++++++++++++++++++++++++++++++++++++++++++++++
	SPモード
+++++++++++++++++++++++++++++++++++++++++++++++++++
-------------------------------------------------*/
@media only screen and (max-width: 768px) {
  body {
    background-size: auto 220px;
  }

  #soccer_report > header {
    height: 280px;
    width: 100%;
  }
  #soccer_report > header .pageTitle .logo img {
    height: auto;
    width: 140px;
  }
  #soccer_report > header h1 {
    height: 65px;
    width: 275px;
    top: 70px;
  }
  #soccer_report > header h1 img {
    height: 65px;
    width: 275px;
  }
  #soccer_report > header .fixtures {
    height: auto;
    width: 100%;
    position: absolute;
    top: 155px;
    right: 0;
    left: 0;
    margin: auto;
    padding-right: 15px;
    padding-left: 15px;
  }
  #soccer_report > header .fixtures .flag {
    width: 60px !important;
    vertical-align: top !important;
  }
  #soccer_report > header .fixtures .flag img {
    height: auto;
    width: 60px;
    margin: 0 !important;
    display: block;
    position: absolute;
    top: 0;
  }
  #soccer_report > header .fixtures .flag span {
    font-size: 10px;
    display: block;
    margin-top: 50px;
    text-align: center;
  }
  #soccer_report > header .fixtures .flag.jp {
    left: 0;
  }
  #soccer_report > header .fixtures .flag.iq {
    right: 0;
  }
  #soccer_report > header .fixtures .score {
    font-size: 15px;
    position: relative;
    top: -10px;
  }
  #soccer_report > header .fixtures .score span {
    font-size: 55px;
  }
  #soccer_report > header .fixtures.name7 {
    position: absolute;
    left: 0;
  }
  #soccer_report > header .stadium {
    height: auto;
    width: 100%;
    font-size: 10px;
    top: 205px;
  }
  #soccer_report > header .state {
    top: 225px;
    font-size: 12px;
    text-align: center;
  }
  #soccer_report > header .state span {
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  #soccer_report > header:after {
    height: 25px;
    width: 45px;
    background-size: 45px 25px;
    position: absolute;
    top: 10px;
    right: 10px;
  }

  #content {
    height: auto;
    width: 100%;
    display: block;
  }
  #content main {
    height: auto;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
  #content main #banner {
    margin-bottom: 15px;
  }
  #content main #summary {
    margin-bottom: 20px;
  }
  #content main #summary h2 {
    padding: 15px;
  }
  #content main #summary h2 img {
    width: calc(348px / 2);
  }
  #content main #summary .txt {
    font-size: 12px;
    padding: 15px;
  }
  #content main #timeline {
    height: auto;
    width: 100%;
    position: relative;
    overflow: hidden;
  }
  #content main #timeline:before {
    content: '';
    display: block;
    height: 20000px;
    width: 2px;
    background-color: #cc141d;
    margin: auto;
    position: absolute;
    top: 20px;
    right: 0;
    left: 0;
  }
  #content main #timeline section {
    -webkit-box-align: top;
    -moz-box-align: top;
    box-align: top;
    -webkit-align-items: top;
    -moz-align-items: top;
    -ms-align-items: top;
    -o-align-items: top;
    align-items: top;
    -ms-flex-align: top;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
    -ms-flex-direction: row;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    padding: 20px 20px 0;
    margin-bottom: 0;
  }
  #content main #timeline section .time, #content main #timeline section .text {
    float: none;
    left: auto;
    right: auto;
    font-size: 12px;
  }
  #content main #timeline section.BeforeTheGame {
    padding-bottom: 0 !important;
    height: 80px;
  }
  #content main #timeline section.BeforeTheGame .text {
    font-size: 14px;
  }
  #content main #timeline section.BeforeTheGame .text em img {
    height: auto;
    width: 64px;
  }
  #content main #timeline section.time_line1, #content main #timeline section.time_line2 {
    background-color: transparent;
  }
  #content main #timeline section.time_line1:before, #content main #timeline section.time_line2:before {
    background-position: center 20px;
    top: 0;
  }
  #content main #timeline section.time_line1:last-child, #content main #timeline section.time_line2:last-child {
    background-color: #082956;
    padding-bottom: 20px;
  }
  #content main #timeline section.time_line1 .time {
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    box-ordinal-group: 2;
    -webkit-order: 2;
    -moz-order: 2;
    order: 2;
    -ms-flex-order: 2;
    text-align: left;
    padding-left: 20px;
  }
  #content main #timeline section.time_line1 .text {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    box-ordinal-group: 1;
    -webkit-order: 1;
    -moz-order: 1;
    order: 1;
    -ms-flex-order: 1;
    padding-right: 20px;
    text-align: right;
  }
  #content main #timeline section.time_line2 .time {
    text-align: right;
    padding-right: 20px;
  }
  #content main #timeline section.time_line2 .text {
    padding-left: 20px;
    text-align: left;
  }
  #content main #timeline section.event_id_2.commonNext {
    margin-bottom: 40px;
  }
  #content main #timeline section.event_id_6 .text {
    padding-right: 0;
    text-align: center;
  }
  #content main #timeline section.event_id_6 + .event_id_10 {
    margin-top: 20px;
  }
  #content main #timeline section.event_id_1, #content main #timeline section.event_id_7, #content main #timeline section.event_id_9 {
    padding-top: 0;
    width: auto;
    height: 80px;
    margin-top: 0;
  }
  #content main #timeline section.event_id_1 .time, #content main #timeline section.event_id_7 .time, #content main #timeline section.event_id_9 .time {
    margin-left: -25px;
    text-indent: -10000px;
    overflow: hidden;
    background-position: right center;
    height: 20px;
  }
  #content main #timeline section.event_id_1 .time {
    background-size: 44.5px 11px;
  }
  #content main #timeline section.event_id_7 .time {
    background-size: 53.5px 11px;
  }
  #content main #timeline section.event_id_9 .time {
    background-size: 52.5px 11px;
  }
  #content main #timeline section.event_id_10 {
    padding-bottom: 20px;
  }
  #content main #timeline section.event_id_10 + .event_id_9 {
    height: 60px;
    margin-top: 0 !important;
  }
  #content main #timeline section.event_id_7 + section {
    padding-top: 60px;
  }
  #content main #timeline section.event_id_9 + section {
    margin-top: 40px;
    margin-bottom: 25px;
  }
  #content main #timeline section.event_id_3 .text:before {
    font-size: 20px;
  }
  #content main #timeline section.time_line3:last-child {
    margin-top: 20px;
  }
  #content main .end #timeline section.event_id_10:before {
    top: -20px;
  }
  #content main .end #timeline section.event_id_10 .text {
    padding: 0;
  }
  #content aside {
    height: auto;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 15px;
    margin-left: 0;
  }
  #content aside .banner:nth-of-type(1) {
    height: auto;
    width: 100%;
    text-align: center;
  }
  #content aside .banner:nth-of-type(1) img {
    height: auto;
    width: 100%;
  }
  #content aside .banner:nth-of-type(2) {
    display: block;
  }
  #content aside .banner:nth-of-type(2) img {
    height: auto;
    width: 100%;
  }

  .whole.banner #header {
    height: 360px;
  }
}
#subHeader {
  width: 1090px;
  position: fixed;
  top: -60px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 100;
  transition-duration: .7s;
}
@media only screen and (max-width: 768px) {
  #subHeader {
    width: 100%;
    top: -50px;
  }
}
#subHeader.show {
  top: 0;
}
#subHeader .fixtures {
  width: 760px;
  background-color: #eee;
  height: 60px;
  color: #082956;
  display: table;
}
@media only screen and (max-width: 768px) {
  #subHeader .fixtures {
    width: 100%;
    height: 50px;
  }
}
#subHeader .fixtures .name, #subHeader .fixtures .score {
  display: table-cell;
  height: 60px;
  vertical-align: middle;
}
@media only screen and (max-width: 768px) {
  #subHeader .fixtures .name, #subHeader .fixtures .score {
    height: 50px;
  }
}
#subHeader .fixtures .name {
  font-size: 18px;
  font-weight: bold;
  width: 40%;
}
#subHeader .fixtures .name:nth-of-type(1) {
  padding-right: 100px;
  text-align: right;
}
#subHeader .fixtures .name:nth-last-of-type(1) {
  padding-left: 100px;
}
@media only screen and (max-width: 768px) {
  #subHeader .fixtures .name {
    font-size: 12px;
    width: 35%;
  }
  #subHeader .fixtures .name:nth-of-type(1) {
    margin: 0;
  }
  #subHeader .fixtures .name:nth-last-of-type(1) {
    margin: 0;
  }
  #subHeader .fixtures .name:nth-of-type(1) {
    padding-right: 0;
    text-align: right;
  }
  #subHeader .fixtures .name:nth-last-of-type(1) {
    padding-left: 0;
  }
}
#subHeader .fixtures .score {
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
}
@media only screen and (max-width: 768px) {
  #subHeader .fixtures .score {
    font-size: 12px;
  }
}
#subHeader .fixtures .score span {
  font-size: 34px;
  line-height: 1;
  margin: 0 15px;
}
@media only screen and (max-width: 768px) {
  #subHeader .fixtures .score span {
    font-size: 30px;
    margin: 0 10px;
  }
}

@media only screen and (max-width: 374px) {
  #content main #timeline section.time_line3:before, #content main #timeline section.time_line3:after {
    display: none;
  }
}
/*-------------------------------------------------
+++++++++++++++++++++++++++++++++++++++++++++++++++
	/SPモード
+++++++++++++++++++++++++++++++++++++++++++++++++++
-------------------------------------------------*/
#soccer_report.au_161011 #header .fixtures {
  position: relative;
  left: -60px;
}
#soccer_report.au_161011 #header .fixtures .flag:nth-of-type(1) {
  width: 320px;
}
#soccer_report.au_161011 #header .fixtures p:nth-last-of-type(1) {
  width: 200px !important;
}
#soccer_report.au_161011 .time_line3:before, #soccer_report.au_161011 .BeforeTheGame:before {
  background-image: url(/sokuhou/img/img_flag_au.png) !important;
}
#soccer_report.au_161011 .time_line3:after, #soccer_report.au_161011 .BeforeTheGame:after {
  background-image: url(/sokuhou/img/img_flag_jp.png) !important;
}
#soccer_report.opponent_om .time_line3:after, #soccer_report.opponent_om .BeforeTheGame:after {
  background-image: url(/sokuhou/img/img_flag_om.png) !important;
}
#soccer_report.opponent_sa .time_line3:after, #soccer_report.opponent_sa .BeforeTheGame:after {
  background-image: url(/sokuhou/img/img_flag_sa.png) !important;
}

@media only screen and (max-width: 768px) {
  #soccer_report.au_161011 #header .fixtures {
    position: absolute;
    left: 0;
  }
  #soccer_report.au_161011 #header .fixtures .flag.au span {
    white-space: nowrap;
    position: relative;
    left: -0.5em;
  }
  #soccer_report.au_161011 #header .fixtures p:nth-last-of-type(1) {
    width: 60px !important;
  }

  .mode-app {
    background-position: center top;
  }
  .mode-app #header {
    margin-top: -45px;
  }
  .mode-app #header .pageTitle {
    display: none;
  }
  .mode-app #content aside .banner {
    top: 230px;
  }
  .mode-app .foot-sec {
    display: none;
  }
}
#footer-container {
  font-size: 14px;
}
#footer-container .fnav ul, #footer-container .sns-block ul {
  display: flex;
}
