{
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "jsx-a11y",
    "flowtype"
  ],
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "ecmascript": 6,
      "blockBindings": true,
      "forOf": true,
      "jsx": true,
      "modules": true
    },
    "sourceType": "module"
  },
  "extends": "./eslint.extends.yml"
}