# Created by .ignore support plugin (hsz.mobi)
port.coffee
bower_components
_no
_docs
npm-debug.log
# css document イキ
#sc5-guide

php.coffee
php_ini.coffee

# ignore system files
thumbs.db
.DS_Store
__MACOSX
._*
.sass-cache
node_modules
_bin
*.css.map


# intellij
.idea
*.iml

# crossdomain.xml
crossdomain.xml
.vagrant/machines/undotsushin.local/virtualbox/action_provision
.vagrant/machines/undotsushin.local/virtualbox/action_set_name
.vagrant/machines/undotsushin.local/virtualbox/chef_node_name
.vagrant/machines/undotsushin.local/virtualbox/creator_uid
.vagrant/machines/undotsushin.local/virtualbox/id
.vagrant/machines/undotsushin.local/virtualbox/index_uuid
.vagrant/machines/undotsushin.local/virtualbox/private_key
.vagrant/machines/undotsushin.local/virtualbox/synced_folders
