# Created by .ignore support plugin (hsz.mobi)
# ignore system files
# ==============================
thumbs.db
.DS_Store
__MACOSX
._*
.sass-cache
_bin

# npm
# ==============================
node_modules
npm-debug.log

# editor
# ==============================
.idea
*.iml

# global ignore directory
# ==============================
_no
_docs

# environment
# ==============================

# vagrant
.vagrant

## vagrantの個人用設定ファイル
/provision/profile.yml

# slim
/app/logs/*.log


# bower
# ==============================
# bower install で作成される
bower_components
# bower_components から必要ファイルだけを抽出
# vendor 系 task で参照してたので修正するまでイキ
# bower_exports


# gulp setting file
# ==============================
# local port
# それぞれで環境が違うので個別に作ること
port.coffee

# test php
# -----------
# php server を立てる時に使用します
php_ini.coffee
#
# vagrant へ移行するので不要となりました
#
#php.coffee
#_src/_test/router.php
#_src/_test/index.php

# gulp build files
# ==============================
# conflict するので 生成ファイルを ignore します

# css document
# ------------
# イキ
# default task から外したので ignore 対象外にする予定
sc5-guide

# css map
# ------------
*.css.map

# public assets all
# ------------
public/assets

# 開発 css 出力 directory
# ------------
_src/.tmp

# JSON
_src/app/_json

# _src js
# -----------
_src/app/js/*
_src/app/assets/js/bundle/
_src/app/assets/js/libs/html5shiv
_src/app/assets/js/libs/sagen
_src/app/assets/js/libs/vendor.react.js
_src/app/assets/_babel/*.babel.js
_src/app/assets/_babel/_*.js

# sprite image
_src/app/assets/images/sprite/
# sp
_src/app/assets/sp/js/bundle/
_src/app/assets/sp/images/sprite/

# _src scss
# -----------
# sprite 画像 scss, sprite:make で生成されるので ignore にします
_src/app/assets/css/_sprite.scss
# sp
_src/app/assets/sp/css/_sprite.scss

# _src babels
# -----------
_src/babels/compile
_src/babels_exe/compile
_src/babels_exe_sp/compile


# project files
# ==============================
# 作業テストのために作成しました、削除済みです
crossdomain.xml


# bower
# ==============================
# 念のために旧ファイルを確保します
_src/bower_exports/fetch-11.0
_src/bower_exports/react-14.0.7