# Created by .ignore support plugin (hsz.mobi)
port.coffee
bower_components
_no
_docs
npm-debug.log
# css document イキ
#sc5-guide

# ignore system files
thumbs.db
.DS_Store
__MACOSX
._*
.sass-cache
node_modules
_bin
*.css.map


# intellij
.idea
*.iml

# crossdomain.xml
crossdomain.xml

# test php
php_ini.coffee
#php.coffee
#_src/app/router.php
#_src/app/index.php

# gulp .tmp
_src/.tmp


# environment
# ==============================

# vagrant
.vagrant

# slim
/app/logs/*.log


# gulp build files
# ==============================
# public assets all
public/assets

# _src bundle
_src/app/assets/js/bundle/
_src/app/assets/_babel/*.babel.js
_src/app/assets/_babel/_*.js
_src/app/assets/js/*.bundle.js
_src/app/assets/images/sprite
_src/app/assets/css/_sprite.scss
_src/babels/compile
_src/babels_exe/compile

# sc5 docs
_src/sc5-guide
