@import "../../../../../scss_sp/asset";

// Comment
//
// design module comment
//
// Styleguide 2.9.0

// comment
.comment {
  margin-top: (40/2)+px;
  background-color: #eee;
}

.comment-yours,
.comment-official,
.comment-all {
  background-color: #fff;

  .comment-heading {
    margin-top: 0;
  }
}

.comment-official,
.comment-all {
  padding-top: (20/2)+px;
}





// comment-heading
.comment-heading {
  margin-top: (20/2)+px;
  padding: (14/2)+px;
  border-left: (6/2)+px solid $highlight-color;
  background-color: #333;

  @for $i from 1 through 6 {
    h#{$i} {
      color: #fff;
      font-weight: bold;
    }
  }
}





// comment-form
.comment-form {
  @include clearfix;
  padding: (20/2)+px perCalc(20);

  @at-root {
    &-inner {
      @include clearfix;
      background-color: #fff;
      padding: (20/2)+px;
      border-radius: 5px;
    }

    &-user {
      float: left;
      width: (60/2)+px;
      height: (60/2)+px;
      margin-right: -50px;
      overflow: hidden;
      border-radius: 100%;
      background: url(/assets/sp/images/common/thumb-user-info.png) 0 0 no-repeat;
      background-size: (60/2)+px;

      img {
        width: 100%;
        height: 100%;
        border-radius: 100%;
      }

      &.user-logged-in {
        background: #fff none;
      }
    } //.comment-form-user

    &-comment {

      &-outer {
        float: right;
        width: 100%;
      }

      &-inner {
        // width: 100%;
        margin-left: (80/2)+px;

        textarea {
          appearance: none;
          width: 100%;
          // padding: 8px;
          border: none;
          // border-radius: 5px;
          // background-color: #fff;
          resize: vertical;
        }
      }
    } //.comment-form-comment

    &-submit {
      padding-top: (20/2)+px;

      input {
        appearance: none;
        width: 100%;
        padding: 10px 30px;
        border: none;
        border-radius: 5px;
        background: $highlight-color none;
        color: #fff;
        font-weight: bold;
        font-size: fz(24/2) !important;
      }
    } //.comment-form-submit
  }
} //.comment-form





// comment-menu
.comment-menu {
  position: relative;
  float: right;

  @at-root {
    &-btn {
      @extend .sp-sprite-detail;
      @include sprite( $detail-btn-comment-menu );
      @include hide-text;
      margin-right: (12/2)+px;

      &.disable  + .dropMenu {
        display: none;
      }
    }
  }

  .dropMenu {
    position: absolute;
    top: (40/2)+px;
    right: 0;
    width: (600/2)+px;

    @extend %dropMenu;
    padding-right: (30/2)+px;
    padding-left: (30/2)+px;

    &:before {
      top: -8px;
      right: 6px;
      @include sprite( $common-icon-user-menu_shadow );
    }

    @at-root {
      &-item {
        & + .dropMenu-item {
          border-top: 1px solid $border-primary-color;
        }
      }

      [ class^="dropMenu-link-" ] {
        @include link-decoration(#333, #333, none, underline);
        display: block;
        line-height: 1em;
        padding: (10/2)+px 0 (20/2)+px;
        font-weight: bold;
        font-size: fz(24/2);

        span {
          &:before {
            content: '';
            position: relative;
            top: 5px;
            margin-right: (8/2)+px;
            @extend .sp-sprite-detail;
            @include hide-text;
          }
        }
      }

      &-link-delete {
        span:before {
          @include sprite( $detail-icon-comment-delete, inline-block );
        }
      }
    }
  }
} //.comment-menu





// comment-user
.comment-user {
  &-thumb, &-data {
    @include table-cell;
  }

  &-link {
    @include link-decoration(#333, #333, none, none);
    display: block;

    &:hover {
      .user-prof-thumb {
        @include hover-opacity;
      }
    }
  }

  &-thumb {
    width: (80/2)+px;
    height: (80/2)+px;
    background: url(/assets/sp/images/common/thumb-user-feature.png) 0 0 no-repeat;
    background-size: (80/2)+px;

    &.user-logged-in {
      background: none;
    }
  }

  &-name, &-job, .comment-date {
    margin-left: (20/2)+px;
  }

  &-name {
    font-weight: bold;
    font-size: fz(24/2);
  }

  &-job {
    color: #666;
    font-size: fz(20/2);
  }

  @at-root {
    .comment-date {
      color: #999;
      font-size: fz(18/2);
    }
  }
} //.comment-user





// comment-content
.comment-content {
  padding-top: (20/2)+px;
  font-size: fz(22/2);
} //.comment-content





// comment-reaction
.comment-reaction {
  padding-top: (20/2)+px;
  padding-bottom: (20/2)+px;

  .comment-reaction-btn {
    @include link-decoration(#333, #333, none, underline);
    display: inline-block;
    font-size: fz(20/2);

    & + .comment-reaction-btn {
      margin-left: (28/2)+px;
    }

    &.active {
      color: $highlight-color;
    }
  }

  i {
    position: relative;
    top: 2px;
    display: inline-block;
    width: 1em;
    font-family: 'icon-like' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-size: fs(18, 12);

    &:before {
      content: "\e09b";
    }
  }

  &-like {
  }

  &-dislike {
    i {
      top: 3px;
      transform: scale( 1, -1);
      filter: flipv();
      -ms-filter: flipv();
    }
  }
} //.comment-reaction





// comment-list
.comment-list {

  .comment-item-inner {
    padding-right: perCalc(20);
    padding-left: perCalc(20);
  }


  .comment-list {
    padding-left: (80/2)+px;
    border-top: 1px solid $border-primary-color;

    .comment-item {
      &:first-child {
        border-top: none;
      }
      // padding-bottom: (20/2)+px;
    }
  }

  // > .comment-item {
  //   &:first-child {
  //     border-top: none;
  //   }
  // }

  @at-root {
    // comment-item
    .comment-item {
      @include clearfix;
      padding-top: (30/2)+px;
      border-top: 1px solid $border-primary-color;

      .comment-respond {
        .comment-form {
          margin-right: -500%;
          margin-left: -500%;
          padding-right: 500%;
          padding-left: 500%;
        }
      }
    } //.comment-item
  }
} //.comment-list





// comment-respond
.comment-respond {
  @include clearfix;
  position: relative;
  // padding-bottom: (20/2)+px;

  @at-root {
    &-opener {
      @include link-decoration(#333, #333, none, underline);
      position: absolute;
      top: -(20+10)+px;
      right: perCalc(20);

      span {
        font-weight: bold;
        font-size: fz(20/2);

        &:before {
          content: '';
          position: relative;
          top: 2px;
          margin-right: (8/2)+px;
          @extend .sp-sprite-detail;
          @include sprite( $detail-icon-comment-response, inline-block );
        }
      }
    }
  }

  .comment-form {
    clear: both;
    margin-top: (20/2)+px;
    padding-top: (20/2)+px;
    background-color: #eee;
  }
} //.comment-respond





// comment-andmore
.comment-andmore {
  border-top: 1px solid $border-primary-color;

  a {
    display: block;
    padding: (40/2)+px 0;
    font-weight: bold;
    text-align: center;
  }
} //.comment-andmore





// sponsor-link
// sponsor-link_commentUpper
.sponsor-link_commentUpper {
  padding: (40/2)+px perCalc(20) 0;

  .adsWrapper {
    padding: 0 0 (20/2)+px 0 !important;
  }

  .adsTitle,
  .adsSponsored,
  .adsDescription,
  .adsButton {
    padding-right: (20/2)+px;
    padding-left: (20/2)+px;
  }
}




// comment-ad
.comment-ad {
  .adsWrapper {
    border-top: 1px solid $border-primary-color;
  }
}





// -------------------------------------------------
// override
@import "comment_override";
