@import "../../../../../scss/asset";
@import "../sprite";

// -------------------------------------------------
// comment
// -------------------------------------------------

// user icon
.comment-user {
  .comment-user-thumb {
    overflow: hidden;
    img {
      width: 100%;
      height: auto;
    }
  }
}

.commented-user-thumb {
  overflow: hidden;
  img {
    width: 100%;
    height: auto;
  }
}

// drop menu
.comment-menu {

  .dropMenu-container {
    .dropMenu {
      overflow: hidden;

      .dropMenu-item {
        transition-property: opacity;
        transition-duration: 0.3s;
        transition-timing-function: linear;
      }
    }
  }

  &.close {
    .dropMenu {
      height: 0;

      &:before {
        visibility: hidden;
      }

      .dropMenu-item {
        overflow: hidden;
        height: 0;
        opacity: 0;

        .dropMenu-link-report,
        .dropMenu-link-delete {
          overflow: hidden;
          display: block;
          height: 0;
          font-size: 0;
          line-height: 0;
          padding: 0;
        }
      }
    }
  }
  &.open {
    .dropMenu {
      height: auto;
      .dropMenu-item {
        opacity: 1;
      }
    }
  }
}

// ---------------------
// form
.form-open {
  display: block;
}
.form-close {
  display: none;
}
.form-root {
  clear: both;
}
.comment-respond {
  .form-root {
    padding-top: 20px;
  }
}
