@import "../../../../../scss_sp/asset";
@import "../sprite";

// Detail
//
// design module detail
//
// Styleguide 2.5.0

%adTxtReset {
  font-size: 10px;
  color: #888;
  font-weight: normal;
  transform: scale(1);
  line-height: 1;
}


// bread crumb
.post-breadCrumb {
  width: 100%;
  height: (76/2)+px;
  border-bottom: 1px solid #eee;
  overflow: hidden;

  ol {
    list-style: none;
    width: 100%;
    height: (76/2)+px;
    padding-left: perCalc(20);
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  li {
    display: table-cell;
    height: (76/2)+px;
    vertical-align: middle;

    a {
      display: inline-block;
      @include link-decoration(#333, #333, none, none);
      font-size: fz(20/2);
      white-space: nowrap;

      &:after {
        content: "";
        @extend .sp-sprite-detail;
        @include sprite( $detail-icon-breadcrumb );
        display: inline-block;
        margin-right: (10/2)+px;
        margin-left: (14/2)+px;
        font-size: 0;
        vertical-align: middle;
      }
    }

    &:last-child {
      a:after {
        display: none;
      }
    }
  }
}

// post-kv
.post-kv {
  margin-top: 25px;
  .caption {
    margin-top: .25em;
    font-size: fz(20/2);
  }

  .post-single-figure {
    text-align: center;
    img {
      max-width: 225px;
    }
    .caption {
      text-align: left;
      margin-top: 8px;
      // spのみ左右に余白
      // padding: 0 3.125%;
      color: #999999;
      font-size: fz(20/2);
    }
  }
} //.post-kv



// video
.post-video-kv {
  .video-container {
    position: relative;
  }
  .post-thumb-overlay-movie {
    position: absolute;
    left: 0;
    top: 0;
  }

  // https://github.com/undotsushin/undotsushin/issues/885
  // 広告動画左下の Ad秒数 の位置調整
  //iframe,
  video {
    width: 100%;
    height: auto;
  }

  .phone-video-guide {
    max-width: none;
  }

  // ----------- youtube -------
  // youtube video
  &.post-video-kv-yt {
    position: relative;
  }
  // empty image(16x9)
  .yt-video-size {
    width: 100%;
    height: auto;
  }
  .yt-video { // is iframe
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  // ----------- facebook -------
  .post-video-start {
    display: none;
  }
  &.post-video-fb {
    //min-height: 211px;
    min-height: 180px;
    background-color: #000000;
  }

  // ----------------------------------
  // @since 2016-10-05
  // @since 2016-09-30
  .video-thumbnail-container {
    position: relative;
    min-height: 180px;
    overflow: hidden;
  }
  .video-image {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: auto;
    height: 100%;
  }
  .video-play-btn {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    text-align: center;

    background: url("/assets/images/common/thumb-640x400-play.png") center center / cover no-repeat;
  }
}



// videojs
.post-video-kv {
  &.phone-post-kv {
    .video-container {
      position: relative;
    }

    .video-js {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }
}// post-video-kv





// post-detail
.post-detail {
  padding-right: perCalc(20);
  padding-left: perCalc(20);

  // 記事詳細本文部分 サイドバーに突き抜ける問題に対応するために設定
  // Safari で 問題があるので限定的に使用する
  // https://github.com/undotsushin/undotsushin/issues/867#issuecomment-228676809
  word-break: break-all;

  // bookmark button
  #single-header-container {
    .post-data {
      // div
      .loading-root,
      .btn-bookmark {
        position: relative;

        // bookmark する click 後一時的に click 無効にするため + animation 表示
        .loading-spinner {
          width: 0;
          height: 0;
          opacity: 0;

          transition-property: opacity;
          transition-duration: 0.3s;
          transition-timing-function: linear;
        }

        &.loading {
          .loading-spinner {
            width: 100%;
            height: 100%;
            opacity: 1;
          }
        }
      }//.btn-bookmark
    }//.post-data
  }

  // post-heading
  .post-heading {
    padding-top: (30/2)+px;

    h1 {
      font-weight: bold;
      font-size: fz(36/2);
    }
  } //.post-heading

  // post-data
  .post-data {
    // @include clearfix;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: (16/2)+px;
    line-height: 1;
    .f-left,
    .f-right {
      float: none;
    }

    // post-author
    .post-author {
      font-size: fz(20/2);
    } //.post-author

    // .post-category {
    //   line-height: 1em;
    //   margin-top: .5em;
    //   color: $highlight-color;
    //   font-weight: bold;
    //   font-size: fz(20/2);

    //   .category-label {
    //     display: inline-block;
    //     margin-left: 0.5em;

    //     &:first-of-type {
    //       margin-left: 0;
    //     }
    //   }

    //   // 地域カテゴリー用アイコン付カテゴリーラベル
    //   // ref.https://github.com/undotsushin/undotsushin/issues/2318
    //   .category-label_area {
    //     a {
    //       color: $highlight-secondary-color;

    //       &:before {
    //         content: "";
    //         // position: relative;
    //         // top: -1px;
    //         display: inline-block;
    //         width: (14/2)+px;
    //         height: (19/2)+px;
    //         margin-right: 4px;
    //         background: url(/assets/sp/images/area/icon-heading.png) 0 0 no-repeat;
    //         background-size: (14/2)+px;
    //         vertical-align: middle;
    //         @include hide-text;
    //       }
    //     }
    //   }
    // }

    // post-date
    .post-text {
      // margin-top: .25em;
      color: #666;
      font-size: fz(20/2);
      line-height: 1;
      .post-category {
        margin-left: 1em;
      }
    } //.post-date

    // btn-bookmark
    .btn-bookmark {
      margin-top: (20/2)+px;
    } //.btn-bookmark
  } //.post-data

  // post-content
  .post-content {
    &.excerpt {
      position: relative;
      height: (520/2)+px;
      overflow: hidden;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        width: 100%;
        height: (520/2)+px;
        background: url(/assets/sp/images/detail/excerpt-mask.png) 0 bottom repeat-x;
        background-size: (40/2)+px;
      }

      &.hidden {
        max-height: initial;
        max-height: auto;
        height: auto;
        opacity: 1;
      }
    }

    &-readMore {
      text-align: center;
    }

    &-readMore-btn {
      @include link-decoration(#fff, #fff, none, none);
      display: inline-block;
      padding: (28/2)+px (36/2)+px;
      background-color: $highlight-color;
      border-radius: (6/2)+px;
      font-weight: bold;
      // font-size: fz(28/2);
      text-align: center;
    }

    h1, h2, h3, h4, h5, h6 {
      margin-top: 1.5em;
      font-weight: bold;
      font-size: fz(32/2);
    }

    li, dt, dd, p, th, td, code, pre {
      font-size: fz(32/2);
    }

    ul, ol, dl, p, table {
      margin-top: 1.5em;
    }

    ul, ol {
      margin-left: 1em;
    }

    li {
      margin-left: 1em;
    }

    ul li {
      list-style: disc;
    }

    dt {
      font-weight: bold;
    }

    i {
      font-style: italic;
    }

    em {
      color: #999;
    }

    table {
      border-top: 1px solid $border-primary-color;
      border-right: 1px solid $border-primary-color;
    }

    th, td {
      padding: 8px;
      border-bottom: 1px solid $border-primary-color;
      border-left: 1px solid $border-primary-color;
    }

    th {
      background-color: #eee;
    }

    code, pre {
      padding: 4px;
      border: 1px solid $border-primary-color;
      border-radius: 3px;
    }

    code {
      background-color: #f7f7f7;
      color: #666;
    }

    pre {
      background-color: #fbfaf8;
    }

    img {
      max-width: 100% !important;
      height: auto !important;
    }

    .cms_widget,
    .cms_video {
      margin-top: 1.5em;
      overflow: hidden;

      iframe,
      video {
        width: 100%;
        // height: auto;
      }
    }

    .cms_img {
      margin-top: 1.5em;

      .caption {
        margin-top: .25em;
      }
    }

    &.post-content_app {
      color: #000;
      font-size: fz(16);

      p {
        margin-top: 1.1em;
        line-height: 1.8;
      }
    }

    > img {
      display: block;
      margin-top: 21px;
    }
  } //.post-content

  // sponsor-link
  .sponsor-link {
    margin-top: 20px;

    & + .post-tags {
      margin-top: 20px;
    }
  }

  // provider
  .provider {
    width: 100%;
    margin-top: -22px;
    // margin-top: (40/2)+px;
    // padding-top: (30/2)+px;
    // border-top: 1px solid $border-primary-color;
    text-align: right;

    &-logo {
      img {
        width: auto;
        height: (60/2)+px;
      }
    }

    &-data {
      margin-top: (10/2)+px;
    }

    &-name,
    &-url {
      font-size: fz(20/2);
    }

    &-name {
      font-weight: bold;
    }
  }//.provider

  // post-sns
  .post-sns {
    margin: #{(30/2)+px} -500% 0;
    padding: 0 500%;
    // padding: (40/2)+px 500% 0;
    // border-top: 1px solid $border-primary-color;

    .post-sns-list {
      overflow: hidden;
    }

    .post-sns-fixed {
      float: left;
      width: 71px;
    }

    .post-sns-flex {
      // float: right;
      width: 100%;
      // margin-left: -71px;

      // &-inner {
      //   margin-left: 71px;
      // }

      &-list {
        display: flex;
        width: 100%;
        justify-content: space-between;
      }

      .post-sns-item {
        // display: table-cell;
        width: perCalc(220, 690);
        height: (60/2)+px;

        &:first-child {
          // padding-left: perCalc(10, 450);
        }

        a {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
          line-height: 0;
          text-align: center;

          border-radius: 2px;
          span {
            @extend .sp-sprite-detail;
            @include hide-text;
            // margin-top: (22/2)+px;
            vertical-align: top;

            // for iPhone5, 5S
            @media screen and (max-width: 320px) {
              transform: scale(0.8);
            }
          }
        }

        // &:first-child {
        //   a {
        //     border-radius: 4px 0 0 4px;
        //   }
        // }

        // &:last-child {
        //   a {
        //     border-radius: 0 4px 4px 0;
        //   }
        // }

        &_fb {
          a {
            background-color: #3755a5;
            background-image: url(/assets/sp/images/detail/icon_sns_facebook@2x.png);
            background-repeat: no-repeat;
            background-size: 14px 14px;
            background-position: center center;
          }
          // span { @include sprite( $detail-icon-sns-fb, inline-block ); }
        }

        &_tw {
          a {
            background-color: #1b95e0;
            background-image: url(/assets/sp/images/detail/icon_sns_twitter@2x.png);
            background-repeat: no-repeat;
            background-size: 15px 12px;
            background-position: center center;
          }
          // span { @include sprite( $detail-icon-sns-tw, inline-block ); }
        }

        &_line {
          a {
            background-color: #00c300;
            background-image: url(/assets/sp/images/detail/icon_sns_line@2x.png);
            background-repeat: no-repeat;
            background-size: 34px 12px;
            background-position: center center;
          }
          // span { @include sprite( $detail-icon-sns-line, inline-block ); }
        }
      }
    }
  } //.post-sns
}// post-detail

//// category-label
//// https://github.com/undotsushin/undotsushin/issues/913
//// SP版に限り、カテゴリー複数指定あり記事のカテゴリー表示に余白つける
//.post-category {
//  .category-label-wrapper {
//    .category-label {
//      margin-left: 10px;
//
//      &:first-child {
//        margin-left: 0;
//      }
//    }
//  }
//}





//.pr_fb
// .pr_fb {
//   position: relative;
//   margin: (68/2)+px perCalc(20) (40/2)+px;
//   padding: (36/2)+px (60/2)+px (30/2)+px;
//   background-color: #1f3c76;
//   border-radius: 6px;

//   &:before {
//     content: "";
//     position: absolute;
//     top: -(48/2)+px;
//     left: 50%;
//     transform: translateX(-50%);
//     width: (86/2)+px;
//     height: (64/2)+px;
//     background: url(/assets/sp/images/detail/pr_fb-icon-bull.png) 0 0 no-repeat;
//     background-size: 100%;
//   }

//   //.pr_fb-heading
//   &-heading {
//     position: relative;

//     &:before {
//       content: "";
//       display: block;
//       width: 100%;
//       padding-top: (67/592)*100%;
//     }

//     .pr_fb-heading-item {
//       position: absolute;
//       top: 0;
//       left: 0;
//       right: 0;
//       bottom: 0;

//       background: url(/assets/sp/images/detail/pr_fb-text.png) 0 0 no-repeat;
//       background-size: cover;
//       @include hide-text;
//     }
//   }

//   //.pr_fb-btn
//   &-btn {
//     margin-top: (30/2)+px;

//     .fb_iframe_widget_fluid {
//       span {
//         display: block;
//         margin-right: auto;
//         margin-left: auto;
//       }
//     }
//   }
// }





// widget-postList
.widget-postList {
  // background-color: #eee;
  // padding-bottom: (40/2)+px;

  .mod-headingA01, {
    // padding-bottom: (20/2)+px;
    // background-color: #eee;
  }

  // .board {
  //   .board-item {
  //     border-bottom: none;
  //   }

  //   .post {
  //     //.post-thumb
  //     &-thumb {
  //       width: (176/2)+px;
  //       height: (100/2)+px;
  //     }

  //     //.post-heading
  //     &-heading {
  //       font-size: fz(24/2);
  //     }

  //     //.post-category
  //     &-category {
  //       display: none;
  //     }
  //   }
  // }
  .board {
    box-sizing: border-box;
    width: 100%;
    // padding: 0 8px;
    border: none;
    margin-right: 0;
    border-bottom: 1px solid #ddd;
    background: none;
    position: relative;
    display: block;
    a {
      padding: 12px 0;
      display: flex;
      width: 100%;
      .post-thumb {
        position: relative;
        width: 110px;
        height: auto;
        // background-color: transparent;
        background: none;
        img {
          border-radius: 3px;
        }
        &:after {
            width: 100%;
            height: auto;
            background-position: 0 0;
        }
        &-video {
          span {
            display: block;
            overflow: hidden;
          }
        }
      }
      .post-data {
          width: calc(100% - 120px);
          padding: 0 0 0 10px;
          .post-heading {
            font-size: 16px;
            line-height: 1.4;
            height: 2.8em;
            overflow: hidden;
            margin-top: 0;
          }
          .post-category {
            // width: 27px;
            // height: 14px;
            // background-color: #0e357f;
            // display: inline-flex;
            // justify-content: center;
            // align-items: center;
            // border-radius: 3px;
            .category-label  {
              // margin-right: 0;
              // font-size: 10px;
              // color: #fff;
              // line-height: 1;
              // transform-origin: center center;
              // transform: scale(.8);
              @extend %adTxtReset;
            }
          }
          .post-date {
            display: none;
          }
      }
    }
    .board-item-ad-wrapper {
      // border-top: 1px solid #ddd;
      // display: none;
      border: none;
      #medibasspContainer {
        >div {
          width: 100%;
          a {
            display: flex;
            .adgImageBox {
              position: relative;
              width: 110px;
              height: auto;
              background-color: transparent;
              img {
                border-radius: 3px;
                width: 100%;
                height: auto;
                min-height: 1px;
                max-width: 1000px;
                max-height: 1000px;
              }
            }
            .adgBody {
              width: calc(100% - 120px);
              padding: 0 0 0 10px;
              margin-top: 0;
              justify-content: space-between;
              .adgTitle {
                font-size: 16px;
                line-height: 1.4;
                height: auto;
                overflow: hidden;
              }
              .adgPrBox {
                display: none;
              }
              .adgSponsor {
                @extend %adTxtReset;
              }
            }
          }
        }
      }
    }
  }
} //.widget-postList





// loaded-post
.loaded-post {
  border-top: (40/2)+px solid #eee;
  padding-bottom: (40/2)+px;

  .post-content {
    &-read-more {
      margin-top: (30/2)+px;
      text-align: center;
    }

    &-btn-readMore {
      @include link-decoration($highlight-color, $highlight-color, none, none);
      display: inline-block;
      margin: (28/2)+px 0;
      padding: 0;
      background-color: transparent;
      border-radius: (6/2)+px;
      font-weight: normal;
      // font-size: fz(28/2);
      text-align: center;
    }
  }
} //.loaded-post


// 記事詳細 続きを読むを表示する iframe
// @since 2017-04-12
// @see https://github.com/undotsushin/undotsushin/issues/1818
// @see https://github.com/undotsushin/undotsushin/issues/1475#issuecomment-293174913
// ---------------------------------------------------
// ------------------------------
// div.post-content
//    iframe.post-content-iframe
//    /* --------[iframe]-------- */
//    body
//      div#whole
//        div.post-detail
//          div.post-content.post-content-in_iframe
//            div.single-iframe
//              /* [output article] */

// 高さ再設定時にアニメーションする
// iframe
iframe.post-content-iframe {
  transition: height 0.3s linear;
}

// iframe .single-iframe
// 最初の p margin-top 余白が大きくなる
.single-iframe {
  p:first-child {
    margin-top: 0;
  }
}

// fadein
// .post-content > iframe.single-iframe > div.post-content-in_iframe
.post-content-in_iframe {
  transition-property: opacity;
  transition-duration: 0.5s;
  transition-timing-function: linear;
  opacity: 1;
  background-color: #fff;
}

// iframe body.iframe-loading の `iframe-loading` が取れると fade始する
body {
  &.iframe-loading {
    // iframe wrapper tag (.post-content) へ移動させる
    //background: url("/assets/images/common/preloader.gif") no-repeat center center;
    // iframe 内 - 記事詳細本文
    .post-content-in_iframe {
      opacity: 0;
    }
  }
}

// 親側に spinner を設定
.post-content.iframe-loading {
  //margin-top: (30/2)+px;
  margin-top: 30px * 0.5;
  background: url("/assets/images/common/preloader.gif") no-repeat center center;
}

// iframe img margin
.single-iframe {
  // h1 ~
  h1:first-child,
  h2:first-child,
  h3:first-child,
  h4:first-child,
  h5:first-child,
  h6:first-child {
    margin-top: 0;
    // widget
    .cms_widget {
      margin-top: 0;
    }
  }
}




// メンテナンス性向上のために別ファイルにします
@import "detail_carousel";

////.widget-post-carousel
//.widget-post-carousel {
//  margin-top: (40/2)+px;
//
//  .mod-headingA01 {
//    padding-bottom: (20/2)+px;
//    background-color: #eee;
//  }
//
//
//
//  //.widget-post-carousel-outer
//  &-outer {
//    width: 100%;
//    margin-top: (20/2)+px;
//    overflow: hidden;
//  }
//
//  //.widget-post-carousel-list
//  &-list {
//    width: 50000px;
//    margin-left: perCalc(20);
//    letter-spacing: ls(inline-block);
//  }
//
//  //.widget-post-carousel-item
//  &-item {
//    list-style: none;
//    display: inline-block;
//    margin-right: (20/2)+px;
//    vertical-align: top;
//    letter-spacing: normal;
//  }
//
//
//
//  //.post
//  .post {
//    display: block;
//    width: (280/2)+px;
//
//
//    //.post-thumb
//    &-thumb {
//      position: relative;
//      width: (280/2)+px;
//      height: (158/2)+px;
//      overflow: hidden;
//      border-radius: (6/2)+px;
//
//      //.post-thumb-overlay-movie
//      &-overlay-movie {
//        display: block;
//        position: absolute;
//        top: 0;
//        left: 0;
//        width: 100%;
//        height: auto;
//      }
//    }
//
//    //.post-data
//    &-data {
//      margin-top: (20/2)+px;
//    }
//
//    //.post-heading
//    &-heading {
//      line-height: lh(34, 22);
//      color: #333;
//      font-weight: bold;
//      font-size: fz(22/2);
//    }
//
//    //.post-category
//    &-category {
//      line-height: 1em;
//      color: $highlight-color;
//      font-weight: bold;
//      font-size: fz(20/2);
//
//      &:empty {
//        display: none;
//      }
//
//      .category-label {
//        display: inline-block;
//        margin-right: 0.5em;
//      }
//    }
//
//    //.post-date
//    &-date {
//      // margin-top: .25em;
//      color: #666;
//      font-size: fz(20/2);
//    }
//  }
//}



// 記事詳細 改修に伴う修正
// @since 2018-01-15
.post-single {
  div, p {
    &:empty {
      display: none;
    }
  }
  .body-sec-inner {
    background-color: #eee;
  }
  .main-sec {
    >div {
      background-color: #fff;
      margin-top: 0;
      margin-bottom: 5px;
      border-top: 1px solid #ddd;
      &:nth-of-type(1) {
        border-top: none;
      }
      &:nth-last-of-type(1) {
        margin-bottom: 0;
        border-bottom: none;
      }
    }
  }
  .current-post {
    border-bottom: 1px solid #ddd;
    margin-bottom: 5px;
  }

  // .pr_fb（本文下のFaceBookいいねボタン）
  .pr_fb {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    .pr_fb-heading {
      display: flex;
      flex-direction: column;
      margin-right: 15px;
      img {
        width: 178px;
        height: auto;
        margin-bottom: 6px;
      }
      small {
        color: #333333;
        font-size: 11px;
        font-weight: bold;
      }
    }
  }// .pr_fb（本文下のFaceBookいいねボタン）

  // .link-sns（本文下のSNS公式ページへのリンク）
  .link-sns {
    padding: 20px 0;
    ul {
      display: flex;
      justify-content: center;
      li {
        margin-right: 20px;
        width: 50px;
        height: 50px;
        &:last-child {
          margin-right: 0;
        }
        a {
          display: block;
          width: 100%;
          height: 100%;
          overflow: hidden;
          background-repeat: no-repeat;
          background-size: contain;
          font-size: 0px;
          text-indent: -10000px;
        }
      }
    }
    .sns {
      &-fb {
        a {
          background-image: url(/assets/sp/images/detail/btn_link_facebook@2x.png);
        }
      }
      &-tw {
        a {
          background-image: url(/assets/sp/images/detail/btn_link_twitter@2x.png);
        }
      }
      &-yt {
        a {
          background-image: url(/assets/sp/images/detail/btn_link_youtube@2x.png);
        }
      }
      &-ig {
        a {
          background-image: url(/assets/sp/images/detail/btn_link_instagram@2x.png);
        }
      }
    }
  } // .link-sns（本文下のSNS公式ページへのリンク）

  //.post-pr_app（アプリへの誘導バナー）
  .post-pr_app {
    margin: 20px 0 0;
    padding: 0 2.5%;
    background: url(/assets/sp/images/detail/pr_app-bg.png) center center no-repeat;
    background-size: 100%;
    //.post-pr_app-inner
    &-inner {
      width: 100%;
      padding: (56/2)+px 0 (56/2)+px perCalc(168, 710);
      background: url(/assets/sp/images/detail/pr_app-icon.png) 0 (56/2)+px no-repeat;
      background-size: perCalc(168, 710);
    }
    //.post-pr_app-heading
    &-heading {
      line-height: lh(40, 30);
      padding-left: (20/2)+px;
      color: #fff;
      font-weight: bold;
      font-size: fz(30/2);
    }
    //.post-pr_app-list
    &-list {
      display: table;
      margin-top: (8/2)+px;
      margin-left: (20/2)+px;
    }
    //.post-pr_app-item
    &-item {
      display: table-cell;

      + .post-pr_app-item {
        padding-left: (10/2)+px;
      }
    }
  }//.post-pr_app（アプリへの誘導バナー）

  // 各記事へのリンク（リスト表示部分）ここから
  .widget-post-carousel, .widget-postList, #widget-news-list-container, #headline-container {
    .mod-headingA01 {
      padding: 0 50px 0 8px;
      padding-bottom: 0;
      background-color: #0e357f;
      background-repeat: no-repeat;
      h2 {
        font-size: 12px;
        color: #ffffff;
        height: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        img {
          height: 14px;
          width: auto;
        }
      }
    }
  }
  // ランキングのスタイル
  #widget-ranking-container {
    .mod-headingA01 {
      background-image: url(/assets/sp/images/detail/bg_ttl_01.png);
      background-size: auto 33px;
      background-position: right bottom;
    }
  }
  // ヘッドラインのスタイル
  #headline-container {
    border-top: none;
    .mod-headingA01 {
      background-image: url(/assets/sp/images/detail/bg_ttl_02.png);
      background-size: auto 36px;
      background-position: right 8px bottom;
    }
    .headline {
      padding-top: 0;
      .board {
        .board-item {
          .post {
            display: flex;
          }
          .post-heading {
            margin-top: 0;
            margin-bottom: 5px;
          }
          .post-data {
            display: flex;
            flex-direction: column;
            justify-content: center;
          }
        }
      }
    }
    .sponsor-link {
      .adsTitle {
        white-space: normal;
        margin-bottom: 5px;
      }
    }
  }
  #widget-recommend-list-container {
    .mod-headingA01 {
      background-image: url(/assets/sp/images/detail/bg_ttl_03.png);
      background-size: auto 36px;
      background-position: right bottom;
    }
    .widget-postList {
      .board {
        .board-item-ad-wrapper {
          #medibasspContainer {
            >div {
              a {
                .adgBody {
                  display: flex;
                  flex-direction: column;
                  justify-content: space-between;
                  .adgPr {
                    @extend %adTxtReset;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  #widget-news-list-container {
    .mod-headingA01 {
      background-image: url(/assets/sp/images/detail/bg_ttl_04.png);
      background-size: auto 35px;
      background-position: right 5px bottom;
    }
    .adsImg {
      border-radius: 3px;
    }
  }
  // 各記事へのリンク（リスト表示部分）ここまで

  // 外部リンクここから
  .external-link {
    margin-top: 25px;
    .external-link-heading {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
      h2, p {
        color: #333333;
        margin: 0;
        line-height: 1;
        font-size: 14px;
        font-weight: normal;
      }
    }
    ul {
      padding: 0;
      margin: 0;
      li {
        border-top: 1px solid #eee;
        list-style: none;
        margin: 0;
        padding: 0;
        a {
          color: #666666;
          font-size: 14px;
          line-height: 1.4;
          padding: 10px 0;
          display: block;
        }
      }
    }
  }
  // 外部リンクここまで

  .widget-post-carousel-list .widget-post-carousel-item-root a .post-data .post-category {;
    background-color: transparent;
    height: auto;
    width: auto;
    .category-label {
      @extend %adTxtReset;
    }
  }
  .board .post-category {
    @extend %adTxtReset;
  }
  .widget-post-carousel-list .widget-post-carousel-item-root .widget-post-carousel-item-ad .gunosy-ads-rendered > div a .adgBody {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
  }
}
html.mobile .adgLink .adgTextContainer .adgPr,
#widget-ranking-container a.adgLink .adgBody .adgSponsor,
#headline-container .sponsor-link .adsSponsored {
  @extend %adTxtReset;
}
// 記事詳細 改修に伴う修正
// 新着記事Ad広告
// @since 2018-01-15
#medibasspContainer {
  a {
    width: 100%;
  }
}
#widget-news-list-container {
  .board .post-category .category-label {
    @extend %adTxtReset;
  }
  #medibasspContainer {
    .adgImageBox, .adgBody {
      float: none;
    }
    a {
      display: flex;
    }
    .adgImageBox {
      width: 110px;
      height: auto;
      max-height: 62px;
      overflow: hidden;
      img {
        width: 100%;
        height: auto;
        max-width: 110px;
        max-height: 1000px;
        border-radius: 3px;
      }
    }
    .adgBody {
      width: calc(100% - 120px);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .adgTitle {
        font-size: 115%;
        height: 2.75em;
        line-height: 1.4375;
      }
      .adgPr {
        @extend %adTxtReset;
      }
    }
  }
}
// 記事詳細 改修に伴う修正
// 続きを読む
// @since 2018-01-15
#post-content-container {
  position: relative;
  &.restricted {
    height: 190px;
    overflow: hidden;
  }
  .single-more-container {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 75%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 75%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 75%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
  }
  #btn-more-app, #btn-more-web {
    height: 50px;
    background-color: #eeeeee;
    border-radius: 3px;
    a, span {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      font-weight: bold;
    }
  }
  #btn-more-app {
    width: 62.32%;
    a {
      color: #0f3580;
      font-size: 16px;
      &:before {
        content: '';
        display: block;
        width: 30px;
        height: 30px;
        background-image: url(/assets/sp/images/detail/pr_app-icon.png);
        background-size: contain;
        background-repeat: no-repeat;
        margin-right: 10px;
      }
    }
  }
  #btn-more-web {
    width: 34.78%;
    font-size: 14px;
    color: #666666;
  }
  #ad-gpt-article-detail-body-insert {
    margin-top: 1.5em;
    display: flex;
    justify-content: center;
  }
}
#div-gpt-ad-mobile_news_after {
  margin-bottom: 0 !important;
}
