@import "../../../../../scss_sp/asset";
@import "../sprite";

// -------------------------------------------------
// detail
// -------------------------------------------------

// image
.post-kv {
  // figure
  .post-single-figure {
    text-align: center;

    .caption {
      text-align: left;
      margin-top: 8px;
      // spのみ左右に余白
      padding: 0 3.125%;
    }
  }
}

// video
.post-video-kv {
  .video-container {
    position: relative;
  }
  .post-thumb-overlay-movie {
    position: absolute;
    left: 0;
    top: 0;
  }

  iframe,
  video {
    width: 100%;
    height: auto;
  }

  // ----------- youtube -------
  // youtube video
  &.post-video-kv-yt {
    position: relative;
  }
  // empty image(16x9)
  .yt-video-size {
    width: 100%;
    height: auto;
  }
  .yt-video {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
  }
  // ----------- youtube -------

  .post-video-start {
    display: none;
  }
  &.post-video-fb {
    min-height: 211px;
    background-color: #000000;
  }
}

// bookmark button
#single-header-container {
  .post-data {
    // div
    .loading-root,
    .btn-bookmark {
      position: relative;

      // bookmark する click 後一時的に click 無効にするため + animation 表示
      .loading-spinner {
        width: 0;
        height: 0;
        opacity: 0;

        transition-property: opacity;
        transition-duration: 0.3s;
        transition-timing-function: linear;
      }

      &.loading {
        .loading-spinner {
          width: 100%;
          height: 100%;
          opacity: 1;
        }
      }
    }//.btn-bookmark
  }//.post-data
}

// sp single header
.sp-single-header {
  .f-right,
  .f-left {
    float: none;
  }
}

// ------------------------------------------------------
// コメント詳細
// ------------------------------------------------------

// title
.comment-detail-heading {

  // link color
  a {
    &:link,
    &:visited,
    &:hover,
    &:active {
      color: #333333;
    }
  }
}
