@import "../../../../../scss_sp/asset";
@import "../sprite";

// Detail
//
// design module detail
//
// Styleguide 2.4.0


// post-kv
.post-kv {
} //.post-kv



// post-detail
.post-detail {
  padding-right: perCalc(20);
  padding-left: perCalc(20);

  // post-heading
  .post-heading {
    margin-top: (30/2)+px;

    h1 {
      font-weight: bold;
      font-size: fz(36/2);
    }
  } //.post-heading

  // post-data
  .post-data {
    @include clearfix;
    margin-top: (24/2)+px;

    // post-author
    .post-author {
      font-size: fz(20/2);
    } //.post-author

    .post-category {
      line-height: 1em;
      margin-top: .5em;
      color: $highlight-color;
      font-weight: bold;
      font-size: fz(20/2);
    }

    // post-date
    .post-date {
      margin-top: .25em;
      color: #666;
      font-size: fz(20/2);
    } //.post-date

    // btn-bookmark
    .btn-bookmark {
    } //.btn-bookmark
  } //.post-data

  // post-content
  .post-content {
    p {
      margin-top: 1.5em;
      font-size: fz(28/2);
    }
  } //.post-content

  // sponsor-link
  .sponsor-link {
    margin-top: 20px;

    & + .post-tags {
      margin-top: 20px;
    }
  }

  // post-tags
  // .post-tags {
  //   margin-top: 40px;

  //   @at-root {
  //     &-heading {
  //       width: 41px;
  //       height: 14px;
  //       background: url(/assets/images/common/heading-tags.png) 0 0 no-repeat;
  //       @include hide-text;
  //     }

  //     &-list {
  //       margin-top: 10px;
  //       letter-spacing: ls( inline-block );
  //     }

  //     &-item {
  //       display: inline-block;
  //       letter-spacing: normal;

  //       & + .post-tags-item {
  //         margin-left: 20px;
  //       }

  //       a {
  //         @include link-decoration(null, null, none, underline);
  //       }
  //     }
  //   }
  // } //.post-tags

  // post-sns_upper
  .post-sns_upper {
    margin-top: (40/2)+px;

    @at-root {
      #{ selector-replace(&, '.post-sns_upper', '.post-sns') } {
        &-list {
          display: table;
          width: 100%;
        }

        &-item {
          display: table-cell;
          width: 25%;
          text-align: center;

          a {
            display: inline-block;
            width: 100%;
            line-height: 0;
            padding: (10/2)+px 0;
            font-size: 0;

            span {
              @extend .sp-sprite-detail;
              @include hide-text;
            }
          }

          &_fb a {
            background-color: #3755a5;
            span { @include sprite( $detail-icon-sns-fb, inline-block ); }
          }

          &_tw a {
            background-color: #1b95e0;
            span { @include sprite( $detail-icon-sns-tw, inline-block ); }
          }

          &_gt a {
            background-color: #dc4e41;
            span { @include sprite( $detail-icon-sns-gt, inline-block ); }
          }

          &_line a {
            background-color: #00c300;
            span { @include sprite( $detail-icon-sns-line, inline-block ); }
          }
        }
      }
    }

  } //.post-sns_upper

  // post-sns_lower
  .post-sns_lower {
    margin-top: 30px;
    padding: 29px;
    border: 1px solid $border-primary-color;

    .post-sns-list {
      letter-spacing: ls( inline-block );
      text-align: center;

      [ class^="post-sns-" ] {
        display: inline-block;
        margin: 0 5px;
        letter-spacing: normal;
        vertical-align: top;

        a:hover {
          @include hover-opacity;
        }
      }
    }

    .post-sns-tw {
      a {
        @extend .sp-sprite-detail;
        @include sprite( $detail-icon-sns-tw );
        @include hide-text;
      }
    }

    .post-sns-fbshare {
      a {
        @extend .sp-sprite-detail;
        @include sprite( $detail-icon-sns-fb );
        @include hide-text;
      }
    }

    .post-sns-fbgood {}
    .post-sns-gt {}
  } //.post-sns_lower
}

// -------------------------------------------------
// override
@import "detail_override";
