@import "../../../../../scss_sp/asset";
@import "../sprite";

// Detail
//
// design module detail
//
// Styleguide 2.5.0


// post-kv
.post-kv {
  .caption {
    margin-top: .25em;
    font-size: fz(20/2);
  }

  .post-single-figure {
    text-align: center;

    .caption {
      text-align: left;
      margin-top: 8px;
      // spのみ左右に余白
      padding: 0 3.125%;

      font-size: fz(20/2);
    }
  }
} //.post-kv



// video
.post-video-kv {
  .video-container {
    position: relative;
  }
  .post-thumb-overlay-movie {
    position: absolute;
    left: 0;
    top: 0;
  }

  // https://github.com/undotsushin/undotsushin/issues/885
  // 広告動画左下の Ad秒数 の位置調整
  //iframe,
  video {
    width: 100%;
    height: auto;
  }

  .phone-video-guide {
    max-width: none;
  }

  // ----------- youtube -------
  // youtube video
  &.post-video-kv-yt {
    position: relative;
  }
  // empty image(16x9)
  .yt-video-size {
    width: 100%;
    height: auto;
  }
  .yt-video { // is iframe
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  // ----------- facebook -------
  .post-video-start {
    display: none;
  }
  &.post-video-fb {
    //min-height: 211px;
    min-height: 180px;
    background-color: #000000;
  }

  // ----------------------------------
  // @since 2016-10-05
  // @since 2016-09-30
  .video-thumbnail-container {
    position: relative;
    min-height: 180px;
    overflow: hidden;
  }
  .video-image {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: auto;
    height: 100%;
  }
  .video-play-btn {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    text-align: center;

    background: url("/assets/images/common/thumb-640x400-play.png") center center / cover no-repeat;
  }
}



// videojs
.post-video-kv {
  &.phone-post-kv {
    .video-container {
      position: relative;
    }

    .video-js {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }
}// post-video-kv





// post-detail
.post-detail {
  padding-right: perCalc(20);
  padding-left: perCalc(20);

  // 記事詳細本文部分 サイドバーに突き抜ける問題に対応するために設定
  // Safari で 問題があるので限定的に使用する
  // https://github.com/undotsushin/undotsushin/issues/867#issuecomment-228676809
  word-break: break-all;

  // bookmark button
  #single-header-container {
    .post-data {
      // div
      .loading-root,
      .btn-bookmark {
        position: relative;

        // bookmark する click 後一時的に click 無効にするため + animation 表示
        .loading-spinner {
          width: 0;
          height: 0;
          opacity: 0;

          transition-property: opacity;
          transition-duration: 0.3s;
          transition-timing-function: linear;
        }

        &.loading {
          .loading-spinner {
            width: 100%;
            height: 100%;
            opacity: 1;
          }
        }
      }//.btn-bookmark
    }//.post-data
  }

  // post-heading
  .post-heading {
    padding-top: (30/2)+px;

    h1 {
      font-weight: bold;
      font-size: fz(42/2);
    }
  } //.post-heading

  // post-data
  .post-data {
    @include clearfix;
    margin-top: (24/2)+px;

    .f-left,
    .f-right {
      float: none;
    }

    // post-author
    .post-author {
      font-size: fz(20/2);
    } //.post-author

    .post-category {
      line-height: 1em;
      margin-top: .5em;
      color: $highlight-color;
      font-weight: bold;
      font-size: fz(20/2);

      .category-label {
        display: inline-block;
        margin-left: 0.5em;

        &:first-of-type {
          margin-left: 0;
        }
      }

      // 地域カテゴリー用アイコン付カテゴリーラベル
      // ref.https://github.com/undotsushin/undotsushin/issues/2318
      .category-label_area {
        a {
          color: $highlight-secondary-color;

          &:before {
            content: "";
            // position: relative;
            // top: -1px;
            display: inline-block;
            width: (14/2)+px;
            height: (19/2)+px;
            margin-right: 4px;
            background: url(/assets/sp/images/area/icon-heading.png) 0 0 no-repeat;
            background-size: (14/2)+px;
            vertical-align: middle;
            @include hide-text;
          }
        }
      }
    }

    // post-date
    .post-date {
      margin-top: .25em;
      color: #666;
      font-size: fz(20/2);
    } //.post-date

    // btn-bookmark
    .btn-bookmark {
      margin-top: (20/2)+px;
    } //.btn-bookmark
  } //.post-data

  // post-content
  .post-content {
    &.excerpt {
      position: relative;
      height: (520/2)+px;
      overflow: hidden;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        width: 100%;
        height: (520/2)+px;
        background: url(/assets/sp/images/detail/excerpt-mask.png) 0 bottom repeat-x;
        background-size: (40/2)+px;
      }

      &.hidden {
        max-height: initial;
        max-height: auto;
        height: auto;
        opacity: 1;
      }
    }

    &-readMore {
      text-align: center;
    }

    &-readMore-btn {
      @include link-decoration(#fff, #fff, none, none);
      display: inline-block;
      padding: (28/2)+px (36/2)+px;
      background-color: $highlight-color;
      border-radius: (6/2)+px;
      font-weight: bold;
      // font-size: fz(28/2);
      text-align: center;
    }

    h1, h2, h3, h4, h5, h6 {
      margin-top: 1.5em;
      font-weight: bold;
      font-size: fz(32/2);
    }

    li, dt, dd, p, th, td, code, pre {
      font-size: fz(34/2);
    }

    ul, ol, dl, p, table {
      margin-top: 1.5em;
    }

    ul, ol {
      margin-left: 1em;
    }

    li {
      margin-left: 1em;
    }

    ul li {
      list-style: disc;
    }

    dt {
      font-weight: bold;
    }

    i {
      font-style: italic;
    }

    em {
      color: #999;
    }

    table {
      border-top: 1px solid $border-primary-color;
      border-right: 1px solid $border-primary-color;
    }

    th, td {
      padding: 8px;
      border-bottom: 1px solid $border-primary-color;
      border-left: 1px solid $border-primary-color;
    }

    th {
      background-color: #eee;
    }

    code, pre {
      padding: 4px;
      border: 1px solid $border-primary-color;
      border-radius: 3px;
    }

    code {
      background-color: #f7f7f7;
      color: #666;
    }

    pre {
      background-color: #fbfaf8;
    }

    img {
      max-width: 100% !important;
      height: auto !important;
    }

    .cms_widget,
    .cms_video {
      margin-top: 1.5em;
      overflow: hidden;

      iframe,
      video {
        width: 100%;
        // height: auto;
      }
    }

    .cms_img {
      margin-top: 1.5em;

      .caption {
        margin-top: .25em;
      }
    }

    &.post-content_app {
      color: #000;
      font-size: fz(16);

      p {
        margin-top: 1.1em;
        line-height: 1.8;
      }
    }

    > img {
      display: block;
      margin-top: 21px;
    }
  } //.post-content

  // sponsor-link
  .sponsor-link {
    margin-top: 20px;

    & + .post-tags {
      margin-top: 20px;
    }
  }

  // provider
  .provider {
    width: 100%;
    margin-top: (40/2)+px;
    padding-top: (30/2)+px;
    border-top: 1px solid $border-primary-color;
    text-align: right;

    &-logo {
      img {
        width: auto;
        height: (60/2)+px;
      }
    }

    &-data {
      margin-top: (10/2)+px;
    }

    &-name,
    &-url {
      font-size: fz(20/2);
    }

    &-name {
      font-weight: bold;
    }
  }//.provider

  // post-tags
  // .post-tags {
  //   margin-top: 40px;

  //   @at-root {
  //     &-heading {
  //       width: 41px;
  //       height: 14px;
  //       background: url(/assets/images/common/heading-tags.png) 0 0 no-repeat;
  //       @include hide-text;
  //     }

  //     &-list {
  //       margin-top: 10px;
  //       letter-spacing: ls( inline-block );
  //     }

  //     &-item {
  //       display: inline-block;
  //       letter-spacing: normal;

  //       & + .post-tags-item {
  //         margin-left: 20px;
  //       }

  //       a {
  //         @include link-decoration(null, null, none, underline);
  //       }
  //     }
  //   }
  // } //.post-tags

  // post-sns_upper
  .post-sns_upper {
    margin-top: (40/2)+px;
    margin-bottom: 1.5em;

    .post-sns {
      &-list {
        display: table;
        width: 100%;
      }

      &-item {
        display: table-cell;
        width: 25%;
        text-align: center;

        a {
          display: inline-block;
          width: 100%;
          line-height: 0;
          padding: (10/2)+px 0;
          font-size: 0;

          span {
            @extend .sp-sprite-detail;
            @include hide-text;
          }
        }

        &_fb a {
          background-color: #3755a5;
          span { @include sprite( $detail-icon-sns-fb, inline-block ); }
        }

        &_tw a {
          background-color: #1b95e0;
          span { @include sprite( $detail-icon-sns-tw, inline-block ); }
        }

        &_gt a {
          background-color: #dc4e41;
          span { @include sprite( $detail-icon-sns-gt, inline-block ); }
        }

        &_line a {
          background-color: #00c300;
          span { @include sprite( $detail-icon-sns-line, inline-block ); }
        }
      }
    }

    @at-root {
      #{selector-replace(&, '.post-sns_upper', '.post-sns')} {
      }
    }

  } //.post-sns_upper

  // post-sns_lower
  .post-sns_lower {
    margin: #{(40/2)+px} -500% 0;
    padding: (40/2)+px 500% 0;
    border-top: 1px solid $border-primary-color;

    .post-sns-list {
      overflow: hidden;
    }

    .post-sns-fixed {
      float: left;
      width: 71px;
    }

    .post-sns-flex {
      float: right;
      width: 100%;
      margin-left: -71px;

      &-inner {
        margin-left: 71px;
      }

      &-list {
        display: table;
        width: 100%;
      }

      .post-sns-item {
        display: table-cell;
        width: perCalc(105, 450);
        height: (80/2)+px;
        padding-left: perCalc(10, 450);

        a {
          display: block;
          height: 100%;
          line-height: 0;
          border-radius: 4px;
          text-align: center;

          span {
            @extend .sp-sprite-detail;
            @include hide-text;
            margin-top: (16/2)+px;
            vertical-align: top;
          }
        }

        &_fb {
          a { background-color: #3755a5;}
          span { @include sprite( $detail-btn-sns-fb, inline-block ); }
        }

        &_tw {
          a { background-color: #1b95e0;}
          span { @include sprite( $detail-btn-sns-tw, inline-block ); }
        }

        &_gt {
          a { background-color: #dc4e41;}
          span { @include sprite( $detail-btn-sns-gt, inline-block ); }
        }

        &_line {
          a { background-color: #00c300;}
          span { @include sprite( $detail-btn-sns-line, inline-block ); }
        }
      }
    }
  } //.post-sns_lower

  // post-sns-pr
  @at-root {
    .post-sns-pr {
      width: 100%;
      margin-top: (20/2)+px;
      padding: (26/2)+px (36/2)+px;
      border: (6/2)+px solid $highlight-color;
      border-radius: 6px;
      background-color: #fff;

      &-inner {
        display: table;
        margin-right: auto;
        margin-left: auto;
      }

      dt, dd {
        display: table-cell;
        vertical-align: middle;
      }

      dt {
        padding-right: (24/2)+px;

        // for iPhone5, 5S
        @media screen and (max-width: 320px) {
          padding-right: 0;
        }

        span {
          display: block;
          line-height: 1em;
          margin-top: (6/2)+px;
          padding: (48/2)+px 0 0 0;
          background: url(/assets/sp/images/detail/post-sns-logo.png) 0 0 no-repeat;
          background-size: (356/2)+px;
          font-weight: bold;
          font-size: fz(22/2);
          white-space: nowrap;
        }
      }

      dd {
        width: 71px;
      }
    } // .post-sns-pr
  } // at-root
}// post-detail

//// category-label
//// https://github.com/undotsushin/undotsushin/issues/913
//// SP版に限り、カテゴリー複数指定あり記事のカテゴリー表示に余白つける
//.post-category {
//  .category-label-wrapper {
//    .category-label {
//      margin-left: 10px;
//
//      &:first-child {
//        margin-left: 0;
//      }
//    }
//  }
//}



// widget-postList
.widget-postList {
  background-color: #eee;
  // padding-bottom: (40/2)+px;

  .board {
    .board-item {
      border-bottom: none;
    }
  }
} //.widget-postList


// loaded-post
.loaded-post {
  border-top: (40/2)+px solid #eee;
  padding-bottom: (40/2)+px;

  .post-content {
    &-read-more {
      text-align: center;
    }

    &-btn-readMore {
      @include link-decoration($highlight-color, $highlight-color, none, none);
      display: inline-block;
      margin: (28/2)+px 0;
      padding: 0;
      background-color: transparent;
      border-radius: (6/2)+px;
      font-weight: normal;
      // font-size: fz(28/2);
      text-align: center;
    }
  }
} //.loaded-post


// 記事詳細 続きを読むを表示する iframe
// @since 2017-04-12
// @see https://github.com/undotsushin/undotsushin/issues/1818
// @see https://github.com/undotsushin/undotsushin/issues/1475#issuecomment-293174913
// ---------------------------------------------------
// ------------------------------
// div.post-content
//    iframe.post-content-iframe
//    /* --------[iframe]-------- */
//    body
//      div#whole
//        div.post-detail
//          div.post-content.post-content-in_iframe
//            div.single-iframe
//              /* [output article] */

// 高さ再設定時にアニメーションする
// iframe
iframe.post-content-iframe {
  transition: height 0.3s linear;
}

// iframe .single-iframe
// 最初の p margin-top 余白が大きくなる
.single-iframe {
  p:first-child {
    margin-top: 0;
  }
}

// fadein
// .post-content > iframe.single-iframe > div.post-content-in_iframe
.post-content-in_iframe {
  transition-property: opacity;
  transition-duration: 0.5s;
  transition-timing-function: linear;
  opacity: 1;
  background-color: #fff;
}

// iframe body.iframe-loading の `iframe-loading` が取れると fade始する
body {
  &.iframe-loading {
    // iframe wrapper tag (.post-content) へ移動させる
    //background: url("/assets/images/common/preloader.gif") no-repeat center center;
    // iframe 内 - 記事詳細本文
    .post-content-in_iframe {
      opacity: 0;
    }
  }
}

// 親側に spinner を設定
.post-content.iframe-loading {
  background: url("/assets/images/common/preloader.gif") no-repeat center center;
}

// iframe img margin
.single-iframe {
  // h1 ~
  h1:first-child,
  h2:first-child,
  h3:first-child,
  h4:first-child,
  h5:first-child,
  h6:first-child {
    margin-top: 0;
    // widget
    .cms_widget {
      margin-top: 0;
    }
  }
}
