@import "../../../../../scss_sp/asset";
@import "../sprite";

// Error
//
// design module error/maintenance
//
// Styleguide 2.11.0

// errorPage-sec
.errorPage-sec {
  padding: (60/2)+px perCalc(50) (40/2)+px;
  background-color: #f5f5f5;

  .mod-btnA01 {
    margin-top: (40/2)+px;

    a {
      display: block;
    }
  }

  .sponsor-link {
    border: 1px solid $border-primary-color;
  }
} //.errorPage-sec





// maintenance
// bodyの背景に画像
.maintenance {
  display: table;
  width: 100%;
  height: 100%;
  min-height: 100%;
  background: #000 url(/assets/sp/images/signup/bg.png) center top repeat;
  background-size: (550/2)+px;
}

// body-sec
// .body-secをオーバーライド
.maintenance {
  .body-sec {
    display: table-cell;
    width: 100%;
    height: 100%;
    background: none;
    vertical-align: middle;

    &:before {
      background: none;
    }

    @at-root {
      &-inner {
        display: table;
        width: perCalc(540);
        margin-right: auto;
        margin-left: auto;
        background: none;
      }
    }
  }
}

.maintenance {
  &-mascot {
    text-align: center;

    img {
      // width: (248/2)+px !important;
      width: perCalc(248, 540) !important;
    }
  }

  //.maintenance-text
  &-text {
    margin-top: (60/2)+px;
  }

  //.maintenance-logo
  &-logo {
  }

  //.maintenance-heading
  &-heading {
    margin-top: (40/2)+px;
    color: $highlight-color;
    font-weight: bold;
    font-size: fz(40/2);
    text-align: center;
  }

  //.maintenance-message
  &-message {
    p {
      line-height: lh(44, 28);
      margin-top: 1em;
      font-size: fz(28/2);
      text-align: center;

      &.f14 {
        font-size: fz(12) !important;
      }
    }
  }

  .copyright {
    position: absolute;
    bottom: (50/2)+px;
    width: 100%;
    color: #777;
  }
}
