@import "../../../../../scss_sp/asset";
@import "../sprite";

// Error
//
// design module error
//
// Styleguide 2.11.0

// errorPage-sec
.errorPage-sec {
  margin: (60/2)+px 0 (40/2)+px;
  padding-right: perCalc(50);
  padding-left: perCalc(50);

  .mod-btnA01 {
    margin-top: (40/2)+px;

    a {
      display: block;
    }
  }
} //.errorPage-sec

