@import "../../../../../scss_sp/asset";
@import "../sprite";

// general
//
// design module general
//
// Styleguide 2.9.0

// board-large
// 汎用 ニュース一覧
// github issue#1010 で廃止
// .board-large {
//   @include clearfix;
//   padding-bottom: (40/2)+px;
//   background-color: #eee;

//   @at-root {
//     // &-column {
//     //   width: 340px;

//     //   &.column1 {
//     //     float: left;e
//     //   }

//     //   &.column2 {
//     //     float: right;
//     //   }
//     // } //.board-large-column

//     &-column {
//       padding-right: perCalc(20);
//       padding-left: perCalc(20);
//     }



//     .feature-user {
//       &.comment-item {
//         margin-right: perCalc(20);
//         margin-left: perCalc(20);
//         padding-top: 0;
//         border-top: none;
//         background-color: #f5f5f5;
//       }

//       .comment-user {
//         &-thumb, &-data {
//           display: inline-block;
//         }

//         &-link {
//           position: relative;
//         }

//         &-thumb {
//           position: absolute;
//           top: -(54/2)+px;
//           left: 0;
//           width: (110/2)+px;
//           height: (110/2)+px;
//           background-size: (110/2)+px;
//         }

//         &-data {
//           margin-left: (124/2)+px;
//         }

//         &-name {
//           margin-top: (10/2)+px;
//         }

//         &-name, &-job, .comment-date {
//           margin-left: 0;
//           font-size: fz(18/2);
//         }
//       }

//       .comment-content {
//         padding-right: (20/2)+px;
//         padding-left: (20/2)+px;
//         font-size: fz(20/2);
//       } //.comment-content

//       .comment-reaction {
//         padding-right: (20/2)+px;
//         padding-bottom: (20/2)+px;
//         padding-left: (20/2)+px;
//       }
//     } //.feature-user



//     .commented-user {
//       margin-left: perCalc(20);
//       padding-left: (114/2)+px;
//       padding-bottom: (4/2)+px;
//       min-height: (50/2)+px;

//       &-item {
//         float: left;

//         & + & {
//           margin-left: (4/2)+px;
//         }
//       }

//       &-thumb {
//         @include link-decoration(null, null, none, none);
//         display: block;
//         width: (50/2)+px;
//         height: (50/2)+px;
//         background: url(/assets/sp/images/common/thumb-user.png) 0 0 no-repeat;
//         background-size: (50/2)+px;

//         &.user-logged-in {
//           background: none;
//         }
//       }

//       &-andmore {
//         line-height: 25px;
//         margin-left: 5px;
//         font-size: fz(20/2);
//       }
//     } //.commented-user
//   }

//   .board-item {
//     position: relative;
//     margin: (20/2)+px perCalc(20) 0;
//     padding-bottom: (20/2)+px;
//     background-color: #fff;

//     .post {
//       &-thumb {}

//       &-heading {
//         line-height: lh(36, 26);
//         font-size: fz(26/2);
//       }

//       &-data {
//         padding: (20/2)+px;
//       }

//       [ class^="post-label_" ] {}

//       &-label_recommend {
//         @extend .sp-sprite-common;
//         @include sprite( $common-icon-recommend, inline-block );
//         @include hide-text;
//         vertical-align: middle;
//       }

//       &-category {
//         display: inline-block;
//       }

//       &-date {
//         margin-top: .25em;
//       }
//     } //.board-large .post common

//     .post {
//       @include clearfix;

//       &-thumb {
//         float: right;
//         width: (210/2)+px;
//       }

//       &-heading {
//         min-height: (130/2)+px;
//         padding: perCalc(20);
//         padding-bottom: 0;
//       }

//       &-data {
//         clear: both;
//       }

//       &-category {}
//       &-date {}
//     }

//     .type-movie {
//       .post {
//         &-thumb {
//           float: none;
//           width: 100%;
//         }

//         &-heading {
//           min-height: initial;
//           min-height: auto;
//           padding: (20/2)+px (20/2)+px 0;
//         }

//         &-data {}

//         &-category {}

//         &-date {}
//       }
//     } //.board-large .post.type-movie
//   } //.board-item

//   .news-ad {
//     margin: (20/2)+px perCalc(20) 0;
//   }

// } //.board-large





//お知らせ
// https://aws-plus.backlog.jp/view/UNDO_SPBL-281
.announce {
  border-bottom: 1px solid $border-primary-color;

  //.announce--text
  &--text {
    padding: (18/2)+px 0;

    //.announce__inner
    .announce__inner {
      padding-right: perCalc(20);
      padding-left: perCalc(20);
    }

    //.announce__item
    .announce__item {
      position: relative;
      padding-left: 20px;
      word-break: break-all;
      font-weight: bold;
      font-size: fz(20/2);

      a {
        display: block;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    //.announce__item__icon
    .announce__item__icon {
      position: absolute;
      left: 0;
      width: (28/2)+px;
      vertical-align: middle;
    }
  } //.announce--text



  //.announce--image
  &--image {
    width: 100%;
    text-align: center;
  }
} //.announce





// board-small
// 汎用 ニュース一覧
// github issue#1010 で廃止
// .board-small {
.board {
  @include clearfix;
  // margin-top: (20/2)+px;
  // border-top: 1px solid $border-primary-color;

  //.board-item
  &-item {
    border-bottom: 1px solid $border-primary-color;
    padding-right: perCalc(15);
    padding-left: perCalc(15);
  }

  .post {
    @include link-decoration(#333, #333, none, none);
    @include clearfix;
    display: block;
    padding: (20/2)+px 0;
    overflow: hidden;

    &.type-movie {
      .post-thumb-overlay-movie {
        display: block;
      }
    }

    //.post-thumb
    &-thumb {
      position: relative;
      float: left;
      width: 110px;
      height: auto;
      margin-right: (20/2)+px;
      overflow: hidden;
      background: #ccc url(/assets/sp/images/common/thumb-noimage-16x9-s.png) center center no-repeat;
      background-size: 100%;
      border-radius: (6/2)+px;

      //.post-thumb-overlay-movie
      &-overlay-movie {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
      }
    }

    //.post-data
    &-data {
      overflow: hidden;
    }

    //.post-heading
    &-heading {
      height: 2.75em;
      line-height: lh(46, 32);
      // margin-top: (18/2)+px;
      overflow: hidden;
      font-weight: bold;
      font-size: fz(32/2);
    }

    [ class*="post-label_" ] {
      position: relative;
      top: -1px;
      display: inline-block;
      margin-right: 2px;
      vertical-align: middle;
      @extend .sp-sprite-common;
      @include hide-text;
    }

    // .post-label_recommend
    &-label_recommend {
      @include sprite( $common-icon-recommend );
    }

    // .post-label_movie
    &-label_movie {
      @include sprite( $common-icon-movie );
    }

    // .post-label_new
    &-label_new {
      @include sprite( $common-icon-new );
    }

    //.post-category
    &-category {
      display: inline-block;
      line-height: 1em;
      color: #888;
      font-weight: bold;
      font-size: fz(20/2);

      &:empty {
        display: none;
      }

      .category-label {
        display: inline-block;
        margin-right: 0.5em;

        // 地域カテゴリー用アイコン付カテゴリーラベル
        // ref.https://github.com/undotsushin/undotsushin/issues/2318
        &.category-label_area {
          color: $highlight-secondary-color;

          &:before {
            content: "";
            // position: relative;
            // top: -1px;
            display: inline-block;
            width: (14/2)+px;
            height: (19/2)+px;
            margin-right: 4px;
            background: url(/assets/sp/images/area/icon-heading.png) 0 0 no-repeat;
            background-size: (14/2)+px;
            vertical-align: middle;
            @include hide-text;
          }
        }
      } //.category-label
    } //.post-category

    //.post-date
    &-date {
      //リニューアルで不要になりました
      display: none;

      // margin-top: 0.25em;
      // color: #666;
      // font-size: fz(20/2);
    }

    //.post-excerpt-text
    &-excerpt-text {
      //リニューアルで不要になりました
      display: none;

      // margin-top: .5em;
      // font-size: fz(22/2);
      // // break させる
      // word-break: break-all
    }
  } //.board .post

  .btn-bookmark {
    // float: right;
    // margin-top: 20px + 18;
    // margin-left: 10px;
    margin-bottom: (20/2)+px;
  }

  // 時々でてくるデカい子
  //.board-item--big
  &-item--big {
    .post {
      //.post-thumb
      &-thumb {
        position: relative;
        float: none;
        width: 100%;
        height: auto;
        margin-right: 0;
        overflow: hidden;
        background: #ccc url(/assets/sp/images/common/thumb-noimage-16x9.png) center center no-repeat;
        background-size: 100%;
        border-radius: (6/2)+px;

        //.post-thumb-overlay-movie
        &-overlay-movie {
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: auto;
        }
      }

      //.post-data
      &-data {}

      //.post-heading
      &-heading {
        height: auto;
        margin-top: (18/2)+px;
        overflow: visible;
      }

      [ class*="post-label_" ] {}

      // .post-label_recommend
      &-label_recommend {}

      // .post-label_movie
      &-label_movie {}

      // .post-label_new
      &-label_new {}

      //.post-category
      &-category {}

      //.post-date
      &-date {}

      //.post-excerpt-text
      &-excerpt-text {}
    } //.board .post
  } //.board-item--big
}





// headline
// ヘッドライン
.headline {
  padding-top: (10/2)+px;
  background-color: #eee;

  .board {
    border-top: 1px solid $border-primary-color;
    background-color: #fff;

    .board-item {
      // &:last-child {
      //   border-bottom: none;
      // }

      .post {
        padding-top: (10/2)+px;
        padding-bottom: (10/2)+px;

        &-thumb {
          width: (100/2)+px;
          height: (100/2)+px;
          margin-right: (20/2)+px;
          background-size: 100%;
          border-radius: (6/2)+px;
        }

        &-heading {
          width: 100%;
          height: auto;
          line-height: 1;
          margin-top: (18/2)+px;
          overflow: hidden;
          text-overflow: ellipsis;
          font-weight: bold;
          font-size: fz(32/2);
          white-space: nowrap;
        }
        &-category {}
        &-data {}

        &:hover {
          .post-thumb {}
          .post-heading {}
        }
      }
    } //.post-list-item
  }
}



//.headline--last
.headline--last {
  padding-top: (10/2)+px;
  background-color: #eee;

  .board {
    border-top: 1px solid $border-primary-color;
    background-color: #fff;
  }
} //.headline--last



.headline-outer {
  .sponsor-link {
    padding-right: perCalc(20);
    padding-left: perCalc(20);
    border-top: 1px solid $border-primary-color;

    .adgLink,
    .adsWrapper {
      height: auto !important;
    }

    .adsImgContainer,
    .adsBody {
      vertical-align: top !important;
    }

    .adsImgContainer {
      width: 70px !important;
      height: auto !important;
      min-height: 60px;
      padding: 0 !important;
      padding-right: 10px !important;
    }

    .adsBody {}
  }
}





// btn-bookmark
.btn-bookmark {
  a {
    @include link-decoration(null, null, none, none);
    display: block;
    // min-width: 10.8em;
    padding: (18/2)+px;
    border-radius: 3px;
    border: 1px solid $highlight-color;
    color: $highlight-color;
    font-weight: bold;
    font-size: fz(20/2);
    vertical-align: middle;
    text-align: center;
  }

  span {
    display: inline-block;

    &:before {
      position: relative;
      top: 3px;
      margin-right: 5px;
      content: '';
      @extend .sp-sprite-common;
      @include sprite( $common-icon-bookmark_o, inline-block);
      @include hide-text;
    }
  }

  a.enable {
    // border-color: $highlight-color;
    // background-color: $highlight-color;
    // color: #fff;

    // span:before {
    //   @include sprite( $common-icon-bookmark, inline-block);
    //   @include hide-text;
    // }

    border-color: #ddd;
    background-color: #ddd;
    color: #999;

    span:before {
      @extend .sp-sprite-setting;
      @include sprite( $setting-icon-bookmark, inline-block);
    }
  }
} //.btn-bookmark





// board-btn-viewmore
// VIEW MORE (もっと見る)ボタン
#board-container-more {
  .loading-root {
    padding-top: 0;
  }
}

.board-btn-viewmore {
  border-bottom: 1px solid $border-primary-color;

  //.board-btn-viewmore-lin
  &-link {
    display: block;
    padding: (32/2)+px 0;
    background-color: #f5f5f5;
    color: $highlight-color;
    font-weight: bold;
    font-size: fz(28/2);
    text-align: center;
  }
} //.board-btn-viewmore



.loading-root {
  position: relative;

  .loading-spinner {
    display: block;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 0;

    //background: rgba(255, 255, 255, 0.7);
    background: url("/assets/sp/images/common/preloader.gif") no-repeat center center;
    background-size: (64/2)+px;
    opacity: 0;
  }

  &.loading {
    min-width: 30px;
    min-height: 30px;
    .loading-spinner {
      height: 100%;
      opacity: 1;
    }
  }

  &.disable {
    .loading-spinner {
      height: 100%;
      opacity: 1;
      background: rgba(255, 255, 255, 0.2);
    }
  }
}





// dialogue-notice
// フラッシュメッセージ
.dialogue-notice {
  &.error { background-color: #e14343;}
  &.success { background-color: #43e18a;}
  &, &.info { background-color: $highlight-color;}

  &-inner {
    position: relative;
    display: table;
    width: 100%;
  }

  &-info {
    @include table-cell;
    width: 100%;
    height: (100/2)+px;
    color: #fff;
    font-weight: bold;
    font-size: fz(24/2);
    text-align: center;

    cursor: default;
  }

  &-btn-close {
    position: absolute;
    top: 50%;
    right: (30/2)+px;
    margin-top: -5px;

    a {
      @extend .sp-sprite-common;
      @include sprite( $common-btn-notice-close1 );
      @include hide-text;
    }
  }

  &.flush-dialogue {
    // info, error, success override
    margin-top: 0!important;

    // position vertical middle
    position: fixed;
    left: 0;
    //top: 50%;
    width: 100%;
    //transform: translateY(-50%);

    // middle だと keyboard 出ている時に潜り込む
    // sp は js で scroll top にする
    top: 100px;
  }
}

#flush-modal-container {
  .modal-bg {
    &.flush-modal-bg {
      opacity: 0;
    }
  }
}




// modal-intro
// 初回起動時のサービス紹介
.modal-intro {
  @extend %modal-dialogue;
  display: none;

  .modal-bg {
    background-color: rgba(0, 0, 0, .8);
  }

  //.modal-intro-contents
  &-contents {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    // width: perCalc(600, 750);
    width: (600/2)+px;
  }

  //.modal-intro-link
  &-link {
    img {
      max-width: 100%;
    }
  }

  //.modal-intro-close
  &-close {
    z-index: 999;
    position: absolute;
    top: 0;
    right: 0;
  }

  //.modal-intro-close-btn
  &-close-btn {
    display: block;
    width: (60/2)+px;
    height: (60/2)+px;
    background: url(/assets/sp/images/intro/btn-close.png) 0 0 no-repeat;
    background-size: (60/2)+px;
    @include hide-text;
  }
}





// modal-dialogue_logout
// アラート ログアウト
.modal-dialogue_delete,
.modal-dialogue_logout {
  @extend %modal-dialogue;

  .modal-dialogue-close {
    display: none;
  }

  .modal-dialogue-contents {
    width: perCalc(480, 640);

    .lead {
      text-align: center;
    }

    .btn {
      &-block {
        margin-top: (24/2)+px;
      }

      &-item {
        @extend .mod-btnA01;
        float: right;
        width: perCalc(200, 420);

        &:first-child {
          float: left;
        }
      }

      &-link {
        display: block !important;
        line-height: (80/2)+px !important;
        font-weight: normal !important;
        font-size: fz(24/2);

        &.btn-link_submit {
          border-color: $highlight-secondary-color;
          background-color: $highlight-secondary-color;
        }
      }
    }
  }
}





// mod-btnA01
.mod-btnA01 {
  input[ type="submit" ],
  input[ type="button" ],
  a {
    display: inline-block;
    // min-width: 160px;
    line-height: (100/2)+px;
    // padding-right: 4px;
    // padding-left: 4px;
    border-radius: 4px;
    border: 2px solid $highlight-color;
    background-color: $highlight-color;
    font-weight: bold;
    text-align: center;
  }

  a {
    @include link-decoration(#fff, #fff, none, none);
  }

  input[ type="submit" ],
  input[ type="button" ] {
    color: #fff;
    font-size: (28/2)+px;
  }
}

// mod-btnB01
.mod-btnB01 {
  @extend .mod-btnA01;

  input[ type="submit" ],
  input[ type="button" ],
  a {
    border-color: $highlight-secondary-color;
    background-color: $highlight-secondary-color;
  }
}





// mod-headingA01
.mod-headingA01 {
  padding: (20/2)+px perCalc(20) 0;
  // border-left: (6/2)+px solid $highlight-color;
  // background-color: #ddd;

  @for $i from 1 through 6 {
    h#{$i} {
      color: #333;
      font-weight: bold;
      font-size: (24/2)+px;
    }
  }
}





// 関連ニュース
// popIn or syn.extension
.recommend_articles {
  // figure 背景なし
  .board-small .post-thumb {
    background: none;
  }
}





// -------------------------------------------------
// override
// @import "./general_override";
