@import "../../../../../scss_sp/asset";

$prefix : '';

// sprite 不要の時はコメントに
/*
  sprite
* *********************************** */
@import "../sprite";

// Global
//
// design module global
//
// Styleguide 2.2.0


//  1. global layout base
//  2. global header
//  3. global navigation
//  4. global footer


// 1. global layout base
// ----------------------------------------------------------------------------------------------------------------------------------------
html, body {
  width: 100%;
  height: 100%;
}

input,
textarea,
select,
button {
  outline: none;
}

fieldset {
  input,
  textarea {
    color: #333;
  }
}

input::-webkit-input-placeholder {
  font-size: fz(24/2);
}

.whole {
  overflow-x: hidden;

  img {
    @include fluid-img(100%);

    &.responsive {
      display: none;
    }
  }

  input {
    font-size: 16px;
  }
}

a {
  @include link-decoration($highlight-color, $highlight-color, none, none);
}

img {
  touch-callout: none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select:none;
  -moz-touch-callout: none;
  -moz-user-select:none;
}

// 諸々 override するために最下部へ移動します - 2017-09-11
//.undotsushin-ios,
//.undotsushin-android {
//  .head-sec,
//  .foot-sec {
//    display: none !important;
//  }
//}



// 2. global header
// ----------------------------------------------------------------------------------------------------------------------------------------
@import "global_header";


// 3. global navigation
// ----------------------------------------------------------------------------------------------------------------------------------------
@import "global_gnav";


// 4. global footer
// ----------------------------------------------------------------------------------------------------------------------------------------
@import "global_footer";



// 4.1 global webview
// ----------------------------------------------------------------------------------------------------------------------------------------
// webview hide head, foot, app-banner
// @since 2017-09-11 .header-sticky + .body-se 追加
.undotsushin-ios,
.undotsushin-android {
  // バナー非表示時の空き調整 - `head-sec` 50px 引算する
  .header-sticky + .body-sec {
    margin-top: 50px;
  }
  // header / footer
  .head-sec,
  .foot-sec {
    display: none !important;
  }
}
