@import "../../../../../scss_sp/asset";

// index
//
// design module index
//
// Styleguide 2.2.0

// hero-sec
// トップページ メインビジュアル
.hero-sec {
  background-color: #111;

  a {
    display: block;
  }

  .post {
    &-overview {
      @include clearfix;
      padding: (28/2)+px perCalc(20) (16/2)+px;
    }

    &-heading {
      color: #fff;
      font-weight: bold;
      font-size: fz(32/2);
    }

    &-category {
      margin-top: .5em;
      color: $highlight-color;
      font-weight: bold;
      font-size: fz(20/2);
    }

    &-date,
    &-comment-num {
      font-size: fz(20/2);
    }

    &-date {
      float: left;
    }

    &-comment-num {
      float: right;
      padding-left: (36/2)+px;
      color: #fff;
      background: url(/assets/sp/images/index/icon-hero-comment.png) 0 center no-repeat;
      background-size: (26/2)+px;
    }
  }
}





// headline
// トップページ ヘッドライン
.headline {
  .board-small {
    .board-item {
      // &:nth-child(1), &:nth-child(2) {
      //   border-top: none;
      // }

      .post {
        &-thumb {}
        &-heading {}
        &-category {}
        &-data {}

        &:hover {
          .post-thumb {}
          .post-heading {}
        }
      }
    } //.post-list-item
  }
}
