@import "../../../../../scss_sp/asset";

// index
//
// design module index
//
// Styleguide 2.3.0

// sns-pr
.sns-pr {
  padding-top: (10/2)+px;
  // padding-bottom: (10/2)+px;
  // border-bottom: 1px solid $border-primary-color;
  background-color: #eee;

  &-outer {
    width: 100%;
    padding-top: (20/2)+px;
    padding-bottom: (20/2)+px;
    border-top: 1px solid $border-primary-color;
    border-bottom: 1px solid $border-primary-color;
    background-color: #fff;
  }

  &-inner {
    display: table;
    margin-right: auto;
    margin-left: auto;
  }

  dt, dd {
    display: table-cell;
    vertical-align: middle;
  }

  dt {
    padding-right: (24/2)+px;

    // for iPhone5, 5S
    @media screen and (max-width: 320px) {
      padding-right: 0;
    }

    span {
      display: block;
      line-height: 1em;
      margin-top: (6/2)+px;
      padding: (48/2)+px 0 0 0;
      background: url(/assets/sp/images/index/post-sns-logo.png) 0 0 no-repeat;
      background-size: (356/2)+px;
      font-weight: bold;
      font-size: fz(22/2);
      white-space: nowrap;
    }
  }

  dd {
    width: 71px;
  }
} //.sns-pr





// .focus-bnr
// 速報コンテンツなど一面・すべてに表示されるのバナー
// sample html
// <div class="focus-bnr now_onair">
//   <a href="https://sportsbull.jp/sokuhou/?utm_source=SPORTS%20BULL&utm_content=20161011&utm_campaign=sokuhou&utm_medium=banner"><img src="/assets/sp/images/dummy/bnr-sokuhou.png" alt=""></a>
// </div>
.focus-bnr {
  padding: (10/2)+px perCalc(15, 750);
  background-color: #eee;

  a {
    position: relative;
    display: block;
    text-align: center;
  }
}





// stats_banner
// トップページ 速報&データ
.stats_banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: (10/2)+px;
  padding-bottom: (10/2)+px;
  overflow:hidden;
  overflow-x:scroll;
  border-top: 1px solid $border-primary-color;
  border-bottom: 1px solid $border-primary-color;

  * {
    line-height: 0;
  }


  //.stats_banner__heading
  &__heading {
    width: 11vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
    border-right: 1px solid $border-primary-color;
    text-align: center;

    //.stats_banner__title
    &__title {
      line-height: 1.2em;
      color: #0f3580;
      font-weight: bold;
      font-size: 2.8vw;
    }
  } //.stats_banner-heading

  //.stats_banner__list
  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    width: 75vw;
  }

  //.stats_banner-item
  &-item {
    position: relative;
    float: left;
    width: 50%;
    height: 0;
    padding-top: 2px;
    padding-bottom: (120/374)*50%;
    border-right: 1px solid #030b1a;

    &:nth-child(2n) {
      float: right;
      border-right: none;
      border-left: 1px solid #030b1a;
    }

    img {
      position: absolute;
      top: 2px;
      width: 100%;
    }
  }

  //.stats_banner__item
  &__item {
    width: 72vw;

    a {
      @include link-decoration(#0f3580, #0f3580, none, none);
      display: flex;
      align-items: center;
      padding: 2vw 0 2vw 1vw;
      font-weight: bold;
    }

    i {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 6vw;
      height: 6vw;
      margin-right: 1vw;
      border-radius: 50%;
      background-color: #0f3580;
    }

    svg {
      margin: 0;
      padding: 0;
      width: 3.8vw;
      height: 3.8vw;
      fill: transparent;
      stroke-width: 0;
      stroke: #fff;

      &.icon--baseball  {
        fill: #fff;
      }
    }

    span {
      display: inline-block;
      line-height: 1.2;
      font-size: 2vw;
      white-space: nowrap;
    }
  } //.stats_banner__item

  //.stats_banner__btn
  &__btn {
    width: 13vw;
    margin-left: 1vw;

    //.stats_banner__btn__link
    &__link {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 11vw;
      height: 6vw;
      border: 1px solid #0f3580;
      border-radius: (6/2)+px;
      font-weight: bold;
      font-size: 2vw;
      text-align: center;

      &:hover {
        background-color: #0f3580;
        color: #fff;
        text-decoration: none;
      }
    }
  }
} // stats_banner
