@import "../../../../../scss/asset";

// pickup
//
// design module pickup
//
// Styleguide 2.13.0

// ---------------------------------------------------------------------
// index.scss より移動
// ---------------------------------------------------------------------

// hero-sec
// トップページ メインビジュアル
.hero {
  $pickup-height: 204px;
  $pickup-anchor-heigt: 152px;
  $pickup-overview-heigt: 52px;

  &-sec {
    background-color: #000;
  }

  &-slider {
    position: relative;
    width: 100%;
    height: $pickup-height;
    overflow: hidden;

    &-inner {
      width: (560/2)+px;
      margin: 0 auto;
      overflow: visible;

      ul {
        @include clearfix;
        width: 200000px;
      }

      li {
        float: left;
        width: (560/2)+px;
        border-right: 5px solid #000;
        border-left: 5px solid #000;

        a {
          position: relative;
          display: block;
          height: $pickup-anchor-heigt;
          // background-color: #061533;
        }

        .overlay,
        .post-comment-num {
          display: none;
        }

        .post {
          $posY: 20/2;

          &-overview {
            position: absolute;
            bottom: -($pickup-overview-heigt);
            width: 100%;
            height: $pickup-overview-heigt;
            padding: 0.5em perCalc(20) ($posY+18)+px;
            background-color: #061533;
          }

          &-heading {
            height: 1.5em;
            overflow: hidden;
            color: #fff;
            font-size: fz(26/2);
          }

          &-category {
            position: absolute;
            bottom: $posY+px;
            color: #fff;
            font-size: fz(20/2);
          }

          &-date,
          &-comment-num {
            font-size: fz(20/2);
          }

          &-date {
            // float: left;
            position: absolute;
            right: perCalc(20);
            bottom: $posY+px;
            color: #999;
          }

          &-comment-num {
            // float: right;
            padding-left: (36/2)+px;
            color: #fff;
            background: url(/assets/sp/images/index/icon-hero-comment.png) 0 center no-repeat;
            background-size: (26/2)+px;
          }
        }
      }
    } //.hero-slider-inner

    &-control {
      position: absolute;
      top: 0;
      width: 100%;

      .direction {
        a {
          position: absolute;
          display: block;
          width: (80/2)+px;
          height: (80/2)+px;
          margin-top: ($pickup-height/2) - 20;
          background-position: center center;
          background-repeat: no-repeat;
          background-size: (80/2)+px;
          @include hide-text;
        }

        &-prev {
          left: 20px;
          background-image: url(/assets/sp/images/index/btn-slider-prev.png);
        }

        &-next {
          right: 20px;
          background-image: url(/assets/sp/images/index/btn-slider-next.png);
        }
      }

      .pager {
        display: none;
      }
    } //.hero-slider-control
  }
}

// ---------------------------------------------------------------------
// slider home motion
// API: pickup
// ---------------------------------------------------------------------

// hero-slider
// トップページ用 メインビジュアルスライダー
#pickup-container {
  $slider-width: 280px;

  .hero-slider {

    .hero-slider-inner {
      position: relative;

      .overlay,
      .post-overview {
        opacity: 0;

        transition-property: opacity;
        transition-duration: 0.25s;
        transition-timing-function: linear;
      }
    }

    // @since 2016-09-20
    // swipe 実装のために ul.pickup-slider left: 0 にする
    // wrapper div.pickup-slider-wrapper を作成しこちらで移動させる
    .pickup-slider-wrapper {
      position: absolute;
      left: 0;
      top: 0;
    }

    // slider の数で位置を調整する
    // .hero-slider.pickup-slider-length-NN
    // @type {number} NN slider の数, 1 ~ 5
    &.pickup-slider-length-1 {
      .pickup-slider-wrapper {
        left: -$slider-width * 1
      }
    }
    &.pickup-slider-length-2 {
      .pickup-slider-wrapper {
        left: -$slider-width * 2
      }
    }
    &.pickup-slider-length-3 {
      .pickup-slider-wrapper {
        left: -$slider-width * 3
      }
    }
    &.pickup-slider-length-4 {
      .pickup-slider-wrapper {
        left: -$slider-width * 4
      }
    }
    &.pickup-slider-length-5 {
      .pickup-slider-wrapper {
        left: -$slider-width * 5
      }
    }

    .pickup-slider {
      position: absolute;
      //left: -$slider-width * 5;
      // @since 2016-09-20
      left: 0;
      top: 0;

      // default position
      transform: translateX(0);

      transition-property: transform;
      transition-duration: 0.5s;

      &.pickup-dragging {
        transition-property: left;
        transition-duration: 0.1s;
      }
    }

    .hero-slider-control {
      .pager {
        a {
          transition-property: background-color;
          transition-duration: 0.25s;
          transition-timing-function: linear;
        }
      }
    }

    // --------------------------------------------------
    // 親コンテナ class に対する 位置
    &.slide-0 {
      .pickup-slider {
        transform: translateX(0);
        transition-duration: 0.5s;

        .pickup-5 {
          .overlay,
          .post-overview {
            opacity: 1;
            transition-duration: 0.25s;
          }
        }
      }
      //.hero-slider-control {
      //  .pager {
      //    .pager-0 {
      //      a {
      //        background-color: $highlight-secondary-color;
      //        transition-duration: 0.25s;
      //      }
      //    }
      //  }
      //}
    }
    &.slide-1 {
      .pickup-slider {
        transform: translateX(-$slider-width * 1);

        .pickup-6 {
          .overlay,
          .post-overview {
            opacity: 1;
          }
        }
      }
      //.hero-slider-control {
      //  .pager {
      //    .pager-1 {
      //      a {
      //        background-color: $highlight-secondary-color;
      //      }
      //    }
      //  }
      //}
    }
    &.slide-2 {
      .pickup-slider {
        transform: translateX(-$slider-width * 2);

        .pickup-7 {
          .overlay,
          .post-overview {
            opacity: 1;
          }
        }
      }
      //.hero-slider-control {
      //  .pager {
      //    .pager-2 {
      //      a {
      //        background-color: $highlight-secondary-color;
      //      }
      //    }
      //  }
      //}
    }
    &.slide-3 {
      .pickup-slider {
        transform: translateX(-$slider-width * 3);

        .pickup-8 {
          .overlay,
          .post-overview {
            opacity: 1;
          }
        }
      }
      //.hero-slider-control {
      //  .pager {
      //    .pager-3 {
      //      a {
      //        background-color: $highlight-secondary-color;
      //      }
      //    }
      //  }
      //}
    }
    &.slide-4 {
      .pickup-slider {
        transform: translateX(-$slider-width * 4);
        transition-duration: 0.5s;

        .pickup-9 {
          .overlay,
          .post-overview {
            opacity: 1;
            transition-duration: 0.25s;
          }
        }
      }
      //.hero-slider-control {
      //  .pager {
      //    .pager-4 {
      //      a {
      //        background-color: $highlight-secondary-color;
      //        transition-duration: 0.25s;
      //      }
      //    }
      //  }
      //}
    }
    // --------------------------------------------------
    // 循環アニメーションのために
    // アニメーションなしで移動させるための設定
    // --------------------------------------------------
    // index 4 -> 0
    &.slide-999 {
      .pickup-slider {
        transform: translateX($slider-width);
        transition-duration: 0s;
        //transition-property: none;

        //.pickup-9 {
        //  .overlay,
        //  .post-overview {
        //    opacity: 1;
        //    transition-duration: 0.5s;
        //  }
        //}
      }
      //.hero-slider-control {
      //  .pager {
      //    .pager-4 {
      //      a {
      //        background-color: $highlight-secondary-color;
      //        transition-duration: 0.5s;
      //      }
      //    }
      //  }
      //}
    }

    // index 0 -> 4
    &.slide-1999 {
      .pickup-slider {
        transform: translateX(-$slider-width * 5);
        transition-duration: 0s;

        //.pickup-5 {
        //  .overlay,
        //  .post-overview {
        //    opacity: 1;
        //    transition-duration: 0.5s;
        //  }
        //}
      }
      //.hero-slider-control {
      //  .pager {
      //    .pager-0 {
      //      a {
      //        background-color: $highlight-secondary-color;
      //        transition-duration: 0.5s;
      //      }
      //    }
      //  }
      //}
    }
  }// .hero-slider
}
