@import "../../../../../scss_sp/asset";
// @import "../sprite";

// Result
//
// design module result
//
// Styleguide 2.10.0

// search-container
.search-container {
  padding-bottom: 0;

  .board-item {
    margin-bottom: 10px !important;
  }

  #board-container-more {
    margin-top: 0 !important;
  }

  .board-btn-viewmore-link {
    margin-bottom: (40/2)+px;
  }
}

// over ride
.body-sec.result {
  .main-sec {
    background-color: #eee;
  }
}

// result-notfound
.result-notfound {
  padding: (80/2)+px 0 (40/2)+px;
  padding-right: perCalc(20);
  padding-left: perCalc(20);

  &-heading {
    font-weight: bold;
    font-size: fz(32/2);
  }

  &-lead {
    margin-top: .25em;
    font-size: fz(24/2);
  }

  .mod-btnA01 {
    margin-top: (40/2)+px;

    a {
      display: block;
      background-color: #fff;
    }
  }

  .sponsor-link {
    border: 1px solid $border-primary-color;
  }
} //.result-notfound
