@import "../../../../../scss_sp/asset";

// Setting
//
// design module setting
//
// Styleguide 2.6.0

// setting-main
.setting-main {
  margin-top: (60/2)+px;
  padding-bottom: (40/2)+px;
}





// setting-side-nav
.setting-side-nav {
  @at-root {
    &-list {
      display: table;
      width: 100%;
      border-top: 1px solid #eee;
    }

    &-item {
      display: table-cell;
      // width: 33%;
      width: 50%;

      &:nth-child(2) {
        // width: 34%;
        // border-right: 1px solid #222;
        // border-left: 1px solid #222;
      }
    }

    &-link {
      @include link-decoration(#999, #999, none, none);
      display: block;
      line-height: (80/2)+px;
      background-color: #ddd;
      font-weight: bold;
      font-size: fz(20/2);
      text-align: center;
      white-space: nowrap;

      &.current {
        background-color: #fff;
        color: $highlight-color;
        font-weight: bold;
      }

      span:before {
        content: '';
        position: relative;
        top: -1px;
        @extend .sp-sprite-setting;
        @include hide-text;
        vertical-align: middle;
      }
    }

    &-basic {
      span:before {
        @include sprite( $setting-icon-nav-basic, inline-block );
      }

      &.current {
        span:before {
          @include sprite( $setting-icon-nav-basic_o, inline-block );
        }
      }
    }

    &-interest {
      span:before {
        @include sprite( $setting-icon-nav-interest, inline-block );
      }

      &.current {
        span:before {
          @include sprite( $setting-icon-nav-interest_o, inline-block );
        }
      }
    }
  } //at-root
}





// setting-form
.setting-form {
  input, button, textarea {
    border: none;
    border-radius: 0;
    background: none;
    outline: none;
    appearance: none;
  }

  @at-root {
    &-mail, &-pw, &-name, &-job, &-submit {
      display: block;
      margin-top: (20/2)+px;
    }

    &-mail, &-pw, &-name, &-job {
      @include clearfix;
      border: 1px solid $border-primary-color;
      border-radius: 3px;

      input {
        //width: 88%;
        // iPhone 5 段落ちするので修正
        width: 86%;
        line-height: (80/2)+px;
        vertical-align: middle;
      }

      &:before {
        position: relative;
        top: 5px;
        left: 5px;
        float: left;
        line-height: 0;
        margin-right: 5px;
        @extend .sp-sprite-setting;
      }

    }

    &-mail {
      &:before {
        @include sprite( $setting-icon-mail, inline-block );
      }
    }

    &-pw {
      &:before {
        @include sprite( $setting-icon-pw, inline-block );
      }
    }

    &-name {
      &:before {
        @include sprite( $setting-icon-name, inline-block );
      }
    }

    &-job {
      &:before {
        @include sprite( $setting-icon-job, inline-block );
      }
    }

    &-avatar {
      margin-top: (60/2)+px;

      &-heading {
        font-weight: bold;
        font-size: fz(24/2);
        text-align: center;
      }

      &-dropArea {
        cursor: pointer;
        width: (180/2)+px;
        height: (180/2)+px;
        margin: (30/2)+px auto 0;
        // border: 2px solid $highlight-color;
        background: url(/assets/sp/images/setting/thumb-avatar.png) center center no-repeat;
        background-size: (180/2)+px;
      }
    }

    &-submit {
      text-align: center;

      input {
        display: block !important;
        width: 100%;
      }
    }

    &-btn-withdraw {
      margin-top: (40/2)+px;
      text-align: center;

      a {
        @include link-decoration(#999, #999, none, underline);
        font-size: fz(20/2);
      }
    }
  } //at-root



  .note {
    line-height: lh(32, 20);
    margin-top: (30/2)+px;
    font-size: fz(20/2);
    letter-spacing: normal;
    text-align: center;

    a {
      @include link-decoration(null, null, underline, underline);
    }
  }



  // interest-setting
  @at-root {
    &-interest {
      &-list {
        // @include clearfix;
      }

      &-item {
        // float: left;
        // width: 160px;
        // height: 90px;
        // margin: 0 0 20px 20px;
        // vertical-align: top;
        margin-top: (20/2)+px;

        &:nth-child(3n+1) {
          // margin-left: 0;
        }

        input {
          display: none;
        }
      }

      &-title {
        cursor: pointer;
        // position: relative;
        display: block;
        width: 100%;
        // height: 100%;
        border-radius: 3px;
        background-color: #eee;

        span {
          display: block;
          // padding: 20px 5px 32px;
          padding: (24/2)+px (10/2)+px (24/2)+px (80/2)+px;
          background: url(/assets/sp/images/setting/icon-check.png) (20/2)+px center no-repeat;
          background-size: (40/2)+px;
          font-weight: bold;
          // text-align: center;
        }
      }

      &-item {
        input:checked + .setting-form-interest-title {
          background-color: $highlight-color;

          span {
            color: #fff;
            background-image: url(/assets/sp/images/setting/icon-check_o.png);
          }
        }
      }

      // .interest-item-extremesports {
      //   label {
      //     font-size: fz(12);
      //   }
      // }
    }
  } //at-root
  // interest-setting

} //.setting-form




// linkage-sns
.linkage-sns {
  margin-top: (100/2)+px;

  .setting-main & {
    margin-bottom: (100/2)+px;
    padding-right: perCalc(50);
    padding-left: perCalc(50);
  }

  @at-root {
    &-item {
      & + & {
        margin-top: (40/2)+px;
      }
    }

    &-link {
      @include link-decoration(#fff, #fff, none, none);
      display: block;
      // line-height: (100/2)+px;
      padding: (30/2)+px;
      border-radius: 3px;

      span {
        position: relative;
        display: block;
        width: 100%;
        line-height: (50/2)+px;
        font-weight: bold;
        font-size: fz(28/2);
        text-align: center;

        &:before {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          margin-right: 20px;
          @extend .sp-sprite-setting;
          @include hide-text;
        }
      }

      &.enable {
        background-color: #999;
      }
    }

    &-tw {
      background-color: #55acee;

      span:before {
        // top: 2px;
        @include sprite( $setting-icon-tw, inline-block );
      }
    }

    &-fb {
      background-color: #3b579d;

      span:before {
        // top: 5px;
        @include sprite( $setting-icon-fb, inline-block );
      }
    }

    &-account {
      display: block;
      margin-top: .5em;
      font-weight: bold;
      font-size: fz(24/2);
      text-align: center;
    }

  } //at-root
} //.linkage-sns





// withdraw
.withdraw {
  padding-right: perCalc(50);
  padding-left: perCalc(50);

  &-lead {
    line-height: lh(36, 24);
    margin: (50/2)+px 0;
    font-weight: bold;
    font-size: fz(24/2);
    text-align: center;
  } //.withdraw-lead

  [ class^="mod-btn" ] {
    input[ type="submit" ],
    input[ type="button" ],
    a {
      display: block !important;
    }
  }
}
