@import "../../../../../scss_sp/asset";

// Signup
//
// design module signup
//
// Styleguide 2.7.0

// signup
// bodyの背景に画像
.signup {
  width: 100%;
  min-height: 100%;
  background: #f5f5f5 url(/assets/sp/images/signup/bg.png) left top repeat;
  background-size: (550/2)+px;
}





// body-sec
// .body-sec .copyrightをオーバーライド
.signup {
  .body-sec {
    position: relative;
    margin-top: (130/2)+px;
    // margin-bottom: (30/2)+px;
    background: none;

    &:before {
      content: '';
      position: absolute;
      top: -(100/2)+px;
      left: 50%;
      width: (130/2)+px;
      height: (100/2)+px;
      margin-left: -(130/2/2)+px;
      background: url(/assets/sp/images/signup/bull-bg.png) 0 0 no-repeat;
      background-size: (130/2)+px;
      @include hide-text;
    }

    &-inner {
      margin-right: perCalc(20);
      margin-left: perCalc(20);
      padding-bottom: (30/2)+px;
      border: (6/2)+px solid $highlight-color;
      border-radius: 6px;
      background: none;
      background-color: #fff;
    }
  }

  .copyright {
    padding-bottom: 15px;
  }
}





// signup-header
.signup-header {
  padding-top: (110/2)+px;

  .heading {
    a {
      display: block;
      width: (360/2)+px;
      height: (40/2)+px;
      background: url(/assets/sp/images/signup/logo.png) 0 0 no-repeat;
      background-size: (360/2)+px;
      @include hide-text;
      margin: 0 auto;
    }
  }

  .lead {
    margin-top: (40/2)+px;
    margin-bottom: -(20/2)+px;
    color: #fff;
    font-size: fz(24/2);
    text-align: center;
  }
}





// signup-heading
.signup-heading {
  padding: (56/2)+px 0 (52/2)+px;
  border-bottom: 1px solid $border-primary-color;

  h1, h2, h3, h4, h5, h6 {
    font-size: fz(34/2);
    text-align: center;
  }

  .btn {
    margin-top: (24/2)+px;
    text-align: center;

    a {
      display: inline-block;
      font-weight: bold;

      &:after {
        content: '';
        // position: relative;
        // top: 1px;
        margin-left: 4px;
        @extend .sp-sprite-common;
        @include sprite( $common-icon-arrow2, inline-block );
        @include hide-text;
      }
    }
  }
} //.signup-heading





// signup-step
.signup-step {
  padding: (30/2)+px perCalc(30) 0;

  @at-root {
    &-list {
      letter-spacing: ls( inline-block );
      background-color: #f5f5f5;
      border-radius: 3px;
    }

    &-item {
      position: relative;
      display: inline-block;
      width: 33.3%;
      letter-spacing: normal;

      &:after {
        content: '';
        position: absolute;
        top: 0;
        right: -(10/2)+px;
        @extend .sp-sprite-setting;
        @include sprite( $setting-step-bg, inline-block );
        @include hide-text;
      }

      span {
        display: block;
        line-height: (50/2)+px;
        font-size: fz(20/2);
        text-align: center;
      }

      &.current {
        background-color: $highlight-color;

        &:after {
          @include sprite( $setting-step-bg_o, inline-block );
        }

        span {
          color: #fff;
          font-weight: bold;
        }
      }
    }

    &-step1,
    &-step2 {
      background-color: #e5e5e5;
    }

    &-step1 {
      z-index: 3;
      border-radius: 3px 0 0 3px;
    }

    &-step2 {
      z-index: 2;
    }

    &-step3 {
      z-index: 1;

      &:after {
        display: none;
      }
    }
  }
} //.signup-step





// register
.register {
  padding-right: perCalc(30);
  padding-left: perCalc(30);

  @at-root {
    &-or {
      z-index: 1;
      position: relative;
      margin-top: (48/2)+px;
      color: #666;
      font-weight: bold;
      font-size: fz(20/2);
      text-align: center;

      &::before, &::after {
        z-index: -1;
        position: absolute;
        font-size: 0;
      }

      &::before {
        content: '';
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 100%;
        border-top: 1px solid #999;
      }

      &::after {
        content: '';
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: (120/2)+px;
        height: (30/2)+px;
        background-color: #fff;
      }
    } //.register-or

    &-mail {
      @include clearfix;
      width: 100%;
      margin-top: (48/2)+px;

      .setting-form-mail,
      .setting-form-submit {
        margin-top: 0;
      }

      // .setting-form-mail {
      //   float: left;
      //   width: perCalc(320, 520);

      //   input {
      //     width: 86%;
      //   }
      // }

      .setting-form-mail {
        width: 100%;
      }

      // .setting-form-submit {
      //   float: right;
      //   width: perCalc(190, 520);

      //   input {
      //     width: 100%;
      //     min-width: initial !important;
      //     min-width: auto !important;
      //   }
      // }

      .setting-form-submit {
        width: 100%;
        margin-top: (20/2)+px;

        input {
          width: 100%;
          min-width: initial !important;
          min-width: auto !important;
        }
      }
    }

    .login-email {
      margin-top: (48/2)+px;

      .setting-form-mail,
      .setting-form-pw {
        input {
          // width: 92%;
        }
      }

    }

    &-link-home {
      margin-top: (30/2)+px;
      text-align: center;

      a {
        @include link-decoration(null, null, underline, underline);
        font-size: fz(24/2);
      }
    }
  } //at-root

  .linkage-sns {
    margin-top: (30/2)+px;

    @at-root {
      &-list {
      }

      &-item {

        & + .linkage-sns-item {
          margin-top: (20/2)+px;
        }

        &:nth-child(2) {
        }
      }

      &-link {
        // width: 250px;
      }
    } //at-root
  }
} //.register





// basic-setting
.basic-setting {
  margin-top: (30/2)+px;
  padding-right: perCalc(30);
  padding-left: perCalc(30);

  .setting-form-submit {
    margin-top: (60/2)+px;
  }
} //.basic-setting





// interest-setting
.interest-setting {
  margin-top: (30/2)+px;
  padding-right: perCalc(30);
  padding-left: perCalc(30);

  &-lead {
    line-height: lh(36, 24);
    margin: (50/2)+px 0;
    font-weight: bold;
    font-size: fz(24/2);
    text-align: center;
  }

  .setting-form-submit {
    margin-top: (30/2)+px;
  }
} //.interest-setting





// pw-reset
.pw-reset {
  // width: 520px;
  // margin: 0 auto;
  padding-right: perCalc(30);
  padding-left: perCalc(30);

  .lead {
    margin-top: (60/2)+px;
    font-size: fz(22/2);
  }

  .mod-btnA01,
  .mod-btnB01 {
    a, input {
      width: 100%;
      min-width: initial !important;
      min-width: auto !important;
    }
  }
} //.pw-reset





// -------------------------------------------------
// override
@import "signup_override";
