@import "../../../../../scss_sp/asset";
@import "../sprite";

// Theme photogallery
//
// design module photogallery theme
//
// Styleguide 2.22.0

.whole.photo-gallery {
  // タイトルを非表示
  .sp-single-header {
    display: none;
  }

  // ページ上部のsnsブロック非表示
  .sp-single-header + .post-sns {
    display: none;
  }

  // 上部写真ページャーにマージン追加
  #detail-photoalbum .nav-photoalbum:first-child {
    padding-top: 20px;
  }

  // 写真下のビッグバナーに余白設定
  #div-gpt-ad-1530770705721-0 {
    margin-bottom: 20px;
    text-align: center;
  }

  // 一覧ページでメインの画像がある場合の余白を調整
  #single-visual-container > .post-kv:first-child {
    margin-top: 0;
    padding-top: 25px;
  }
} //.whole.photo-gallery
