@import "../../../../../scss_sp/asset";
@import "../sprite";

// Theme pyeongchang2018
//
// design module pyeongchang2018 theme
//
// Styleguide 2.19.0

.whole.pyeongchang2018 {
  .medal_list {
    padding-bottom: (40/2)+px;
    border-top: 4px solid #ddd;

    //.medal_list__header
    &__header {
      display: table;
      width: 100%;
      height: (100/2)+px;

      .medal_list__heading {
        display: table-cell;
        vertical-align: middle;
        font-weight: bold;
        font-size: fz(28/2);

        &:before {
          content: "";
          position: relative;
          top: -2px;
          display: inline-block;
          width: (46/2)+px;
          height: (46/2)+px;
          margin-right: 4px;
          background: url(/assets/sp/images/pyeongchang2018/icon-medal_heading.png) 0 0 no-repeat;
          background-size: (46/2)+px;
          vertical-align: middle;
          @include hide-text;
        }
      }

      .medal_list__date {
        display: table-cell;
        text-align: right;
        padding-right: 10px;
        font-size: fz(20/2);
        vertical-align: middle;
      }
    } //.medal_list__header



    //.medal_list__medals
    &__medals {

      table {
        width: 100%;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
      }

      td {
        width: 33.3333%;
        padding-top: (30/2)+px;
        padding-bottom: (30/2)+px;
        background: url(/assets/sp/images/pyeongchang2018/medal-bgline.png) 0 center no-repeat;
        background-size: 1px 75%;
        font-weight: bold;
        text-align: center;

        &:first-child {
          background: none;
        }
      }

      //.medal_list__medal_type
      .medal_list__medal_type {
        //.medal_list__medal_type__icon
        &__icon {
          content: "";
          position: relative;
          top: -2px;
          display: inline-block;
          width: (60/2)+px;
          height: (60/2)+px;
          margin-right: 20px;
          background-position: 0 0;
          background-repeat: no-repeat;
          background-size: (60/2)+px;
          vertical-align: middle;
          @include hide-text;
        }
      }

      .medal_list__medal_type--gold {
        .medal_list__medal_type__icon {
          background-image: url(/assets/sp/images/pyeongchang2018/icon-medal_gold.png);
        }
      }

      .medal_list__medal_type--silver {
        .medal_list__medal_type__icon {
          background-image: url(/assets/sp/images/pyeongchang2018/icon-medal_silver.png);
        }
      }

      .medal_list__medal_type--bronze {
        .medal_list__medal_type__icon {
          background-image: url(/assets/sp/images/pyeongchang2018/icon-medal_bronze.png);
        }
      }

      //.medal_list__medal_total
      .medal_list__medal_total {
        line-height: 1;
        margin-top: (40/2)+px;
        font-weight: bold;
        font-size: fz(36/2);
        text-align: center;

        span {
          margin-left: (40/2)+px;
        }
      }
    }
  } //.medal_list


} //.whole.pyeongchang2018
