@import "../../../../../scss_sp/asset";
@import "../sprite";

// Theme pyeongchang2018
//
// design module pyeongchang2018 theme
//
// Styleguide 2.19.0

.whole.pyeongchang2018 {
  .medal_list {
    padding-bottom: (40/2)+px;
    border-top: 4px solid #ddd;
    border-bottom: 1px solid #ddd;

    //.medal_list__header
    &__header {
      display: table;
      width: 100%;
      height: (100/2)+px;

      .medal_list__heading {
        display: table-cell;
        padding-left: perCalc(15, 750);
        vertical-align: middle;
        font-weight: bold;
        font-size: fz(28/2);

        &:before {
          content: "";
          position: relative;
          top: -2px;
          display: inline-block;
          width: (46/2)+px;
          height: (46/2)+px;
          margin-right: 4px;
          background: url(/assets/sp/images/pyeongchang2018/icon-medal_heading.png) 0 0 no-repeat;
          background-size: (46/2)+px;
          vertical-align: middle;
          @include hide-text;
        }
      }

      .medal_list__date {
        display: table-cell;
        text-align: right;
        padding-right: perCalc(15, 750);
        font-size: fz(20/2);
        vertical-align: middle;
      }
    } //.medal_list__header



    //.medal_list__medals
    &__medals {

      table {
        width: 100%;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
      }

      td {
        width: 33.3333%;
        padding-top: (30/2)+px;
        padding-bottom: (30/2)+px;
        background: url(/assets/sp/images/pyeongchang2018/medal-bgline.png) 0 center no-repeat;
        background-size: 1px 75%;
        font-weight: bold;
        text-align: center;

        &:first-child {
          background: none;
        }
      }

      //.medal_list__medal_type
      .medal_list__medal_type {
        //.medal_list__medal_type__icon
        &__icon {
          content: "";
          position: relative;
          top: -2px;
          display: inline-block;
          width: (60/2)+px;
          height: (60/2)+px;
          margin-right: 20px;
          background-position: 0 0;
          background-repeat: no-repeat;
          background-size: (60/2)+px;
          vertical-align: middle;
          @include hide-text;
        }
      }

      .medal_list__medal_type--gold {
        .medal_list__medal_type__icon {
          background-image: url(/assets/sp/images/pyeongchang2018/icon-medal_gold.png);
        }
      }

      .medal_list__medal_type--silver {
        .medal_list__medal_type__icon {
          background-image: url(/assets/sp/images/pyeongchang2018/icon-medal_silver.png);
        }
      }

      .medal_list__medal_type--bronze {
        .medal_list__medal_type__icon {
          background-image: url(/assets/sp/images/pyeongchang2018/icon-medal_bronze.png);
        }
      }

      //.medal_list__medal_total
      .medal_list__medal_total {
        line-height: 1;
        margin-top: (40/2)+px;
        font-weight: bold;
        font-size: fz(36/2);
        text-align: center;

        span {
          margin-left: (40/2)+px;
        }
      }
    }
  } //.medal_list





  //記事詳細ページ
  //.post-single
  .pyeongchang2018-powered-by {
    margin-top: 4px;
    margin-left: perCalc(15, 750);
    margin-right: perCalc(15, 750);

    img {
      width: (210/2)+px;
    }
  }
  //.post-single





  //.gallery--highlight
  //.gallery--photo
  [class*="gallery--"] {
    &:before {
      content: "";
      display: block;
      width: 100%;
      height: (10/2)+px;
      background-color: #eee;
      border-bottom: 1px solid #ddd;
    }

    @at-root {
    .gallery__header {
      display: table;
      width: 100%;
      height: (96/2)+px;
      border-bottom: 1px solid #ddd;
    }

    .gallery__heading {
      display: table-cell;
      padding-left: perCalc(15, 750);
      vertical-align: middle;
      font-weight: bold;
      font-size: fz(28/2);

      &:before {
        content: "";
        position: relative;
        top: -1px;
        display: inline-block;
        width: (46/2)+px;
        height: (46/2)+px;
        margin-right: 4px;
        background-position: 0 center;
        background-repeat: no-repeat;
        background-size: (46/2)+px;
        vertical-align: middle;
        @include hide-text;
      }
    } //.gallery__heading

    .gallery__link {
      display: table-cell;
      padding-right: perCalc(15, 750);
      text-align: right;
      vertical-align: middle;

      a {
        @include link-decoration(#333, #333, none, none);
        display: inline-block;
        font-weight: bold;
        font-size: fz(24/2);

        &:after {
          content: "";
          display: inline-block;
          width: 8px;
          height: 8px;
          // margin-left: 2px;
          border-top: 2px solid #333;
          border-right: 2px solid #333;
          transform: rotate(45deg);
          @include hide-text;
        }
      }
    } //.gallery__link

    //.gallery__date
    .gallery__date {
      display: table-cell;
      padding-right: perCalc(15, 750);
      font-weight: bold;
      font-size: fz(24/2);
      text-align: right;
      vertical-align: middle;
    } //.gallery__date

    //.gallery__header__logo
    .gallery__header__logo {
      display: table-cell;
      padding-right: perCalc(15, 750);
      text-align: right;
      vertical-align: middle;

      img {
        width: (210/2)+px;
      }
    } //.gallery__header__logo
    } //at-root
  }
  //.gallery--highlight
  //.gallery--photo

  //.gallery__header--top
  .gallery__header--top {
    border-top: 1px solid #ddd;
  } //.gallery__header--top

  &.pyeongchang2018-movie .gallery__header--top {
    border-bottom: none;
  }

  &.pyeongchang2018-photo .gallery--photo {
    border-top: 1px solid #ddd;

    &:before {
      display: none;
    }
  }

  //.gallery--highlight
  .gallery--highlight,
  &.pyeongchang2018-movie .gallery__header--top {
    .gallery__heading:before {
      background-image: url(/assets/sp/images/pyeongchang2018/icon-highlight_heading.png);
    }
  }

  //.gallery--photo
  .gallery--photo {
    .gallery__heading:before {
      background-image: url(/assets/sp/images/pyeongchang2018/icon-photo_heading.png);
    }
  }



  //.articles-widget
  .articles-widget {
    width: perCalc(720, 750);
    margin-right: auto;
    margin-left: auto;
    padding-bottom: (20/2)+px;

    .thumbs_list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      li {
        width: perCalc(350, 720);
        margin-top: (20/2)+px;
      }

      img {
        width: 100%;
        max-width: 100%;
      }

      a {
        @include link-decoration(null, null, none, none);
      }
    } //.thumbs_list
  } //.articles-widget

  //.gallery--highlight
  .gallery--highlight {
    .articles-widget {
      .thumbs_list.text{

        figure {
          position: relative;

          &:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: #000;
            @include opacity(0.2);
          }

          &:after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: (60/2)+px;
            height: (60/2)+px;
            background: url(/assets/sp/images/pyeongchang2018/icon-play.png) 0 0 no-repeat;
            background-size: (60/2)+px;
            @include hide-text;
          }
        }

        .title {
          width: 90%;
          margin: (10/2)+px auto 0;
          overflow: hidden;
          text-overflow: ellipsis;
          font-weight: bold;
          font-size: fz(22/2);
          text-align: center;
          white-space: nowrap;
        }
      } //.thumbs_list.text
    } //.articles-widget
  } //.gallery--highlight

  //.gallery--photo
  .gallery--photo {
    .articles-widget {
      .thumbs_list.text{
        figure {
          position: relative;
          padding: (44/2)+px (8/2)+px;
          background-color: #e7e7e7;

          &:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: #fff;
            @include opacity(0);
          }
        }

        .title {
          width: 154px;
          margin: 10px auto;
          overflow: hidden;
          text-overflow: ellipsis;
          font-weight: bold;
          font-size: fz(12);
          text-align: center;
          white-space: nowrap;
        }

        a:hover {
          figure:before {
            @include hover-opacity(0.2);
          }
        }
      } //.thumbs_list.text
    } //.articles-widget
  } //.gallery--photo





  //.widget-pyeongchang-highlight
  .widget-pyeongchang-highlight {
    //.gallery--highlight
    .gallery--highlight {
      border-top: 1px solid #ddd;

      &:before {
        display: none;
      }

      //.gallery__header
      .gallery__header {
        height: auto;
        padding-top: (28/2)+px;
        border-bottom: none;
      }

      //.gallery__heading
      .gallery__heading {
        font-size: fz(24/2);

        &:before {
          display: none;
        }
      }
    } //.gallery--highlight

    //.Widget_articles_tag
    .Widget_articles_tag {
      width: perCalc(720, 750);
      margin-right: auto;
      margin-left: auto;
      padding-bottom: (20/2)+px;

      //.thumbs_list
      .thumbs_list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }

      //.widget-item
      .widget-item {
        width: perCalc(350, 720);
        margin-top: (20/2)+px;

        img {
          width: 100%;
          max-width: 100%;
        }

        a {
          @include link-decoration(null, null, none, none);
        }

        //.widget-item-figure
        &-figure {
          position: relative;

          &:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: #000;
            @include opacity(0.2);
          }

          &:after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: (60/2)+px;
            height: (60/2)+px;
            background: url(/assets/sp/images/pyeongchang2018/icon-play.png) 0 0 no-repeat;
            background-size: (60/2)+px;
            @include hide-text;
          }
        } //.widget-item-figure

        //.widget-item-title
        &-title {
          width: 90%;
          margin: (10/2)+px auto 0;
          overflow: hidden;
          text-overflow: ellipsis;
          font-weight: bold;
          font-size: fz(22/2);
          text-align: center;
          white-space: nowrap;
        } //.widget-item-title
      } //.widget-item
    } //.Widget_articles_tag
  } //.widget-pyeongchang-highlight

  //.sponsor-link
  .sponsor-link {
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #eee;

    > div {
      margin-right: auto;
      margin-left: auto;
    }
  } //.sponsor-link
} //.whole.pyeongchang2018
