@import "../../../../../scss_sp/asset";
@import "../sprite";

// Theme parasports
//
// design module parasports theme
//
// Styleguide 2.20.0

.whole.parasports {
  .paraboard__widjet {

    &:before {
      content: "";
      display: block;
      width: 100%;
      height: (10/2)+px;
      background-color: #eee;
      @include hide-text;
    }

    //.paraboard__widjet__header
    &__header {
      background-color: #474e5c;

      //.paraboard__widjet__header__sub
      &__sub {
        display: table;
        width: 100%;
        height: (100/2)+px;

        //.paraboard__widjet__header__sub__heading
        &__heading {
          display: table-cell;
          line-height: 1.2;
          padding-left: perCalc(15, 750);
          vertical-align: middle;
          color: #fff;
          font-weight: bold;
          font-size: fz(32/2);

          span {
            display: block;
            font-weight: normal;
            font-size: fs(20, 32);
          }
        }

        //.paraboard__widjet__header__sub__btn
        &__btn {
          display: table-cell;
          padding-right: perCalc(15, 750);
          text-align: right;
          vertical-align: middle;

          a {
            @include link-decoration(#fff, #fff, none, none);
            display: inline-block;
            padding: (12/2)+px (16/2)+px (12/2)+px (24/2)+px;
            border-radius: 3px;
            background-color: #e83851;
            font-weight: bold;
            font-size: fz(24/2);

            &:after {
              content: "";
              position: relative;
              top: -1px;
              display: inline-block;
              width: 5px;
              height: 5px;
              margin-left: 4px;
              border-top: 2px solid #fff;
              border-right: 2px solid #fff;
              transform: rotate(45deg);
              @include hide-text;
            }
          } // a
        } //.paraboard__widjet__header__sub__btn
      } //.paraboard__widjet__header__sub
    } //.paraboard__widjet__header



    //.paraboard__widjet__list
    &__list {
      border-top: 1px solid #3b3f46;
      width: 100%;

      //.paraboard__widjet__list__date
      &__date {
        color: #fff;
        font-size: fz(24/2);
      } //.paraboard__widjet__list__date

      //.paraboard__widjet__list__game
      &__game {
        border-bottom: 1px solid #3b3f46;

        //.paraboard__widjet__list__game__link
        &__link {
          position: relative;
          display: block;
          padding: (16/2)+px perCalc(15, 750);
          @include link-decoration(null, null, none, none);
          background-color: #474e5c;
        } //.paraboard__widjet__list__game__link

        //.paraboard__widjet__list__game__header
        &__header {
          position: relative;
          padding-left: (70/2)+px;

          &:before {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            display: inline-block;
            width: (60/2)+px;
            height: (60/2)+px;
            margin-top: -15px;
            background-position: 0 0;
            background-repeat: no-repeat;
            background-size: (60/2)+px;
            @include hide-text;
          }

          &.paraboard__widjet__list__icon--basketball:before {
            background-image: url(/assets/sp/images/para-board/icon-basketball.png);
          }

          &.paraboard__widjet__list__icon--goalball:before {
            background-image: url(/assets/sp/images/para-board/icon-goalball.png);
          }

          &.paraboard__widjet__list__icon--rugby:before {
            background-image: url(/assets/sp/images/para-board/icon-rugby.png);
          }

          &.paraboard__widjet__list__icon--soccer:before {
            background-image: url(/assets/sp/images/para-board/icon-soccer.png);
          }

          &.paraboard__widjet__list__icon--swimming:before {
            background-image: url(/assets/sp/images/para-board/icon-swimming.png);
          }

          &.paraboard__widjet__list__icon--tennis:before {
            background-image: url(/assets/sp/images/para-board/icon-tennis.png);
          }

          &.paraboard__widjet__list__icon--track:before {
            background-image: url(/assets/sp/images/para-board/icon-track.png);
          }

          &.paraboard__widjet__list__icon--volleyball:before {
            background-image: url(/assets/sp/images/para-board/icon-volleyball.png);
          }

          //.paraboard__widjet__list__game__header__category
          &__category {
            color: #fff;
            font-weight: bold;
            font-size: fz(24/2);
          } //.paraboard__widjet__list__game__header__category

          //.paraboard__widjet__list__game__header__heading
          &__heading {
            line-height: 1.2;
            color: #fff;
            font-weight: bold;
            font-size: fz(28/2);
          } //.paraboard__widjet__list__game__header__heading
        } //.paraboard__widjet__list__game__header

        //.paraboard__widjet__list__game__btn
        &__btn {
          position: absolute;
          top: 50%;
          right: 20px;
          transform: translateY(-50%);

          span {
            color: #fff;
            font-weight: bold;
            font-size: fz(13);
            @include hide-text;

            &:after {
              content: "";
              position: relative;
              top: -1px;
              display: inline-block;
              width: 5px;
              height: 5px;
              margin-left: 4px;
              border-top: 2px solid #e83851;
              border-right: 2px solid #e83851;
              transform: rotate(45deg);
              @include hide-text;
            }
          } // span
        } //.paraboard__widjet__list__game__btn
      } //.paraboard__widjet__list__game
    } //.paraboard__widjet__list
  } //.paraboard__widjet


} //.whole.parasports
