@import "../../../../../scss_sp/asset";
@import "../sprite";

// Theme Motorsports
//
// design module Motorsports theme
//
// Styleguide 2.15.0

.whole.motorsports {
  .motorsports__category-btns {
    padding-bottom: (20/2)+px;
    background-color: #000;

    //.motorsports__category-btns__list
    &__list {
      width: perCalc(710, 750);
      margin: 0 auto;
      overflow: hidden;

    }

    //.motorsports__category-btns__item
    &__item {
      float: left;
      width: perCalc(345, 710);
      margin-top: (20/2)+px;

      &:nth-child(2n) {
        float: right;
      }
    }
  }
}
