@import "../../../../../scss_sp/asset";
@import "../sprite";

// Theme Dark
//
// design module Dark theme
//
// Styleguide 2.13.0

.whole.dark {
  .body-sec-inner {
    // background-color: #000;
  }

  .main-sec > .sponsor-link {
    margin: 0 perCalc(20);
    padding: 10px 0;
  }

  .board-large {
    background-color: #000;
  }
} //.dark


.whole.dark {
  &.post-single {
    .body-sec-inner {
      background-color: #fff;
    }
  }
}


.whole.dark {
  .loading-root {
    .loading-spinner {
      background-color: #000;
    }
  }
}
