@import "../../../../../scss_sp/asset";
@import "../sprite";

// User
//
// design module user
//
// Styleguide 2.5.0

// user-signup
.user-signup {
  margin: (80/2)+px 0;
  padding: 0 perCalc(50);

  &-lead {
    font-size: fz(26/2);
    text-align: center;
  }

  &-btn-signup {
    margin-top: (56/2)+px;

    a {
      display: block !important;
    }
  }

  &-or {
    z-index: 1;
    position: relative;
    margin-top: (48/2)+px;
    color: #666;
    font-weight: bold;
    font-size: fz(20/2);
    text-align: center;

    &::before, &::after {
      z-index: -1;
      position: absolute;
      font-size: 0;
    }

    &::before {
      content: '';
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 100%;
      border-top: 1px solid #999;
    }

    &::after {
      content: '';
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: (120/2)+px;
      height: (30/2)+px;
      background-color: #fff;
    }
  }

  &-note {
    margin-top: (52/2)+px;
    font-size: fz(24/2);
    text-align: center;
  }

  &-btn-login {
    margin-top: (28/2)+px;

    a {
      display: block !important;
      background-color: #333 !important;
    }
  }
} //.user-signup




// user-btn-setting
.user-btn-setting {
  @include link-decoration(#666, #666, none, none);
  position: absolute;
  right: perCalc(20);
  top: 50%;
  transform: translateY(-50%);
  font-weight: bold;
  font-size: fz(24/2);

  &:before {
    content: '';
    position: relative;
    top: 1px;
    margin-right: 4px;
    @extend .sp-sprite-common;
    @include sprite( $common-icon-config, inline-block );
    @include hide-text;
  }
} //.user-btn-setting





// user-config
.user-config {
  background-color: #000;

  .user-profile {
    padding-top: (24/2)+px;

    @at-root {
      &-avatar {
        width: (100/2)+px;
        height: (100/2)+px;
        margin: 0 auto;
        border-radius: 100%;
        background: url(/assets/sp/images/common/thumb-user-info.png) 0 0 no-repeat;
        background-size: (100/2)+px;

        img {
          display: block;
          width: (100/2)+px;
          height: (100/2)+px;
          border-radius: 100%;
        }

        &.user-logged-in {
          background: none;
        }
      }

      &-data {
        margin-top: (24/2)+px;
      }

      &-name {
        color: #fff;
        font-weight: bold;
        font-size: fz(32/2);
        text-align: center;
      }

      &-job {
        color: #999;
        font-weight: bold;
        font-size: fz(24/2);
        text-align: center;
      }

      &-favorite {
        margin-top: (40/2)+px;
        padding: (30/2)+px perCalc(20);
        background-color: #222;
        // letter-spacing: ls( inline-block );
        font-size: fz(12);

        @at-root {
          &-heading, &-list {
            // display: inline-block;
            // letter-spacing: normal;
          }

          &-heading {
            color: #999;
            font-weight: bold;
            font-size: fz(24/2);
            text-align: center;
          }

          &-list {
            text-align: center;
          }

          &-item {
            font-size: fz(22/2);

            &:after {
              content: '/';
              margin: 0 5px;
              color: #999;
            }

            &:last-child:after {
              display: none;
            }

            a {
              @include link-decoration($highlight-color, $highlight-color, none, none);
              // white-space: nowrap;
            }
          }
        }
      }//.user-profile-favorite
    }
  } //.user-profile

  @at-root {
    &-control {
    }

    &-nav {
      @include clearfix;
      width: 100%;

      a {
        @include link-decoration(#fff, $highlight-color, none, none);
        float: left;
        display: block;
        width: 50%;
        // min-height: 44px;
        // line-height: 1;
        padding: (24/2)+px 0;
        background-color: #555;
        text-align: center;

        &.current {
          color: $highlight-color;
          background-color: #fff;
        }

        span {
          position: relative;
          display: inline-block;
          font-weight: bold;
          font-size: fz(24/2);

          &:before {
            content: '';
            @extend .sp-sprite-common;
            margin-right: 4px;
            position: relative;
            top: 2px;
          }
        }
      }

      &-bookmark {
        span {
          &:before {
            @include sprite( $common-icon-bookmark, inline-block );
          }
        }

        &.current {
          span:before {
            @include sprite( $common-icon-bookmark_o, inline-block );
          }
        }
      }

      &-activity {
        span {
          &:before {
            top: 3px !important;
            @include sprite( $common-icon-activity, inline-block );
          }
        }

        &.current {
          span:before {
            @include sprite( $common-icon-activity_o, inline-block );
          }
        }
      }
    } //.user-config-nav
  }
}



.user-config-info {
  position: relative;
  padding-right: perCalc(20);
  padding-bottom: (24/2)+px;
  padding-left: perCalc(20);

  .user-profile {
    display: table;

    &-avatar,
    &-data {
      display: table-cell;
      vertical-align: middle;
    }

    &-data {
      margin-top: 0;
      padding-left: (20/2)+px;
    }
  }

  .user-btn-mypage {
    position: absolute;
    right: perCalc(20);
    top: 50%;
    transform: translateY(-50%);

    &:after {
      content: '';
      // position: relative;
      // top: 1px;
      margin-left: 4px;
      @extend .sp-sprite-common;
      @include sprite( $common-icon-arrow1, inline-block );
      @include hide-text;
    }
  }
}





// activity, info
.info,
.activity {
  // margin-top: (20/2)+px;
  margin-bottom: (40/2)+px;

  @at-root {
    &-list {
      // border-top: 1px solid $border-primary-color;
    }

    &-item {}

    &-link {
      @include link-decoration(#333, #333, none, none);
      position: relative;
      display: block;
      padding: (20/2)+px perCalc(20);
      border-bottom: 1px solid $border-primary-color;
      font-size: fz(22/2);
    }

    &-content {}

    &-date {
      // margin-top: .25em;
      color: #666;
      font-size: fs(18, 22);
    }
  }
}



// activity
.activity {
  @at-root {
    &-content {
      strong {
        color: $highlight-color;
      }
    }
  }
}



// .info
.info {
  @at-root {
    // &-btn-readAll {
    //   min-height: 1em;
    //   margin-bottom: 20px;
    //   text-align: right;

    //   a {
    //     font-weight: bold;
    //   }
    // }

    &-link {
      padding-left: (90/2)+px;

      &,
      &.unread {
        background-color: $bg-primary-color;
      }

      &.read {
        background-color: #fff;
      }

      &:hover,
      &.unread:hover,
      &.read:hover {
        // background-color: #ffe9f3;
      }
    }

    &-user-thumb {
      position: absolute;
      top: (20/2)+px;
      left: (20/2)+px;
      width: (50/2)+px;
      height: (50/2)+px;
      margin-right: (20/2)+px;
      border-radius: 100%;
      background: url(/assets/sp/images/common/thumb-user-info.png) 0 0 no-repeat;
      background-size: (50/2)+px;

      img {
        width: (50/2)+px;
        border-radius: 100%;
      }

      &.user-logged-in {
        background: none;
      }
    }

    &-content {
      overflow: hidden;

      strong {
        color: $highlight-color;
      }
    }

    &-date {
      overflow: hidden;
    }
  }
}

// -------------------------------------------------
// override
@import "user_override";
