@import "../../../../../scss_sp/asset";
@import "../sprite";

// Utility
//
// design module utility
//
// Styleguide 2.1.0

// responsive tool
.word_break {
  display: block;
}

.other {
  .show-for-pc { display: inherit !important;}
  .show-for-sp,
  .hide-for-sp { display: none !important;}
}

.mobile,
.undotsushin-ios,
.undotsushin-android {
  .show-for-pc,
  .hide-for-pc { display: none !important;}
  .show-for-sp { display: block !important;}
}

.other,
.mobile {
  .show-for-app { display: none !important;}
  .hide-for-app { display: inherit !important;}
}

.undotsushin-ios,
.undotsushin-android {
  .show-for-app { display: inherit !important;}
  .hide-for-app { display: none !important;}
}

@include screen('large') {
  .show-for-large { display: inherit !important;}
  .hide-for-large,
  .show-for-small { display: none !important;}
}

@include screen('small') {
  .show-for-small { display: inherit !important;}
  .hide-for-small,
  .show-for-large { display: none !important;}
}






// hover-opacity
// hover で 透過率 0.75 にします (CSSアニメーション付)
// $opacity=.75 - hover時の透過率
@mixin hover-opacity($opacity:.75) {
  opacity: $opacity;
  transition: opacity ease-out .4s;
  @content;
}





// dropMenu
%dropMenu {
  position: relative;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 0 3px rgba(0,0,0,.2);
  // box-shadow:rgba(0, 0, 0, 0.08) 0px 0px 5px 1px;

  &:before {
    content: '';
    position: absolute;
    top: 2px;
    right: 13px;
    @extend .sp-sprite-common;
    @include sprite( $common-icon-user-menu );
  }
}





// modal-dialogue
%modal-dialogue {
  z-index: 99999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .modal-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
  }

  .modal-dialogue-contents {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);

    padding: (30/2)+px;
    border-radius: 4px;
    background-color: #fff;

    .lead {
      font-size: fz(24/2);
    }
  }
}





// font face

// icon like
@font-face {
  font-family: 'icon-like';
  src:url('/assets/fonts/icon-like/icon-like.eot');
  src:url('/assets/fonts/icon-like/icon-like.eot?#iefix') format('embedded-opentype'),
      url('/assets/fonts/icon-like/icon-like.ttf') format('truetype'),
      url('/assets/fonts/icon-like/icon-like.woff') format('woff'),
      url('/assets/fonts/icon-like/icon-like.svg#icon-like') format('svg');
  font-weight: normal;
  font-style: normal;
}





// ratio controll
@mixin aspect-ratio($width, $height) {
  position: relative;

  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }

  > .ratio#{$width}_#{$height}-inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.ratio16_9 {
  @include aspect-ratio(16, 9);

  iframe,
  video {
    width: 100%;
    height: 100%;
  }

  .video-js {
    width: 100% !important;
    height: 100% !important;
  }
}





// アドジェネオーバーライド

// コメント型
// .comment-ad
%adgAd-override_comment {
  .adsSponsored {
    color: $highlight-color !important;
  }

  .adsButtonText {
    background-color: $highlight-color !important;
  }
}

// ボックス型
// .result-notfound
// .sponsor-link_commentLower
%adgAd-override_box {
  .adsWrapper {
    padding: 0 0 (20/2)+px 0 !important;
  }

  .adsTitle,
  .adsSponsored,
  .adsDescription,
  .adsButton {
    padding-right: (20/2)+px;
    padding-left: (20/2)+px;
  }

  .adsSponsored {
    color: $highlight-color !important;
  }

  .adsButtonText {
    background-color: $highlight-color !important;
  }
}
