# auth1. 特定のIPを許可

# limret
SetEnvIf Remote_Addr "153\.156\.72\.223" allowed_ip_addresses

# parachute
SetEnvIf Remote_Addr "183\.76\.75\.12" allowed_ip_addresses
SetEnvIf Remote_Addr "124\.155\.123\.66" allowed_ip_addresses
SetEnvIf Remote_Addr "153\.124\.179\.59" allowed_ip_addresses

# axesor
SetEnvIf Remote_Addr "124\.219\.166\.154" allowed_ip_addresses

# grandbase
SetEnvIf Remote_Addr "202\.248\.219\.58" allowed_ip_addresses
SetEnvIf Remote_Addr "124\.155\.55\.235" allowed_ip_addresses

# kiito
SetEnvIf Remote_Addr "120\.51\.210\.154" allowed_ip_addresses
SetEnvIf Remote_Addr "120\.143\.4\.92" allowed_ip_addresses

# popin
SetEnvIf Remote_Addr "54\.248\.85\.239" allowed_ip_addresses
SetEnvIf Remote_Addr "175\.41\.247\.44" allowed_ip_addresses

# iret
SetEnvIf Remote_Addr "210\.227\.234\.114" allowed_ip_addresses
SetEnvIf Remote_Addr "54\.64\.137\.251" allowed_ip_addresses
SetEnvIf Remote_Addr "153\.156\.83\.31" allowed_ip_addresses

# CCI
SetEnvIf Remote_Addr "210\.254\.134\.36" allowed_ip_addresses

# HC
SetEnvIf Remote_Addr "153\.156\.28\.183" allowed_ip_addresses
SetEnvIf Remote_Addr "153\.142\.158\.5" allowed_ip_addresses
SetEnvIf Remote_Addr "118\.238\.224\.106" allowed_ip_addresses
SetEnvIf Remote_Addr "118\.240\.191\.245" allowed_ip_addresses

Order Deny,Allow
Deny from All
Allow from env=allowed_ip_addresses

# auth2. 上記以外はベーシック認証
AuthType Basic
AuthUserFile /var/www/sportsbull.jp/.htpasswd
AuthGroupFile /dev/null
AuthName "Put user name and password."
require valid-user

# auth1, auth2 いずれかOKなら
Satisfy Any

<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin https://imasdk.googleapis.com
    Header set Access-Control-Allow-Credentials true
</IfModule>


redirect /prg_img/ https://dev-img.sportsbull.jp/
redirect /users/ https://dev-img.sportsbull.jp/users/


php_flag magic_quotes_gpc off
php_flag register_global off
php_flag display_errors on
php_value upload_max_filesize '20M'
php_value session.auto_start 1
php_value session.use_cookies 1
php_value session.cookie_lifetime 2592000
php_value session.gc_maxlifetime 2592000
php_value session.save_path '/tmp'
php_value include_path '/var/www/sportsbull.jp/dev/include'
php_value auto_prepend_file 'prependfile/inc.php'
php_value mbstring.language Japanese
php_value mbstring.internal_encoding UTF-8
php_value mbstring.http_output UTF-8
php_value error_reporting 6133


# for Slim - /app/Slim
# ==============================
RewriteEngine On
RewriteBase /
DirectorySlash On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} -d
RewriteCond %{REQUEST_FILENAME}/index.html !-f
RewriteCond %{REQUEST_FILENAME}/index.php !-f
RewriteRule ^ index.php [QSA,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]
