<!DOCTYPE html>
<html dir="ltr" xmlns:og="http://ogp.me/ns#" lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>サッカー日本代表リアルタイム速報 | スポーツブル / SPORTS BULL</title>
        <meta name="keywords" content="スポーツ,メディア,クレイジー,アスリート,ニュース,動画,sports,media,crazy">
        <meta name="description" content="スポーツブルは、インターネットスポーツメディアです。数十社の良質なスポーツ媒体と連携し、話題のスポーツニュース記事、動画をいち早くお届けします。また、ここでしか見ることの出来ないオリジナル記事や、番組を配信しています。スマートフォンはもちろん、PC、タブレットでもお楽しみいただけます。">
        <meta name="apple-itunes-app" content="app-id=1086719653">
        <!-- sns ogp -->
        <meta property="fb:app_id" content="842032129256034">
        <meta property="og:site_name" content="スポーツブル / SPORTS BULL">
        <meta property="og:type" content="article">
        <meta property="og:title" content="サッカー日本代表リアルタイム速報">
        <meta property="og:image" content="https://sportsbull.jp/sokuhou/img/spbl-scwc171010-1200x630.png">
        <meta property="og:url" content="https://sportsbull.jp/sokuhou/">
        <meta property="og:description" content="スポーツブルは、インターネットスポーツメディアです。数十社の良質なスポーツ媒体と連携し、話題のスポーツニュース記事、動画をいち早くお届けします。また、ここでしか見ることの出来ないオリジナル記事や、番組を配信しています。スマートフォンはもちろん、PC、タブレットでもお楽しみいただけます。">
        <meta property="og:locale" content="ja_JP" />
        <!-- twitter card -->
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@sportsbull_jp">
        <meta name="twitter:title" content="サッカー日本代表リアルタイム速報 | スポーツブル / SPORTS BULL">
        <meta name="twitter:image" content="https://sportsbull.jp/sokuhou/img/spbl-scwc171010-1200x630.png">
        <meta name="twitter:url" content="https://sportsbull.jp/sokuhou/">
        <meta name="twitter:description" content="スポーツブルは、インターネットスポーツメディアです。数十社の良質なスポーツ媒体と連携し、話題のスポーツニュース記事、動画をいち早くお届けします。また、ここでしか見ることの出来ないオリジナル記事や、番組を配信しています。スマートフォンはもちろん、PC、タブレットでもお楽しみいただけます。">
        <!-- favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="/assets/sp/images/common/apple-touch-icon.png">
        <link rel="apple-touch-icon-precomposed" href="/assets/sp/images/common/apple-touch-icon.png">
        <link rel="shortcut icon" href="/assets/images/common/favicon.ico">
        <link rel="icon" sizes="192x192" href="/assets/sp/images/common/apple-touch-icon.png">
        <link rel="stylesheet" href="/assets/css/ui.css?var=20170324" media="only screen and (min-width: 769px)">
        <link rel="stylesheet" href="/assets/sp/css/ui.css?var=20170324" media="only screen and (max-width: 768px)">
        <!-- common -->
        <script>
            (function(i, s, o, g, r, a, m)
            {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function()
                {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
            ga('create', 'UA-74679267-1', 'auto');
            ga('require', 'linkid');
            ga('require', 'displayfeatures');
            ga('send', 'pageview');
        </script>
        <!-- //common -->
        <link rel="stylesheet" href="/sokuhou/css/style_2017_dst_2.css?var=2017">
        <!-- ad/soccer-sp-anchor -->
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push(
            {
                google_ad_client: "ca-pub-8613117509675807",
                enable_page_level_ads: true
            });
        </script>
        <!-- // ad/soccer-sp-anchor -->
        <script type="text/javascript">
            var googletag = googletag ||
            {};
            googletag.cmd = googletag.cmd || [];
            (function()
            {
                var gads = document.createElement('script');
                gads.async = true;
                gads.type = 'text/javascript';
                var useSSL = 'https:' == document.location.protocol;
                gads.src = (useSSL ? 'https:' : 'http:') + '//www.googletagservices.com/tag/js/gpt.js';
                var node = document.getElementsByTagName('script')[0];
                node.parentNode.insertBefore(gads, node);
            })();
        </script>
    </head>
    <body id="top">
        <div id="soccer_report" data-gameid="2017101005" class="whole" v-bind:class="[{ 'loaded': mount }]">
            <div class="loading" v-if="!mount">ロード中</div>
            <header id="header" v-bind:class="[{ 'loaded': loadState }]">
                <div class="pageTitle">
                    <p class="logo">
                        <a href="/">
                            <img src="/sokuhou/img/logo.png" alt="SPORTS BULL">
                        </a>
                    </p>
                </div>
                <h1>
                    <img src="/sokuhou/img/ttl_kirin2017.png" alt="サッカー日本代表 リアルタイム速報 キリンチャレンジカップ2017">
                </h1>
                <div class="fixtures">
                    <p class="flag jp">
                        <span>{{ gameinfo.team[0].teaminfo.name}}</span>
                        <img v-bind:src="'/sokuhou/img/flag_' + gameinfo.team[0].teaminfo.id + '.png'" alt="">
                    </p>
                    <p class="score">
                        <span class="jp">{{ gameinfo.team[0].score }}</span> VS
                        <span class="tha">{{ gameinfo.team[1].score }}</span>
                    </p>
                    <p class="flag tha">
                        <img v-bind:src="'/sokuhou/img/flag_' + gameinfo.team[1].teaminfo.id + '.png'" alt="">
                        <span>{{ gameinfo.team[1].teaminfo.name}}</span>
                    </p>
                </div>
                <p class="stadium">{{ gameinfo.stadium }}</p>
                <p class="state">
                    <span>{{ situation.name }}</span>
                </p>
            </header>
            <div id="subHeader" class="jp-tha">
                <div class="fixtures">
                    <p class="name">{{ gameinfo.team[0].teaminfo.name}}</p>
                    <p class="score">
                        <span>{{ gameinfo.team[0].score }}</span> VS
                        <span>{{ gameinfo.team[1].score }}</span>
                    </p>
                    <p class="name">{{ gameinfo.team[1].teaminfo.name }}</p>
                </div>
            </div>
            <div class="post-detail block-sns showSP">
                <ul class="post-sns-list">
                    <li class="post-sns-item post-sns-item_fbgood">
                        <div class="fb-like" data-href="https://sportsbull.jp/sokuhou/" data-layout="box_count" data-action="like" data-show-faces="false" data-share="false"></div>
                    </li>
                    <li class="post-sns-item post-sns-item_fb">
                        <a href="http://www.facebook.com/share.php?u=https://sportsbull.jp/sokuhou/&t=サッカー日本代表リアルタイム速報 | スポーツブル / SPORTS BULL" onclick="window.open(encodeURI(decodeURI(this.href)), 'FBwindow', 'width=650, height=470, menubar=no, toolbar=no, scrollbars=yes'); return false;"
                            rel="nofollow">facebook</a>
                    </li>
                    <li class="post-sns-item post-sns-item_tw">
                        <a href="http://twitter.com/share?text=サッカー日本代表リアルタイム速報 | スポーツブル / SPORTS BULL&url=https://sportsbull.jp/sokuhou/" onclick="window.open(encodeURI(decodeURI(this.href)), 'tweetwindow', 'width=650, height=470, personalbar=0, toolbar=0, scrollbars=1, sizable=1'); return false;"
                            rel="nofollow">
                            <span>ツイート</span>
                        </a>
                    </li>
                    <li class="post-sns-item post-sns-item_gt">
                        <a href="https://plus.google.com/share?url=https://sportsbull.jp/sokuhou/" onclick="window.open(encodeURI(decodeURI(this.href)), 'GooglePluswindow', 'width=650, height=470, personalbar=0, toolbar=0, scrollbars=1, sizable=1'); return false;"
                            rel="nofollow">Google+</a>
                    </li>
                    <li class="post-sns-item post-sns-item_line">
                        <div class="line-it-button" style="display: none;" data-type="share-d" data-lang="ja"></div>
                        <script src="//scdn.line-apps.com/n/line_it/thirdparty/loader.min.js" async="async" 　defer="defer"></script>
                    </li>
                </ul>
            </div>
            <div id="content">
                <main>
                    <article v-bind:class="['home__'+gameinfo.team[0].teaminfo.id, 'away__'+gameinfo.team[1].teaminfo.id, {'end': end}]">
                        <section id="banner" v-if="highlightmovie != ''">
                            <p class="highlight">
                                <a v-bind:href="highlightmovie" target="_blank">
                                    <picture>
                                        <source media="(max-width: 767px)" srcset="/sokuhou/img/btn_highlight_sp.png">
                                        <img src="/sokuhou/img/btn_highlight.png" alt="試合のハイライト動画を見る"> </picture>
                                </a>
                            </p>
                        </section>
                        <nav id="anchor__contens">
                            <ul>
                                <li>
                                    <a href="#data" v-if="gameinfo.team[0].stats || gameinfo.team[1].stats">
                                        <img src="/sokuhou/img/txt_anc_data.png" alt="data">
                                    </a>
                                    <span v-else>
                                        <img src="/sokuhou/img/txt_anc_data.png" alt="data">
                                    </span>
                                </li>
                                <li>
                                    <a href="#member" v-if="gameinfo.team[0].member && gameinfo.team[1].member">
                                        <img src="/sokuhou/img/txt_anc_member.png" alt="member">
                                    </a>
                                    <span v-else>
                                        <img src="/sokuhou/img/txt_anc_member.png" alt="member">
                                    </span>
                                </li>
                                <li>
                                    <a href="#stadium" v-if="success.result || gameinfo.referee">
                                        <img src="/sokuhou/img/txt_anc_stadium.png" alt="stadium">
                                    </a>
                                    <span v-else>
                                        <img src="/sokuhou/img/txt_anc_stadium.png" alt="stadium">
                                    </span>
                                </li>
                            </ul>
                        </nav>
                        <section id="timeline" class="jp-tha" v-bind:class="{'loaded': loadState, modeMobile: ua.MOBILE, open: open.timeline, timelinemore: timelinemore}">
                            <h2 v-on:click="handleOpen('timeline')">
                                <i class="arrow"></i>
                                <img src="/sokuhou/img/txt_summary.png" alt="MATCH REPORTS">
                                <small>※情報は自動更新</small>
                            </h2>
                            <div class="section__body">
                                <p class="txt summary" v-if="event.summary" v-html="event.summary"></p>
                                <section v-if="!event.events.length" class="BeforeTheGame">
                                    <p class="text">{{gameinfo.dateY}}年{{gameinfo.dateM}}月{{gameinfo.dateD}}日 {{gameinfo.time}}
                                        <em>
                                            <img src="/sokuhou/img/txt_kickoff.png" alt="KICK-OFF">
                                        </em>
                                    </p>
                                </section>
                                <!-- [item.event_id, item.time_line] -->
                                <section v-for="item in event.events" v-bind:class="['event_id_'+item.type, 'team_'+item.team]">
                                    <p class="time">{{ item.time }}</p>
                                    <p class="text">{{ item.comment }}</p>
                                </section>
                                <div class="btn_more_block" v-if="ua.MOBILE && !timelinemore">
                                    <!-- WEB_VIEW -->
                                    <p class="btn_more-web" v-if="ua.WEB_VIEW || newspass" v-on:click="handleTimelinemore">
                                        <img src="/sokuhou/img/btn_more_web.png" alt="もっと見る">
                                    </p>
                                    <p class="btn_more-app" v-else>
                                        <a href="https://app.adjust.com/ybio5x?deep_link=sportsbull%3A%2F%2F">
                                            <img src="/sokuhou/img/btn_more_app.png" alt="アプリで続きを見る">
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </section>
                        <section id="data" v-if="gameinfo.team[0].stats || gameinfo.team[1].stats" v-bind:class="{open: open.data}">
                            <h2 v-on:click="handleOpen('data')">
                                <i class="arrow"></i>
                                <img src="/sokuhou/img/ttl_data.png" alt="Data"> </h2>
                            <div class="section__body">
                                <div class="timetable" v-if="timeline.length > 0">
                                    <header>
                                        <img v-bind:src="'/sokuhou/img/flag_' + gameinfo.team[0].teaminfo.id + '.png'" alt="">
                                        <h3>試合展開</h3>
                                        <img v-bind:src="'/sokuhou/img/flag_' + gameinfo.team[1].teaminfo.id + '.png'" alt=""> </header>
                                    <div class="expansion">
                                        <div class="home">
                                            <ol>
                                                <li>GOAL</li>
                                                <li>6</li>
                                                <li>5</li>
                                                <li>4</li>
                                                <li>3</li>
                                                <li>2</li>
                                                <li>1</li>
                                            </ol>
                                            <ul>
                                                <li v-for="data in timeline" v-bind:class="'event__'+data.play.home">{{data.time}}</li>
                                            </ul>
                                        </div>
                                        <div class="timeline">
                                            <p>15</p>
                                            <p>30</p>
                                            <p>45</p>
                                            <p>60</p>
                                            <p>75</p>
                                            <p>90</p>
                                        </div>
                                        <div class="visitor">
                                            <ol>
                                                <li>1</li>
                                                <li>2</li>
                                                <li>3</li>
                                                <li>4</li>
                                                <li>5</li>
                                                <li>6</li>
                                                <li>GOAL</li>
                                            </ol>
                                            <ul>
                                                <li v-for="data in timeline" v-bind:class="'event__'+data.play.away">{{data.time}}</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="notes">
                                        <ul>
                                            <li>敵陣でのプレー</li>
                                            <li>アタッキングサードでのプレー</li>
                                            <li>CK / FK（アタッキングサード内）</li>
                                            <li>ペナルティエリア外シュート</li>
                                            <li>ペナルティエリア内でのプレー</li>
                                            <li>ペナルティエリア内シュート</li>
                                        </ul>
                                        <p>1分単位のプレー内容をグラフ化し、左右に長いほどゴールに近いプレーがあったことを示します。</p>
                                    </div>
                                </div>
                                <table>
                                    <thead>
                                        <th>データ項目</th>
                                        <th>
                                            <img v-bind:src="'/sokuhou/img/flag_' + gameinfo.team[0].teaminfo.id + '.png'" alt="">
                                        </th>
                                        <th>
                                            <img v-bind:src="'/sokuhou/img/flag_' + gameinfo.team[1].teaminfo.id + '.png'" alt="">
                                        </th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th>FK</th>
                                            <td>
                                                <span v-if="gameinfo.team[0].stats.today.fk || gameinfo.team[0].stats.today.fk === 0">{{ gameinfo.team[0].stats.today.fk }}</span>
                                                <span v-else>-</span>
                                            </td>
                                            <td>
                                                <span v-if="gameinfo.team[1].stats.today.fk || gameinfo.team[1].stats.today.fk === 0">{{ gameinfo.team[1].stats.today.fk }}</span>
                                                <span v-else>-</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>CK</th>
                                            <td>
                                                <span v-if="gameinfo.team[0].stats.today.ck || gameinfo.team[0].stats.today.ck === 0">{{ gameinfo.team[0].stats.today.ck }}</span>
                                                <span v-else>-</span>
                                            </td>
                                            <td>
                                                <span v-if="gameinfo.team[1].stats.today.ck || gameinfo.team[1].stats.today.ck === 0">{{ gameinfo.team[1].stats.today.ck }}</span>
                                                <span v-else>-</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>PK</th>
                                            <td>
                                                <span v-if="gameinfo.team[0].stats.today.pk || gameinfo.team[0].stats.today.pk === 0">{{ gameinfo.team[0].stats.today.pk }}</span>
                                                <span v-else>-</span>
                                            </td>
                                            <td>
                                                <span v-if="gameinfo.team[1].stats.today.pk || gameinfo.team[1].stats.today.pk === 0">{{ gameinfo.team[1].stats.today.pk }}</span>
                                                <span v-else>-</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>シュート</th>
                                            <td>
                                                <span v-if="gameinfo.team[0].stats.today.shoot || gameinfo.team[0].stats.today.shoot === 0">{{ gameinfo.team[0].stats.today.shoot }}</span>
                                                <span v-else>-</span>
                                            </td>
                                            <td>
                                                <span v-if="gameinfo.team[1].stats.today.shoot || gameinfo.team[1].stats.today.shoot === 0">{{ gameinfo.team[1].stats.today.shoot }}</span>
                                                <span v-else>-</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>警告/退場</th>
                                            <td>
                                                <span v-if="gameinfo.team[0].stats.today.yellow || gameinfo.team[0].stats.today.yellow === 0">{{ gameinfo.team[0].stats.today.yellow }}</span>
                                                <span v-else>-</span> /
                                                <span v-if="gameinfo.team[0].stats.today.red || gameinfo.team[0].stats.today.red === 0">{{ gameinfo.team[0].stats.today.red }}</span>
                                                <span v-else>-</span>
                                            </td>
                                            <td>
                                                <span v-if="gameinfo.team[1].stats.today.yellow || gameinfo.team[1].stats.today.yellow === 0">{{ gameinfo.team[1].stats.today.yellow }}</span>
                                                <span v-else>-</span> /
                                                <span v-if="gameinfo.team[1].stats.today.red || gameinfo.team[1].stats.today.red === 0">{{ gameinfo.team[1].stats.today.red }}</span>
                                                <span v-else>-</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>プレー回数
                                                <small>（ペナルティエリア / アタッキングサード）</small>
                                            </th>
                                            <td>
                                                <span v-if="gameinfo.team[0].stats.today.playCount.parea || gameinfo.team[0].stats.today.playCount.parea === 0">{{ gameinfo.team[0].stats.today.playCount.parea }}</span>
                                                <span v-else>-</span> /
                                                <span v-if="gameinfo.team[0].stats.today.playCount.attacking3rd || gameinfo.team[0].stats.today.playCount.attacking3rd === 0">{{ gameinfo.team[0].stats.today.playCount.attacking3rd }}</span>
                                                <span v-else>-</span>
                                            </td>
                                            <td>
                                                <span v-if="gameinfo.team[1].stats.today.playCount.parea || gameinfo.team[1].stats.today.playCount.parea === 0">{{ gameinfo.team[1].stats.today.playCount.parea }}</span>
                                                <span v-else>-</span> /
                                                <span v-if="gameinfo.team[1].stats.today.playCount.attacking3rd || gameinfo.team[1].stats.today.playCount.attacking3rd === 0">{{ gameinfo.team[1].stats.today.playCount.attacking3rd }}</span>
                                                <span v-else>-</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>敵陣でのパス
                                                <small>（総数 / 成功率）</small>
                                            </th>
                                            <td>
                                                <span v-if="gameinfo.team[0].stats.today.opponentAreaPass.count || gameinfo.team[0].stats.today.opponentAreaPass.count === 0">{{ gameinfo.team[0].stats.today.opponentAreaPass.count }}</span>
                                                <span v-else>-</span> /
                                                <span v-if="gameinfo.team[0].stats.today.opponentAreaPass.rate || gameinfo.team[0].stats.today.opponentAreaPass.rate === 0">{{ gameinfo.team[0].stats.today.opponentAreaPass.rate }}%</span>
                                                <span v-else>-</span>
                                            </td>
                                            <td>
                                                <span v-if="gameinfo.team[1].stats.today.opponentAreaPass.count || gameinfo.team[1].stats.today.opponentAreaPass.count === 0">{{ gameinfo.team[1].stats.today.opponentAreaPass.count }}</span>
                                                <span v-else>-</span> /
                                                <span v-if="gameinfo.team[1].stats.today.opponentAreaPass.rate || gameinfo.team[1].stats.today.opponentAreaPass.rate === 0">{{ gameinfo.team[1].stats.today.opponentAreaPass.rate }}%</span>
                                                <span v-else>-</span>
                                            </td>
                                        </tr>
                                        <tr class="pass">
                                            <th>パス方向比率</th>
                                            <td> 前 :
                                                <span v-if="gameinfo.team[0].stats.today.passDirectionRate.front || gameinfo.team[0].stats.today.passDirectionRate.front === 0">{{ gameinfo.team[0].stats.today.passDirectionRate.front }}</span>
                                                <span v-else>-</span>%
                                                <span class="sr">/</span>
                                                <br class="showSP"> 後 :
                                                <span v-if="gameinfo.team[0].stats.today.passDirectionRate.rear || gameinfo.team[0].stats.today.passDirectionRate.rear === 0">{{ gameinfo.team[0].stats.today.passDirectionRate.rear }}</span>
                                                <span v-else>-</span>%
                                                <br> 左 :
                                                <span v-if="gameinfo.team[0].stats.today.passDirectionRate.left || gameinfo.team[0].stats.today.passDirectionRate.left === 0">{{ gameinfo.team[0].stats.today.passDirectionRate.left }}</span>
                                                <span v-else>-</span>%
                                                <span class="sr">/</span>
                                                <br class="showSP"> 右 :
                                                <span v-if="gameinfo.team[0].stats.today.passDirectionRate.right || gameinfo.team[0].stats.today.passDirectionRate.right === 0">{{ gameinfo.team[0].stats.today.passDirectionRate.right }}</span>
                                                <span v-else>-</span>% </td>
                                            <td> 前 :
                                                <span v-if="gameinfo.team[1].stats.today.passDirectionRate.front || gameinfo.team[1].stats.today.passDirectionRate.front === 0">{{ gameinfo.team[1].stats.today.passDirectionRate.front }}</span>
                                                <span v-else>-</span>%
                                                <span class="sr">/</span>
                                                <br class="showSP"> 後 :
                                                <span v-if="gameinfo.team[1].stats.today.passDirectionRate.rear || gameinfo.team[1].stats.today.passDirectionRate.rear === 0">{{ gameinfo.team[1].stats.today.passDirectionRate.rear }}</span>
                                                <span v-else>-</span>%
                                                <br> 左 :
                                                <span v-if="gameinfo.team[1].stats.today.passDirectionRate.left || gameinfo.team[1].stats.today.passDirectionRate.left === 0">{{ gameinfo.team[1].stats.today.passDirectionRate.left }}</span>
                                                <span v-else>-</span>%
                                                <span class="sr">/</span>
                                                <br class="showSP"> 右 :
                                                <span v-if="gameinfo.team[1].stats.today.passDirectionRate.right || gameinfo.team[1].stats.today.passDirectionRate.right === 0">{{ gameinfo.team[1].stats.today.passDirectionRate.right }}</span>
                                                <span v-else>-</span>% </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </section>
                        <section id="member" v-if="gameinfo.team[0].member && gameinfo.team[1].member" v-bind:class="{open: open.member}">
                            <h2 v-on:click="handleOpen('member')">
                                <i class="arrow"></i>
                                <img src="/sokuhou/img/ttl_member.png" alt="Member"> </h2>
                            <div class="section__body">
                                <section class="member__starting">
                                    <h3>スターティングメンバー</h3>
                                    <div class="menber__body">
                                        <ul class="member__starting__home">
                                            <li v-for="item in gameinfo.team[0].member.starting">
                                                <span class="name">{{ item.pos }}&nbsp;{{ item.no }}&nbsp;{{ item.name }}</span>
                                                <span class="changeGroup">
                                                    <span class="change out" v-if="item.outTime">{{ item.outTime }}</span>
                                                </span>
                                            </li>
                                        </ul>
                                        <ul class="member__starting__away">
                                            <li v-for="item in gameinfo.team[1].member.starting">
                                                <span class="name">{{ item.pos }}&nbsp;{{ item.no }}&nbsp;{{ item.name }}</span>
                                                <span class="changeGroup">
                                                    <span class="change out" v-if="item.outTime">{{ item.outTime }}</span>
                                                </span>
                                            </li>
                                        </ul>
                                    </div>
                                </section>
                                <section class="member__bench">
                                    <h3>控えメンバー</h3>
                                    <div class="menber__body">
                                        <ul class="member__starting__home">
                                            <li v-for="item in gameinfo.team[0].member.bench">
                                                <span class="name">{{ item.pos }}&nbsp;{{ item.no }}&nbsp;{{ item.name }}</span>
                                                <span class="changeGroup">
                                                    <span class="change in" v-if="item.inTime">{{ item.inTime }}</span>
                                                    <span class="change out" v-if="item.outTime">{{ item.outTime }}</span>
                                                </span>
                                            </li>
                                        </ul>
                                        <ul class="member__starting__away">
                                            <li v-for="item in gameinfo.team[1].member.bench">
                                                <span class="name">{{ item.pos }}&nbsp;{{ item.no }}&nbsp;{{ item.name }}</span>
                                                <span class="changeGroup">
                                                    <span class="change in" v-if="item.inTime">{{ item.inTime }}</span>
                                                    <span class="change out" v-if="item.outTime">{{ item.outTime }}</span>
                                                </span>
                                            </li>
                                        </ul>
                                    </div>
                                </section>
                            </div>
                        </section>
                        <section id="stadium" v-if="success.result || gameinfo.referee" v-bind:class="{open: open.stadium}">
                            <h2 v-on:click="handleOpen('stadium')">
                                <i class="arrow"></i>
                                <img src="/sokuhou/img/ttl_stadium.png" alt="Stadium"> </h2>
                            <div class="section__body">
                                <div class="stadium__body">
                                    <dl>
                                        <dt>スタジアム</dt>
                                        <dd>{{ gameinfo.stadium }}</dd>
                                    </dl>
                                    <dl>
                                        <dt>入場者数</dt>
                                        <dd>{{ result.spectators }}</dd>
                                    </dl>
                                    <dl>
                                        <dt>
                                            <span v-if="result.condition.weather">天候</span>
                                            <span v-if="result.condition.weather && result.condition.temperature">&nbsp;/&nbsp;</span>
                                            <span v-if="result.condition.temperature">気温</span>
                                            <span v-if="result.condition.temperature && result.condition.humidity">&nbsp;/&nbsp;</span>
                                            <span v-if="result.condition.humidity">湿度</span>
                                        </dt>
                                        <dd> {{ result.condition.weather }}
                                            <span v-if="result.condition.weather && result.condition.temperature">&nbsp;/&nbsp;</span> {{ result.condition.temperature }}
                                            <span v-if="result.condition.temperature && result.condition.humidity">&nbsp;/&nbsp;</span> {{ result.condition.humidity }} </dd>
                                    </dl>
                                    <dl>
                                        <dt>主審</dt>
                                        <dd>{{ gameinfo.referee.main }}</dd>
                                    </dl>
                                    <dl>
                                        <dt>副審</dt>
                                        <dd> {{ gameinfo.referee.linesman[0] }}
                                            <span v-if="gameinfo.referee.linesman[0] && gameinfo.referee.linesman[1]">、</span> {{ gameinfo.referee.linesman[1] }} </dd>
                                    </dl>
                                    <dl>
                                        <dt>第4の審判員</dt>
                                        <dd>{{ gameinfo.referee.forth }}</dd>
                                    </dl>
                                </div>
                            </div>
                        </section>
                    </article>
                    <aside id="banner-footer">
                        <!-- /531683568/サッカー日本代表戦/soccer-daihyou-footer-rectangle1 -->
                        <script>
                            googletag.cmd.push(function()
                            {
                                googletag.defineSlot('/531683568/サッカー日本代表戦/soccer-daihyou-footer-rectangle1', [300, 250], 'div-gpt-ad-1496827924075-0').addService(googletag.pubads());
                                googletag.pubads().enableSingleRequest();
                                googletag.enableServices();
                            });
                        </script>
                        <div id="div-gpt-ad-1496827924075-0" style="height:250px; width:300px;">
                            <script>
                                googletag.cmd.push(function()
                                {
                                    googletag.display('div-gpt-ad-1496827924075-0');
                                });
                            </script>
                        </div>
                        <!-- // /531683568/サッカー日本代表戦/soccer-daihyou-footer-rectangle1 -->
                        <!-- /531683568/サッカー日本代表戦/soccer-daihyou-footer-rectangle2 -->
                        <script>
                            googletag.cmd.push(function()
                            {
                                googletag.defineSlot('/531683568/サッカー日本代表戦/soccer-daihyou-footer-rectangle2', [300, 250], 'div-gpt-ad-1496827987631-0').addService(googletag.pubads());
                                googletag.pubads().enableSingleRequest();
                                googletag.enableServices();
                            });
                        </script>
                        <div id="div-gpt-ad-1496827987631-0" style="height:250px; width:300px;">
                            <script>
                                googletag.cmd.push(function()
                                {
                                    googletag.display('div-gpt-ad-1496827987631-0');
                                });
                            </script>
                        </div>
                        <!-- // /531683568/サッカー日本代表戦/soccer-daihyou-footer-rectangle2 -->
                    </aside>
                </main>
                <aside id="link-side">
                    <div class="banner">
                        <!-- /531683568/サッカー日本代表戦/soccer-daihyou-sidebar-rectangle -->
                        <script>
                            googletag.cmd.push(function()
                            {
                                googletag.defineSlot('/531683568/サッカー日本代表戦/soccer-daihyou-sidebar-rectangle', [300, 250], 'div-gpt-ad-1496827870605-0').addService(googletag.pubads());
                                googletag.pubads().enableSingleRequest();
                                googletag.enableServices();
                            });
                        </script>
                        <div id="div-gpt-ad-1496827870605-0" style="height:250px; width:300px;">
                            <script>
                                googletag.cmd.push(function()
                                {
                                    googletag.display('div-gpt-ad-1496827870605-0');
                                });
                            </script>
                        </div>
                        <!-- // /531683568/サッカー日本代表戦/soccer-daihyou-sidebar-rectangle -->
                    </div>
                    <section id="relatedNews" class="news">
                        <h2>関連ニュース</h2>
                        <ul>
                            <li>
                                <a href="https://sportsbull.jp/p/199686/" target="_blank">香川真司 CMメイキング映像 結論：「俳優には興味すこしアリ」</a>
                            </li>
                            <li>
                                <a href="https://sportsbull.jp/p/204758/" target="_blank">ハリルジャパン、格下ニュージーランドに辛勝、課題山積</a>
                            </li>
                            <li>
                                <a href="https://sportsbull.jp/p/203474/" target="_blank">長友佑都「次は自分」本田、岡崎ら招集されず危機感</a>
                            </li>
                            <li>
                                <a href="https://sportsbull.jp/p/203476/" target="_blank">香川が代表の顔に、本田＆岡崎不在でリーダーの風格</a>
                            </li>
                            <li>
                                <a href="https://sportsbull.jp/p/203314/" target="_blank">長友佑都、足元見て親善試合で「結果を残せるよう」</a>
                            </li>
                        </ul>
                    </section>
                    <div class="post-detail block-sns showPC">
                        <ul class="post-sns-list">
                            <li class="post-sns-item post-sns-item_fbgood">
                                <div class="fb-like" data-href="https://sportsbull.jp/sokuhou/" data-layout="box_count" data-action="like" data-show-faces="false" data-share="false"></div>
                            </li>
                            <li class="post-sns-item post-sns-item_fb">
                                <a href="http://www.facebook.com/share.php?u=https://sportsbull.jp/sokuhou/&t=サッカー日本代表リアルタイム速報 | スポーツブル / SPORTS BULL" onclick="window.open(encodeURI(decodeURI(this.href)), 'FBwindow', 'width=650, height=470, menubar=no, toolbar=no, scrollbars=yes'); return false;"
                                    rel="nofollow">facebook</a>
                            </li>
                            <li class="post-sns-item post-sns-item_tw">
                                <a href="http://twitter.com/share?text=サッカー日本代表リアルタイム速報 | スポーツブル / SPORTS BULL&url=https://sportsbull.jp/sokuhou/" onclick="window.open(encodeURI(decodeURI(this.href)), 'tweetwindow', 'width=650, height=470, personalbar=0, toolbar=0, scrollbars=1, sizable=1'); return false;"
                                    rel="nofollow">
                                    <span>ツイート</span>
                                </a>
                            </li>
                            <li class="post-sns-item post-sns-item_gt">
                                <a href="https://plus.google.com/share?url=https://sportsbull.jp/sokuhou/" onclick="window.open(encodeURI(decodeURI(this.href)), 'GooglePluswindow', 'width=650, height=470, personalbar=0, toolbar=0, scrollbars=1, sizable=1'); return false;"
                                    rel="nofollow">Google+</a>
                            </li>
                            <li class="post-sns-item post-sns-item_line">
                                <div class="line-it-button" style="display: none;" data-type="share-d" data-lang="ja"></div>
                                <script src="//scdn.line-apps.com/n/line_it/thirdparty/loader.min.js" async="async" 　defer="defer"></script>
                            </li>
                        </ul>
                    </div>
                </aside>
            </div>
            <!-- [PC] footer -->
            <div class="is-show-pc">
                <footer id="footer-container" class="foot-sec">
                    <div class="foot-sec-inner">
                        <nav class="foot-breadCrumb">
                            <ol itemscope itemtype="http://schema.org/breadCrumbList">
                                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                                    <a itemprop="item" href="/">
                                        <span itemprop="name">TOP</span>
                                        <meta itemprop="position" content="1" />
                                    </a>
                                </li>
                                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                                    <a itemprop="item" href="/sokuhou/">
                                        <span itemprop="name">サッカー日本代表リアルタイム速報</span>
                                        <meta itemprop="position" content="2" />
                                    </a>
                                </li>
                            </ol>
                        </nav>
                        <div class="foot-pr">
                            <div class="foot-pr-inner">
                                <figure>
                                    <img src="/assets/images/common/footer-overview-figure.png" alt="">
                                </figure>
                                <div class="text-block">
                                    <h3 class="foot-pr-logo">
                                        <img src="/assets/images/common/footer-overview-logo.png" alt="SPORTS BULL アプリ版(iPhone/Android)">
                                    </h3>
                                    <ul class="foot-pr-btn">
                                        <li>
                                            <a href="https://itunes.apple.com/jp/app/undotsushin/id1086719653?l=ja&ls=1&mt=8" target="_blank">
                                                <img src="/assets/images/common/footer-overview-btn-applestore.png" alt="App Store" />
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://play.google.com/store/apps/details?id=com.undotsushin" target="_blank">
                                                <img src="/assets/images/common/footer-overview-btn-googleplay.png" alt="Google play">
                                            </a>
                                        </li>
                                    </ul>
                                    <p class="foot-pr-text">話題のスポーツニュースがサクサク読める、無料のニュースまとめアプリ「スポーツ・ブル」。高品質なスポーツのニュース、動画をいつでもお楽しみ頂けます。スマートフォンアプリをダウンロードして今日のニュースをチェックしましょう。</p>
                                </div>
                                <!-- /.text-block -->
                                <div class="fb-page-plugin">
                                    <div class="fb-page" data-href="https://www.facebook.com/sportsbull/" data-width="400" data-height="154" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="true">
                                        <div class="fb-xfbml-parse-ignore">
                                            <blockquote cite="https://www.facebook.com/sportsbull/">
                                                <a href="https://www.facebook.com/sportsbull/">スポーツブル（SPORTS BULL）</a>
                                            </blockquote>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.foot-pr-inner -->
                        </div>
                        <!-- /.foot-pr -->
                        <div id="pageTop_pc" class="pagetop fixed">
                            <a href="#">
                                <span>このページの先頭へ
                                    <img src="/assets/images/sprite/sprite-footer.png" role="presentation">
                                </span>
                            </a>
                        </div>
                        <div class="fnav-block">
                            <nav class="fnav">
                                <h3 class="fnav-logo">
                                    <img src="/assets/images/common/footer-fnav-logo.png" alt="SPORTS BULL">
                                </h3>
                                <ul>
                                    <li>
                                        <a href="/about/">サービス紹介</a>
                                    </li>
                                    <li>
                                        <a href="/about/company/">会社概要</a>
                                    </li>
                                    <li>
                                        <a href="/about/privacy/">プライバシーポリシー</a>
                                    </li>
                                    <li>
                                        <a href="/about/terms/">利用規約</a>
                                    </li>
                                </ul>
                            </nav>
                            <!-- /.fnav -->
                            <div class="sns-block">
                                <ul>
                                    <li class="sns-fb">
                                        <a href="https://www.facebook.com/sportsbull/" target="_blank">facebook</a>
                                    </li>
                                    <li class="sns-tw">
                                        <a href="https://twitter.com/sportsbull_jp/" target="_blank">twitter</a>
                                    </li>
                                    <li class="sns-yt">
                                        <a href="https://www.youtube.com/channel/UCKwqba9IWuSKIk3DIpryOHw" target="_blank">youtube</a>
                                    </li>
                                </ul>
                            </div>
                            <!-- /.sns-block -->
                            <p class="copyright">Copyright &copy; SPORTS BULL All rights reserved.</p>
                        </div>
                        <!-- /.fnav-block -->
                    </div>
                    <!-- /.foot-sec-inner -->
                </footer>
                <!-- /.foot-sec -->
            </div>
            <!-- //[PC] footer -->
            <!-- [SP] footer -->
            <div class="is-show-sp">
                <footer class="foot-sec">
                    <div class="foot-sec-inner">
                        <nav class="foot-breadCrumb">
                            <ol itemscope itemtype="http://schema.org/breadCrumbList">
                                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                                    <a itemprop="item" href="/">
                                        <span itemprop="name">TOP</span>
                                        <meta itemprop="position" content="1" />
                                    </a>
                                </li>
                                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                                    <a itemprop="item" href="/sokuhou/">
                                        <span itemprop="name">サッカー日本代表リアルタイム速報</span>
                                        <meta itemprop="position" content="2" />
                                    </a>
                                </li>
                            </ol>
                        </nav>
                        <div class="foot-pr">
                            <div class="foot-pr-inner">
                                <figure class="foot-pr-logo">
                                    <img src="/assets/sp/images/common/footer-overview-logo.png" alt="SPORTS BULL">
                                </figure>
                                <div class="text-block">
                                    <h3 class="foot-pr-heading">スポーツブルアプリをダウンロード</h3>
                                    <ul class="foot-pr-list">
                                        <li class="foot-pr-item">
                                            <a class="foot-pr-link" href="https://itunes.apple.com/jp/app/undotsushin/id1086719653?l=ja&ls=1&mt=8" target="_blank">
                                                <img src="/assets/sp/images/common/footer-overview-btn-applestore.png" alt="App Store" />
                                            </a>
                                        </li>
                                        <li class="foot-pr-item">
                                            <a class="foot-pr-link" href="https://play.google.com/store/apps/details?id=com.undotsushin" target="_blank">
                                                <img src="/assets/sp/images/common/footer-overview-btn-googleplay.png" alt="Google play">
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- /.foot-pr-inner -->
                            <div class="fb-page-plugin">
                                <div class="fb-page" data-href="https://www.facebook.com/sportsbull/" data-width="500" data-height="154" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="true">
                                    <div class="fb-xfbml-parse-ignore">
                                        <blockquote cite="https://www.facebook.com/sportsbull/">
                                            <a href="https://www.facebook.com/sportsbull/">スポーツブル（SPORTS BULL）</a>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.foot-pr -->
                        <div id="pageTop_sp" class="pagetop">
                            <a href="#">
                                <span>このページの先頭へ
                                    <img src="/assets/images/sprite/sprite-footer.png" role="presentation">
                                </span>
                            </a>
                        </div>
                        <nav class="fnav">
                            <ul>
                                <li>
                                    <a href="/about/">サービス紹介</a>
                                </li>
                                <li>
                                    <a href="/about/company/">会社概要</a>
                                </li>
                                <li>
                                    <a href="/about/privacy/">プライバシーポリシー</a>
                                </li>
                                <li>
                                    <a href="/about/terms/">利用規約</a>
                                </li>
                            </ul>
                        </nav>
                        <!-- /.fnav -->
                        <div class="sns-block">
                            <ul>
                                <li class="sns-fb">
                                    <a href="https://www.facebook.com/sportsbull/" target="_blank">facebook</a>
                                </li>
                                <li class="sns-tw">
                                    <a href="https://twitter.com/sportsbull_jp/" target="_blank">twitter</a>
                                </li>
                                <li class="sns-yt">
                                    <a href="https://www.youtube.com/channel/UCKwqba9IWuSKIk3DIpryOHw" target="_blank">youtube</a>
                                </li>
                            </ul>
                        </div>
                        <!-- /.sns-block -->
                        <p class="copyright">Copyright &copy; SPORTS BULL All rights reserved.</p>
                    </div>
                    <!-- /.foot-sec-inner -->
                </footer>
                <!-- /.foot-sec -->
            </div>
            <!-- [SP] footer -->
        </div>
        <script>
            window.fbAsyncInit = function()
            {
                FB.init(
                {
                    appId: '842032129256034',
                    xfbml: true,
                    version: 'v2.5'
                });
            };
            (function(d, s, id)
            {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id))
                {
                    return;
                }
                js = d.createElement(s);
                js.id = id;
                js.src = "//connect.facebook.net/ja_JP/sdk.js";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>
        <script type="text/javascript" src="/sokuhou/js/libs.js?var=20170613"></script>
        <script type="text/javascript" src="/sokuhou/js/WebModule.js"></script>
        <script>
            WebModule.publish = true;
        </script>
        <script type="text/javascript" src="/sokuhou/js/UserAgent.js"></script>
        <script type="text/javascript" src="/sokuhou/js/function.v1.1.js?var=20170613"></script>
        <script src="/assets/popup/js/banner_popup_app.bundle.js"></script>
    </body>
    <div id="fb-root"></div>
    <script>
        (function(d, s, id)
        {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.7";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <script>
        ! function(d, s, id)
        {
            var js, fjs = d.getElementsByTagName(s)[0],
                p = /^http:/.test(d.location) ? 'http' : 'https';
            if (!d.getElementById(id))
            {
                js = d.createElement(s);
                js.id = id;
                js.src = p + '://platform.twitter.com/widgets.js';
                fjs.parentNode.insertBefore(js, fjs);
            }
        }(document, 'script', 'twitter-wjs');
    </script>
</html>