// ---------- common ----------
$base-blue:#0e357f;
$base-red:#cc141d;
$base-orange:#F7AC03;

@mixin mq-pc {
    @media only screen and (min-width: 769px) {
        @content;
    }
}
@mixin mq-s {
	@media only screen and (max-width: 768px) {
		@content;
	}
}
@mixin sp-inner {
	@include mq-s {
		width:95%;
		margin: 0 auto;
	}
}

@include mq-pc {
	.stats__header{
		padding-top:30px;
	}
	.pc-none{
		display:none;
	}
}
@include mq-s {
	.sp-none{
		display:none;
	}
	.whole.dark .body-sec, .whole.dark .body-sec:before{
		background:#000;
	}
}
// emblem
.team-1 {
	&:before{
		background: url(/assets/stats/ua_kansai/images/team/ico-kg.svg) no-repeat 0 0;
	}
	&:after{
		background: url(/assets/stats/ua_kansai/images/team/ico-kg.svg) no-repeat 0 0;
	}
}
.team-2 {
	&:before{
		background: url(/assets/stats/ua_kansai/images/team/ico-ritsumei.svg) no-repeat 0 0;
	}
	&:after{
		background: url(/assets/stats/ua_kansai/images/team/ico-ritsumei.svg) no-repeat 0 0;
	}
}
.team-3 {
	&:before{
		background: url(/assets/stats/ua_kansai/images/team/ico-kansai.svg) no-repeat 0 0;
	}
	&:after{
		background: url(/assets/stats/ua_kansai/images/team/ico-kansai.svg) no-repeat 0 0;
	}
}
.team-4 {
	&:before{
		background: url(/assets/stats/ua_kansai/images/team/ico-ryukoku.svg) no-repeat 0 0;
	}
	&:after{
		background: url(/assets/stats/ua_kansai/images/team/ico-ryukoku.svg) no-repeat 0 0;
	}
}
.team-5 {
	&:before{
		background: url(/assets/stats/ua_kansai/images/team/ico-konan.svg) no-repeat 0 0;
	}
	&:after{
		background: url(/assets/stats/ua_kansai/images/team/ico-konan.svg) no-repeat 0 0;
	}
}
.team-6 {
	&:before{
		background: url(/assets/stats/ua_kansai/images/team/ico-kyoto.svg) no-repeat 0 0;
	}
	&:after{
		background: url(/assets/stats/ua_kansai/images/team/ico-kyoto.svg) no-repeat 0 0;
	}
}
.team-7 {
	&:before{
		background: url(/assets/stats/ua_kansai/images/team/ico-momoyama.svg) no-repeat 0 0;
	}
	&:after{
		background: url(/assets/stats/ua_kansai/images/team/ico-momoyama.svg) no-repeat 0 0;
	}
}
.team-8 {
	&:before{
		background: url(/assets/stats/ua_kansai/images/team/ico-doshisha.svg) no-repeat 0 0;
	}
	&:after{
		background: url(/assets/stats/ua_kansai/images/team/ico-doshisha.svg) no-repeat 0 0;
	}
}
.team-9 {
	&:before{
		background: url(/assets/stats/ua_kansai/images/team/ico-kinki.svg) no-repeat 0 0;
	}
	&:after{
		background: url(/assets/stats/ua_kansai/images/team/ico-kinki.svg) no-repeat 0 0;
	}
}
.team-10 {
	&:before{
		background: url(/assets/stats/ua_kansai/images/team/ico-kobe.svg) no-repeat 0 0;
	}
	&:after{
		background: url(/assets/stats/ua_kansai/images/team/ico-kobe.svg) no-repeat 0 0;
	}
}
.team-11 {
	&:before{
		background: url(/assets/stats/ua_kansai/images/team/ico-nihon.svg) no-repeat 0 0;
	}
	&:after{
		background: url(/assets/stats/ua_kansai/images/team/ico-nihon.svg) no-repeat 0 0;
	}
}