 @charset "UTF-8";

@import "common";

@mixin m-transition {
	@include mq-pc {
		transition: all 0.3s ease;
	}
}

@mixin m-hover {
	text-decoration: none;
	@include m-transition;
	@include mq-pc {
		&:hover {
			opacity: 0.7;
		}
	}
}

.body-sec {
	@include mq-s {
		background: #f5f5f5;
	}
}

.body-sec-inner{
	background:none;
}
.game-category2,.game-category3,.game-category4,#score-info,#personal-info,.draw-first,#ua-pc-big-banner,#ua-sp-big-banner,#ua-app-big-banner{
	display:none;
}
#ua-pc-big-banner,#ua-sp-big-banner,#ua-app-big-banner{
	margin:0 auto;
}
h2{
	.af-schedule &,.af-match &{
		background-color: #fff;
		border-top: 4px solid #0e357f;
		margin-bottom:20px;
		color: #0e357f;
		font-weight: 700;
		padding: 12px 20px;
		font-size: 22px;
		position: relative;
		@include mq-s {
			border-top:none;
			font-size: 15px;
			background-color: $base-blue;
			text-align:center;
			margin-bottom:10px;
			padding:5px 0;
			color: #fff;
		}
	}
	.nav-heade &{
		@include mq-pc {
			position: relative;
			height: 60px;
			float: left;
		}
		@include mq-s {
			display: table-cell;
			background-color: #111;
			text-align: center;
			vertical-align: middle;
		}
		img{
			@include mq-pc {
				position: absolute;
				top: 0;
				bottom: 0;
				margin: auto;
			}
			@include mq-s {
				width: 235px;
			}
		}
	}

	&.calendar{
		@include mq-s {
			display: flex;
			justify-content: center;
		}
		&:before{
			content:"";
			display: block;
			float: left;
			margin: 5px 10px 5px 0;
			width: 20px;
			height: 20px;
			background: url(/assets/stats/ua_kansai/images/icon_calendar.png) no-repeat 0 0;
			background-size: contain;
			@include mq-s {
				margin: 0 5px;
				background: url(/assets/stats/ua_kansai/images/icon_calendar_white.png) no-repeat 0 0;
				background-size: contain;
			}
		}
	}
	&.star{
		display: flex;
		@include mq-s {
			justify-content: center;
		}
		&:before{
			content:"";
			display: block;
			float: left;
			margin: 5px 10px 5px 0;
			width: 20px;
			height: 20px;
			background: url(/assets/stats/ua_kansai/images/icon_star.png) no-repeat 0 0;
			background-size: contain;
			@include mq-s {
				margin: 0 5px;
				background: url(/assets/stats/ua_kansai/images/icon_star_white.png) no-repeat 0 0;
				background-size: contain;
			}
		}
	}
}

.nav-heade-area {
	width: 100%;
	.nav-heade{
		width: 1088px;
		margin: 0 auto;
		overflow: hidden;
		@include mq-s {
			display: table;
			width: 100%;
			height: 45px;
		}
		.btnbox{
			float:right;
			@include mq-s {
				display: table-cell;
				width: 105px;
				height: 45px;
				background-color: #222;
			}
			a{
				display: block;
				height: 0;
				width: 170px;
				border-bottom: 60px solid #1b1b1b;
				border-left: 20px solid transparent;
				color: #f6ab00;
				font-size: 14px;
				font-weight: 700;
				line-height: 4.5;
				text-align: center;
				@include m-hover;
				@include mq-s {
					width: 100%;
					height: 100%;
					font-size: 12px;
					font-weight: 700;
					color: #fff;
					line-height: 4;
					text-decoration: none;
					border: none;
				}
			}
		}
	}
}

h3{
	#basic-info &,#personal-info &{
		display: table;
		width: 100%;
		color: #f5f5f5;
		font-size: 16px;
		font-weight: 700;
		border-top: 2px solid #fff;
		padding:17px 0;
		@include mq-s {
			padding:10px;
		}
	}
	#personal-info &{
		span{
			float:right;
		}
	}
}
#game-category{
	width: 100%;
	@include sp-inner;
	@include mq-s {
		margin-bottom:20px;
	}
	border: 2px solid #cc141d;
	border-radius: 4px;
	margin-bottom: 30px;
	ul{
		display: flex;
		li{
			flex-grow: 1;
			text-align: center;
			color: #cc141d;
			background-color: #fff;
			font-weight: 700;
			font-size: 14px;
			padding:8px 0;
			cursor: pointer;
			@include m-transition;
			&:not(:last-child){
				border-right: 1px solid #efefef;
			}
			@include mq-pc {
				&:hover {
					background: #cc141d;
					color: #fff;
				}
			}
		}
	}
	@for $i from 0 through 3 {
		&.active-#{$i}{
			ul li:nth-child(#{$i+1}){
				background-color: $base-red;
				color:#fff;
			}
		}
	}
}
.lastupdate{
	color: #666666;
	text-align: right;
	font-size: 0.75rem;
	padding-bottom: 10px;
	@include mq-s {
		width: 95%;
		margin: auto;
	}
}
.af-schedule{
	margin-bottom:30px;
	.non-data{
		@include sp-inner;
	}
	.list{
		@include sp-inner;
		padding-top: 10px;
		@include mq-pc {
			display:flex;
			border-top: 1px solid #dbdbdb;
		}
		@include mq-s {
			margin-bottom:15px;
		}
		justify-content: center;
		align-items: center;
		font-weight: 700;
		p{
			flex-basis: 100px;
			text-align:center;
			line-height: 4;
			@include mq-s {
				line-height: 1;
				text-align:left;
				color:$base-blue;
				border-bottom:2px solid $base-blue;
				padding-bottom:5px;
				margin-bottom:5px;
			}
		}

		ul{
			@include mq-pc {
				flex-grow: 1;
				display:flex;
				flex-wrap: wrap;
			}
			li{
				width:50%;
				margin-bottom: 10px;
				text-align:center;
				@include mq-s {
					width:100%;
					margin-bottom: 10px;
				}
				@include mq-pc {
					&:nth-child(odd){
						box-sizing: border-box;
						border-right: 4px solid #f5f5f5;
					}
					&:nth-child(even){
						box-sizing: border-box;
						border-left: 4px solid #f5f5f5;
					}
				}
				.match {
					width:100%;
					text-decoration: none;
					position:relative;

					background-color:#ebebeb;
					border-bottom: 1px solid #fff;
					padding:10px 0;
					color:#000;
					display:flex;
					justify-content: space-between;
					white-space: nowrap;
					@include mq-s {
						text-align:center;
						flex-grow: 1;
						padding:10px 4% 10px 2px;
					}
					&.active {
						background-color:#fff;
						@include m-hover;
						&:after{
							display: block;
							content: "";
							width: 7px;
							height: 12px;
							background: url(https://sportsbull.jp/assets/images/inhigh/icon_arrow.png) no-repeat 0;
							position: absolute;
							top: 14px;
							right: 6px;
							@include m-transition;
							@include mq-s {
								right: 2%;
							}
						}
						@include mq-pc {
							&:hover{
								&:after {
									right: 4px;
								}
							}
						}
					}
					span{
						width:45%;
						display:flex;
						justify-content: center;
						@include mq-s {
							display: flex;
							justify-content: center;
							flex-grow: 1;
						}
						&:nth-child(1){
							&:before{
								content:"";
								width: 20px;
								height: 20px;
								background-size:contain;
								display: block;
								position: relative;
								margin-right: 2px;
								@include mq-s {
									top:0px;
								}
							}
						}
						&:nth-child(2){
							padding-right: 10px;
							@include mq-s {
								padding-right: 5px;
							}
							&:after{
								content:"";
								width: 20px;
								height: 20px;
								background-size:contain;
								display: block;
								position: relative;
								margin-left: 2px;
								@include mq-s {
									top:0px;
								}
							}
						}
					}
				}
				.digest{
					background-color:#ebebeb;
					padding:10px 0;
					color:#cccccc;
					font-size: 12px;
					display:flex;
					justify-content: center;
					&:before{
						display: block;
						content: "";
						width: 20px;
						height: 16px;
						background: url(/assets/stats/ua_kansai/images/icon_play_gray.png) no-repeat 0;
						background-size: 15px;
					}
					&.active {
						background-color:#0F3580;
						color: #fff;
						@include m-hover;
						&:before {
							display: block;
							background: url(/assets/stats/ua_kansai/images/icon_play_white.png) no-repeat 0;
							background-size: 15px;
						}
					}
				}
			}
		}
	}
}
.af-match{
	margin-bottom:30px;
	table{
		width:100%;
		color:#000;
		@include sp-inner;
		tr{
			border-bottom: 1px solid #DADADA;
			th{
				background: $base-blue;
				padding:5px 0;
				text-align:center;
				vertical-align: middle;
				color:#fff;
				font-weight:700;
				font-size:14px;
				&:not(:last-child){border-right:1px solid #DADADA;}
				@include mq-s {
					display:none;
					&:nth-child(1){
						display:table-cell;
						width:25%;
					}
					&:nth-child(2){
						display:table-cell;
						border-right:none;
					}
				}
			}
			td{
				padding:10px 0;
				text-align:center;
				vertical-align: middle;
				&:not(:last-child){border-right:1px solid #DADADA;}
				&.non{
					background: #E6E6E6;
				}
				@include mq-s {
					display:none;
					&:nth-child(1),&:nth-child(2){
						display:table-cell;
					}
					&:nth-child(2){
						display:table-cell;
						border-right:none;
					}
				}
			}
		}
	}
}

#result-sec{
	min-height: 230px;
	color: #fff;
	background: url(/assets/stats/ua_kansai/images/resulthead_bg.jpg) no-repeat center -400px;
	background-size: 100% auto;
	position:relative;
	@include mq-s {
		height:auto;
		min-height: auto;
		background-position:center center;
	}
	.inner{
		width: 1088px;
		margin: 0 auto;
		text-align:center;
		padding-top: 50px;
		@include mq-s {
			width:100%;
			padding-top: 20px;
		}
		.game-name{
			font-size: 23px;
			font-weight: 700;
			letter-spacing: 1px;
			margin-bottom:5px;
			@include mq-s {
				font-size: 15px;
			}
		}
		.result{
			display:flex;
			justify-content: center;
			align-items: center;
			font-size: 14px;
			font-weight: 700;
			margin-bottom:5px;
			white-space: nowrap;
			@include mq-s {
				width: 95%;
				margin: auto;
			}
			@include mq-pc {
				font-size: 25px;
			}
			.home-name,
			.away-name {
				width: 34%;
				span {
					display: flex;
					align-items: center;
					white-space: nowrap;
				}
			}
			.home-name{
				span{
					justify-content: flex-start;
					@include mq-s {
						flex-direction: column-reverse;
					}
					@include mq-pc {
						justify-content: flex-end;
					}
					&:after{
						content:"";
						width: 50px;
						height: 50px;
						background-size: contain;
						position:relative;
						@include mq-s {
							margin-bottom: 5px;
						}
						@include mq-pc {
							width: 100px;
							height: 100px;
							margin-left: 10px;
						}

					}
				}
			}
			.away-name{
				span{
					justify-content: flex-end;
					@include mq-s {
						flex-direction: column;
					}
					@include mq-pc {
						justify-content: flex-start;
					}
					&:before{
						content:"";
						width: 50px;
						height: 50px;
						background-size: contain;
						position:relative;
						@include mq-s {
							margin-bottom: 5px;
						}
						@include mq-pc {
							width: 100px;
							height: 100px;
							margin-right:10px;
						}
					}
				}
			}
			.home-score,
			.away-score {
				font-size: 26px;
				width: 14%;
				@include mq-pc {
					font-size: 60px;
				}
			}
			.vs {
				width: 4%;
			}
		}
		.state{
			background: #444444;
			font-size:14px;
			font-weight:700;
			margin: 0 auto 15px;
			display: inline-block;
			padding: 3px 6px 3px 9px;
			line-height: 1;
		}
		.info{
			font-size:16px;
			@include mq-pc {
				padding-bottom:30px;
			}
			@include mq-s {
				font-size: 12px;
				padding-bottom:20px;
			}
		}
	}
	.blue-line{
		display:block;
		width:50%;
		background:$base-blue;
		position:absolute;
		bottom: 0;
		left:0;
		height: 5px;
	}
	.red-line{
		display:block;
		width:50%;
		background:$base-red;
		position:absolute;
		bottom: 0;
		right:0;
		height: 5px;
	}
}
#game-info,#team-tab{
	width: 100%;
	margin: 30px 0;
	border-radius:4px;
	@include mq-s {
		width: 95%;
		margin: 20px auto;
	}
	ul{
		display: flex;
		li{
			flex-grow: 1;
			text-align: center;
			color: #fff;
			background-color: #1A1A1A;
			font-weight: 700;
			font-size: 14px;
			padding:13px 0 10px;
			cursor: pointer;
			@include m-transition;
			@include mq-s {
				padding:10px 0;
				font-size: 14px;
			}
			@include mq-pc {
				&:hover {
					color: $base-orange;
				}
			}
		}
	}
	@for $i from 0 through 2 {
		&.active-#{$i}{
			ul li:nth-child(#{$i+1}){
				background-color: #222222;
				color:$base-orange;
			}
		}
	}
}
#team-tab{
	li:nth-of-type(1){
		border-bottom:2px solid $base-blue;
	}
	li:nth-of-type(2){
		border-bottom:2px solid $base-red;
	}
}
#basic-info{
	@include sp-inner;
	.movie{
		border-top: 2px solid #1B1B1B;
		padding-top:15px;
		ul{
			li{
				margin-bottom:20px;
				a{
					@include m-hover;
					&:nth-of-type(1){
						display: flex;
						margin-bottom: 20px;
						border-bottom: 2px solid #1B1B1B;
						background-color:#111;
						align-items: center;
						@include mq-s {
							border-bottom:none;
						}
						div:nth-of-type(1){
							position:relative;
							width: 200px;
							margin-right: 20px;
							@include mq-s {
								width: 120px;
								height:auto;
							}
							img{
								width:100%;
							}
							&:after{
								content: "";
								position:absolute;
								background: url(/assets/stats/ua_kansai/images/icon_play_white2.png) no-repeat center;
								background-size: 20%;
								top: 0;
								left: 0px;
								bottom: 0;
								right: 0;
								margin: auto;
								@include mq-s {
									background-size: 30%;
								}
							}
						}
						div:nth-of-type(2){
							width: calc(100% - 140px);
							font-weight:700;

							@include mq-pc {
								width: calc(100% - 220px);
							}
							img{
								width:100%;
							}
							p:nth-of-type(1){
								font-size:12px;
								color: $base-orange;
							}
							p:nth-of-type(2){
								color: #fff;
								font-size: 17px;
								@include mq-s {
									font-size:14px;
								}
							}
						}
					}
					&:nth-of-type(2){
						width:100%;
						text-align:center;
						padding:13px 0;
						border-radius:4px;
						font-weight:700;
						background:#0F3580;
						display: block;
						text-decoration:none;
						color:#fff;
						@include m-hover;
						&:before{
							content: "";
							display: inline-block;
							width: 15px;
							height: 15px;
							background: url(/assets/stats/ua_kansai/images/icon_play_white.png) no-repeat center;
							background-size: 15px;
							position: relative;
							top: 3px;
							margin-right: 10px;
						}
					}
				}
			}
		}
	}
	.quarter{
		margin-bottom:30px;
		thead tr {
			border-left:none !important;
		}
		tr{
			&:nth-of-type(1){
				border-left:2px solid $base-blue;
			}
			&:nth-of-type(2){
				border-left:2px solid $base-red;
			}
		}
	}
	.data{
		padding-bottom:30px;
		thead th {
			&:nth-of-type(2){
				border-bottom:2px solid $base-blue;
				@include mq-s {
					width:20%;
				}
			}
			&:nth-of-type(3){
				border-bottom:2px solid $base-red;
				@include mq-s {
					width:20%;
				}
			}
		}
		@include mq-s {
			table tr td{
				font-size:12px;
			}
		}
		.digestbtn{
			margin-top: 30px;
			a{
				width:100%;
				text-align:center;
				padding:13px 0;
				border-radius:4px;
				font-weight:700;
				background:#0F3580;
				display: block;
				text-decoration:none;
				color:#fff;
				@include m-hover;
				&:before{
					content: "";
					display: inline-block;
					width: 15px;
					height: 15px;
					background: url(/assets/stats/ua_kansai/images/icon_play_white.png) no-repeat center;
					background-size: 15px;
					position: relative;
					top: 3px;
					margin-right: 10px;
				}
			}
		}
	}
}
table{
	width:100%;
	border-top: 1px solid #222222;
	color:#fff;
	tr{
		border-bottom: 1px solid #222222;
		th{
			background: #1A1A1A;
			padding:10px 0;
			text-align:center;
			vertical-align: middle;
			font-weight:700;
			font-size:14px;
			&:not(:last-child){border-right:1px solid #222222;}
		}
		td{
			padding:10px 0;
			text-align:center;
			vertical-align: middle;
			&:not(:last-child){border-right:1px solid #222222;}
		}
		&.non{
			background: #E6E6E6;
		}
	}
}
#score-info{
	color:#fff;
	padding-bottom:30px;
	li{
		.blue{
			background:#1A1A1A;
			border-bottom:1px solid $base-blue;
			padding:10px 20px;
			font-weight:700;
			font-size: 15px;
		}
		.red{
			background:#1A1A1A;
			border-bottom:1px solid $base-red;
			padding:10px 20px;
			font-weight:700;
			font-size: 15px;
		}
		.passage{
			padding:10px 20px;
			font-size: 15px;
		}
	}

}

#personal-info{
	padding-bottom:30px;
	.run,.pass,.receive{
		margin-bottom:30px;
	}
}
@include mq-pc {
	[class*=section_interhigh_] .ttl-wrapper .ttl.calender i{
		top:1px;width:20px;height:20px;background:url(../../../images/inhigh/icon_calender.png) no-repeat 0 0;
	}
}
@include mq-s {
	[class*=section_interhigh_] .ttl-wrapper .ttl.calender i{
		width:19px;height:15px;background:url(/assets/stats/ua_kansai/images/icon_calendar_white.png) no-repeat 0 0/contain
	}
}


// 更新
.amefoot_live__reload {
	position: relative;
	letter-spacing: -.4em;
	margin: 20px auto;
	@include mq-s {
		width: 95%;
	}
	.amefoot_live__reload__btn--auto {
		width: 35.2112676056%;
		a {
			border-radius: 4px 0 0 4px;
		}
	}
	.amefoot_live__reload__btn--manual {
		width: 29.5774647887%;
		a {
			border-radius: 0 4px 4px 0;
		}
	}
	.amefoot_live__reload__btn--reload {
		position: absolute;
		right: 0;
		width: 32.3943661972%;
		a {
			line-height: 45px;
			padding-top: 11px!important;
			padding-bottom: 10px!important;
			border-radius: 4px;
			background-color: #f6ab00!important;
			color: #000!important;
			&:hover {
				background-color: #ffbe2a!important;
			}
			&:before {
				content: "";
				display: inline-block;
				width: 19px;
				height: 19px;
				margin-right: 4px;
				background: url(/assets/images/stats/mlb/live-icon-reload.png) 0 0 no-repeat;
				vertical-align: middle;
				overflow: hidden;
				font-size: 0;
				text-indent: 100%;
				white-space: nowrap;
				outline: none;
				background-size: contain;
				@include mq-pc {
					width: 24px;
					height: 24px;
				}
			}
		}
	}
	[class^=amefoot_live__reload__btn--] {
		display: inline-block;
		letter-spacing: normal;
		a {
			display: block;
			line-height: 1;
			padding: 10px 0;
			background-color: #1a1a1a;
			color: #fff;
			font-weight: 700;
			font-size: 14px;
			text-align: center;
			white-space: nowrap;
			@include m-transition;
			@include mq-pc {
				padding: 12px 8px;
			}
			&:active,
			&:hover,
			&:link,
			&:visited {
				color: #fff;
				text-decoration: none;
			}
			&:hover {
				color: #f6ab00;
				text-decoration: none;
				background-color: #404040;
			}
			&.selected {
				cursor: default;
				background-color: #222;
				color: #f6ab00;
			}
		}
	}
}

.live-player {
	width: 100%;
	margin: 30px 0 0 0;
	@include mq-s {
		width: 95%;
		margin: 20px auto;
	}
}
