@charset "UTF-8";
/*! build: @@buildTime */
// import mixin / function
@import "../../../../../scss/asset";

// import
// page layout
@import "setting";


// MLB live

// MLB速報コンテンツ
.mlb.game {
  .main-sec {
    padding-bottom: 40px;
  }





  //.stats__header
  .stats__header {
    display: table;
    width: 100%;
    height: 62px;
    padding-top: 0;

    &__title,
    &__btn {
      display: table-cell;
      vertical-align: middle;
    }

    //.stats__header__title
    &__title {
      width: 936px;
      // padding: (20/2)+px;
    }

    //.stats__header__btn
    &__btn {
      width: auto;

       a {
         display: block;
         height: 100%;
         padding-top: 24px;
         padding-bottom: 24px;
         background-color: #222;
         text-align: center;

         img {
           margin: auto;
           width: 105px;
         }

         &:hover {
           background-color: lighten( #222, 15% );
         }
       }
    }
  } //.stats__header





  //バナーエリア
  //.stats__banner
  .stats__banner {
    margin-top: 40px;
  } //.stats__banner
}





.mlb_live {
  //タイトル
  //.mlb_live__heading--h2
  &__heading--h2 {
    line-height: 1.2;
    margin-top: 40px;
    padding: 16px 0;
    border-style: solid;
    border-top-color: #fff;
    border-bottom-color: $live-border-color;
    border-width: 2px 0 1px;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
  }





  //試合概況
  //.mlb_live__overview
  &__overview {
    position: relative;
    margin-bottom: 6px;
    margin-right: -195px;
    margin-left: -195px;
    padding-right: 195px;
    padding-left: 195px;
    background: url(/assets/images/stats/mlb/live-bg.png) center center no-repeat;
    letter-spacing: ls(inline-block);

    //.mlb_live__overview__inner
    &__inner {
      display: table;
      width: 100%;
      min-height: 334px;
      padding-top: 64px;
      padding-bottom: 56px;
    }

    * {
      letter-spacing: normal;
    }

    &:before,
    &:after {
      content: "";
      position: absolute;
      bottom: -6px;
      width: 50%;
      height: 6px;
      @include hide-text;
    }

    &:before {
      left: 0;
      background-color: $home-color;
    }

    &:after {
      right: 0;
      background-color: $visitor-color;
    }

    &__team,
    &__info {
      display: table-cell;
      color: #fff;
      vertical-align: middle;
    }

    //.mlb_live__overview__team
    &__team {
      width: 420px;
      padding-bottom: 1.5em;
      font-weight: bold;
      font-size: 28px;

      &:first-child {
        padding-right: 20px;
        text-align: right;
      }

      &:last-child {
        padding-left: 20px;
        text-align: left;
      }
    }

    //.mlb_live__overview__info
    &__info {
      text-align: center;

      //.mlb_live__overview__info__date
      &__date {
        font-weight: bold;
        font-size: 24px;
      }

      //.mlb_live__overview__info__score
      &__score {
        display: table;
        width: 100%;
        // margin-top: 16px;

        &--home,
        &--visitor,
        &--vs {
          display: table-cell;
        }

        //.mlb_live__overview__info__score--home
        //.mlb_live__overview__info__score--visitor
        &--home,
        &--visitor {
          width: 38%;
          font-weight: bold;
          font-size: 60px;

          &:first-child {
            text-align: right;
          }

          &:last-child {
            text-align: left;
          }
        }

        //.mlb_live__overview__info__score--vs
        &--vs {
          width: 24%;
          line-height: 60px;
          font-weight: bold;
          font-size: 24px;
          vertical-align: middle;
        }
      } //.mlb_live__overview__info__score

      //.mlb_live__overview__info__status
      &__status {
        display: inline-block;
        padding: 3px 12px;
        background-color: $highlight-color;
        font-weight: bold;
        font-size: 20px;

        &--before {
          background-color: $highlight-color;
        }

        &--live {
          background-color: $highlight-secondary-color;
        }

        &--end {
          background-color: #444;
        }

        &--cancel {
          background-color: #444;
        }
      } //.mlb_live__overview__info__status

      //.mlb_live__overview__info__place
      &__place {
        margin-top: 0.5em;
        font-size: 20px;
        white-space: nowrap;
      }
    } //.mlb_live__overview__info
  } //.mlb_live__overview





  //スコアボード
  //.mlb_live__scoreboard
  &__scoreboard {
    //.mlb_live__scoreboard__section
    &__section {
      margin-top: 30px;
      // margin-right: perCalc(20, 750);
      // margin-left: perCalc(20, 750);
    }

    & {
      display: table;
      width: 100%;
    }

    //.mlb_live__scoreboard__column
    &__column {
      display: table-cell;

      &--team {
        width: 105px;
      }

      &--score {
        position: relative;
      }

      &--count {
        width: 156px;
      }
    }

    //.mlb_live__scoreboard__table
    &__table {
      width: 100%;
    }

    th, td {
      line-height: 1;
      padding: 12px 8px;
      color: #fff;
      font-weight: bold;
      font-size: 20px;
      text-align: center;
    }

    thead {
      th, td {
        background-color: #000;
      }
    }

    tbody tr:first-child {
      td {
        border-top: none;
      }
    }

    //.mlb_live__scoreboard__table--team
    &__table--team {
      td {
        border-top: 4px solid #111;
        background-color: #1a1a1a;
      }
    }

    //.mlb_live__scoreboard__table--score
    &__table--score {
      position: absolute;

      &:nth-child(1) { z-index: 3;}
      &:nth-child(2) { z-index: 2;}
      &:nth-child(3) { z-index: 1;}

      td {
        border-top: 4px solid #111;
        border-left: 4px solid #111;
        background-color: #1a1a1a;
      }
    }

    //.mlb_live__scoreboard__table--count
    &__table--count {
      td {
        border-top: 4px solid #111;
        border-left: 4px solid #111;
      }

      .mlb_live__scoreboard__td--sum,
      .mlb_live__scoreboard__td--hit,
      .mlb_live__scoreboard__td--error {
        background-color: #222;
      }
    }

    //.mlb_live__scoreboard__th--team--home {
    &__th--team--home {
      border-left: 4px solid $home-color;
    }

    //.mlb_live__scoreboard__th--team--visitor {
    &__th--team--visitor {
      border-left: 4px solid $visitor-color;
    }




    //イニングが10回を越えた時のページャー
    //.mlb_live__scoreboard__inning_pager
    &__inning_pager {
      letter-spacing: ls(inline-block);
      text-align: right;

      //.mlb_live__scoreboard__inning_pager__list
      &__list {
        display: inline-block;
      }

      //.mlb_live__scoreboard__inning_pager__item
      &__item {
        display: inline-block;
        margin-top: 4px;
        margin-left: 4px;
        letter-spacing: normal;
        text-align: left;
      }

      //.mlb_live__scoreboard__inning_pager__link
      &__link {
        @include link-decoration(#fff, #fff, none, none);
        display: block;
        min-width: 102px;
        line-height: 1;
        padding: 8px 4px;
        background-color: #1a1a1a;
        border-radius: 0 0 5px 5px;
        font-weight: bold;
        font-size: 14px;
        text-align: center;
      }

      //矢印アイコン
      //.mlb_live__scoreboard__inning_pager__link__icon
      &__link__icon {
        &:before,
        &:after {
          display: inline-block;
          content: "";
          width: 0;
          height: 0;
          vertical-align: middle;
          @include hide-text;
        }
      }

      &__item:nth-child(1) .mlb_live__scoreboard__inning_pager__link__icon:before {
        margin-right: 5px;
        border-style: solid;
        border-width: 3px 5.2px 3px 0;
        border-color: transparent #fff transparent transparent;
      }

      &__item:nth-child(2) .mlb_live__scoreboard__inning_pager__link__icon:after {
        margin-left: 5px;
        border-style: solid;
        border-width: 3px 0 3px 5.2px;
        border-color: transparent transparent transparent #fff;
      }

      //ロールオーバー
      &__link:hover {
        background-color: lighten( #1a1a1a, 10% );
      }

      //機能無効
      &__link.disable {
        cursor: default;
        color: darken( #fff, 70% );

        .mlb_live__scoreboard__inning_pager__link__icon:before {
          border-color: transparent #484848 transparent transparent !important;
        }

        .mlb_live__scoreboard__inning_pager__link__icon:after {
          border-color: transparent transparent transparent #484848 !important;
        }

        &:hover {
          background-color: #1a1a1a;
        }
      }
    }//.mlb_live__scoreboard__inning_pager
  } //.mlb_live__scoreboard





  //ナビ - 自動更新選択 / リロードボタン
  //.mlb_live__reload
  &__reload {
    position: relative;
    margin-top: 20px;
    // margin-right: perCalc(20, 750);
    // margin-left: perCalc(20, 750);
    letter-spacing: ls(inline-block);

    [class^="mlb_live__reload__btn--"] {
      display: inline-block;
      letter-spacing: normal;

      a {
        @include link-decoration(#fff, #f6ab00, none, none);
        display: block;
        line-height: 1;
        padding: 12px 8px;
        background-color: #1a1a1a;
        color: #fff;
        font-weight: bold;
        font-size: 14px;
        text-align: center;
        white-space: nowrap;

        &:hover {
          background-color: lighten( #1a1a1a, 15% );
        }

        &.selected {
          cursor: default;
          background-color: #222;
          color: #f6ab00;
        }
      }
    }

    //.mlb_live__reload__btn--auto
    &__btn--auto {
      width: perCalc(250, 710);

      a {
        border-radius: 4px 0 0 4px;
      }
    }

    //.mlb_live__reload__btn--manual
    &__btn--manual {
      width: perCalc(210, 710);

      a {
        border-radius: 0 4px 4px 0;
      }
    }

    //.mlb_live__reload__btn--reload
    &__btn--reload {
      position: absolute;
      right: 0;
      width: perCalc(230, 710);

      a {
        line-height: 45px;
        padding-top: 11px !important;
        padding-bottom: 10px !important;
        border-radius: 4px;
        background-color: #f6ab00 !important;
        color: #000 !important;

        &:hover {
          background-color: lighten( #f6ab00, 10% ) !important;
        }

        &:before {
          content: "";
          display: inline-block;
          width: 24px;
          height: 24px;
          margin-right: 4px;
          background: url(/assets/images/stats/mlb/live-icon-reload.png) 0 0 no-repeat;
          // background-size: (38/2)+px;
          vertical-align: middle;
          @include hide-text;
        }
      }
    }
  } //.mlb_live__reload





  //ナビゲーション共通
  //.mlb_live__nav
  &__nav {
    //.mlb_live__nav__list
    &__list {
      display: table;
      width: 100%;
    }

    //.mlb_live__nav__item
    &__item {
      display: table-cell;
      border-right: 1px solid $live-border-color;

      &:last-child {
        border-right: none;
      }

      a {
        @include link-decoration(#fff, #f6ab00, none, none);
        display: block;
        line-height: 1;
        height: 100%;
        padding: 20px 4px;
        background-color: #1a1a1a;
        color: #fff;
        font-weight: bold;
        font-size: 18px;
        text-align: center;
        white-space: nowrap;

        &:hover {
          background-color: lighten( #1a1a1a, 15% );
        }

        &.current {
          cursor: default;
          background-color: #222;
          color: #f6ab00;
        }
      }
    } //.mlb_live__nav__item
  } //.mlb_live__nav



  //グローバルナビ
  //.mlb_live__nav--global
  &__nav--global {
    margin: 40px 0;

    //.mlb_live__nav__item
    .mlb_live__nav__item {
      &:first-child {
        a {
          border-radius: 4px 0 0 4px;
        }
      }

      &:last-child {
        a {
          border-radius: 0 4px 4px 0;
        }
      }
    } //.mlb_live__nav__item
  } //.mlb_live__nav--global



  //汎用タブメニュー
  //.mlb_live__nav--tab_menu
  &__nav--tab_menu {
    border-bottom: 2px solid $live-border-color;
  } //.mlb_live__nav--tab_menu





  //試合の見どころ
  //.mlb_live__preview
  &__preview {
    // padding: 0 perCalc(20, 750);

    p {
      margin-top: 1em;
      margin-bottom: 1em;
      color: #fff;
    }
  } //.mlb_live__preview





  //スターティングメンバー
  //.mlb_live__starting
  &__starting {

    //予告先発投手
    //.mlb_live__starting--pitcher
    &--pitcher {
      width: 100%;

      th, td {
        padding: 12px;
        border-right: 1px solid $live-border-color;
        color: #fff;

        &:last-child {
          border-right: none;
        }
      }

      [class^="mlb_live__starting--pitcher__th--"] {
        width: 50%;
        line-height: 1.2;
        padding: 12px 4px;
        background-color: $live-table_th-color;
        font-size: 18px;
        text-align: center;
      }

      &__th--home {
        border-bottom: 2px solid $home-color;
      }

      &__th--visitor {
        border-bottom: 2px solid $visitor-color;
      }

      //.mlb_live__starting--pitcher__position
      //.mlb_live__starting--pitcher__uniform_num
      &__position,
      &__uniform_num {
        display: inline-block;
        margin-right: 1em;
        font-size: 16px;
      }

      //.mlb_live__starting--pitcher__name
      .mlb_live__starting--pitcher__name {
        font-size: 20px;
      }

      //.mlb_live__starting--pitcher__handed--right
      //.mlb_live__starting--pitcher__handed--left
      // [class^="mlb_live__starting--pitcher__handed--"] {
      //   display: inline-block;
      //   line-height: 1;
      //   margin-left: 4px;
      //   padding: 5px;
      //   font-size: (20/2)+px;
      //   vertical-align: top;

      //   &.mlb_live__starting--pitcher__handed--right {
      //     background-color: $highlight-secondary-color;
      //   }

      //   &.mlb_live__starting--pitcher__handed--left {
      //     background-color: $highlight-color;
      //   }
      // }
      [class^="mlb_live__starting--pitcher__handed--"] {
        display: inline-block;
        line-height: 1;
        margin-left: 4px;
        vertical-align: top;

        &:before {
          padding: 4px;
          font-size: 10px;
        }

        &.mlb_live__starting--pitcher__handed--right:before {
          content: '\53F3';
          background-color: $highlight-secondary-color;
        }

        &.mlb_live__starting--pitcher__handed--left:before {
          content: '\5DE6';
          background-color: $highlight-color;
        }
      }
    } //.mlb_live__starting--pitcher





    //予告先発投手 成績
    //.mlb_live__starting--pitcher_record
    &--pitcher_record {
      width: 100%;

      th, td {
        padding: 12px 4px;
        border-top: 1px solid $live-border-color;
        border-bottom: 1px solid $live-border-color;
        color: #fff;
        font-size: 16px;
        text-align: center;

        &:nth-child(5) {
          border-right: 1px solid $live-border-color;
          border-left: 1px solid $live-border-color;
        }
      }

      //.mlb_live__starting--pitcher_record__th
      &__th {
        background-color: $live-table_th-color;
      }
    } //.mlb_live__starting--pitcher_record





    //スターティングメンバー
    //.mlb_live__starting--member
    &--member {
      //.mlb_live__starting--member__section
      &__section {
        overflow: hidden;
      } //.mlb_live__starting--member__section

      float: left;
      width: 50%;

      &:first-child {
        .mlb_live__starting--member__heading {
          border-right: 1px solid $live-border-color;
        }
      }

      &:last-child {
        float: right;
      }

      //.mlb_live__starting--member__caption
      &__caption {
        line-height: 1.2;
        padding: 12px 4px;
        background-color: $live-table_th-color;
        color: #fff;
        font-size: 18px;
        text-align: center;
      }

      &--home .mlb_live__starting--member__caption {
        border-bottom: 2px solid $home-color;
      }

      &--visitor .mlb_live__starting--member__caption {
        border-bottom: 2px solid $visitor-color;
      }
      //.mlb_live__starting--member__caption

      th,
      td {
        padding: 12px 8px;
        border-right: 1px solid $live-border-color;
        border-bottom: 1px solid $live-border-color;
      }

      &:last-child {
        th:last-child,
        td:last-child {
          border-right: none;
        }
      }

      //.mlb_live__starting--member__th--lineup
      &__th--lineup {
        background-color: $live-table_th-color;
        color: #fff;
        font-size: 16px;
        text-align: center;
      }

      //.mlb_live__starting--member__td--position
      &__td--position {
        color: #fff;
        font-size: 16px;
        text-align: center;
      }

      //.mlb_live__starting--member__td--player
      &__td--player {
        color: #fff;
        font-size: 16px;
      }

      //.mlb_live__starting--member__td--player__handed--right
      //.mlb_live__starting--member__td--player__handed--left
      [class^="mlb_live__starting--member__td--player__handed--"] {
        display: inline-block;
        line-height: 1;
        margin-right: 4px;
        vertical-align: top;

        &:before {
          padding: 4px;
          font-size: 10px;
        }

        &.mlb_live__starting--member__td--player__handed--right:before {
          content: '\53F3\6253';
          background-color: $highlight-secondary-color;
        }

        &.mlb_live__starting--member__td--player__handed--left:before {
          content: '\5DE6\6253';
          background-color: $highlight-color;
        }
      }
    } //.mlb_live__starting--member




    //控え選手
    //.mlb_live__starting--bench
    &--bench {
      //.mlb_live__starting--bench__section
      &__section {
        overflow: hidden;
      } //.mlb_live__starting--bench__section

      float: left;
      width: 50%;

      &:first-child {
        .mlb_live__starting--bench__heading {
          border-right: 1px solid $live-border-color;
        }
      }

      &:last-child {
        float: right;
      }

      //.mlb_live__starting--bench__caption
      &__caption {
        line-height: 1.2;
        padding: 12px 4px;
        background-color: $live-table_th-color;
        color: #fff;
        font-size: 18px;
        text-align: center;
      }

      &--home .mlb_live__starting--bench__caption {
        border-bottom: 2px solid $home-color;
      }

      &--visitor .mlb_live__starting--bench__caption {
        border-bottom: 2px solid $visitor-color;
      }
      //.mlb_live__starting--bench__caption

      th,
      td {
        padding: 12px 8px;
        border-right: 1px solid $live-border-color;
        border-bottom: 1px solid $live-border-color;
      }

      &:last-child {
        th:last-child,
        td:last-child {
          border-right: none;
        }
      }

      //.mlb_live__starting--bench__th__heading
      &__th__heading {
        // padding-top: (16/2)+px !important;
        // padding-bottom: (16/2)+px !important;
        background-color: $live-table_th-color;
        color: #fff;
        font-size: 16px;
      }

      //.mlb_live__starting--bench__td--player
      &__td--player {
        color: #fff;
        font-size: 16px;
      }

      //.mlb_live__starting--bench__td--player__handed--right
      //.mlb_live__starting--bench__td--player__handed--left
      [class^="mlb_live__starting--bench__td--player__handed--"] {
        display: inline-block;
        line-height: 1;
        margin-right: 4px;
        vertical-align: top;

        &:before {
          padding: 4px;
          font-size: 10px;
        }

        &.mlb_live__starting--bench__td--player__handed--right:before {
          content: '\53F3\6253';
          background-color: $highlight-secondary-color;
        }

        &.mlb_live__starting--bench__td--player__handed--left:before {
          content: '\5DE6\6253';
          background-color: $highlight-color;
        }
      }

      //.mlb_live__starting--bench--pitcher
      &--pitcher {
        [class^="mlb_live__starting--bench__td--player__handed--"] {
          &.mlb_live__starting--bench__td--player__handed--right:before {
            content: '\53F3\6295';
          }

          &.mlb_live__starting--bench__td--player__handed--left:before {
            content: '\5DE6\6295';
          }
        }
      }
    } //.mlb_live__starting--bench

  } //.mlb_live__starting





  //チーム対戦成績
  //.mlb_live__win_loss_stangings
  &__win_loss_stangings {
    width: 100%;

    th, td {
      padding: 12px 8px;
      border-top: 1px solid $live-border-color;
      border-bottom: 1px solid $live-border-color;
      color: #fff;
      font-size: 16px;
      text-align: center;

      &:nth-child(2) {
        border-right: 1px solid $live-border-color;
        border-left: 1px solid $live-border-color;
      }
    }

    //mlb_live__win_loss_stangings__th
    //.mlb_live__win_loss_stangings__th--home
    //.mlb_live__win_loss_stangings__th--visitor
    [class^="mlb_live__win_loss_stangings__th"] {
      background-color: $live-table_th-color;
    }

    //.mlb_live__win_loss_stangings__th--home
    //.mlb_live__win_loss_stangings__th--visitor
    [class^="mlb_live__win_loss_stangings__th--"] {
      line-height: 1.2;
      padding-right: 4px;
      padding-left: 4px;
      font-size: 18px;
    }

    //.mlb_live__win_loss_stangings__th--home
    &__th--home {
      border-bottom: 2px solid $home-color !important;
    }

    //.mlb_live__win_loss_stangings__th--visitor
    &__th--visitor {
      border-bottom: 2px solid $visitor-color !important;
    }

  } //.mlb_live__win_loss_stangings





  //出場成績
  //.mlb_live__record
  &__record {
    //.mlb_live__record__section
    &__section {}

    //.mlb_live__record__container
    &__container {}

    //.mlb_live__record table
    & {
      width: 100%;

      //.mlb_live__record__heading
      &__heading {
        padding: 16px 0;
        color: #fff;
        font-weight: bold;
        font-size: 18px;
        border-width: 0 0 1px;
        border-style: solid;
      }

      //.mlb_live__record--home
      &--home {
        .mlb_live__record__heading {
          border-color: $home-color;
        }
      }

      //.mlb_live__record--visitor
      &--visitor {
        .mlb_live__record__heading {
          border-color: $visitor-color;
        }
      }

      th,
      td {
        padding: 12px 8px;
        border-right: 1px solid $live-border-color;
        border-bottom: 1px solid $live-border-color;
        color: #fff;
        font-size: 16px;
        text-align: center;
      }

      td:last-child {
        border-right: none;
      }

      &:last-child {
        th:last-child,
        td:last-child {
          border-right: none;
        }
      }

      //.mlb_live__record__th
      &__th {
        background-color: $live-table_th-color;
        text-align: center;
      }
    } //.mlb_live__record table
  } //.mlb_live__record





  //イニング速報
  //.mlb_live__inning
  &__inning {
    //.mlb_live__inning__section
    &__section {
      border-top: 1px solid #222;
    } //.mlb_live__inning__section

    //.mlb_live__inning__container
    &__container {} //.mlb_live__inning__container

    //.mlb_live__inning__heading
    &__heading {
      padding: 16px 20px;
      background-color: #1a1a1a;
      border-width: 0 0 1px;
      border-style: solid;
      border-color: #222;
      color: #fff;
      font-weight: bold;
      font-size: 18px;
    } //.mlb_live__inning_heading

    &--home {
      //タイトルの下線の色
      .mlb_live__inning__heading {
        border-bottom-color: $home-color;
      }

      //打順の下線の色
      .mlb_live__inning tbody td:first-child span {
        border-bottom-color: $home-color;
      }
    }

    &--visitor {
      //タイトルの下線の色
      .mlb_live__inning__heading {
        border-bottom-color: $visitor-color;
      }

      //打順の下線の色
      .mlb_live__inning tbody td:first-child span {
        border-bottom-color: $visitor-color;
      }
    }

    //mlb_live__inning table
    & {
      width: 100%;

      th,
      td {
        padding: 12px 8px;
        border-right: 1px solid $live-border-color;
        border-bottom: 1px solid $live-border-color;
        color: #fff;
        text-align: center;
        vertical-align: middle;
      }

      &:last-child {
        th:last-child,
        td:last-child {
          border-right: none;
        }
      }

      //テーブルタイトル行
      thead {
        th {
          background-color: $live-table_th-color;
          font-size: 16px;
        }

        //ピッチャー
        //.mlb_live__inning__th--pitcher
        // th:first-child {
        .mlb_live__inning__th--pitcher {
          background-color: transparent;
          text-align: left;

          //ピッチャーの名前
          .mlb_live__inning__pitcher_name {
            margin-left: 1em;
          }
        }

        //スコア
        //.mlb_live__inning__th--score
        .mlb_live__inning__th--score {
          border-bottom: none;
        }
      } // thead テーブルタイトル行

      //テーブル実況
      tbody {
        td {
          font-size: 16px;
        }

        //打順
        //.mlb_live__inning__td--lineup
        // td:first-child {
        .mlb_live__inning__td--lineup {
          width: 36px + 8*2;
          border-right: none;

          span {
            display: inline-block;
            width: 36px;
            height: 36px;
            line-height: 36px;
            background-color: #222;
            border-width: 0 0 1px;
            border-style: solid;
            font-size: 16px;
          }
        }

        //選手名とプレー内容
        //.mlb_live__inning__td--play
        // td:nth-child(2) {
        .mlb_live__inning__td--play {
          text-align: left;
          letter-spacing: ls(inline-block);

          span {
            display: inline-block;
            margin-right: 1em;
            letter-spacing: normal;

            + span {
              margin-left: 0;
            }
          }
        }

        //スコアの下線の色を変える
        //.mlb_live__inning__td--score--home
        //.mlb_live__inning__td--score--visitor
        tr:first-child {
          // td:nth-child(4),
          // td:nth-child(5) {
          .mlb_live__inning__td--score--home,
          .mlb_live__inning__td--score--visitor {
            position: relative;

            &:before {
              content: "";
              position: absolute;
              top: -1px;
              left: 0;
              width: 100%;
              height: 1px;
              @include hide-text;
            }
          }

          //.mlb_live__inning__td--score--home
          // td:nth-child(4) {
          .mlb_live__inning__td--score--home {
            &:before {
              background-color: $home-color;
            }
          }

          //..mlb_live__inning__td--score--visitor
          // td:nth-child(5) {
          .mlb_live__inning__td--score--visitor {
            &:before {
              background-color: $visitor-color;
            }
          }
        }

      } // tbody テーブル実況
    } //.mlb_live__inning table
  } //.mlb_live__inning
} //.mlb_live
