@charset "UTF-8";
/*! build: @@buildTime */
// import mixin / function
@import "../../../../../scss/asset";

// import
// page layout
@import "setting";


// MLB トップ(日程・スケジュール)

//共通パーツ
//試合概況
.mlb__game__overview {
  display: table;
  width: 100%;
  margin-top: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: $bg-color_gray;
  border-bottom: 2px solid $border-primary-color;
  letter-spacing: ls(inline-block);

  * {
    letter-spacing: normal;
  }

  //試合情報のリンク
  //.mlb__game__overview__link
  &__link {
    @include link-decoration($highlight-color, $highlight-color, none, none);

    &:hover .mlb__game__overview {
      // background-color: darken( $bg-color_gray, 10% );
      background-color: #ddd;
    }
  }

  &__team,
  &__info {
    display: table-cell;
    // width: perCalc(250, 750);
    text-align: center;
    vertical-align: middle;
  }

  //.mlb__game__overview__team
  &__team {
    width: 33%;
    padding-right: 10px;
    padding-left: 10px;
    font-weight: bold;
    font-size: 20px;

    //.color: $highlight-color;
    &.mlb__game__result--win {
      color: $highlight-color;
    }
  }

  //.mlb__game__overview__info
  &__info {
    width: 34%;

    //.mlb__game__overview__info__place
    &__place {
      font-size: 16px;
      white-space: nowrap;
    }

    //.mlb__game__overview__info__score
    &__score {
      display: table;
      width: 100%;

      &--home,
      &--visitor,
      &--vs {
        display: table-cell;
        // line-height: 1.2;
      }

      //.mlb__game__overview__info__score--home
      //.mlb__game__overview__info__score--visitor
      &--home,
      &--visitor {
        width: 40%;
        font-weight: bold;
        font-size: 32px;

        //.color: $highlight-color;
        &.mlb__game__result--win {
          color: $highlight-color;
        }
      }

      span:nth-child(1) {
        text-align: right;
      }

      span:nth-child(3) {
        text-align: left;
      }

      //.mlb__game__overview__info__score--vs
      &--vs {
        width: 20%;
        font-weight: bold;
        font-size: 32px;
        vertical-align: middle;
      }
    } //.mlb__game__overview__info__score

    //.mlb__game__overview__info__status
    &__status {
      display: inline-block;
      padding: 6px 12px;
      background-color: $highlight-color;
      color: #fff;
      font-weight: bold;
      font-size: 12px;

      &--before {
        background-color: $highlight-color;
      }

      &--live {
        background-color: $highlight-secondary-color;
      }

      &--end {
        background-color: #444;
      }

      &--cancel {
        background-color: #444;
      }
    } //.mlb__game__overview__info__status
  } //.mlb__game__overview__info
}





// 出場した日本人選手
//.mlb__today_jp
.mlb__today_jp {
  //.mlb__today_jp__heading
  &__heading {
    margin-bottom: 20px;
    padding: 12px 20px;
    background-color: $highlight-color;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
  } //.mlb__today_jp__heading



  //.mlb__today_jp__container
  &__container {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #dbdbdb;

    // フォントサイズを下げる/レイアウト変更
    // ref.https://aws-plus.backlog.jp/view/UNDO_MLBSTATS-26#comment-1174357231
    //.mlb__game__overview
    .mlb__game__overview {
      //.mlb__game__overview__team
      &__team {
        font-size: 14px;
      }

      //.mlb__game__overview__info
      &__info {
        position: relative;

        //.mlb__game__overview__info__place
        &__place {
          margin-bottom: 8px;
          font-size: 10px;
        }

        //.mlb__game__overview__info__score
        &__score {
          //.mlb__game__overview__info__score--home
          //.mlb__game__overview__info__score--visitor
          &--home,
          &--visitor {
            width: 18%;
            font-size: 16px;
          }

          //.mlb__game__overview__info__score--vs
          &--vs {
            // font-size: 16px;
            @include hide-text;
          }
        }

        //.mlb__game__overview__info__status
        &__status {
          position: absolute;
          top: 2.3em;
          left: 50%;
          transform: translateX(-50%);
          padding: 4px 6px;
          font-size: 10px;
        }
      } //.mlb__game__overview__info
    } //.mlb__game__overview
  } //.mlb__today_jp__container



  //.mlb__today_jp__player
  &__player {
    margin-top: 20px;
    margin-bottom: 16px;
    overflow: hidden;

    //.mlb__today_jp__player__name
    &__name {
      float: left;
      color: $highlight-color;
      font-weight: bold;
      font-size: 18px;
    }

    //.mlb__today_jp__player__profile
    &__profile {
      float: right;
      display: table;
      border: 1px solid $highlight-color;

      dt, dd {
        display: table-cell;
        padding: 4px 6px;
        white-space: nowrap;
        font-weight: bold;
        font-size: 12px;
      }

      //.mlb__today_jp__player__profile__team
      &__team {
        color: $highlight-color;
      }

      //.mlb__today_jp__player__profile__uniform_num
      &__uniform_num {
        background-color: $highlight-color;
        color: #fff;
      }
    } //.mlb__today_jp__player__profile
  } //.mlb__today_jp__player



  //.mlb__today_jp__record
  &__record {
    //.mlb__today_jp__record__container
    &__container {
      margin-top: 12px;
    }

    width: 100%;
    background-color: $bg-color_gray;

    &__th,
    &__td {
      padding: 8px 8px;
      font-size: 12px;
      text-align: center;
    }

    //.mlb__today_jp__record__th
    &__th {
      background-color: $highlight-color;
      color: #fff;
      font-weight: bold;
    }

    //.mlb__today_jp__record__td
    &__td {
      border-right: 1px solid $border-primary-color;

      &:last-child {
        border-right: none;
      }
    }
  } //.mlb__today_jp__record



  //.mlb__today_jp__btn
  &__btn {
    margin-top: 30px;
    // margin-right: perCalc(20, 750);
    // margin-left: perCalc(20, 750);

    a {
      @include link-decoration($highlight-color, #fff, none, none);
      display: block;
      padding-top: 10px;
      padding-bottom: 10px;
      border: 2px solid $highlight-color;
      border-radius: 4px;
      background-color: #fff;
      font-weight: bold;
      font-size: 14px;
      text-align: center;

      &:hover {
        background-color: $highlight-color;
      }
    }
  }
} //.mlb__today_jp





//日程・結果
//.mlb__schedule
.mlb__schedule {
  margin-top: 40px;

  //.mlb__schedule__heading
  &__heading {
    //.mlb__schedule__heading__container
    &__container {
      display: table;
      width: 100%;
      background-color: $highlight-color;
    }


    &,
    &__btn {
      display: table-cell;
    }

    & {
      width: 568px;
      padding: 12px 20px;
      color: #fff;
      font-weight: bold;
      font-size: 22px;
    }

    //.mlb__schedule__heading__btn
    &__btn {
      background-color: #0a275d;
      text-align: center;

      a {
        display: block;
        width: 100%;
        height: 100%;
        text-align: center;

        span {
          display: inline-block;
          color: #fff;
          font-weight: bold;
          font-size: 14px;

          &:before {
            content: "";
            position: relative;
            top: -1px;
            display: inline-block;
            width: 24px;
            height: 24px;
            margin-right: 2px;
            background: url(/assets/images/stats/mlb/icon-calender@2x.png) 0 0 no-repeat;
            background-size: 24px;
            vertical-align: middle;
            @include hide-text;
          }
        }
      }
    }
  } //.mlb__schedule__heading



  //絞り込み検索
  //.mlb__schedule__limit_search
  &__limit_search {
    letter-spacing: ls(inline-block);

    //.mlb__schedule__limit_search--team
    //.mlb__schedule__limit_search--game
    &--team,
    &--game {
      display: inline-block;
      // display: inline-table;
      width: 50%;
      padding: (28/2)+px (10/2)+px;
      // letter-spacing: normal;
      text-align: center;
    }

    //.mlb__schedule__limit_search--team
    &--team {
      background-color: $bg-color_gray;
    } //.mlb__schedule__limit_search--team

    //.mlb__schedule__limit_search--game
    &--game {
      background-color: #d9d9d9;
    } //.mlb__schedule__limit_search--game

    //.mlb__schedule__limit_search__heading
    //.mlb__schedule__limit_search__select
    &__heading,
    &__select {
      display: inline-block;
      letter-spacing: normal;
    }

    //.mlb__schedule__limit_search__heading
    &__heading {
      margin-right: 1em;
      color: $highlight-color;
      font-weight: bold;
      font-size: 20px;
      text-align: center;
    }

    //.mlb__schedule__limit_search__select
    &__select {
      margin-top: (16/2)+px;
      text-align: center;
    } //.mlb__schedule__limit_search__select
  } //.mlb__schedule__limit_search



  //絞り込み検索結果
  //.mlb__schedule__result
  &__result {
    //.mlb__schedule__result__section
    &__section {
      // padding-right: perCalc(20, 750);
      // padding-left: perCalc(20, 750);

      .mlb__game__overview + .mlb__game__overview {
        margin-top: 12px;
      }
    }

    //.mlb__schedule__result__container
    &__container {
      margin-top: 24px;

      // フォントサイズを下げる/レイアウト変更
      // ref.https://aws-plus.backlog.jp/view/UNDO_MLBSTATS-26#comment-1174357231
      //.mlb__game__overview
      .mlb__game__overview {
        //.mlb__game__overview__team
        &__team {
          font-size: 14px;
        }

        //.mlb__game__overview__info
        &__info {
          position: relative;

          //.mlb__game__overview__info__place
          &__place {
            margin-bottom: 8px;
            font-size: 10px;
          }

          //.mlb__game__overview__info__score
          &__score {
            //.mlb__game__overview__info__score--home
            //.mlb__game__overview__info__score--visitor
            &--home,
            &--visitor {
              width: 18%;
              font-size: 16px;
            }

            //.mlb__game__overview__info__score--vs
            &--vs {
              // font-size: 16px;
              @include hide-text;
            }
          }

          //.mlb__game__overview__info__status
          &__status {
            position: absolute;
            top: 2.3em;
            left: 50%;
            transform: translateX(-50%);
            padding: 4px 6px;
            font-size: 10px;
          }
        } //.mlb__game__overview__info
      } //.mlb__game__overview
    }

    //.mlb__schedule__result__heading
    &__heading {
      margin-top: 24px;
      padding: 2px 0;
      margin-bottom: 16px;
      border-bottom: 3px solid $highlight-color;
      color: $highlight-color;
      font-weight: bold;
      font-size: 18px;
    }

  } //.mlb__schedule__result



  //.mlb__schedule__calendar
  &__calendar {
    height: 540px;
    margin-top: 30px;
    padding: 0 0 40px;

    //.mlb__schedule__calendar__heading
    &__heading {
      padding: 5px 0;
      margin-bottom: 16px;
      border-bottom: 3px solid $highlight-color;
      color: $highlight-color;
      font-weight: bold;
      font-size: 18px;
    }



    .rbc-calendar {
      padding-bottom: 40px;
    }



    //カレンダーヘッダー部
    .calendar-toolbar-container {

      button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        outline: none;
        padding: 0;
        appearance: none;
      }

      .calendar-navigation-header {
        display: table;
        width: 100%;
        background-color: $highlight-color;

        .calendar-btn,
        > .calendar-label-date {
          display: table-cell;
          height: 45px;
          color: #fff;
          font-weight: bold;
          vertical-align: middle;
        }

        .calendar-btn {
          width: 100px;
          background-color: #0a275d;
          font-size: 18px;

          &:hover {
            background-color: lighten( #0a275d, 10% );
          }
        }

        .calendar-btn-prev span:after {
          content: "\524D\6708";
          margin-left: 8px;
        }

        .calendar-btn-next span:before {
          content: "\7FCC\6708";
          margin-right: 8px;
        }

        .calendar-label-date {
          width: 528px;

          .calendar-label {
            font-size: 18px;
            text-align: center;
            // font-weight: bold;
            font-size: 16px;
          }
        }
      } //.calendar-navigation-header



      //「今日」ボタン
      //一旦非表示
      .calendar-navigation-footer {
        display: none;
      }
    } //.calendar-toolbar-container
    //カレンダーヘッダー部



    // カレンダー週(月〜金)ラベル
    .rbc-header {
      padding-top: 10px;
      padding-bottom: 10px;

      .weeks-header-label {
        color: #000;
        font-size: 16px;
      }

      // 土曜
      .weeks-header-sat {
        .weeks-header-label {
          color: $highlight-color;
        }
      }

      // 日曜
      .weeks-header-sun {
        .weeks-header-label {
          color: $highlight-secondary-color;
        }
      }
    } //.rbc-header
    // カレンダー週(月〜金)ラベル



    //背景用のdiv
    .rbc-day-bg {
      //今日の日付
      &.rbc-today {
        background-color: #e6e6e6;
      }
    } //.rbc-day-bg
    //背景用のdiv



    //日付
    .rbc-row-content {
      .rbc-row:nth-child(1) {
        z-index: -1;
        position: relative;

        .rbc-date-cell {
          position: relative;
          width: 100%;
          height: 60px;
          padding-right: 0;

          a {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateY(-50%) translateX(-50%);
            margin-top: -0.25em;
          }
        }
      }
    }

    .rbc-date-cell {
      a {
        cursor: default;
        @include link-decoration(#000, #000, none, none);
      }

      //土曜
      &:nth-child(6) {
        a {
          color: $highlight-color;
        }
      }

      //日曜
      &:nth-child(7) {
        a {
          color: $highlight-secondary-color;
        }
      }

      //その月じゃない日
      &.rbc-off-range {
        a {
          color: #999;
        }
      }
    } //.rbc-date-cell
    //日付


    //試合のある日
    .rbc-row-content {
      .rbc-row:nth-child(2) {
        // z-index: -1;
        margin-top: -60px;
      }
    }

    .rbc-row-segment {
      height: 60px;
      padding: 0;

      .rbc-event {
        position: relative;
        height: 100%;
        border-radius: 0;
        background-color: transparent;

        //下線
        &:before {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateY(-50%) translateX(-50%);
          width: 1.5em;
          height: 2px;
          margin-top: 0.55em;
          background-color: #000;
        }

        &:hover {
          // background-color: $highlight-color;
          // background-color: lighten( $highlight-color, 30% );
          // @include opacity(0.2);

          &:before {
            background-color: transparent;
          }
        }
      } //.rbc-event

      .rbc-event-content {
        @include hide-text;
      }
    } //.rbc-row-segment

  } //.mlb__schedule__calendar
} //.mlb__schedule
