@charset "UTF-8";
/*! build: @@buildTime */
// import mixin / function
@import "../../../../../scss_sp/asset";

// normalize / reset / 基本 class, tag 設定
@import "../../../../../bower_exports/modularized/normalize";
@import "../../../../../scss_sp/style/reset";
@import "../../../../../scss_sp/dependencies/style";

// --------------------------------------------
// 以下、import ファイルを編集
// --------------------------------------------

// page layout
@import "../module/import";
@import "../layout";

$orange: #e71a0f;
$gray: #f8fafc;

@mixin title($width: auto) {
  font-weight: bold;
  color: $orange;
  margin-bottom: 20px;
  img {
    margin-right: 10px;
    width: $width;
    vertical-align: baseline;
  }
}

@mixin notice {
  font-size: 10px;
}

@mixin section {
  margin-bottom: 30px;
}

@mixin plr {
  padding: 0 10px;
}

@mixin movie-wrap {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  iframe {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
}

// common override
.fwt {
  .body-sec,
  .foot-sec {
    background-color: #fff !important;
  }
  .body-sec {
    color: #515769;
  }
  .main-sec {
    @include plr;
    a {
      transition: 0.3s;
      text-decoration: none;
      &:hover {
        opacity: 0.7;
      }
    }
  }

  .body-sec-inner {
    background-image: none;
    background-color: transparent;
  }

  .side-sec {
    position: relative;
    background: none;
  }
}

.fwt-bg-container {
}

.fwt-summary {
  background: url('../../../sp/images/fwt/fwt-bg-sp.jpg') center top no-repeat;
  background-size: cover;
  &__inner {
    padding: 40px 10px 60px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    max-width: 600px;
    h1 {
      padding-right: 10px;
      flex-grow: 1;
    }
    &__text-wrap {
      flex-grow: 1;
      img {
        margin-bottom: 5px;
      }
      p {
        font-family: 'Mukta Vaani';
        color: #231815;
        font-size: 10px;
      }
    }
  }
}
.fwt-streaming {
  margin: 0 auto;
  img {
    width: 100%;
    margin-bottom: 15px;
  }
  p {
    @include notice;
    @include plr;
    color :#515769;
    margin: 10px 0;
  }
  &__movie-wrap {
    @include movie-wrap;
  }
}

.fwt-intro {
  margin-bottom: 50px;
  &__link-app {
    a {
      @include link-decoration($orange, $orange, underline, none);
      display: inline-block;
      line-height: 40px;
      padding-left: 48px;
      background: url("../../../images/fwt/intro-app_icon.png") 0 0 no-repeat;
      background-size: 40px;
      font-weight: bold;
    }
  }
}

.fwt--about {
  @include section;
  h2 {
    @include title(115px);
  }
  p {
    position: relative;
    height: 6em;
    overflow-y: hidden;
    &:after {
      display: block;
      content: '';
      background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
      height: 3em;
      width: 100%;
      position: absolute;
      bottom: 0;
    }
    &.active {
      height: auto;
      &:after {
        content: none;
      }
    }
  }
  #readMore {
    transition: 0.2s;
    display: block;
    width: 100px;
    margin: 0 auto;
    padding-top: 10px;
    cursor: pointer;
  }
  &__movie-wrap {
    @include movie-wrap;
    margin-top: 40px;
  }
}

.fwt--judgeing {
  margin-bottom: 20px;
  background: $gray;
  padding: 20px 10px;
  h3 {
    @include title(130px);
    margin-bottom: 30px;
  }
  ul {
    li {
      display: flex;
      flex-direction: column;
      &:not(:last-child) {
        margin-bottom: 10px;
      }
      .fwt--judgeing__title-wrap {
        display: flex;
        align-items: baseline;
        padding-bottom: 10px;
        border-bottom: 1px solid $orange;
        cursor: pointer;
        position: relative;
        &:after {
          transition: 0.2s;
          transform: rotateX(0deg);
          content: '';
          background: url('../../../sp/images/fwt/icon-arrow.png') center center no-repeat;
          display: block;
          width: 20px;
          height: 20px;
          position: absolute;
          right: 10px;
          top: 50%;
          margin-top: -10px;
          background-size: contain;
        }
        &.active {
          &:after {
            transform: rotateX(180deg);
          }
        }
        img {
          width: inherit;
          height: 14px;
          padding-right: 5px;
        }
        h5 {
          font-weight: bold;
          font-size: 16px;
          margin-top: 10px;
        }
      }
      .fwt--judgeing__text-wrap {
        display: none;
        padding-top: 10px;
        p {
          font-size: 14px;
        }
      }
    }
  }
}

.fwt--featured {
  padding-bottom: 50px;
  position: relative;
  &:after {
    content: '';
    background: url('../../../images/fwt/bg-mountain-gray.png') left bottom no-repeat;
    background-size: contain;
    display: block;
    width: 400px;
    height: 200px;
    position: absolute;
    bottom: -10px;
    left: -30px;
  }
  h3 {
    @include title(130px);
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    li {
      width: calc((100% - 20px) / 3);
      margin-bottom: 10px;
      &:not(:nth-child(3n)) {
        margin-right: 10px;
      }
      img {
        width: 100%;
        display: block;
        margin-bottom: 10px;
      }
      .fwt--featured__name-jp {
        font-weight: bold;
      }
      .fwt--featured__name-en {
        font-size: 10px;
        margin-bottom: 5px;
      }
      .fwt--featured__type {
        font-size: 10px;
        color: $orange;
      }
      .fwt--featured__andmore {
        width: 100px;
        margin: 110px auto 0;
      }
    }
  }
}


.fwt--overview {
  background: $gray;
  margin: 0 -100vw;
  padding: 0 100vw;
  position: relative;
  margin-bottom: 40px;
  &:after {
    content: '';
    background: url('../../../images/fwt/bg-mountain-white.png') left bottom no-repeat;
    background-size: contain;
    display: block;
    width: 300px;
    height: 200px;
    position: absolute;
    bottom: -5px;
    left: 340px;
  }
  &__inner {
    padding: 40px 0 60px;
    h2 {
      @include title(173px);
    }
    table {
      margin-bottom: 10px;
      tbody {
        tr {
          th {
            font-weight: bold;
            border-right: 1px solid $orange;
            padding: 0 10px 10px 0;
            width: 1px;
            white-space: nowrap;
          }
          td {
            padding: 0 0 10px 10px;
            word-break: break-all;
            word-wrap: break-word;
            a {
              color: $orange;
            }
          }
        }
      }
    }
    p {
      @include notice;
    }
  }
}

.fwt--related {
  @include section;
  h2 {
    @include title(131px);
  }
  ul {
    li {
      padding-bottom: 20px;
      margin-bottom: 20px;
      &:not(:last-child) {
        border-bottom: 1px solid rgba(81, 87, 105,0.2);
      }
      a {
        color: inherit;
        text-decoration: none;
        display: flex;
        .fwt--related__image-wrap {
          flex-basis: 120px;
          flex-shrink: 0;
          img {
            width: 100%;
          }
        }
        .fwt--related__text-wrap {
          padding-left: 10px;
          h3 {
            font-weight: bold;
            font-size: 16px;
            margin-bottom: 10px;
          }
          p {
            margin-bottom: 10px;
          }
          &__category {
            color: $orange;
            display: block;
            font-weight: bold;
            margin-bottom: 5px;
          }
          &__date {
            font-size: 12px;
            color: #999999;
            display: block;
          }
        }
      }
    }
  }
}

.fwt--sp-banner {
  display: flex;
  justify-content: center;
  margin: 0 -120% 20px;
  padding: 10px 120%;
  background: #ddd;
}
