// Mixin
//
// Styleguide 1.0.0


// Creates a linear gradient background, from top to bottom.
//
// $start - The color hex at the top.
// $end   - The color hex at the bottom.
//
// Compatible in IE6+, Firefox 2+, Safari 4+.
@mixin gradient($start, $end){
  color: $start;
  background-color: $end;
}


// Common
//
// markup:
// <div sg-test-directive>変なのが見えてる?</div>
//
// Styleguide 1.1.0

body {
  color: red;
}

// markup:
//  <li>
//    <a class="{$modifiers}">Item</a>
//  </li>
//
// sg-wrapper:
// <nav class="sg side-nav">
//  <ul>
//   <sg-wrapper-content/>
//  </ul>
// </nav>
nav {
  width: 100%;
  height: 30px;
  background-color: #333;
}

// $color - base color, default red
$color: red;

// $primary-action-color - primary color
$primary-action-color: yellow;


// Header
//
// Styleguide 2.0.0


.pos {
  position: absolute;
}
.content {
  color: $color;
}

// A button suitable for giving a star to someone.
//
// :hover             - Subtle hover highlight.
// .star-given        - A highlight indicating you've already given a star.
// .star-given:hover  - Subtle hover highlight on top of star-given styling.
// .disabled          - Dims the button to indicate it cannot be used.
//
// Styleguide 2.1.3.
a.button.star{

  font-size: 14px;
  &.star-given{
    font-size: 16px;
  }
  &.disabled{
    font-size: 18px;
  }
}


// Progress bar
//
// markup:
// <div id="ngProgress" style="width: 70%; opacity: 1;""></div>
//
// Styleguide 4.3

#ngProgress {
  z-index: 99998;

  height: 4px;
  margin: 0;
  padding: 0;
  /* Add CSS3 styles for transition smoothing */

  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;

  opacity: 0;
  color: $primary-action-color;
  background-color: $primary-action-color;
  box-shadow: 0 0 3px 0; /* Inherits the font color */
}
