@charset "UTF-8";
/*! build: @@buildTime */
// import mixin / function
@import "../../../../../../scss_sp/asset";

// import
// page layout
@import "setting";


// MLB トップ(日程・スケジュール)

//共通パーツ
//試合概況
.mlb__game__overview {
  display: table;
  width: 100%;
  padding-top: (20/2)+px;
  padding-bottom: (20/2)+px;
  margin-top: (40/2)+px;
  background-color: $bg-color_gray;
  border-bottom: (6/2)+px solid $border-primary-color;
  letter-spacing: ls(inline-block);

  * {
    letter-spacing: normal;
  }

  &__team,
  &__info {
    display: table-cell;
    // width: perCalc(250, 750);
    text-align: center;
    vertical-align: middle;
  }

  //.mlb__game__overview__team
  &__team {
    width: 33%;
    padding-right: (10/2)+px;
    padding-left: (10/2)+px;
    font-weight: bold;
    font-size: (24/2)+px;

    //.color: $highlight-color;
    &.mlb__game__result--win {
      color: $highlight-color;
    }
  }

  //.mlb__game__overview__info
  &__info {
    width: 34%;

    //.mlb__game__overview__info__place
    &__place {
      font-size: (20/2)+px;
      white-space: nowrap;
    }

    //.mlb__game__overview__info__score
    &__score {
      display: table;
      width: 100%;

      &--home,
      &--visitor,
      &--vs {
        display: table-cell;
        // line-height: 1.2;
      }

      //.mlb__game__overview__info__score--home
      //.mlb__game__overview__info__score--visitor
      &--home,
      &--visitor {
        width: 40%;
        font-weight: bold;
        font-size: (32/2)+px;

        //.color: $highlight-color;
        &.mlb__game__result--win {
          color: $highlight-color;
        }
      }

      span:nth-child(1) {
        text-align: right;
      }

      span:nth-child(3) {
        text-align: left;
      }

      //.mlb__game__overview__info__score--vs
      &--vs {
        width: 20%;
        font-weight: bold;
        font-size: (32/2)+px;
        vertical-align: middle;
      }
    } //.mlb__game__overview__info__score

    //.mlb__game__overview__info__status
    &__status {
      display: inline-block;
      padding: (6/2)+px (12/2)+px;
      background-color: $highlight-color;
      color: #fff;
      font-weight: bold;
      font-size: (20/2)+px;

      &--before {
        background-color: $highlight-color;
      }

      &--live {
        background-color: $highlight-secondary-color;
      }

      &--end {
        background-color: #444;
      }

      &--cancel {
        background-color: #444;
      }
    } //.mlb__game__overview__info__status
  } //.mlb__game__overview__info
}





// 出場した日本人選手
//.mlb__today_jp
.mlb__today_jp {
  //.mlb__today_jp__heading
  &__heading {
    margin-bottom: (24/2)+px;
    padding: (20/2)+px perCalc(20, 750);
    background-color: $highlight-color;
    color: #fff;
    font-weight: bold;
    font-size: (28/2)+px;
  } //.mlb__today_jp__heading



  //.mlb__today_jp__container
  &__container {
    margin: 0 perCalc(20, 750) (30/2)+px;
    padding-bottom: (30/2)+px;
    border-bottom: 1px solid #dbdbdb;
  } //.mlb__today_jp__container



  //.mlb__today_jp__player
  &__player {
    margin-top: (30/2)+px;
    margin-bottom: (30/2)+px;
    overflow: hidden;

    //.mlb__today_jp__player__name
    &__name {
      float: left;
      color: $highlight-color;
      font-weight: bold;
      font-size: (32/2)+px;
    }

    //.mlb__today_jp__player__profile
    &__profile {
      float: right;
      display: table;
      border: 1px solid $highlight-color;

      dt, dd {
        display: table-cell;
        padding: 3px 4px;
        white-space: nowrap;
        font-weight: bold;
        font-size: (20/2)+px;
      }

      //.mlb__today_jp__player__profile__team
      &__team {
        color: $highlight-color;
      }

      //.mlb__today_jp__player__profile__uniform_num
      &__uniform_num {
        background-color: $highlight-color;
        color: #fff;
      }
    } //.mlb__today_jp__player__profile
  } //.mlb__today_jp__player



  //.mlb__today_jp__record
  &__record {
    //.mlb__today_jp__record__container
    &__container {
      margin-top: (12/2)+px;
    }

    width: 100%;
    background-color: $bg-color_gray;

    &__th,
    &__td {
      padding: (12/2)+px (8/2)+px;
      font-size: (20/2)+px;
      text-align: center;
    }

    //.mlb__today_jp__record__th
    &__th {
      background-color: $highlight-color;
      color: #fff;
      font-weight: bold;
    }

    //.mlb__today_jp__record__td
    &__td {
      border-right: 1px solid $border-primary-color;

      &:last-child {
        border-right: none;
      }
    }
  } //.mlb__today_jp__record



  //.mlb__today_jp__btn
  &__btn {
    margin-top: (60/2)+px;
    margin-right: perCalc(20, 750);
    margin-left: perCalc(20, 750);

    a {
      display: block;
      padding-top: (24/2)+px;
      padding-bottom: (24/2)+px;
      border: 2px solid $highlight-color;
      border-radius: 4px;
      color: $highlight-color;
      font-weight: bold;
      font-size: (24/2)+px;
      text-align: center;
    }
  }
} //.mlb__today_jp





//日程・結果
//.mlb__schedule
.mlb__schedule {
  margin-top: (60/2)+px;

  //.mlb__schedule__heading
  &__heading {
    //.mlb__schedule__heading__container
    &__container {
      display: table;
      width: 100%;
      background-color: $highlight-color;
    }


    &,
    &__btn {
      display: table-cell;
      text-align: center;
    }

    & {
      width: perCalc(500, 750);
      padding: (20/2)+px perCalc(20, 500);
      color: #fff;
      font-weight: bold;
      font-size: (28/2)+px;
    }

    //.mlb__schedule__heading__btn
    &__btn {
      background-color: #0a275d;

      a {
        display: block;
        width: 100%;
        height: 100%;
        text-align: center;

        span {
          display: inline-block;
          color: #fff;
          font-weight: bold;
          font-size: (20/2)+px;

          &:before {
            content: "";
            position: relative;
            top: -1px;
            display: inline-block;
            width: (40/2)+px;
            height: (40/2)+px;
            margin-right: (8/2)+px;
            background: url(/assets/images/stats/mlb/icon-calender@2x.png) 0 0 no-repeat;
            background-size: (40/2)+px;
            vertical-align: middle;
            @include hide-text;
          }
        }
      }
    }
  } //.mlb__schedule__heading



  //絞り込み検索
  //.mlb__schedule__limit_search
  &__limit_search {
    letter-spacing: ls(inline-block);

    //.mlb__schedule__limit_search--team
    //.mlb__schedule__limit_search--game
    &--team,
    &--game {
      display: inline-block;
      width: 50%;
      padding: (28/2)+px (10/2)+px;
      letter-spacing: normal;
    }

    //.mlb__schedule__limit_search--team
    &--team {
      background-color: $bg-color_gray;
    } //.mlb__schedule__limit_search--team

    //.mlb__schedule__limit_search--game
    &--game {
      background-color: #d9d9d9;
    } //.mlb__schedule__limit_search--game

    //.mlb__schedule__limit_search__heading
    &__heading {
      color: $highlight-color;
      font-weight: bold;
      font-size: (32/2)+px;
      text-align: center;
    }

    //.mlb__schedule__limit_search__select
    &__select {
      margin-top: (16/2)+px;
      text-align: center;
    } //.mlb__schedule__limit_search__select
  } //.mlb__schedule__limit_search



  //絞り込み検索結果
  //.mlb__schedule__result
  &__result {
    //.mlb__schedule__result__section
    &__section {
      padding-right: perCalc(20, 750);
      padding-left: perCalc(20, 750);

      .mlb__game__overview + .mlb__game__overview {
        margin-top: (12/2)+px;
      }
    }

    //.mlb__schedule__result__container
    &__container {
      margin-top: (30/2)+px;
    }

    //.mlb__schedule__result__heading
    &__heading {
      padding: 5px 0;
      margin-bottom: (30/2)+px;
      border-bottom: (6/2)+px solid $highlight-color;
      color: $highlight-color;
      font-weight: bold;
      font-size: (32/2)+px;
    }
  } //.mlb__schedule__result



  //.mlb__schedule__calendar
  &__calendar {
    height: (800/2)+px;
    margin-top: (30/2)+px;
    padding: 0 perCalc(20, 750) (60/2)+px;

    //.mlb__schedule__calendar__heading
    &__heading {
      padding: 5px 0;
      margin-bottom: (30/2)+px;
      border-bottom: (6/2)+px solid $highlight-color;
      color: $highlight-color;
      font-weight: bold;
      font-size: (32/2)+px;
    }




    .rbc-calendar {
      padding-bottom: (60/2)+px;
    }



    //カレンダーヘッダー部
    .calendar-toolbar-container {
      button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        outline: none;
        padding: 0;
        appearance: none;
      }

      .calendar-navigation-header {
        display: table;
        width: 100%;
        background-color: $highlight-color;

        .calendar-btn,
        > .calendar-label-date {
          display: table-cell;
          height: (60/2)+px;
          color: #fff;
          font-weight: bold;
          vertical-align: middle;
        }

        .calendar-btn {
          // width: perCalc(160, 710);
          width: 100%;
          background-color: #0a275d;
          font-size: (24/2)+px;
        }

        .calendar-btn-prev span:after {
          content: "\524D\6708";
          margin-left: (16/2)+px;
        }

        .calendar-btn-next span:before {
          content: "\7FCC\6708";
          margin-right: (16/2)+px;
        }

        .calendar-label-date {
          width: perCalc(390, 710);

          .calendar-label {
            font-size: 18px;
            text-align: center;
            // font-weight: bold;
            font-size: 16px;
          }
        }
      } //.calendar-navigation-header



      //「今日」ボタン
      //一旦非表示
      .calendar-navigation-footer {
        display: none;
      }
    } //.calendar-toolbar-container
    //カレンダーヘッダー部



    // カレンダー週(月〜金)ラベル
    .rbc-header {
      padding-top: (16/2)+px;
      padding-bottom: (16/2)+px;

      .weeks-header-label {
        color: #000;
        font-size: (24/2)+px;
      }

      // 土曜
      .weeks-header-sat {
        .weeks-header-label {
          color: $highlight-color;
        }
      }

      // 日曜
      .weeks-header-sun {
        .weeks-header-label {
          color: $highlight-secondary-color;
        }
      }
    } //.rbc-header
    // カレンダー週(月〜金)ラベル



    //背景用のdiv
    .rbc-day-bg {
      //今日の日付
      &.rbc-today {
        background-color: #e6e6e6;
      }
    } //.rbc-day-bg
    //背景用のdiv



    //日付
    .rbc-row-content {
      .rbc-row:nth-child(1) {
        z-index: -1;
        position: relative;

        .rbc-date-cell {
          position: relative;
          width: 100%;
          height: 45px;
          padding-right: 0;

          a {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateY(-50%) translateX(-50%);
            font-size: (24/2)+px;
          }
        }
      }
    }

    .rbc-date-cell {
      a {
        cursor: default;
        @include link-decoration(#000, #000, none, none);
        font-size: (24/2)+px;
      }

      //土曜
      &:nth-child(6) {
        a {
          color: $highlight-color;
        }
      }

      //日曜
      &:nth-child(7) {
        a {
          color: $highlight-secondary-color;
        }
      }

      //その月じゃない日
      &.rbc-off-range {
        a {
          color: #999;
        }
      }
    } //.rbc-date-cell
    //日付


    //試合のある日
    .rbc-row-content {
      .rbc-row:nth-child(2) {
        // z-index: -1;
        margin-top: -45px;
      }
    }

    .rbc-row-segment {
      height: 45px;
      padding: 0;

      .rbc-event {
        position: relative;
        height: 100%;
        border-radius: 0;
        background-color: transparent;

        //下線
        &:before {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateY(-50%) translateX(-50%);
          width: 1.2em;
          height: 1px;
          margin-top: 0.75em;
          background-color: #000;
        }
      } //.rbc-event

      .rbc-event-content {
        @include hide-text;
      }
    } //.rbc-row-segment

  } //.mlb__schedule__calendar
} //.mlb__schedule
