// for MLB

// default
// via. /_src/scss/_project-setting.scss
// $highlight-color: #0e357f;
// $highlight-secondary-color: #cc141d;
// $border-primary-color: #ddd;
// $bg-primary-color: #f5f5f5;

// color setting
$bg-color_gray: #e6e6e6;

$home-color: #00275e;
$visitor-color: #ed7524;

$live-table_th-color: #1a1a1a;
$live-border-color: #222;
