@charset "utf-8";
/* company.css */

body {
	background: url(../img/bg_top.png) no-repeat center top;
}
#wrapper {
}

#contents {
	background: none;
	margin-bottom: 0;
	padding-bottom: 0;
}

#main .lower_box {
	width: 950px;
}


.corporate {
	padding-bottom: 110px;
}
.corporate .tit_page {
	margin-bottom: 1.6em;
	width: 415px;
}
.corporate p {
	font-size: 2.6rem;
	line-height: 2;
}

.lower_box_wrap {
	background: #000;
	padding: 110px 0;
}
.company .tit_page {
	float: right;
	width: 365px;
}


@media (max-width: 768px) {
	body {
		background-image:
			url(../img/bg_sp_top.png),
			url(../img/bg_top.png);
		background-repeat:
			no-repeat,
			no-repeat;
		background-position:
			center 1%,
			-70px 40px;
		background-size:
			100% auto,
			150% auto;
	}
	#wrapper {
		padding-top: 0;
	}
	#contents {
		padding: 0;
	}
	
	#main .lower_box {
		width: 100%;
	}
	
	.corporate .tit_page {
		margin-bottom: 1em;
		width: 236px;
	}
	.corporate p {
		font-size: 1.4rem;
	}
	
	.lower_box_wrap {
		padding: 0;
				background: none;

	}
	.company .tit_page {
		float: none;
		width: 209px;
	}

	
}

