@charset "utf-8";
/* top.css */

body {
	background: url(../img/bg_top.png) no-repeat center top;
}
#wrapper {
	padding: 60px 0 0;
}

#contents {
	background: none;
	margin-bottom: 0;
	padding: 0 0 60px;
}

@media (max-width: 768px) {
	body {
		background-image:
			url(../img/bg_sp_top.png),
			url(../img/bg_top.png);
		background-repeat:
			no-repeat,
			no-repeat;
		background-position:
			center 1%,
			-70px 80px;
		background-size:
			100% auto,
			150% auto;
	}
	#wrapper {
		padding-top: 0;
	}
	#contents {
		padding: 0;
	}
	
}

#contents_top .left {
	float: left;
	width: 400px;
	position: absolute;
	z-index: 5;
}
#contents_top .left h1 {
	margin: 0 0 45px;
}

#contents_top .app_btn_box {
	margin-top: 30px;
}

#contents_top .left .img_app {
	margin-top: 30px;
}
#contents_top .right {
	float: right;
	width: 900px;
	position: relative;
	z-index: 1;
}
.movie_box_wrap {
  margin: 50px 0 30px;
}
.movie_box_wrap > p {
	text-align: right;
	margin: 20px 0 0;
}
.movie_box {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}
.movie_box iframe {
  position: absolute;
  top: 0;
  right: 0;
  width: 100% !important;
  height: 100% !important;
}

#main #contents_mdl {
	width: 100%;
	padding: 0;
	background: #111;
	margin: 50px 0 0;
}

#contents_mdl .inr {
	position: relative;
	width: 1100px;
	padding: 50px 15px;
	margin: 0 auto;
	z-index: 1;
}
#contents_mdl .inr .img_app {
	position: absolute;
	width: 245px;
	right: 50px;
	top: -40px;
}
#contents_mdl .content_area dl dt {
	font-size: 3.6rem;
	color: #e1438b;
	display: inline-block;
}
#contents_mdl .content_area dl dd {
	font-size: 1.6rem;
	margin: .1em 0 0;
}

#contents_mdl .app_btn_wrap {
	margin: 25px 0 0;
	text-align: left;
}

#contents_mdl .app_btn_wrap .app_btn_area li {
	width: 168px;
	margin: 0 8px;
}
#contents_mdl .app_btn_wrap .app_btn_area dd {
	margin: 0 8px;
}

#contents_mdl .app_btn_wrap .app_btn_area li:last-child {
	width: 191px;	
}
#main #description_area {
	padding: 90px 0 0;
	position: relative;
	z-index: 5;
	background: #000;
}

#description_area .parent_box {
	margin: -80px 0 0 -50px;
}
#description_area .child_box {
	overflow: hidden;
	float: left;
	width: 510px;
	margin: 80px 0 0 50px;
}
#description_area .child_box .txt {
	width: 280px;
	float: right;
}
#description_area .child_box .img {
	float: left;
}
#description_area .child_box .tit_content {
	font-size: 1.8rem;
	font-weight: bold;
	padding: .7em 0;
}



@media (max-width: 768px) {
	
	#contents_top .right h2 {
		padding: 0 15px;
	}
	#contents_top .left {
		width: 100%;
		float: none;
		position: relative;
	}
	#contents_top .left h1 {
		width: 100%;
		margin: 0 0 20px;
	}
	#contents_top .left h2 {
		width: 54%;
		padding: 0 15px;
	}
	
	#contents_top .right {
		width: 100%;
		float: none;
	}
	.movie_box_wrap {
		padding: 0 15px;
		margin: 20px 0 15px;
	}
	
	#main #contents_mdl {
		background: none;
	}
	
	#contents_mdl .inr  {
		width: 100%;
		padding: 0;
	}
	#contents_mdl .inr .img_app {
		position: relative;
		padding: 0 55px 0;
		margin: 0 0 -160px;
		z-index: -1;
		text-align: center;
		background: -moz-linear-gradient(top,  
        	rgba(00,00,00,0),  
        	#111);
    	background: -webkit-gradient(linear, left top, left bottom,  
        	from(rgba(00,00,00,0)),  
        	to(#111));
		background: linear-gradient(to top, rgba(34,34,34,1), rgba(00,00,00,0));
		width: 100%;
		position: relative;
		top: 0;
		right: 0;
	}
	#contents_mdl .inr .img_app img {
		width: 245px;
	}
	
	#contents_mdl .inr .left {
		background: #111;
		padding: 20px 15px;
	}
	
	#contents_mdl .content_area dl dt {
		font-size: 1.7rem;
		text-align: center;
		display: block;
	}
	#contents_mdl .content_area dl dd {
		font-size: 1.1rem;
	}
	
	#contents_mdl .app_btn_wrap {
		margin: 15px auto 0;
	}
	
	#contents_mdl .app_btn_wrap .app_btn_area li:last-child {
		display: none;	
	}
	#contents_mdl .app_btn_wrap .app_btn_area dt {
		width: 35px;
	}
	#contents_mdl .app_btn_wrap .app_btn_area dd {
		width: 246px;
		margin: 0;
	}
	#contents_mdl .app_btn_wrap .app_btn_area dd li {
		width: 112px;
		margin: 0 5px;
	}
	

	#main #description_area {
		margin: 0;
		padding: 0;
	}
	
	#description_area .parent_box {
		margin: 0;
	}
	
	#description_area .child_box {
		overflow: hidden;
		padding: 15px 20px;
		border-bottom: 1px solid #222;
		float: left;
		width: 100%;
		margin: 0;
	}
	#description_area .child_box .txt {
		width: 62%;
		float: right;
		font-size: 1rem;
		color: #aaa;
	}
	#description_area .child_box .img {
		float: left;
		width: 32%;
	}
	#description_area .child_box:nth-child(2n+2) .txt {
		float: left;
	}
	#description_area .child_box:nth-child(2n+2) .img {
		float: right;
	}
	#description_area .child_box .tit_content {
		font-size: 1.3rem;
		padding: 0;
		color: #fff;
		margin: 0 0 .1em;
	}
}


