# _dev_PCT_babels

# Dependency directories
node_modules

### MicrosoftOffice template
*.tmp

### Sass template
.sass-cache/
*.css.map

# ignore port setting file
_gulp_port.babel.js

# bower
# ==============================
# bower install で作成される
bower_components

# global ignore directory
# ==============================
_no
_docs

# babels
babels-mlb/01_compile/*
babels-mlb/02_dest/*
babels-mlb/_not_use/*

babels-popup/01_compile/*
babels-popup/02_dest/*
babels-popup/_not_use/*