@charset "UTF-8";
/*! build: @@buildTime */
// import mixin / function
@import "../../../../scss/asset";

// normalize / reset / 基本 class, tag 設定
@import "../../../../bower_exports/modularized/normalize";
@import "../../../../scss/style/reset";
@import "../../../../scss/dependencies/style";

// --------------------------------------------
// 以下、import ファイルを編集
// --------------------------------------------

// page layout
@import "../module/import";
@import "../layout";



// common override
.ushi {
  .body-sec {
    overflow: hidden;
  }

  .body-sec-inner {
    position: relative;
    width: auto;
    // max-width: 1090px;
    // margin-right: auto;
    // margin-left: auto;
    // padding-bottom: 70px;
    background-color: #000;
    background-image: none;
  }

  .foot-sec {
    padding-top: 0;
  }
}





//.ushi__summary
.ushi__summary {
  max-width: 1060px;
  margin-right: auto;
  margin-left: auto;

  //.ushi__summary__inner
  &__inner {
    position: relative;
    width: 1060px;
    height: 1290px;
    margin-right: -5000px;
    margin-left: -5000px;
    padding-right: 5000px;
    padding-left: 5000px;
  }

  //.ushi__summary__lead
  &__lead {
    position: absolute;
    top: 20px;
    display: none;
  }

  //.ushi__summary__niku
  &__niku {
    position: relative;
    width: 1480px;
    margin-left: -210px;
    animation: niku_in 1000ms 1000ms both;
  }

  //.ushi__summary__notice
  &__notice {
    position: absolute;
    top: 312px;
    right: 210px;
    color: #fff;
    font-size: 12px;
  }

  //.ushi__summary__bull
  &__bull {
    position: absolute;
    top: 512px;
    margin-left: 810px;
    animation: niku_stomp 400ms 1200ms;
  }

  //.ushi__summary__heading
  &__heading {
    width: 1060px;
    text-align: center;
    animation: niku_stomp 400ms 1200ms;
  }

  //.ushi__summary__date
  &__date {
    width: 1060px;
    margin-top: 12px;
    text-align: center;
    animation: niku_stomp 400ms 1200ms;
  }
} //.ushi__summary

@keyframes niku_in {
  0% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -950, 0, 1); }
  3.6% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -520.096, 0, 1); }
  7.21% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -234.9, 0, 1); }
  10.81% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -74.032, 0, 1); }
  14.31% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.376, 0, 1); }
  20.22% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -30.867, 0, 1); }
  42.94% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.018, 0, 1); }
  48.85% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.493, 0, 1); }
  71.47% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  77.38% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.008, 0, 1); }
  100% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
}

@keyframes niku_stomp {
  0% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -10, 0, 1); }
  3.6% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -5.475, 0, 1); }
  7.21% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -2.473, 0, 1); }
  10.81% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.779, 0, 1); }
  14.31% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.004, 0, 1); }
  20.22% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.325, 0, 1); }
  42.94% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  48.85% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.005, 0, 1); }
  71.47% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  77.38% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
}





//.ushi__pr_app
.ushi__pr_app__wrapper {
  margin-top: 36px;
  // height: 204px;

  .fixed {
    z-index: 99999;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
}

.ushi__pr_app {
  // margin-top: 36px;
  padding-top: 64px;

  //.ushi__pr_app__outer
  &__outer {
    width: 100%;
    height: 140px;
    background-color: #0e357f;
  }

  //.ushi__pr_app__inner
  &__inner {
    position: relative;
    width: 1060px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 120px;
    letter-spacing: ls(inline-block);

    &:before {
      content: "";
      z-index: 100;
      position: absolute;
      top: -64px;
      left: 50%;
      transform: translateX(-50%);
      display: inline-block;
      width: 108px;
      height: 82px;
      margin-left: 120px;
      background: url(/assets/images/ushi/pr_app-bg_bull.png) 0 0 no-repeat;
    }

    > figure, > div {
      display: inline-block;
      letter-spacing: normal;
      vertical-align: top;
    }
  }

  //.ushi__pr_app__cm
  &__cm {
    position: relative;
    width: 276px;
    height: 140px;

    img {
      position: relative;
      top: -62px;
    }
  }


  //.ushi__pr_app__btn
  &__btn {
    //.ushi__pr_app__btn__container
    &__container {
      position: relative;
      margin-top: 26px;
      overflow: hidden;
    }

    //.ushi__pr_app__btn__qr
    &__qr {
      float: right;
      margin-left: 20px;
    }

    //.ushi__pr_app__btn__heading
    &__heading {
      line-height: 1;
      margin-top: 4px;
      color: #fff;
      font-weight: bold;
      font-size: 20px;
      white-space: nowrap;
      letter-spacing: ls(20);
    }

    //.ushi__pr_app__btn__list
    &__list {
      margin-top: 12px;
      padding-right: 110px;
      letter-spacing: ls(inline-block);
      white-space: nowrap;

      &:before {
        content: "";
        display: inline-block;
        width: 53px;
        height: 53px;
        margin-right: 10px;
        background: url(/assets/images/ushi/pr_app-icon-app.png) 0 0 no-repeat;
      }
    }

    //.ushi__pr_app__btn__item
    &__item {
      display: inline-block;
      letter-spacing: normal;
      vertical-align: top;

      &:first-child {
        margin-right: 15px;
      }
    }

    //.ushi__pr_app__btn__link
    &__link {
      &:hover {
        @include over-opacity;
      }
    }
  } //.ushi__pr_app__btn



  //.cm_disable
  &.cm_disable {
    .ushi__pr_app__cm {
      display: none;
    }

    .ushi__pr_app__inner {
      padding-left: 260px;

      &:before {
        margin-left: 0;
      }
    }
  }
} //.ushi__pr_app






//.ushi__flow
.ushi__flow {
  position: relative;
  width: 1060px;
  margin: 120px auto 0;
  padding-bottom: 30px;
  background: url(/assets/images/ushi/flow-bg.png) 0 0 no-repeat;



  //.ushi__flow__heading
  &__heading {
    position: absolute;
    top: -20px;
    left: 40px;
  }



  //.ushi__flow__list
  &__list {
    height: 320px;
    overflow: hidden;
  }

  //.ushi__flow__item
  &__item {
    position: relative;
    float: left;
  }

  //.ushi__flow__item--1
  &__item--1 {
    width: 260px;
    padding-top: 48px;
    padding-left: 40px;
  }

  //.ushi__flow__item--2
  &__item--2 {
    width: 310px;
    padding-top: 48px;
    padding-left: 40px;
  }

  //.ushi__flow__item--3
  &__item--3 {
    width: 490px;
    padding-top: 48px;
    padding-left: 68px;

    ul {
      margin-top: 16px;
      margin-left: 42px;
      overflow: hidden;
    }

    li {
      float: left;
      margin-right: 10px;
    }
  }



  //.ushi__flow__notice
  &__notice {
    margin-top: 0.25em;
    color: #fff;
    font-size: 11px;
    text-align: right;
  }
} //.ushi__flow





//.ushi__whatis
.ushi__whatis {
  height: 360px;
  margin-top: 100px;
  margin-right: auto;
  margin-left: auto;
  background: url(/assets/images/ushi/whatis-bg.jpg) center 0 no-repeat;

  //.ushi__summary__inner
  &__inner {
    position: relative;
    width: 1060px;
    margin-right: auto;
    margin-left: auto;

    &:before {
      content: "";
      display: inline-block;
      position: absolute;
      top: -33px;
      right: 40px;
      width: 270px;
      height: 394px;
      background: url(/assets/images/ushi/whatis-figure_phone.png) 0 0 no-repeat;
    }
  }



  //.ushi__summary__heading
  &__heading {
    position: absolute;
    top: -20px;
    left: 40px;
  }

  //.ushi__whatis__copy
  &__copy {
    margin-left: 40px;
    padding-top: 64px;
  }

  //.ushi__whatis__btn
  &__btn {
    //.ushi__whatis__btn__container
    &__container {
      position: relative;
      width: 550px;
      margin-top: 30px;
      margin-left: 40px;
      overflow: hidden;
    }

    //.ushi__whatis__btn__qr
    &__qr {
      float: right;
      margin-left: 20px;
    }

    //.ushi__whatis__btn__heading
    &__heading {
      line-height: 1;
      margin-top: 4px;
      color: #fff;
      font-weight: bold;
      font-size: 20px;
      white-space: nowrap;
      letter-spacing: ls(20);
    }

    //.ushi__whatis__btn__list
    &__list {
      margin-top: 12px;
      padding-right: 110px;
      letter-spacing: ls(inline-block);
      white-space: nowrap;

      &:before {
        content: "";
        display: inline-block;
        width: 53px;
        height: 53px;
        margin-right: 10px;
        background: url(/assets/images/ushi/whatis-icon-app.png) 0 0 no-repeat;
      }
    }

    //.ushi__whatis__btn__item
    &__item {
      display: inline-block;
      letter-spacing: normal;
      vertical-align: top;

      &:first-child {
        margin-right: 15px;
      }
    }

    //.ushi__whatis__btn__link
    &__link {
      &:hover {
        @include over-opacity;
      }
    }
  } //.ushi__pr_app__btn
} //.ushi__whatis





//.ushi__overview
.ushi__overview {
  position: relative;
  width: 1060px;
  margin: 116px auto 0;
  padding-top: 64px;
  padding-bottom: 44px;
  background-color: #151515;
  border-radius: 8px;

  //.ushi__overview__heading
  &__heading {
    position: absolute;
    top: -20px;
    left: 40px;
  }

  //.ushi__overview__data
  &__data {
    width: 980px;
    margin-right: auto;
    margin-left: auto;

    th, td {
      padding-bottom: 1em;
      font-size: 16px;
      vertical-align: top;
    }

    th {
      padding-right: 28px;
      color: #fff;
      font-weight: bold;
      white-space: nowrap;
    }

    td {
      color: #cdcdcd;

      .attention {
        color: $highlight-secondary-color;
      }
    }

    .ushi__overview__inquiry {
      a {
        @include link-decoration(#cdcdcd, #cdcdcd, underline, none);
      }
    }
  }
} //.ushi__overview





//.ushi__footer
.ushi__footer {
  padding-top: 96px;
  padding-bottom: 72px + 204;
  background-color: #000;

  &:before {
    content: "";
    display: block;
    width: 361px;
    height: 39px;
    margin-right: auto;
    margin-left: auto;
    background: url(/assets/images/ushi/footer-logo.png) 0 0 no-repeat;
  }



  //.ushi__footer__btn
  &__btn {
    //.ushi__footer__btn__container
    &__container {
      position: relative;
      width: 567px;
      margin: 50px auto 0;
      overflow: hidden;
    }

    //.ushi__footer__btn__qr
    &__qr {
      float: right;
      margin-left: 20px;
    }

    //.ushi__footer__btn__heading
    &__heading {
      line-height: 1;
      margin-top: 4px;
      color: #fff;
      font-weight: bold;
      font-size: 20px;
      white-space: nowrap;
      letter-spacing: ls(20);
    }

    //.ushi__footer__btn__list
    &__list {
      margin-top: 12px;
      padding-right: 110px;
      letter-spacing: ls(inline-block);
      white-space: nowrap;

      &:before {
        content: "";
        display: inline-block;
        width: 56px;
        height: 56px;
        margin-right: 10px;
        background: url(/assets/images/ushi/footer-icon-app.png) 0 0 no-repeat;
      }
    }

    //.ushi__footer__btn__item
    &__item {
      display: inline-block;
      letter-spacing: normal;
      vertical-align: top;

      &:first-child {
        margin-right: 10px;
      }
    }

    //.ushi__footer__btn__link
    &__link {
      &:hover {
        @include over-opacity;
      }
    }
  } //.ushi__pr_app__btn



  //.ushi__footer__copyright
  &__copyright {
    margin-top: 80px;
    color: #555;
    font-size: 10px;
    text-align: center;
  }
} //.ushi__footer
