#Header set Access-Control-Allow-Origin *
#Header set Access-Control-Allow-Credentials true
#Header set Access-Control-Allow-Methods "GET, PUT, POST, DELETE, HEAD, OPTIONS"
#Header always set Access-Control-Allow-Headers "Authorization, authorization"

#Satisfy any
#order allow,deny
#allow from all

Options FollowSymLinks Includes
RewriteEngine on
RewriteBase /

#Good Bad
RewriteRule ^v1/comments/(bad|like)/([0-9]+) /api/json_commentreaction.php?comment_id=$2&reaction=$1 [L]

#Comment
RewriteCond %{REQUEST_METHOD} DELETE
RewriteRule ^v1/comments/article/([0-9]+)/([0-9]+)/([0-9]+) /api/json_commentdelete.php?pageid=$1&commentid=$2&replyid=$3 [L,QSA]

RewriteCond %{REQUEST_METHOD} GET
RewriteRule ^v1/comments/article/([0-9]+)/([0-9]+) /api/json_commentlist.php?id=$1&cid=$2 [L,QSA]
RewriteCond %{REQUEST_METHOD} POST
RewriteRule ^v1/comments/article/([0-9]+)/([0-9]+) /api/json_commentpost.php?article_id=$1&comment_id=$2 [L,QSA]
RewriteCond %{REQUEST_METHOD} DELETE
RewriteRule ^v1/comments/article/([0-9]+)/([0-9]+) /api/json_commentdelete.php?pageid=$1&commentid=$2 [L,QSA]

RewriteCond %{REQUEST_METHOD} GET
RewriteRule ^v1/comments/article/([0-9]+)/([a-z]+) /api/json_commentlist.php?id=$1&type=$2 [L,QSA]

RewriteCond %{REQUEST_METHOD} GET
RewriteRule ^v1/comments/article/([0-9]+) /api/json_commentlist.php?id=$1 [L,QSA]
RewriteCond %{REQUEST_METHOD} POST
RewriteRule ^v1/comments/article/([0-9]+) /api/json_commentpost.php?article_id=$1 [L,QSA]

#Bookmark
RewriteRule ^v1/articles/([0-9]+)/bookmark /api/json_bookmark.php?article_id=$1 [L,QSA]

#Article
RewriteRule ^v1/users/self/bookmark /api/json_articlelist.php?api=bookmark [L,QSA]
RewriteRule ^v1/articles/([0-9]+) /api/json_articledetails.php?id=$1 [L]
RewriteRule ^v1/articles/search/(.+) /api/json_articlelist.php?api=search&q=$1 [L,QSA]
RewriteRule ^v1/articles/category/([a-z]+)/([a-z]+) /api/json_articlelist.php?api=category&category=$1&type=$2 [L,QSA]
RewriteRule ^v1/articles/category/([a-z]+) /api/json_articlelist.php?api=category&category=$1 [L,QSA]
RewriteRule ^v1/articles/self/([a-z]+) /api/json_articlelist.php?api=self&c=$1 [L,QSA]
RewriteRule ^v1/articles/self /api/json_articlelist.php?api=self [L,QSA]
RewriteRule ^v1/articles/home/([a-z]+) /api/json_articlelist.php?api=home&c=$1 [L,QSA]
RewriteRule ^v1/articles/home /api/json_articlelist.php?api=home [L,QSA]

#USER
RewriteRule ^v1/users/self/settings/account /api/json_useraccount.php [L]
RewriteRule ^v1/users/self/settings/interest /api/json_usercategory.php [L]
RewriteRule ^v1/users/self/notifications/read /api/json_userread.php [L]
RewriteRule ^v1/users/self/notifications/count /api/json_usernotificationcount.php [L]
RewriteRule ^v1/users/self/notifications /api/json_usernotification.php [L]
RewriteRule ^v1/users/self/activities /api/json_useractivity.php [L]
RewriteRule ^v1/users/self /api/json_userdetails.php [L]
RewriteRule ^v1/users/([0-9]+) /api/json_userdetails.php?userid=$1 [L]
RewriteRule ^v1/users/email /api/json_useremail.php [L]
RewriteCond %{REQUEST_METHOD} POST
RewriteRule ^v1/users/ /api/json_userregister.php [L]
RewriteCond %{REQUEST_METHOD} DELETE
RewriteRule ^v1/users/ /api/json_userunregister.php [L]

#CATEGORY
RewriteRule ^v1/category /api/json_categorylist.php [L]

#INITIALIZE
RewriteRule ^v1/initialize /api/json_initialize.php [L]

#LOGIN
RewriteRule ^v1/sessions/social /api/json_loginsocial.php [L]
RewriteRule ^v1/sessions/update /api/json_loginsocialupdate.php [L]
RewriteRule ^v1/sessions/ /api/json_login.php [L]
