Header set Access-Control-Allow-Origin *
Header set Access-Control-Allow-Credentials true
Header set Access-Control-Allow-Methods "GET, PUT, POST, DELETE, HEAD, OPTIONS"
Header set Access-Control-Allow-Headers "Authorization, authorization, Origin, X-Requested-With, Content-Type, Accept"

Satisfy any
order allow,deny
allow from all

Options FollowSymLinks Includes
RewriteEngine on
RewriteBase /

#Good Bad
RewriteRule ^v1/comments/(bad|like)/([0-9]+) /api/ver1/write/commentreaction.php?comment_id=$2&reaction=$1 [L]

#Comment
RewriteCond %{REQUEST_METHOD} DELETE
RewriteRule ^v1/comments/article/([0-9]+)/([0-9]+)/([0-9]+) /api/ver1/write/commentdelete.php?pageid=$1&commentid=$2&replyid=$3 [L,QSA]

RewriteCond %{REQUEST_METHOD} GET
RewriteRule ^v1/comments/article/([0-9]+)/([0-9]+) /api/ver1/read/commentlist.php?id=$1&cid=$2 [L,QSA]
RewriteCond %{REQUEST_METHOD} POST
RewriteRule ^v1/comments/article/([0-9]+)/([0-9]+) /api/ver1/write/commentpost.php?article_id=$1&comment_id=$2 [L,QSA]
RewriteCond %{REQUEST_METHOD} DELETE
RewriteRule ^v1/comments/article/([0-9]+)/([0-9]+) /api/ver1/write/commentdelete.php?pageid=$1&commentid=$2 [L,QSA]

RewriteCond %{REQUEST_METHOD} GET
RewriteRule ^v1/comments/article/([0-9]+)/([a-z]+) /api/ver1/read/commentlist.php?id=$1&type=$2 [L,QSA]

RewriteCond %{REQUEST_METHOD} GET
RewriteRule ^v1/comments/article/([0-9]+) /api/ver1/read/commentlist.php?id=$1 [L,QSA]
RewriteCond %{REQUEST_METHOD} POST
RewriteRule ^v1/comments/article/([0-9]+) /api/ver1/write/commentpost.php?article_id=$1 [L,QSA]

#Bookmark
RewriteRule ^v1/articles/([0-9]+)/bookmark /api/ver1/write/bookmark.php?article_id=$1 [L,QSA]

#Article
RewriteRule ^v1/users/self/bookmark /api/ver1/read/articlelist.php?api=bookmark [L,QSA]
RewriteRule ^v1/articles/([0-9]+)/next /api/ver1/read/articledetails.php?id=$1&api=next [L,QSA]
RewriteRule ^v1/articles/([0-9]+) /api/ver1/read/articledetails.php?id=$1 [L]
RewriteRule ^v1/articles/search/(.*) /api/ver1/read/articlelist.php?api=search&q=$1 [L,QSA]
RewriteRule ^v1/articles/category/([a-z0-9]+)/([a-z]+) /api/ver1/read/articlelist.php?api=category&category=$1&type=$2 [L,QSA]
RewriteRule ^v1/articles/category/([a-z0-9]+) /api/ver1/read/articlelist.php?api=category&category=$1 [L,QSA]
RewriteRule ^v1/articles/self/([a-z]+) /api/ver1/read/articlelist.php?api=self&c=$1 [L,QSA]
RewriteRule ^v1/articles/self /api/ver1/read/articlelist.php?api=self [L,QSA]
RewriteRule ^v1/articles/home/([a-z]+) /api/ver1/read/articlelist.php?api=home&c=$1 [L,QSA]
RewriteRule ^v1/articles/home /api/ver1/read/articlelist.php?api=home [L,QSA]
RewriteRule ^v1/articles/static/([a-z0-9_-]+) /api/ver1/read/articlelist.php?api=static&subcategory=$1 [L,QSA]
RewriteRule ^v1/articles/video/([a-z0-9_-]+) /api/ver1/read/movielist.php?category=$1 [L,QSA]
RewriteRule ^v1/articles/tag /api/ver1/read/tag.php [L,QSA]

RewriteRule ^v1/articles/area/(.*) /api/ver1/read/articlelist.php?region=$1&api=area [L,QSA]
RewriteRule ^v1/articles/pref/(.*) /api/ver1/read/articlelist.php?pref=$1&api=pref [L,QSA]

RewriteRule ^v1/articles/fast/([a-z]+)/([a-z]+) /api/ver1/read/articleFast.php?api=category&category=$1&type=$2 [L,QSA]
RewriteRule ^v1/articles/fast/([a-z]+) /api/ver1/read/articleFast.php?api=category&category=$1 [L,QSA]
RewriteRule ^v1/articles/fast/ /api/ver1/read/articleFast.php?api=category [L,QSA]

#AU検索
RewriteRule ^v1/articles/fast/ /api/ver1/read/articleFast.php?api=category [L,QSA]

#USER
RewriteRule ^v1/users/self/settings/account /api/ver1/write/useraccount.php [L]
RewriteRule ^v1/users/self/settings/account2 /api/ver1/write/useraccount2.php [L]
RewriteRule ^v1/users/self/settings/interest /api/ver1/write/usercategory.php [L]
RewriteRule ^v1/users/self/notifications/read /api/ver1/write/usernotificationread.php [L]
RewriteRule ^v1/users/self/notifications/count /api/ver1/read/usernotificationcount.php [L]
RewriteRule ^v1/users/self/notifications /api/ver1/read/usernotification.php [L]
RewriteRule ^v1/users/self/activities /api/ver1/read/useractivity.php [L]

RewriteCond %{REQUEST_METHOD} GET
RewriteRule ^v1/users/self /api/ver1/read/userdetails.php [L]
RewriteCond %{REQUEST_METHOD} DELETE
RewriteRule ^v1/users/self /api/ver1/write/userunregister.php [L]
RewriteCond %{REQUEST_METHOD} DELETE
RewriteRule ^v1/users/ /api/ver1/write/userunregister.php [L]

RewriteRule ^v1/users/([0-9]+) /api/ver1/read/userdetails.php?userid=$1 [L]

RewriteRule ^v1/users/ipaddress /api/ver1/read/useripaddress.php [L]
RewriteRule ^v1/users/email /api/ver1/read/useremail.php [L]
RewriteRule ^v1/users /api/ver1/write/userregister.php [L]

#CATEGORY
RewriteRule ^v1/category/([a-z0-9]+) /api/ver1/read/category.php?category=$1 [L]
RewriteRule ^v1/category /api/ver1/read/categorylist.php [L]
RewriteRule ^v1/category_static /api/ver1/static/category.json [L]

#COMPETITION
RewriteRule ^v1/competition/([0-9]+) /api/ver1/read/competition.php?id=$1 [L]

#INITIALIZE
RewriteRule ^v1/initialize /api/ver1/read/initialize.php [L]

#LOGIN
RewriteRule ^v1/sessions/social /api/ver1/write/login_social.php [L]
RewriteRule ^v1/sessions/update /api/ver1/write/login_socialupdate.php [L]
RewriteCond %{REQUEST_METHOD} POST
RewriteRule ^v1/sessions /api/ver1/read/login.php [L]
RewriteCond %{REQUEST_METHOD} DELETE
RewriteRule ^v1/sessions /api/ver1/read/logout.php [L]

#OAuth
RewriteRule ^v1/auth/facebook /api/ver1/auth/facebook.php [L]
RewriteRule ^v1/auth/twitter /api/ver1/auth/twitter.php [L]

#DOWNLOAD
RewriteRule ^download/([0-9]+)/([rawx0-9]+) /api/tool/img_download.php?id=$1&size=$2 [L]

