@charset "UTF-8";

@import url('/assets/css/ui.css') all and (min-width: 641px);
@import url('/assets/sp/css/ui.css') all and (max-width: 640px);

.is-show-pc {
  display:block;
}

.is-show-sp {
  display:none;
}

@media screen and (max-width: 640px) {

  .is-show-pc {
    display:none;
  }

  .is-show-sp {
    display:block;
  }

  .fb-page fb_iframe_widget span {
    width:100% !important;
  }

  .fb-page fb_iframe_widget span iframe {
    width:100% !important;
  }

}

