@import "../../../../scss/asset";

// company
//
// design module company

@mixin company_section {
  @include screen('small') {
    width: 96%;
    max-width: 550px;
    margin: 0 auto 60px;
  }
  @include screen('large') {
    margin-bottom: 200px;
  }
}

@mixin company_serif {
  font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
}

@mixin company_padding {
  padding: 0 10px;
}

@mixin company_title {
  line-height: lh(50, 40);
  color: $highlight-color;
  font-family: helvetica;
  font-weight: bold;
  font-size: 16px;
  position: relative;
  text-align: center;
  margin-bottom: 30px;

  @include screen('large') {
    font-size: 32px;
    margin-bottom: 70px;
  }

  &:after {
    position: absolute;
    display: block;
    content: '';
    width: 30px;
    height: 3px;
    background: $highlight-color;
    right: 50%;
    bottom: -10px;
    margin-right: -15px;
    @include screen('large') {
      width: 60px;
      margin-right: -30px;
      bottom: -20px;
    }
  }
}



.company {
  // .company__vision
  &__vision {
    @include company_section;
    padding-top: 70px;
    @include screen('large') {
      @extend %centerring_contents;
      margin-top: 76px;

    }
    &__heading {
      @include company_title;
    }
    img {
      margin: 0 auto;
      display: block;
      @include screen('small') {
        width: 100%;
        max-width: 260px;
        @include company_padding;
      }
    }
  }


  &__mission {
    @include company_section;
    &__heading {
      @include company_title;
    }
    ul {
      @include company_padding;
      li {
        color: $highlight-color;
        font-weight: bold;
        font-size: 16px;
        position: relative;
        padding-left: 10px;
        @include screen('small') {
          margin-bottom: 10px;
        }
        @include screen('large') {
          font-size: 32px;
          padding-left: 20px;
          line-height: 1.8;
        }
        @include company_serif;
        @include screen('large') {
          &:nth-child(2) {
            margin-left: 20px;
          }
          &:nth-child(3) {
            margin-left: 40px;
          }
        }

        &:before {
          display: inline-block;

        }
        &:after {
          position: absolute;
          content: '';
          display: block;
          width: 6px;
          height: 6px;
          top: 0.9em;
          left: 0;
          margin-top: -4px;
          background: $highlight-secondary-color;
          @include screen('large') {
            top: 50%;
            width: 8px;
            height: 8px;
          }
        }
      }
    }
    @include screen('large') {
      @extend %centerring_contents;
    }
  }

  &__identity {
    @include company_section;
    &__heading {
      @include company_title;
    }
    p {
      @include company_serif;
      text-align: center;
      font-size: 18px;
      color : $highlight-color;
      font-weight: bold;
      span:before {
        content: "\A";
        white-space: pre;
      }
      @include screen('small') {
        span:after {
          content: "\A";
          white-space: pre;
        }
      }
      @include screen('large') {
        font-size: 40px;
      }
      img {
        display: block;
        margin: 0 auto 10px;
        width: 260px;
        @include screen('large') {
          margin: 0 auto 20px;
          width: 580px;
        }
      }
    }
    @include screen('large') {
      @extend %centerring_contents;
    }
  }

  // .company__overview
  &__overview {
    &__heading {
      @include company_title;

      span:before {
        content: ' ';
      }
    }
    @include screen('large') {
      @extend %centerring_contents;
      margin-top: 100px;
      overflow: hidden;
      &__data {
        float: right;
        width: 720px;

        th, td {
          padding-bottom: 20px;
          font-size: 14px;
          vertical-align: top;
        }

        th {
          padding-right: 30px;
          font-weight: bold;
        }
        td {
          dt {
            display: inline-block;
            float: left;
            line-height: 1.8;
          }
          dd {
            margin-left: 120px;
            line-height: 1.8;
          }
          a {
            color: $highlight-color;
            display: inline-block;
          }
        }
        &__member {
          a {
            margin-top: 5px;
          }
        }
      }
    }

    @include screen('small') {
      margin-top: (76/2)+px;

      &__data {
        width: perCalc(560, 640);
        margin: (52/2)+px auto 0;

        table, tbody, tr, th, td {
          display: block;
        }

        th, td {
          text-align: center;
          font-size: (28/2)+px;
        }

        th {
          margin-top: (30/2)+px;
          font-weight: bold;
        }
        td {
          dt {
            display: inline-block;
            float: left;
          }
          dd {
            margin-left: 120px;
            text-align: left;
          }
          a {
            color: $highlight-color;
            display: inline-block;
          }
        }
        &__member {
          display: table!important;
          margin: 0 auto 5px;
          a {
            margin-top: 5px;
          }
        }
      }
    }
  }





  // .company__news
  &__news {
    @include screen('large') {
      margin-top: 100px;
      padding: 100px 0 80px;
      background-color: #0e357f;

      &__inner {
        @extend %centerring_contents;
        overflow: hidden;
      }

      &__heading {
        float: left;
        line-height: 1;
        color: #fff;
        font-family: helvetica;
        font-weight: bold;
        font-size: 24px;
      }

      &__list {
        float: right;
        width: 905px;
      }

      &__item {
        margin-bottom: 40px;
        overflow: hidden;

        dt, dd {
          color: #fff;
          font-size: 14px;
        }

        dt {
          float: left;
          width: 150px;
          font-weight: bold;
        }

        dd {
          line-height: 1.6;
          overflow: hidden;

          .indent {
            margin-left: -0.6rem;
          }
        }

        a {
          @include link-decoration(#fff, #fff, none, underline);
        }
      }
    }

    @include screen('small') {
      margin-top: (64/2)+px;
      padding: (60/2)+px 0 (40/2)+px;
      background-color: #0e357f;

      &__inner {
      }

      &__heading {
        line-height: 1;
        margin-bottom: (60/2)+px;
        color: #fff;
        font-family: helvetica;
        font-weight: bold;
        font-size: (40/2)+px;
        text-align: center;
      }

      &__list {
      }

      &__item {
        margin-top: (40/2)+px;
        padding: (40/2)+px perCalc(40, 640) 0;
        border-top: 1px solid #0d2a62;
        margin-bottom: 40px;

        dt, dd {
          color: #fff;
          font-size: (28/2)+px;
        }

        dt {
          width: 130px;
          font-weight: bold;
        }

        dd {
          margin-top: (20/2)+px;

          .indent {
            margin-left: -0.6rem;
          }
        }

        a {
          @include link-decoration(#fff, #fff, none, none);
        }
      }
    }
  }

}

.footer--company {
  @include screen('small') {
    margin-top: 0;

    .footer__inner {
      border-top: none;
    }
  }
}