@import "../../../../scss/asset";

// company
//
// design module company

.company {
  // .company__vision
  &__vision {
    @include screen('large') {
      @extend %centerring_contents;
      margin-top: 76px;
      overflow: hidden;

      &__heading {
        float: left;
        line-height: lh(50, 40);
        color: $highlight-color;
        font-family: helvetica;
        font-weight: bold;
        font-size: 40px;
      }

      p {
        float: right;
        width: 720px;
        line-height: lh(46, 24);
        color: #272727;
        font-weight: bold;
        font-size: 24px;
      }
    }

    @include screen('small') {
      margin-top: (76/2)+px;
      text-align: center;

      &__heading {
        line-height: lh(60, 50);
        color: $highlight-color;
        font-family: helvetica;
        font-weight: bold;
        font-size: (50/2)+px;
      }

      p {
        margin-top: (56/2)+px;
        line-height: lh(46, 28);
        color: #272727;
        font-weight: bold;
        font-size: (28/2)+px;
      }
    }
  }





  // .company__key_visual
  &__key_visual {
    img {
      @include fluid-img(100%);
    }

    @include screen('large') {
      margin-top: 100px;
    }

    @include screen('small') {
      margin-top: (76/2)+px;
    }
  }





  // .company__overview
  &__overview {
    @include screen('large') {
      @extend %centerring_contents;
      margin-top: 100px;
      overflow: hidden;

      &__heading {
        float: left;
        line-height: lh(50, 40);
        color: $highlight-color;
        font-family: helvetica;
        font-weight: bold;
        font-size: 40px;
      }

      &__data {
        float: right;
        width: 720px;

        th, td {
          padding-bottom: 20px;
          font-size: 14px;
          vertical-align: top;
        }

        th {
          padding-right: 30px;
          font-weight: bold;
        }
        td {
          dt {
            display: inline-block;
            float: left;
          }
          dd {
            margin-left: 120px;
          }
        }
      }
    }

    @include screen('small') {
      margin-top: (76/2)+px;

      &__heading {
        line-height: lh(60, 50);
        color: $highlight-color;
        font-family: helvetica;
        font-weight: bold;
        font-size: (50/2)+px;
        text-align: center;
      }

      &__data {
        width: perCalc(560, 640);
        margin: (52/2)+px auto 0;

        table, tbody, tr, th, td {
          display: block;
        }

        th, td {
          text-align: center;
          font-size: (28/2)+px;
        }

        th {
          margin-top: (30/2)+px;
          font-weight: bold;
        }
        td {
          dt {
            display: inline-block;
            float: left;
          }
          dd {
            margin-left: 120px;
            text-align: left;
          }
        }
        &__member {
          display: table!important;
          margin: auto;
        }
      }
    }
  }





  // .company__news
  &__news {
    @include screen('large') {
      margin-top: 100px;
      padding: 100px 0 80px;
      background-color: #0e357f;

      &__inner {
        @extend %centerring_contents;
        overflow: hidden;
      }

      &__heading {
        float: left;
        line-height: 1;
        color: #fff;
        font-family: helvetica;
        font-weight: bold;
        font-size: 24px;
      }

      &__list {
        float: right;
        width: 905px;
      }

      &__item {
        margin-bottom: 40px;
        overflow: hidden;

        dt, dd {
          color: #fff;
          font-size: 14px;
        }

        dt {
          float: left;
          width: 150px;
          font-weight: bold;
        }

        dd {
          line-height: 1.6;
          overflow: hidden;

          .indent {
            margin-left: -0.6rem;
          }
        }

        a {
          @include link-decoration(#fff, #fff, none, underline);
        }
      }
    }

    @include screen('small') {
      margin-top: (64/2)+px;
      padding: (60/2)+px 0 (40/2)+px;
      background-color: #0e357f;

      &__inner {
      }

      &__heading {
        line-height: 1;
        margin-bottom: (60/2)+px;
        color: #fff;
        font-family: helvetica;
        font-weight: bold;
        font-size: (40/2)+px;
        text-align: center;
      }

      &__list {
      }

      &__item {
        margin-top: (40/2)+px;
        padding: (40/2)+px perCalc(40, 640) 0;
        border-top: 1px solid #0d2a62;
        margin-bottom: 40px;

        dt, dd {
          color: #fff;
          font-size: (28/2)+px;
        }

        dt {
          width: 130px;
          font-weight: bold;
        }

        dd {
          margin-top: (20/2)+px;

          .indent {
            margin-left: -0.6rem;
          }
        }

        a {
          @include link-decoration(#fff, #fff, none, none);
        }
      }
    }
  }

}

.footer--company {
  @include screen('small') {
    margin-top: 0;

    .footer__inner {
      border-top: none;
    }
  }
}
