@import "../../../../scss/asset";

// recruit
//
// design module recruit


.recruit {
  // .recruit__vision
  &__body {
    @include screen('large') {
      width: 1080px;
      margin-right: auto;
      margin-left: auto;
      margin-top: 76px;
      overflow: hidden;

      &__parts {
        overflow: hidden;
        width: 100%;
        border-top: 1px solid #eee;
        margin-top: 45px;
        padding-top: 45px;

        &:first-child {
          border: none;
          margin-top: 0px;
          padding-top: 0px;
        }

        &__position {
          background-image: url(/assets/images/about/recruit/img_bull.png);
          background-size: 190px auto;
          background-repeat: no-repeat;
          background-position: bottom 5px right 100px;
        }

        &__half {
          width: 50%;
          float: left;
        }

        &__caution {
          margin-top: 10px;
        }

        p {
          font-size: 14px;
          line-height: 1.7;
          letter-spacing: 0.08em;

          b {
            margin-bottom: 5px;
            display: block;
          }
        }

        h2 {
          font-size: 20px;
          font-weight: 800;
          margin-bottom: 1.3em;
        }

        h3 {
          font-size: 16px;
          font-weight: 800;
          line-height: 1.9;
          letter-spacing: 0.07em;
        }

        a {
          color: $highlight-color;
          font-weight: 800;
          text-decoration: underline;
          padding-left: 7px;
        }
      }
    }

    @include screen('small') {
      margin-top: 25px;
      overflow: hidden;
      width: 100%;

      &__parts {
        overflow: hidden;
        width: 100%;
        border-top: 1px solid #eee;
        margin-top: 25px;  
        padding: 25px 6.25% 0;

        &:first-child {
          border: none;
          margin-top: 0px;
          padding-top: 0px;
        }

        &:last-child {
          padding: 0;
        }

        &__half {
          width: 100%;
          margin-top: 25px;  
          padding: 0 6.25% 25px;
          border-bottom: 1px solid #eee;
        }

        &__caution {
          margin-top: 10px;
        }

        p {
          font-size: 14px;
          line-height: 1.7;
          letter-spacing: 0.08em;

          b {
            margin-bottom: 5px;
            display: block;
          }
        }

        h2 {
          font-size: 18px;
          font-weight: 800;
          margin-bottom: 1.3em;
        }

        h3 {
          font-size: 14px;
          font-weight: 800;
          line-height: 1.9;
          letter-spacing: 0.07em;
        }

        a {
          color: $highlight-color;
          font-weight: 800;
          text-decoration: underline;
          padding-left: 7px;
        }
      }
    }
  }
}

.footer--recruit {
  @media only screen and (min-width: 769px) {
    margin-top: 120px;

    .footer__inner {
      border-top: none;
    }
  }
  @include screen('small') {
    margin-top: 50px;

    .footer__inner {
      border-top: none;
    }
  }
}
