@charset "UTF-8";
/*! build: @@buildTime */
// import mixin / function
@import "../../../../scss/asset";

// normalize / reset / 基本 class, tag O定
@import "../../../../bower_exports/modularized/normalize";
@import "../../../../scss/style/reset";
@import "../../../../scss/dependencies/style";

// --------------------------------------------
// 以下、import ファイルを集
// --------------------------------------------

// page layout
@import "../module/import";
@import "../layout";



// common override
.bulls-station {
  .body-sec-inner {
    width: 100%;
    background-color: transparent;
    background-image: none;
  }
}




//.bulls_station__local_navi
.bulls_station__local_navi {
  height: 80px;
  border-bottom: 3px solid #dbdbde;
  background-color: #f5f5f5;

  &__inner {
    position: relative;
    width: 1090px;
    margin: 0 auto;
  }

  &__heading {
    //.bulls_station__local_navi__heading__container
    &__container {
      display: table;
    }

    //.bulls_station__local_navi__heading
    //.bulls_station__local_navi__heading__date
    &,
    &__date {
      display: table-cell;
      vertical-align: top;
    }

    //.bulls_station__local_navi__heading
    & {
      padding-top: 17px;
    }

    //.bulls_station__local_navi__heading__date
    &__date {
      padding-top: 34px;
      padding-left: 13px;
    }
  }

  //.bulls_station__local_navi__list
  &__list {
    position: absolute;
    top: 0;
    left: 472px;
  }

  //.bulls_station__local_navi__item
  &__item {
    position: absolute;
    top: 0;

    //.bulls_station__local_navi__item--1
    &--1 {
      left: 0;

      //.bulls_station__local_navi__link
      .bulls_station__local_navi__link {
        width: 254px;
        background-image: url(/assets/images/bulls-station/nav-nav1.png);
      }
    }

    //.bulls_station__local_navi__item--2
    &--2 {
      left: 202px;

      //.bulls_station__local_navi__link
      .bulls_station__local_navi__link {
        background-image: url(/assets/images/bulls-station/nav-nav2.png);
      }
    }

    //.bulls_station__local_navi__item--3
    &--3 {
      left: 384px;

      //.bulls_station__local_navi__link
      .bulls_station__local_navi__link {
        background-image: url(/assets/images/bulls-station/nav-nav3.png);
      }
    }
  } //.bulls_station__local_navi__item

  //.bulls_station__local_navi__link
  &__link {
    display: block;
    width: 234px;
    height: 80px;
    background-repeat: no-repeat;
    background-position: 0 0;
    @include hide-text;

    &:hover {
      background-position: 0 -80px;
    }
  } //.bulls_station__local_navi__link
} //.bulls_station__local_navi





//.bulls_station__overview
.bulls_station__overview {
  width: 1480px;
  margin: 0 auto;
  background: url(/assets/images/bulls-station/overview-bg1.png) center center repeat;

  //.bulls_station__overview__inner
  &__inner {
    background: url(/assets/images/bulls-station/overview-bg2.png) center 0 no-repeat;
  }

  //.bulls_station__overview__heading
  &__heading {
    padding-top: 72px;
    text-align: center;
  }

  //.bulls_station__overview__copy
  &__copy {
    margin-top: (28/2)+px;
    text-align: center;
  }

  //.bulls_station__overview__date
  &__date {
    margin-top: 20px;
    text-align: center;
  }

  //.bulls_station__overview__btn
  &__btn {
    margin-top: 40px;

    //.bulls_station__overview__btn__link
    &__link {
      display: block;
      width: 360px;
      line-height: 1;
      margin-right: auto;
      margin-left: auto;
      background-color: #cc141d;
      text-align: center;

      &:hover {
        background-color: #b8131c;
      }
    }
  }



  //.bulls_station__overview__caster
  &__caster {
    margin-top: 40px;
    padding-bottom: 60px;
    background: url(/assets/images/bulls-station/caster-bg.png) 0 30px no-repeat;

    //.bulls_station__overview__caster__list
    &__list {
      width: 1090px;
      margin-right: auto;
      margin-left: auto;
      letter-spacing: ls(inline-block);
    }

    //.bulls_station__overview__caster__item
    &__item {
      width: 200px;
      display: inline-block;
      letter-spacing: normal;
      margin-left: 22px;

      &:first-child {
        margin-left: 0;
      }
    }

    //.bulls_station__overview__caster__link
    &__link {

      &:hover .bulls_station__overview__caster__btn {
        background-color: #cc141d;
      }
    }

    //.bulls_station__overview__caster__figure
    &__figure {
      position: relative;

      //.bulls_station__overview__caster__figure__dow
      &__dow {
        position: absolute;
      }
    }

    //.bulls_station__overview__caster__item--mon
    &__item--mon {
      .bulls_station__overview__caster__figure__dow {
        top: 11px;
        left: 135px;
      }
    }

    //.bulls_station__overview__caster__item--tue
    &__item--tue {
      .bulls_station__overview__caster__figure__dow {
        top: 12px;
        left: 142px;
      }
    }

    //.bulls_station__overview__caster__item--wed
    &__item--wed {
      .bulls_station__overview__caster__figure__dow {
        top: 7px;
        left: 140px;
      }
    }

    //.bulls_station__overview__caster__item--thu
    &__item--thu {
      .bulls_station__overview__caster__figure__dow {
        top: 10px;
        left: 131px;
      }
    }

    //.bulls_station__overview__caster__item--fri
    &__item--fri {
      .bulls_station__overview__caster__figure__dow {
        top: 15px;
        left: 126px;
      }
    }

    //.bulls_station__overview__caster__btn
    &__btn {
      display: block;
      width: 160px;
      height: 30px;
      margin-right: auto;
      margin-left: auto;
      padding-left: 30px;
      background: #af9f80 url(/assets/images/bulls-station/caster-btn-icon.png) 0 0 no-repeat;
    }

    //.bulls_station__overview__caster__heading
    &__heading {
      margin-top: 12px;
      color: #a18e6d;
      font-weight: bold;
      font-size: 16px;
      text-align: center;
    }

    //.bulls_station__overview__caster__copy
    &__copy {
      margin-top: 0.25em;
      color: #a18e6d;
    }
  } //.bulls_station__overview__caster

} //.bulls_station__overview





//container setting
.holyride__container {
  margin-right: -556px;
  margin-left: -195px;
  padding-right: 556px;
  padding-left: 195px;
}

.holyride__container--odd {
  position: relative;
}

.holyride__container--even {
  position: relative;
  background-color: #0f1b33;

  &:before {
    content: "";
    position: absolute;
    top: -40px;
    left: 0;
    display: block;
    margin-right: -751px;
    margin-left: 0;
    padding-right: 751px;
    padding-left: 0;

    border-style: solid;
    border-width: 80px 1480px 0 0;
    border-color: #10151e #0f1b33 transparent transparent;

    transform: rotateY(180deg);
  }

  &:after {
    content: "";
    position: absolute;
    bottom: -40px;
    left: 0;
    display: block;
    margin-right: -751px;
    margin-left: 0;
    padding-right: 751px;
    padding-left: 0;

    border-style: solid;
    border-width: 80px 1480px 0 0;
    border-color: #10151e #0f1b33 transparent transparent;

    transform: rotateY(180deg) rotateX(180deg);
  }
}




//.holyride--intro
.holyride--intro {
  margin-top: 30px;

  .intro__catch {
    color: #fff;
    font-weight: bold;
    font-size: 20px;
  }

  .intro__link__app {
    margin-top: 20px;

    a {
      @include link-decoration(#999, #fff, underline, none);
      display: inline-block;
      line-height: 40px;
      padding-left: 48px;
      background: url(/assets/images/red-bull-holy-ride/intro-app_icon.png) 0 0 no-repeat;
      font-weight: bold;
      font-size: 18px;
    }
  }

  .intro__timetable {
    margin-top: 20px;

    table {
      width: 100%;
    }

    th,
    td {
      padding: 8px 10px;
      color: #fff;
      font-size: 14px;
    }

    th {
      width: 120px;
      font-style: italic;
    }

    td {
      font-weight: bold;
    }

    tr:nth-child(odd) {
      th, td {
        background-color: #1c2129;
      }
    }
  }

  .intro__banner {
    margin-top: 20px;

    a:hover {
      @include opacity(0.8);
    }
  }

  .intro__widjet_twitter {
    margin-top: 40px;

    iframe {
    width: 100% !important;
    }
  }
} //.holyride--intro




//.holyride--course
.holyride--course {
  margin-top: 80px;

  .course__heading {
    position: relative;
    margin-bottom: 24px;
  }

  .course__map {
    > img {
      display: block;
    }

    figcaption {
      p {
        margin-top: 1em;
        color: #fff;
      }

      .note {
        margin-top: 0;
        font-size: 10px;
      }
    }
  }

  .course__staff {
    //.course__staff__heading
    &__heading {
      margin-top: 32px;
    }

    //.course__staff__container
    &__container {
      display: table;
      width: 100%;
      margin-top: 16px;
    }

    //.course__staff__thumb
    //.course__staff__data
    .course__staff__thumb,
    .course__staff__data {
      display: table-cell;
      vertical-align: middle;
    }

    //.course__staff__thumb
    .course__staff__thumb {
      width: 140px;
    }

    //.course__staff__data
    .course__staff__data {
      //.course__staff__data__heading
      &__heading {
        color: #fff;
        font-weight: bold;
      }

      //.course__staff__data__text
      &__text {
        color: #fff;
        margin-top: 0.5em;
      }
    }
  } //.course__staff
} //.holyride--course





//.holyride--overview
.holyride--overview {
  margin-top: 80px;

  .overview__heading {
    position: relative;
    margin-bottom: 24px;
  }

  .overview__data {
    th,
    td {
      padding-bottom: 0.5em;
      color: #fff;
      vertical-align: top;
    }

    th {
      padding-right: 10px;
      font-weight: bold;
    }
  }
} //.holyride--overview





//.holyride--related
.holyride--related {
  margin-top: 80px;
  margin-bottom: 80px;
  padding-bottom: 40px;

  .related__heading {
    position: relative;
    margin-bottom: 4px;
  }

  .related__post {

    + .related__post {
      border-top: 1px solid #273248;
    }

    a {
      @include link-decoration(null, null, none, none);
      display: table;
      padding-top: 20px;
      padding-bottom: 20px;
      transition: background-color 0.2s;

      &:hover {
        background-color: #10151e;
      }
    }

    //.related__post__thumb
    //.related__post__text
    &__thumb,
    &__text {
      display: table-cell;
      vertical-align: top;
    }

    //.related__post__thumb
    &__thumb {
      width: 300px;
    }

    //.related__post__text
    &__text {
      padding-right: 1em;

      .related__post__heading {
        color: #fff;
        font-weight: bold;
        font-size: 20px;
      }

      .related__post__excerpt {
        margin-top: 0.75em;
        color: #fff;
      }

      .related__post__category {
        margin-top: 0.75em;
        color: #be0940;
        font-weight: bold;
      }

      .related__post__date {
        margin-top: 0.25em;
        color: #999;
        font-size: 12px;
      }
    } //.related__post__text

  } //.related__post
} //.holyride--related
