php_value session.auto_start 1
php_value session.use_cookies 1
php_value session.save_path 'd:\tmp'
php_value session.cookie_lifetime '108000'
php_value session.gc_maxlifetime '108000'
php_value session.bug_compat_42 0
php_value session.bug_compat_warn 0
php_value upload_max_filesize '32M'
php_value memory_limit '256M'
php_value post_max_size '32M'