// Mixin
//
// all browser 用 mixin, 下位ブラウザ用上書きは _asset.scss で行います
//
// Compatible in latest Browser
// Styleguide 1.1.0

// styleguide:ignore:start
$arg: null;
$arg_i: null;
// prc-each
// 拡張 each iterator
//
// $list - 捜査配列
@mixin prc-each($list...) {
  @for $i from 1 through length($list) {
    $arg_i: $i!global;
    $arg: nth($list, $arg_i)!global;
    @content;
  }
}
// styleguide:ignore:end

// inline-block
// 下位ブラウザ(IE8, 7, 6)での使用はサポートブラウザに合わせoverrideします
@mixin inline-block {
  display: inline-block;
}

// table-cell
// $vertical=middle - vertical alignment
// 下位ブラウザ(IE8, 7, 6)での使用はサポートブラウザに合わせoverrideします
@mixin table-cell ($vertical: middle) {
  display: table-cell;
  vertical-align: $vertical;
}

// clearfix
// 下位ブラウザ(IE8, 7, 6)での使用はサポートブラウザに合わせoverrideします
@mixin clearfix {
  &:before,
  &:after {
    content:"";
    display:table;
    clear:both;
  }
}

// clearfix alias
@mixin cf {
  @include clearfix;
}

// link color
// a tag color 設定
// $color1 - hex, active color
// $color2 - hex, hover color
// $decoration_off=none - text-decoration: none
// $decoration_on=underline - text-decoration: underline
@mixin link-decoration($color1, $color2, $decoration_off: none, $decoration_on: underline) {
  &:link,
  &:visited,
  &:hover,
  &:active {
    color: $color1;
    text-decoration: $decoration_off;
  }
  &:hover {
    color: $color2;
    text-decoration: $decoration_on;
  }
}

// fluid-img
// 画像 幅100%
// 下位ブラウザ(IE8, 7, 6)での使用はサポートブラウザに合わせoverrideします
// $w=null - width 設定値
@mixin fluid-img($w: null) {
  width: #{$w};
  max-width: 100%;
  height: auto;
}

// fluid_img
// alias fluid-img
// deprecated instead use fluid-img
// $w=null - width 設定値
@mixin fluid_img($w: null) {
  @include fluid-img($w);
}

// font smoothing
// CSS3 font-smoothing 設定
// $value=on - 設定値をどちらにするか
@mixin font-smoothing($value: on) {
  @if $value == on {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  @else {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
  }
}

// hide-text
// container text を隠します（背景画像表示のため）
@mixin hide-text {
  overflow: hidden;
  font-size: 0;
  text-indent: 100%;
  white-space: nowrap;
  outline: none;
}

// ---------------------------

// opacity
// 透過設定します
// $opacity - number 0 ~ 1
@mixin opacity ($opacity) {
  opacity: $opacity;
}

// over-opacity
// hover で 透過率 0.75 にします
// $opacity=0.75 - hover時の透過率
@mixin over-opacity($opacity:.75) {
  @include opacity($opacity);
}

// over-opacity-img
// img tag 用 hover で 透過率 0.75 にします
// $opacity=0.75 - hover時の透過率
@mixin over-opacity-img($opacity:.75) {
  background-color: #fff;
  img {
    @include opacity($opacity);
  }
}

// ---------------------------

// pos-middle
// vertical middle にします
// $position=absolute - position option, absolute|fix
@mixin pos-middle($position:absolute) {
  position: $position;
  top: 50%;
  transform: translateY(-50%);
}
