#Header set Access-Control-Allow-Origin *
#Header set Access-Control-Allow-Credentials true
#Header set Access-Control-Allow-Methods "GET, PUT, POST, DELETE, HEAD, OPTIONS"
#Header always set Access-Control-Allow-Headers "Authorization, authorization"

Satisfy any
order allow,deny
allow from all

Options FollowSymLinks Includes
RewriteEngine on
RewriteBase /

#Good Bad
RewriteRule ^comments/(bad|like)/([0-9]+) /api/v1/write/commentreaction.php?comment_id=$2&reaction=$1 [L]

#Comment
RewriteCond %{REQUEST_METHOD} DELETE
RewriteRule ^comments/article/([0-9]+)/([0-9]+)/([0-9]+) /v1/api/write/commentdelete.php?pageid=$1&commentid=$2&replyid=$3 [L,QSA]

RewriteCond %{REQUEST_METHOD} GET
RewriteRule ^comments/article/([0-9]+)/([0-9]+) /api/v1/read/commentlist.php?id=$1&cid=$2 [L,QSA]
RewriteCond %{REQUEST_METHOD} POST
RewriteRule ^comments/article/([0-9]+)/([0-9]+) /api/v1/write/commentpost.php?article_id=$1&comment_id=$2 [L,QSA]
RewriteCond %{REQUEST_METHOD} DELETE
RewriteRule ^comments/article/([0-9]+)/([0-9]+) /api/v1/write/commentdelete.php?pageid=$1&commentid=$2 [L,QSA]

RewriteCond %{REQUEST_METHOD} GET
RewriteRule ^comments/article/([0-9]+)/([a-z]+) /api/v1/read/commentlist.php?id=$1&type=$2 [L,QSA]

RewriteCond %{REQUEST_METHOD} GET
RewriteRule ^comments/article/([0-9]+) /api/v1/read/commentlist.php?id=$1 [L,QSA]
RewriteCond %{REQUEST_METHOD} POST
RewriteRule ^comments/article/([0-9]+) /api/v1/write/commentpost.php?article_id=$1 [L,QSA]

#Bookmark
RewriteRule ^articles/([0-9]+)/bookmark /api/v1/write/bookmark.php?article_id=$1 [L,QSA]

#Article
RewriteRule ^users/self/bookmark /api/v1/read/articlelist.php?api=bookmark [L,QSA]
RewriteRule ^articles/([0-9]+) /api/v1/read/articledetails.php?id=$1 [L]
RewriteRule ^articles/search/(.*) /api/v1/read/articlelist.php?api=search&q=$1 [L,QSA]
RewriteRule ^articles/category/([a-z]+)/([a-z]+) /api/v1/read/articlelist.php?api=category&category=$1&type=$2 [L,QSA]
RewriteRule ^articles/category/([a-z]+) /api/v1/read/articlelist.php?api=category&category=$1 [L,QSA]
RewriteRule ^articles/self/([a-z]+) /api/v1/read/articlelist.php?api=self&c=$1 [L,QSA]
RewriteRule ^articles/self /api/v1/read/articlelist.php?api=self [L,QSA]
RewriteRule ^articles/home/([a-z]+) /api/v1/read/articlelist.php?api=home&c=$1 [L,QSA]
RewriteRule ^articles/home /api/v1/read/articlelist.php?api=home [L,QSA]

#USER
RewriteRule ^users/self/settings/account /api/v1/write/useraccount.php [L]
RewriteRule ^users/self/settings/interest /api/v1/write/usercategory.php [L]
RewriteRule ^users/self/notifications/read /api/v1/write/usernotificationread.php [L]
RewriteRule ^users/self/notifications/count /api/v1/read/usernotificationcount.php [L]
RewriteRule ^users/self/notifications /api/v1/read/usernotification.php [L]
RewriteRule ^users/self/activities /api/v1/read/useractivity.php [L]
RewriteRule ^users/self /api/v1/read/userdetails.php [L]
RewriteRule ^users/([0-9]+) /api/v1/read/userdetails.php?userid=$1 [L]
RewriteRule ^users/email /api/v1/read/useremail.php [L]
RewriteCond %{REQUEST_METHOD} POST
RewriteRule ^users /api/v1/write/userregister.php [L]
RewriteCond %{REQUEST_METHOD} DELETE
RewriteRule ^users /api/v1/write/userunregister.php [L]

#CATEGORY
RewriteRule ^category /api/v1/read/categorylist.php [L]

#INITIALIZE
RewriteRule ^initialize /api/v1/read/initialize.php [L]

#LOGIN
RewriteRule ^sessions/social /api/v1/write/login_social.php [L]
RewriteRule ^sessions/update /api/v1/write/login_socialupdate.php [L]
RewriteRule ^sessions /api/v1/read/login.php [L]

#OAuth
RewriteRule ^auth/facebook /api/v1/auth/facebook.php [L]
RewriteRule ^auth/twitter /api/v1/auth/twitter.php [L]

