// .side-sec {
//   .sponsor-link {
//     &.nadir {
//       margin-top: 30px;
//     }
//   }

//   .app-bnr {
//     margin-top: 30px;
//   }

//   @at-root {
//     .widget-ranking,
//     .widget-recommend {
//       margin-top: 30px;

//       &.board-small {
//         border-top: none;
//       }

//       &-heading {
//         padding-bottom: 10px;
//         border-bottom: 1px solid $border-primary-color;

//         &-title, &-ruby {
//           display: inline-block;
//           line-height: 1;
//         }

//         &-title img {
//           vertical-align: middle;
//         }

//         &-ruby {
//           margin-left: 8px;
//           color: $highlight-color;
//           font-weight: bold;
//           font-size: fz(10);
//         }
//       } // .widget-ranking-heading

//       .board-item {
//         border-bottom: none;
//       }

//       .post {
//         border-bottom: 1px solid $border-primary-color;

//         &-thumb {}
//         &-data {}
//         &-category {}
//         &-heading {}
//         &-date {}
//       } //.post
//     } //.widget-ranking, .widget-recommend

//     .widget-ranking {
//       .post {
//         &-thumb {}

//         &-data {
//           float: right;
//           width: 220px;
//           overflow: visible;
//         }

//         &-category {
//           position: relative;
//           line-height: 1;
//           margin-bottom: .25em;

//           &:before {
//             content: '';
//             z-index: 999;
//             position: absolute;
//             top: -4px;
//             left: -25px;
//             width: 23px;
//             height: 20px;
//             line-height: 0;
//             background-repeat: no-repeat;
//             background-position: 0 0;
//           }
//         }
//       }

//       @for $i from 1 through 5 {
//         .rank#{$i} {
//           .post-category:before {
//             background-image: url(/assets/images/common/side-ranking-icon-num#{$i}.png);
//           }
//         }
//       }
//     } //.widget-ranking

//     .widget-recommend {
//       .post {
//         &-thumb {
//           position: relative;
//           width: 125px;
//           height: 70px;
//           background-image: url(/assets/images/common/thumb-noimage-340x150.png);
//           background-size: 125px;

//           img {
//             width: 100%;
//           }
//         }
//       }
//     } //.widget-recommend
//   }
// }

#side-menu-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  overflow: hidden;
  z-index: 999;
}

#side-menu-container {
  &.open {
    width: 100%;
    height: 100%;

    #side-menu-bg {
      opacity: 1;
    }
    #side-menu {
      width: 85%;
      transition-delay: 0.05s;
      transform: translateX(0);
     }
  }

  &.closing {
    #side-menu-bg {
      opacity: 0;
    }
    #side-menu {
      transform: translateX(-100%);
      transition-duration: 0.15s;
    }
  }
}

#side-menu-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;

  transition-property: opacity;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}

#side-menu {
  position: absolute;
  left: 0;
  overflow: hidden;
  width: 0;
  z-index: 999;
  max-height: 100%;
  min-height: 100%;
  background-color: #fff;

  transform: translateX(-100%);
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}

#side-menu {
  .ad {
    position: relative;
    background-color: #000;
  }

  #adg_div {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
  }
}

// /* Syn.のロゴを表示 */
div.synapse_logo {
  height: 141px;
  width: 100%;
  background-size: auto 50px;
  background-position: center center;
  background-repeat: no-repeat;
  // /* URLを変更してデザインにあったSyn.のロゴに変更できます */
  background-image: url("https://synapse-bitcellar-assets.s3.amazonaws.com/logos/original.png");
}



.side-menu-ut-nav {
  padding-left: 12px;
}

.side-menu-ut-nav-link {
  @include link-decoration($highlight-color, $highlight-color, none, none);
  // position: relative;
  // top: 2px;
  display: block;
  line-height: 1.5;
  padding: (28/2)+px 0 (20/2)+px;
  border-bottom: 1px solid #eee;
  background: #fff;
  font-weight: bold;
  font-size: fz(30/2);
  // vertical-align: top;

  i {
    @extend .sp-sprite-common;
    @include hide-text;
    position: relative;
    top: -2px;
    margin-right: (10/2)+px;
    vertical-align: middle;
  }

  span {
    line-height: (60/2)+px;
    vertical-align: top;
  }
}

.side-menu-ut-nav-home i { @include sprite( $common-icon-side-home, inline-block ); }
.side-menu-ut-nav-login i,
.side-menu-ut-nav-mypage i { @include sprite( $common-icon-side-mypage, inline-block ); }
.side-menu-ut-nav-config i { @include sprite( $common-icon-side-config, inline-block ); }
.side-menu-ut-nav-logout i { @include sprite( $common-icon-side-logout, inline-block ); }
.side-menu-ut-nav-about i { @include sprite( $common-icon-side-about, inline-block ); }

// UNDO_SPBL-403-abolish-comment
.side-menu-ut-nav-mypage {
  display: none;
}

.sidemenu_container,
.sidemenu_container_single {
  position: relative;
  padding: 12px 8px;
  border-bottom: 1px solid #eee;
}

.sidemenu_container a {
  text-decoration: none;
}

.sidemenu_container_single a {
  text-decoration: none;
  display: flex;
  align-items:center;
}

.sidemenu_container img.sidemenu_icon,
.sidemenu_container_single img.sidemenu_icon {
  width: 40px;
  height: 40px;
  padding: 8px;
  float: left;
}

.sidemenu_container div.sidemenu_title,
.sidemenu_container_single div.sidemenu_title {
  line-height: 1.2em;
  margin-right: 20px;
  font-weight: bold;
  font-size: 16px;
}

.sidemenu_container div.sidemenu_title_single,
.sidemenu_container_single div.sidemenu_title_single {
  line-height: 1em;
  margin-right: 20px;
  font-weight: bold;
  font-size: 16px;
}

.sidemenu_container div.sidemenu_caption {
  line-height: 1.2em;
  margin-top: 0.25em;
  margin-right: 20px;
  font-size: 12px;
}

.sidemenu-list-title {
  padding: 3px 18px;
  background-color:#aaa;
  color:#fff;
  font-weight:700;
  font-size:12px
}

#synapse-service-list {
}

#synapse-service-list-title {
  padding: (24/2)+px (36/2)+px;
  background-color: #aaa;
  color: #fff;
  font-weight: bold;
  font-size: 12px;
}

.synapse_container {
  position: relative;
  padding: 16px 8px;
  border-bottom: 1px solid #e7e7e7;
}

.synapse_container a {
  text-decoration: none;
}

.synapse_container img.synapse_icon {
  width: 40px;
  height: 40px;
  padding: 8px;
  float: left;
}

.synapse_container div.synapse_category {
  line-height: 1.2em;
  margin-right: 20px;
  color: rgb(51, 51, 51);
  font-weight: bold;
  font-size: 16px;
}

.synapse_container div.synapse_service_name {
  line-height: 1.2em;
  margin-top: 0.25em;
  margin-right: 20px;
  color: rgb(120, 120, 120);
  font-weight: bold;
  font-size: 12px;
}

.synapse_container div.synapse_notification_text {
  margin-right: 20px;
  color: rgb(51, 51, 51);
  font-size: 12px;
  font-weight: normal;
}

.synapse_container div.synapse_notification_count {
  position: absolute;
  right: 16px;
  top: 20px;
  float: right;
  padding: 0 3px;
  border-radius: 100%;
  background-color: $highlight-color;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 10px;
  text-align: center;
}
