@import "../../../../scss/asset";
@import "../sprite";

// -------------------------------------------------
// comment
// -------------------------------------------------

// user icon
.comment-user {
  .comment-user-thumb {
    overflow: hidden;
    img {
      width: 100%;
      height: auto;
    }
  }
}

.commented-user-thumb {
  overflow: hidden;
  img {
    width: 100%;
    height: auto;
  }
}