@import "../../../../scss/asset";

// Comment
//
// design module comment
//
// Styleguide 2.9.0

// comment
.comment {
  padding-bottom: 10px;
}





// comment-heading
.comment-heading {
  margin-top: 30px;
  padding: 6px 10px;
  // border-left: 3px solid $highlight-color;
  background-color: #ddd;

  @for $i from 1 through 6 {
    h#{$i} {
      font-weight: bold;
    }
  }
}

.comment-detail-heading {
  a {
    @include link-decoration(#333, #e1438b, underline, none);
  }
}





// comment-form
.comment-form {
  @include clearfix;
  margin-top: 30px;
  padding: 20px;
  border-radius: 5px;
  background-color: #f5f5f5;

  @at-root {
    &-user {
      float: left;
      width: 40px;
      height: 40px;
      margin-right: -50px;
      overflow: hidden;
      border-radius: 100%;
      background: url(/assets/images/common/thumb-user-info.png) 0 0 no-repeat;
      background-size: 40px;

      img {
        width: 100%;
        height: 100%;
        border-radius: 100%;
      }

      &.user-logged-in {
        background: #fff none;
      }
    } //.comment-form-user

    &-comment {

      &-outer1 {
        @include clearfix;
        padding: 20px;
        border-radius: 5px;
        background-color: #fff;
      }

      &-outer2 {
        float: right;
        width: 100%;
      }

      &-inner {
        // width: 100%;
        margin-left: 50px;

        textarea {
          appearance: none;
          width: 100%;
          padding: 8px;
          border: none;
          // border-radius: 5px;
          // background-color: #eee;
          resize: vertical;
        }
      }
    } //.comment-form-comment

    &-submit {
      margin-top: 20px;
      text-align: center;

      button {
        appearance: none;
        padding: 10px 30px;
        background: none;
        border: none;
        border-radius: 5px;
        background-color: $highlight-color;
        color: #fff;
        font-weight: bold;

        &:before {
          content: '';
          position: relative;
          top: -2px;
          @extend .sprite-common;
          @include sprite( $common-icon-comment, inline-block );
          @include hide-text;
          margin-right: 5px;
          vertical-align: middle;
        }

        &:hover {
          @include hover-opacity;
        }
      }
    } //.comment-form-submit
  }
} //.comment-form



// form control
.form-open {
  display: block;
}
.form-close {
  display: none;
}
.form-root {
  clear: both;
}
.comment-respond {
  .form-root {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}





// comment-menu
.comment-menu {
  position: relative;
  float: right;

  @at-root {
    &-btn {
      @extend .sprite-detail;
      @include sprite( $detail-btn-comment-menu );
      @include hide-text;

      &.disable  + .dropMenu {
        display: none;
      }
    }
  }

  .dropMenu-container {
    .dropMenu {
      overflow: hidden;

      .dropMenu-item {
        transition-property: opacity;
        transition-duration: 0.3s;
        transition-timing-function: linear;
      }
    }
  }

  .dropMenu {
    position: absolute;
    top: 30px;
    right: 0;
    width: 180px;

    @extend %dropMenu;
    padding-right: 8px;
    padding-left: 8px;

    &:before {
      top: -8px;
      right: 11px;
      @include sprite( $common-icon-user-menu_shadow );
    }

    @at-root {
      &-item {
        & + .dropMenu-item {
          border-top: 1px solid $border-primary-color;
        }
      }

      [ class^="dropMenu-link-" ] {
        @include link-decoration(#333, #333, none, underline);
        display: block;
        padding: 8px 0;
        font-size: fz(12);

        span {
          &:before {
            content: '';
            position: relative;
            top: 2px;
            margin-right: 5px;
            @extend .sprite-detail;
            @include hide-text;
          }
        }
      }

      &-link-delete {
        span:before {
          @include sprite( $detail-icon-comment-delete, inline-block );
        }
      }

      &-link-report {
        span:before {
          @include sprite( $detail-icon-comment-report, inline-block );
        }
      }
    }
  } //.dropMenu

  &.close {
    .dropMenu {
      height: 0;

      &:before {
        visibility: hidden;
      }

      .dropMenu-item {
        overflow: hidden;
        height: 0;
        opacity: 0;

        .dropMenu-link-report,
        .dropMenu-link-delete {
          overflow: hidden;
          display: block;
          height: 0;
          font-size: 0;
          line-height: 0;
          padding: 0;
        }
      }
    }
  }

  &.open {
    .dropMenu {
      height: auto;
      .dropMenu-item {
        opacity: 1;
      }
    }
  }
} //.comment-menu





// comment-user
.comment-user {
  &-thumb, &-data {
    @include table-cell;
  }

  &-link {
    @include link-decoration(#333, #333, none, none);
    display: block;

    &:hover {
      .user-prof-thumb {
        @include hover-opacity;
      }
    }
  }

  &-thumb {
    width: 50px;
    height: 50px;
    overflow: hidden;
    background: url(/assets/images/common/thumb-user-feature.png) 0 0 no-repeat;

    img {
      width: 100%;
      height: auto;
    }

    &.user-logged-in {
      background: none;
    }
  }

  &-name, &-job, .comment-date {
    margin-left: 10px;
  }

  &-name {
    font-weight: bold;
  }

  &-job {
    color: #666;
    font-size: fz(10);
  }

  @at-root {
    .comment-date {
      color: #999;
      font-size: fz(10);
    }
  }
} //.comment-user





// commented-user
.commented-user-thumb {
  overflow: hidden;

  img {
    width: 100%;
    height: auto;
  }
}





// comment-content
.comment-content {
  padding-top: 10px;
} //.comment-content





// comment-reaction
.comment-reaction {
  padding-top: 8px;
  // padding-bottom: 20px;

  .comment-reaction-btn {
    @include link-decoration(#333, #333, none, underline);
    display: inline-block;
    font-size: fz(12);

    & + .comment-reaction-btn {
      margin-left: 10px;
    }

    &.active {
      color: $highlight-secondary-color;
    }
  }

  i {
    position: relative;
    top: 3px;
    display: inline-block;
    width: 1em;
    font-family: 'icon-like' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-size: fs(18, 12);

    &:before {
      content: "\e09b";
    }
  }

  &-like {}

  &-dislike {
    i {
      top: 4px;
      transform: scale( 1, -1);
      filter: flipv();
      -ms-filter: flipv();
    }
  }
} //.comment-reaction





// comment-list
.comment-list {

  .comment-list {
    padding-left: 60px;
    margin-top: 20px;
    border-top: 1px solid $border-primary-color;

    .comment-item {
      &:first-child {
        margin-top: 0;
        border-top: none;
      }
      // padding-bottom: 20px;
    }
  }

  // > .comment-item {
  //   &:first-child {
  //     border-top: none;
  //   }
  // }

  @at-root {
    // comment-item
    .comment-item {
      @include clearfix;
      margin-top: 20px;
      padding-top: 20px;
      border-top: 1px solid $border-primary-color;
    } //.comment-item
  }
} //.comment-list





// comment-respond
.comment-respond {
  @include clearfix;
  position: relative;
  // padding-bottom: 20px;

  @at-root {
    &-opener {
      @include link-decoration(#333, #333, none, underline);
      position: absolute;
      top: -(18)+px;
      right: 0;

      span {
        font-weight: bold;
        font-size: fz(12);

        &:before {
          content: '';
          position: relative;
          top: 2px;
          margin-right: 5px;
          @extend .sprite-detail;
          @include sprite( $detail-icon-comment-response, inline-block );
        }
      }
    }
  }

  .comment-form {
    clear: both;
  }
} //.comment-respond




// comment-andmore
.comment-andmore {
  margin-top: 20px;
  text-align: center;

  a {
    font-weight: bold;
  }
} //.comment-andmore




// modal-dialogue-delete
.modal-dialogue_delete {
  @extend %modal-dialogue;

  .modal-dialogue-contents {
    // width: 210px + 30*2;
  }

  .lead {}

  .btn-block {
    @include clearfix;
    margin-top: 16px;

    @at-root {
      .btn-item {
        float: right;
        width: perCalc(100, 210);

        &:first-child {
          float: left;
        }
      }

      .btn-link {
        @include link-decoration(#fff, #fff, none, none);
        display: block;
        line-height: 1em;
        padding: 8px 2px;
        border-radius: 3px;
        background-color: #666;
        font-weight: bold;
        font-size: fz(12);
        text-align: center;
        white-space: nowrap;

        &:hover {
          @include hover-opacity;
        }

        &_cancel {
          background-color: $highlight-color;
        }
      }
    }
  }
} //.modal-dialogue-delete
