@import "../../../../scss/asset";
@import "../sprite";

// Detail
//
// design module detail
//
// Styleguide 2.4.0

// post-detail
.post-detail {
  margin-top: 30px;

  // post-heading
  .post-heading {
    padding-bottom: 24px;
    border-bottom: 1px solid $border-primary-color;

    h1, h2, h3, h4, h5, h6 {
      font-weight: bold;
      font-size: fz(34);
    }
  } //.post-heading

  // post-data
  .post-data {
    display: table;
    width: 100%;
    margin-top: 20px;

    .f-left,
    .f-right {
      float: none;
      display: table-cell;
      vertical-align: middle;
    }

    .f-right {
      text-align: right;
    }

    @at-root {
      // post-author
      .post-author {
      } //.post-author

      // post-date
      .post-date {
        color: #999;
      } //.post-date

      // btn-bookmark
      .btn-bookmark {
        display: inline-block;
      } //.btn-bookmark
    }
  } //.post-data

  #single-header-container {
    .post-data {
      // div
      .loading-root,
      .btn-bookmark {
        position: relative;

        // bookmark する click 後一時的に click 無効にするため + animation 表示
        .loading-spinner {
          width: 0;
          height: 0;
          opacity: 0;

          transition-property: opacity;
          transition-duration: 0.3s;
          transition-timing-function: linear;
        }

        &.loading {
          .loading-spinner {
            width: 100%;
            height: 100%;
            opacity: 1;
          }
        }
      }//.btn-bookmark
    }//.post-data
  }  //#single-header-container

  // post-kv
  .post-kv {
    margin-top: 30px;

    .post-single-figure {
      text-align: center;

      .caption {
        text-align: left;
        margin-top: 8px;
        font-size: 12px;
      }
    }

    // image
    .post-single-image {
      max-width: 100%;
      height: auto;
    }

    // caption
    .caption {
      margin-top: .25em;
    }
  } //.post-kv

  // post-video-kv
  .post-video-kv {
    .video-container {
      position: relative;
    }
    .post-thumb-overlay-movie {
      position: absolute;
      left: 0;
      top: 0;
    }
  } //.post-video-kv

  // post-content
  .post-content {
    h1, h2, h3, h4, h5, h6 {
      margin-top: 1.5em;
      font-weight: bold;
      font-size: fz(24);
    }

    ul, ol, dl, p, table {
      margin-top: 1.5em;
    }

    li {
      margin-left: 1em;
    }

    ul li {
      list-style: disc;
    }

    dt {
      font-weight: bold;
    }

    i {
      font-style: italic;
    }

    em {
      color: #999;
    }

    table {
      border-top: 1px solid $border-primary-color;
      border-right: 1px solid $border-primary-color;
    }

    th, td {
      padding: 8px;
      border-bottom: 1px solid $border-primary-color;
      border-left: 1px solid $border-primary-color;
    }

    th {
      background-color: #eee;
    }

    code, pre {
      padding: 4px;
      border: 1px solid $border-primary-color;
      border-radius: 3px;
    }

    code {
      background-color: #f7f7f7;
      color: #666;
    }

    pre {
      background-color: #fbfaf8;
    }
  } //.post-content

  // sponsor-link
  .sponsor-link {
    margin-top: 20px;

    &.column2 {
      margin-top: 30px;
      padding-bottom: 30px;
      border-bottom: 1px solid $border-primary-color;
      text-align: center;
      letter-spacing: ls( inline-block );
      vertical-align: top;

      .sponsor-link-item {
        display: inline-block;
        margin-right: 15px;
        margin-left: 15px;
        letter-spacing: normal;
        vertical-align:top;
      }
    }

    & + .post-tags {
      margin-top: 20px;
    }
  }

  // post-tags
  .post-tags {
    margin-top: 40px;

    @at-root {
      &-heading {
        width: 41px;
        height: 14px;
        background: url(/assets/images/common/heading-tags.png) 0 0 no-repeat;
        @include hide-text;
      }

      &-list {
        margin-top: 10px;
        letter-spacing: ls( inline-block );
      }

      &-item {
        display: inline-block;
        letter-spacing: normal;

        & + .post-tags-item {
          margin-left: 20px;
        }

        a {
          @include link-decoration(null, null, none, underline);
        }
      }
    }
  } //.post-tags

  // post-sns
  .post-sns {
    display: table;
    width: 100%;
    margin-top: 30px;
    border: 1px solid $border-primary-color;

    @at-root {
      &-list {
        display: table-cell;
        padding:  19px 0 19px 20px;
        letter-spacing: ls( inline-block );
      }

      &-item {
        display: inline-block;
        margin-left: 5px;
        letter-spacing: normal;
        vertical-align: middle;

        a {
          @extend .sprite-detail;
          @include hide-text;
        }

        a:hover {
          @include hover-opacity;
        }

        &_fbgood {
          width: 71px;
        }

        &_tw {
          a {
            @include sprite( $detail-btn-sns-tw );
          }
        }

        &_fb {
          a {
            @include sprite( $detail-btn-sns-fb );
          }
        }

        &_gt {
          a {
            @include sprite( $detail-btn-sns-gt );
          }
        }

        &_line {
          a {
            @include sprite( $detail-btn-sns-line );
          }
        }
      }

      &-pr {
        display: table-cell;
        width: 344px;
        padding: 19px 24px;
        background-color: #3755a5;
        letter-spacing: ls( inline-block );

        dt, dd {
          display: inline-block;
          vertical-align: middle;
          letter-spacing: normal;
        }

        dt {
          padding-left: 40px;
          background: url(/assets/images/detail/post-sns-logo.png) 0 center no-repeat;
          color: #fff;
          font-weight: bold;

          strong {
            font-size: fs(18, 14);
          }
        }

        dd {
          width: 71px;
          // height: 61px;
          padding-left: 16px;
          text-align: right;
        }
      }
    }
  } //.post-sns

  // provider
  .provider {
    display: table;
    width: 100%;
    margin-top: 24px;
    padding: 20px 0;
    border-top: 1px solid $border-primary-color;
    border-bottom: 1px solid $border-primary-color;

    &-logo,
    &-data {
      display: table-cell;
      vertical-align: middle;
    }

    &-logo {
      img {
        height: 40px;
      }
    }

    &-data {
      text-align: right;
    }

    &-name,
    &-url {
      font-size: fs(12, 14);
    }

    &-name {
      font-weight: bold;
    }
  }//.provider

}




// Brightcove Player
.vjs-remaining-time-display {
  line-height: 30px;
}

.video-js .vjs-play-progress:before {
  line-height: 1;
}


// -------------------------------------------------
// override
// @import "detail_override";
