@import "../../../../scss/asset";
@import "../sprite";

// -------------------------------------------------
// detail
// -------------------------------------------------

// image
.post-kv {
  // figure
  .post-single-figure {
    text-align: center;

    .caption {
      text-align: left;
      margin-top: 8px;
    }
  }
}

// video
.post-video-kv {
  .video-container {
    position: relative;
  }
  .post-thumb-overlay-movie {
    position: absolute;
    left: 0;
    top: 0;
  }
}

// bookmark button
#single-header-container {
  .post-data {
    // div
    .loading-root,
    .btn-bookmark {
      position: relative;

      // bookmark する click 後一時的に click 無効にするため + animation 表示
      .loading-spinner {
        //overflow: hidden;
        //position: absolute;
        //left: 0;
        //top: 0;
        width: 0;
        height: 0;
        //// ToDo クルクル gif animation 設置
        //background-color: rgba(255, 255, 255, 0.7);
        opacity: 0;

        transition-property: opacity;
        transition-duration: 0.3s;
        transition-timing-function: linear;
      }

      &.loading {
        .loading-spinner {
          width: 100%;
          height: 100%;
          opacity: 1;
        }
      }
    }//.btn-bookmark
  }//.post-data
}
