@import "../../../../scss/asset";
@import "../sprite";

// general
//
// design module general
//
// Styleguide 2.8.0

// -------------------------------------------------
// loading
// -------------------------------------------------
.loading-root {
  position: relative;

  .loading-spinner {
    display: block;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    //background: rgba(255, 255, 255, 0.7);
    background: #f5f5f5 url("/assets/images/common/preloader.gif") no-repeat center center;
    opacity: 0;
  }

  &.loading {
    min-width: 30px;
    min-height: 30px;

    .loading-spinner {
      width: 100%;
      height: 100%;
      opacity: 1;
    }
  }

  &.disable {
    .loading-spinner {
      width: 100%;
      height: 100%;
      opacity: 1;
    }
  }
}





// board-large
// 汎用 ニュース一覧
.board-large {
  @include clearfix;

  @at-root {
    &-column {
      // width: 350px;
      width: 100%;

      // &.column1 {
      //   float: left;
      // }

      // &.column2 {
      //   float: right;
      // }
    } //.board-column



    .feature-user {
      &.comment-item {
        margin-top: 10px;
        margin-right: 20px;
        margin-left: 20px;
        padding-top: 0;
        border-top: none;
        background-color: #f5f5f5;
      }

      .comment-user-job {
        font-size: fz(12);
      }

      .comment-content {
        padding-right: 10px;
        padding-left: 10px;
        font-size: fz(12);
      } //.comment-content

      .comment-reaction {
        padding-right: 8px;
        padding-bottom: 8px;
        padding-left: 8px;
      }
    } //.feature-user



    .commented-user {
      @include clearfix;
      margin-top: 10px;
      margin-right: 20px;
      margin-left: 20px;

      &-item {
        float: left;

        & + & {
          margin-left: 2px;
        }
      }

      &-thumb {
        @include link-decoration(null, null, none, none);
        display: block;
        width: 25px;
        height: 25px;
        background: url(/assets/images/common/thumb-user.png) 0 0 no-repeat;

        &:hover {
          @include hover-opacity;
        }

        &.user-logged-in {
          background: none;
        }
      }

      &-andmore {
        line-height: 25px;
        margin-left: 5px;
        font-size: fz(12);
      }
    } //.commented-user
  }

  // 表示確認用
  &.debug-visible .board-item {
    position: relative !important;
    top: auto !important;
  }

  .board-item {
    position: absolute;
    top: 99999px;
    width: 350px;
    margin-top: 30px;
    padding-bottom: 20px;
    background-color: #fff;
    border-bottom: 5px solid #e7e7e7;

    .post {
      &-thumb {
        background-color: #ccc;

        img {
          width: 100%;
          height: auto;
        }

        // サムネイル先読みコンテナ
        // .hide-image > img
        .hide-image {
          display: none;
        }

        &-overlay-movie {}
      } //post-thumb

      [ class^="post-label_" ] {
        position: absolute;
        top: 10px;
        left: 10px;
      }

      &-label_recommend {
        @extend .sprite-common;
        @include sprite( $common-icon-recommend );
        @include hide-text;
      }

      &-data {
        margin-top: .75em;
        padding-right: 20px;
        padding-left: 20px;
      }

      &-category {}

      &-heading {
        font-size: fz(20);
      }

      &-date {}
    } //.board-large .post
  }

} //.board-large

// @override line 150
// @since 2016-08-30
// issue: https://github.com/undotsushin/undotsushin/issues/997#issuecomment-243310794
.board-large .board-item .post-thumb img {
  &.video-thumbnail {
    height: 100%;
  }
}

// @override line 146
// @since 2016-08-30
// https://github.com/undotsushin/undotsushin/issues/997#issuecomment-243310794
.dark {
  .board-large .board-item .post-thumb {
    background-color: #181818;
  }
}


// board-small
// 汎用 ニュース一覧
.board-small {
  @include clearfix;
  margin-top: 30px;
  border-top: 1px solid $border-primary-color;

  .board-item {
    border-bottom: 1px solid $border-primary-color;
  }

  &.column2 {
    margin-top: 0;
    border-top: none;

    .board-item {
      float: left;
      width: 350px;
      border-top: 1px solid $border-primary-color;
      border-bottom: none;

      &:nth-child(2n) {
        float: right;
      }

      .post {
        &-heading {
          min-height: 2.6em;
        }
      }
    }
  }

  .post {
    height: 105px;
    padding: 15px 0;
    overflow: hidden;

    &-thumb {
      float: left;
      width: 70px;
      height: 70px;
      margin-right: 10px;
      border-radius: 3px;
      overflow: hidden;
      background: #ccc url(/assets/images/common/thumb-noimage-70x70.png) center center no-repeat;

      &.post-thumb-fill {
        background: none;
      }

      &.post-thumb-headline {
        position: relative;

        .post-thumb-overlay-movie {
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: auto;
        }
      }

      img {
        width: 100%;
        height: auto;
      }
    }

    &-data {
      overflow: hidden;
    }

    &-category {}

    &-heading {
      line-height: lh(18, 14);
    }

    &-date {}
  } //.board-small .post

  .btn-bookmark {
    float: right;
    margin-top: 20px + 18;
    margin-left: 10px;
  }
}



// 関連ニュース
// popIn
#_popIn_recommend {
  .board-small.column2 {
    .board-item {
      height: 100px;
      overflow: hidden;

      .post-thumb {
        background: none;
      }
    }
  }

  // figure 背景なし
  .board-small .post-thumb {
    background: none;
  }
}



[ class^="board-" ] {
  .post {
    @include link-decoration(#333, #333, none, none);
    @include clearfix;
    display: block;

    &-thumb {
      &-video {
        position: relative;
        width: 100%;
        overflow: hidden;

        // thumbnail
        .video-thumbnail {
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          width: 100%;
        }
      }

      &-overlay-movie {
        display: none;
        position: relative;
        width: 100%;
        height: auto;

        &.type-movie {
          display: block;
        }
      }
    }

    &-data {}

    &-category {
      color: $highlight-color;
      font-weight: bold;
      font-size: fz(12);
    }

    &-heading {
      font-weight: bold;
    }

    &-date {
      margin-top: .25em;
      color: #666;
      font-size: fz(10);
    }

    &-excerpt-text {
      margin-top: 0.25em;
      // break させる
      word-break: break-all;
    }

    &:hover {
      .post-thumb {
        @include hover-opacity;
      }

      .post-heading {
        color: $highlight-color;
      }
    }
  } // .post
}



// not isotope
#board-container {
  .board-stacks {
    position: static;
    top: inherit;
    width: 100%;
  }
}



// btn-bookmark
.btn-bookmark {
  a {
    @include link-decoration($highlight-color, #fff, none, none);
    display: block;
    min-width: 10.8em;
    padding: 6px 9px;
    border-radius: 4px;
    border: 1px solid $highlight-color;
    font-weight: bold;
    font-size: fz(12);
    vertical-align: middle;
  }

  span {
    display: inline-block;

    &:before {
      position: relative;
      top: 2px;
      margin-right: 5px;
      content: '';
      @extend .sprite-common;
      @include sprite( $common-icon-bookmark_o, inline-block);
      @include hide-text;
    }
  }

  a.enable,
  a:hover {
    background-color: $highlight-color;
    color: #fff;

    span:before {
      @include sprite( $common-icon-bookmark, inline-block);
      @include hide-text;
    }
  }
} //.btn-bookmark





// board-btn-viewmore
// VIEW MORE (もっと見る)ボタン
#board-container-more {
  padding-top: 30px;
}

.board-btn-viewmore {
  clear: both;
  padding-top: 30px;
  padding-bottom: 30px;

  &.loading-root {
    padding-top: 0;
  }

  &-link {
    display: block;
    padding: 20px 0;
    background-color: $highlight-color;

    span {
      @extend .sprite-common;
      @include sprite( $common-btn-viewmore );
      @include hide-text;
      margin: 0 auto;
    }
  }
} //.board-btn-viewmore





// dialogue-notice
// フラッシュメッセージ
.dialogue-notice {
  &.error { background-color: #e14343;}
  &.success { background-color: #43e18a;}
  &, &.info { background-color: $highlight-color;}

  @at-root {
    &-inner {
      position: relative;
      width: $global-inner-width;
      height: 80px;
      margin: 0 auto;
    }

    &-info {
      @include table-cell;
      width: $global-inner-width - 30;
      height: 80px;
      color: #fff;
      text-align: center;

      cursor: default;
    }

    &-btn-close {
      position: absolute;
      top: 50%;
      right: 0;
      margin-top: -15px;

      a {
        @extend .sprite-common;
        @include sprite( $common-btn-notice-close );
        @include hide-text;
      }
    }
  }

  &.flush-dialogue {
    // info, error, success override
    margin-top: 0!important;

    // position vertical middle
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
  }
}

#flush-modal-container {
  .modal-bg {
    &.flush-modal-bg {
      opacity: 0;
    }
  }
}





// modal-intro
// 初回起動時のサービス紹介
.modal-intro {
  @extend %modal-dialogue;
  position: absolute;

  .modal-bg {
    background-color: rgba(0, 0, 0, .7);
  }

  .modal-intro-contents {
    position: absolute;
    //top: 5%;
    // 下すぎる
    top: 160px;
    left: 50%;
    transform: translateX(-50%);
    width: 750px;
    height: 943px;
    background: #000 url(/assets/images/intro/bg.jpg) 0 0 no-repeat;
  }

  .modal-intro-tagline,
  .modal-intro-heading,
  .modal-intro-copy {
    position: absolute;
    left: 63px;
    // 幅指定
    width: 100%;
    @extend .sprite-intro;
    @include hide-text;
  }

  .modal-intro-tagline {
    top: 69px;
    @include sprite( $intro-tagline );
  }

  .modal-intro-heading {
    top: 255px;
    @include sprite( $intro-logo );
  }

  .modal-intro-copy {
    top: 360px;
    @include sprite( $intro-copy );
  }

  .modal-intro-close {
    position: absolute;
    top: 60px;
    left: 680px;
    display: block;
    width: 100px;
    height: 100px;
    background-color: #fff;
    transition: background-color .4s;

    span {
      position: absolute;
      top: 70px;
      left: 29px;
      @extend .sprite-intro;
      @include sprite( $intro-btn-close );
      @include hide-text;
      transition: filter .3s;
    }

    i {
      position: absolute;
      top: 42px;
      left: 28px;
      display: block;
      width: 46px;
      height: 2px;
      background-color: $highlight-color;
      @include hide-text;
      transition: transform .3s ease-in, background-color .3s;

      &:nth-child(1) {
        transform: rotate(45deg);
      }

      &:nth-child(2) {
        transform: rotate(-45deg);
      }
    }

    &:hover {
      background-color: $highlight-color;

      span {
        filter: brightness(5)
      }

      i {
        background-color: #fff;

        &:nth-child(1) {
          transform: rotate(315deg);
        }

        &:nth-child(2) {
          transform: rotate(-315deg);
        }
      }
    }
  }
}




// mod-btnA01
.mod-btnA01 {
  input[ type="submit" ],
  input[ type="button" ],
  a {
    display: inline-block;
    min-width: 160px;
    line-height: 50px - 2*2;
    padding-right: 4px;
    padding-left: 4px;
    border: 2px solid $highlight-color;
    border-radius: 6px;
    background-color: $highlight-color;
    font-weight: bold;
    text-align: center;

    &:hover {
      border: 2px solid $highlight-color;
      background-color: #fff;
      transition: background-color ease-out .4s;
    }
  }

  input[ type="submit" ],
  input[ type="button" ] {
    color: #fff;
  }

  a {
    @include link-decoration(#fff, $highlight-color, none, none);
  }

  input[ type="submit" ]:hover,
  input[ type="button" ]:hover {
    color: $highlight-color;
  }
}

// mod-btnA02
.mod-btnA02 {
  @extend .mod-btnA01;

  input[ type="submit" ],
  input[ type="button" ],
  a {
    min-width: 250px;
    border-radius: 3px;
  }

  // input[ type="submit" ],
  // input[ type="button" ],
  // a {
  //   display: inline-block;
  //   min-width: 250px;
  //   line-height: 50px;
  //   padding-right: 4px;
  //   padding-left: 4px;
  //   border-radius: 3px;
  //   background-color: $highlight-color;
  //   font-weight: bold;
  //   text-align: center;

  //   &:hover {
  //     @include hover-opacity;
  //   }
  // }

  // a {
  //   @include link-decoration(#fff, #fff, none, none);
  // }
}

// mod-btnB01
.mod-btnB01 {
  @extend .mod-btnA01;

  input[ type="submit" ],
  input[ type="button" ],
  a {
    border-color: $highlight-secondary-color;
    background-color: $highlight-secondary-color;

    &:hover {
      border-color: $highlight-secondary-color;
    }
  }

  a:hover {
    color: $highlight-secondary-color;
  }

  input[ type="submit" ]:hover,
  input[ type="button" ]:hover {
    color: $highlight-secondary-color;
  }
}

// mod-btnB02
.mod-btnB02 {
  @extend .mod-btnB01;

  input[ type="submit" ],
  input[ type="button" ],
  a {
    min-width: 250px;
    border-radius: 3px;
  }
}





// special-summary
.special-summary {
  margin: 0 -500em;
  padding: 0 500em;

  img {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
} //.special-summary




// -------------------------------------------------
// override
// @import "./general_override";

// Added by taikiken
// -------------------------------------------------
// modal
.modal-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  min-height: 720px;

  &.opaque {
    opacity: 0;
  }

  .modal-container-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    min-height: 720px;
    background-color: rgba(255, 255, 255, 0.5);
  }

  .modal-container-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX( -50% ) translateY( -50% );
    width: 710px;
    background-color: #fff;
  }
}





// -------------------------------------------------
// category が 2個になった
.category-label {
  display: inline-block;
  margin-left: 1em;

  &:first-of-type {
    margin-left: 0;
  }
}
