@import "../../../../scss/asset";
@import "../sprite";

// general
//
// design module general
//
// Styleguide 2.9.0





//お知らせ
// https://aws-plus.backlog.jp/view/UNDO_SPBL-281
.announce {
  border-bottom: 1px solid $border-primary-color;

  //.announce__inner
  &__inner {
    width: $global-inner-width;
    margin: 0 auto;
  }

  //.announce--text
  &--text {
    padding: 8px 0;

    //.announce__item
    .announce__item {
      position: relative;
      padding-left: 20px;
      word-break: break-all;
      font-weight: bold;
      font-size: fz(13);

      a {
        @include link-decoration(null, null, none, none);
        display: block;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    //.announce__item__icon
    .announce__item__icon {
      position: absolute;
      left: 0;
      width: 16px;
      vertical-align: middle;
    }
  } //.announce--text



  //.announce--image
  &--image {
    text-align: center;
  }
} //.announce





// board-
// boadr-large, board-small 共用
[ class^="board-" ] {
  .post {
    [ class*="post-label_" ] {
      position: relative;
      top: -2px;
      display: inline-block;
      margin-right: 4px;
      vertical-align: middle;
      @extend .sprite-common;
      @include hide-text;
    }

    //.post-label_recommend
    &-label_recommend {
      @include sprite( $common-icon-recommend );
    }

    //.post-label_movie
    &-label_movie {
      @include sprite( $common-icon-movie );
    }

    //.post-label_new
    &-label_new {
      @include sprite( $common-icon-new );
    }
  }
}





// board-large
// 汎用 ニュース一覧
.board-large {
  @include clearfix;

  &-column {
    // width: 350px;
    width: 100%;

    // &.column1 {
    //   float: left;
    // }

    // &.column2 {
    //   float: right;
    // }
  } //.board-column

  @at-root {
    .feature-user {
      display: none;

      &.comment-item {
        margin-top: 10px;
        margin-right: 20px;
        margin-left: 20px;
        padding-top: 0;
        border-top: none;
        background-color: #f5f5f5;
      }

      .comment-user-job {
        font-size: fz(12);
      }

      .comment-content {
        padding-right: 10px;
        padding-left: 10px;
        font-size: fz(12);
      } //.comment-content

      .comment-reaction {
        padding-right: 8px;
        padding-bottom: 8px;
        padding-left: 8px;
      }
    } //.feature-user



    .commented-user {
      display: none;

      @include clearfix;
      margin-top: 10px;
      margin-right: 20px;
      margin-left: 20px;

      &-item {
        float: left;

        & + & {
          margin-left: 2px;
        }
      }

      &-thumb {
        @include link-decoration(null, null, none, none);
        display: block;
        width: 25px;
        height: 25px;
        background: url(/assets/images/common/thumb-user.png) 0 0 no-repeat;

        &:hover {
          @include hover-opacity;
        }

        &.user-logged-in {
          background: none;
        }
      }

      &-andmore {
        line-height: 25px;
        margin-left: 5px;
        font-size: fz(12);
      }
    } //.commented-user
  }

  // 表示確認用
  &.debug-visible .board-item {
    position: relative !important;
    top: auto !important;
  }

  .board-item {
    position: absolute;
    top: 99999px;
    width: 354px;
    height: 310px;
    margin-top: 20px;
    padding-bottom: 20px;
    overflow: hidden;
    background-color: #fff;
    // border-bottom: 5px solid #e7e7e7;

    .post {
      &-thumb {
        background-color: #ccc;

        img {
          width: 100%;
          height: auto;
        }

        // サムネイル先読みコンテナ
        // .hide-image > img
        .hide-image {
          display: none;
        }

        &-overlay-movie {}
      } //post-thumb

      &-data {
        margin-top: 0.5em;
        // padding-right: 20px;
        // padding-left: 20px;
      }

      &-category {
        margin-top: 0.25em;
      }

      &-heading {
        max-height: 2.8em;
        line-height: lh(26, 20);
        overflow: hidden;
        font-size: fz(20);
      }

      &-date {}
    } //.board-large .post
  }

} //.board-large

// @override line 150
// @since 2016-08-30
// issue: https://github.com/undotsushin/undotsushin/issues/997#issuecomment-243310794
.board-large .board-item .post-thumb img {
  &.video-thumbnail {
    height: 100%;
  }
}

// @override line 146
// @since 2016-08-30
// https://github.com/undotsushin/undotsushin/issues/997#issuecomment-243310794
.dark {
  .board-large .board-item .post-thumb {
    background-color: #181818;
  }
}





// board-small
// 汎用 ニュース一覧
.board-small {
  @include clearfix;
  margin-top: 30px;
  border-top: 1px solid $border-primary-color;

  .board-item {
    border-bottom: 1px solid $border-primary-color;
  }

  &.column2 {
    margin-top: 0;
    border-top: none;

    .board-item {
      float: left;
      width: 350px;
      border-top: 1px solid $border-primary-color;
      border-bottom: none;

      &:nth-child(2n) {
        float: right;
      }
    }
  }

  .post {
    display: table;
    height: 105px;
    padding: 15px 0;
    overflow: hidden;

    &-thumb {
      display: table-cell;
      width: 70px;
      height: 70px;
      border-radius: 3px;
      vertical-align: middle;
      // ref. https://github.com/undotsushin/undotsushin/issues/1244
      // background: #ccc url(/assets/images/common/thumb-noimage-70x70.png) center center no-repeat;

      img {
        border-radius: 3px;
      }

      &.post-thumb-fill {
        background: none;
      }

      &.post-thumb-headline {
        position: relative;

        .post-thumb-overlay-movie {
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 70px;
          height: auto;
        }
      }

      img {
        width: 100%;
        height: auto;
      }
    }

    &-data {
      display: table-cell;
      padding-left: 10px;
      vertical-align: middle;
    }

    &-category {
      margin-top: 0.25em;
    }

    &-heading {
      max-height: 2.6em;
      line-height: lh(18, 14);
      overflow: hidden;
      font-size: fz(16);
    }

    &-date {}
  } //.board-small .post

  .btn-bookmark {
    float: right;
    margin-top: 20px + 18;
    margin-left: 10px;
  }
}





// headline
// トップページ ヘッドライン
.headline {
  margin-top: 10px;

  //.headline-heading
  // トップページリニューアルで不要になりました
  // &-heading {
  //   padding-bottom: 10px;
  //   border-bottom: 3px solid #0e357f;

  //   //.headline-title
  //   //.headline-ruby
  //   &-title, &-ruby {
  //     display: inline-block;
  //     line-height: 1;
  //   }

  //   //.headline-title
  //   &-title img {
  //     vertical-align: middle;
  //   }

  //   //.headline-ruby
  //   &-ruby {
  //     margin-left: 8px;
  //     color: #333;
  //     font-weight: bold;
  //     font-size: fz(12);
  //   }
  // } //.headline-heading

  .board-small.column2 {
    .board-item {
      border-top: none;
      margin-top: 10px;
      // &:nth-child(1), &:nth-child(2) {}

      .post {
        height: 70px;
        padding: 0;

        &-thumb {}
        &-data {}
        &-category {}
        &-heading {}
        &-date {}

        &:hover {
          .post-thumb {}
          .post-heading {}
        }
      }
    } //.post-list-item
  }
}

.headline-outer {
  position: relative;

  .sponsor-link {
    // 不要 CSS なので削除, float layout
    // @see https://github.com/undotsushin/undotsushin/issues/1647
    // @since 2017-04-10
    //position: absolute;
    //bottom: 0;
    //right: 0;

    @extend %board-small-sponsor-link;
  }
}




// 関連ニュース
// popIn or syn.extension
.recommend_articles {
  .board-small.column2 {
    .board-item {
      height: 100px;
      overflow: hidden;

      .post-thumb {
        background: none;
      }
    }
  }

  // figure 背景なし
  .board-small .post-thumb {
    background: none;
  }
}



[ class^="board-" ] {
  .post {
    @include link-decoration(#333, #333, none, none);
    @include clearfix;
    display: block;

    &-thumb {
      &-video {
        position: relative;
        width: 100%;
        overflow: hidden;

        // thumbnail
        .video-thumbnail {
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          width: 100%;
        }
      }

      &-overlay-movie {
        display: none;
        position: relative;
        width: 100%;
        height: auto;

        &.type-movie {
          display: block;
        }
      }
    }

    &-data {}

    //.post-category
    &-category {
      // color: $highlight-color;
      color: #888;
      // font-weight: bold;
      font-size: fz(12);

      .category-label {
        display: inline-block;
        //margin-left: 0.5em;
        margin-right: 0.5em;

        //&:first-of-type {
        //  margin-left: 0;
        //}

        // 地域カテゴリー用アイコン付カテゴリーラベル
        // ref.https://github.com/undotsushin/undotsushin/issues/2318
        &.category-label_area {
          color: $highlight-secondary-color;

          &:before {
            content: "";
            position: relative;
            top: -2px;
            display: inline-block;
            width: 10px;
            height: 15px;
            margin-right: 5px;
            background: url(/assets/images/area/icon-heading.png) 0 0 no-repeat;
            background-size: 10px;
            vertical-align: middle;
            @include hide-text;
          }
        }
      }
    }

    &-heading {
      font-weight: bold;
    }

    &-date {
      // リニューアルで不要になりました
      display: none;

      // margin-top: .25em;
      // color: #666;
      // font-size: fz(10);
    }

    &-excerpt-text {
      // リニューアルで不要になりました
      display: none;

      // margin-top: 0.25em;
      // // break させる
      // word-break: break-all;
    }

    &:hover {
      .post-thumb {
        @include hover-opacity;
      }

      .post-heading {
        color: $highlight-color;
      }
    }
  } // .post
}





// not isotope
#board-container {
  .board-stacks {
    position: static;
    top: inherit;
    width: 100%;
  }
}





// btn-bookmark
.btn-bookmark {
  a {
    @include link-decoration($highlight-color, #fff, none, none);
    display: block;
    min-width: 10.8em;
    padding: 6px 9px;
    border-radius: 4px;
    border: 1px solid $highlight-color;
    font-weight: bold;
    font-size: fz(12);
    vertical-align: middle;
  }

  span {
    display: inline-block;

    &:before {
      position: relative;
      top: 2px;
      margin-right: 5px;
      content: '';
      @extend .sprite-common;
      @include sprite( $common-icon-bookmark_o, inline-block);
      @include hide-text;
    }
  }

  a.enable,
  a:hover {
    background-color: $highlight-color;
    color: #fff;

    span:before {
      @include sprite( $common-icon-bookmark, inline-block);
      @include hide-text;
    }
  }
} //.btn-bookmark





// board-btn-viewmore
// VIEW MORE (もっと見る)ボタン
#board-container-more {
  padding-top: 30px;
}

.board-btn-viewmore {
  clear: both;
  // padding-bottom: 30px;

  &.loading-root {
    padding-top: 0;
  }

  //.board-btn-viewmore-link
  &-link {
    @include link-decoration(null, #fff, none, none);
    display: block;
    padding: 20px 0;
    background-color: #efefef;

    span {
      display: block;
      font-weight: bold;
      font-size: fz(16);
      text-align: center;
    }

    &:hover {
      background-color: $highlight-color;
    }
  }
} //.board-btn-viewmore


.loading-root {
  position: relative;

  .loading-spinner {
    display: block;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    //background: rgba(255, 255, 255, 0.7);
    background: url("/assets/images/common/preloader.gif") no-repeat center center;
    opacity: 0;
  }

  &.loading {
    min-width: 30px;
    min-height: 30px;

    .board-btn-viewmore-link {
      background-color: transparent;
      @include hide-text;
    }

    .loading-spinner {
      width: 100%;
      height: 100%;
      opacity: 1;
    }
  }

  &.disable {
    .loading-spinner {
      width: 100%;
      height: 100%;
      opacity: 1;
    }
  }
}




// dialogue-notice
// フラッシュメッセージ
.dialogue-notice {
  &.error { background-color: #e14343;}
  &.success { background-color: #43e18a;}
  &, &.info { background-color: $highlight-color;}

  @at-root {
    &-inner {
      position: relative;
      width: $global-inner-width;
      height: 80px;
      margin: 0 auto;
    }

    &-info {
      @include table-cell;
      width: $global-inner-width - 30;
      height: 80px;
      color: #fff;
      text-align: center;

      cursor: default;
    }

    &-btn-close {
      position: absolute;
      top: 50%;
      right: 0;
      margin-top: -15px;

      a {
        @extend .sprite-common;
        @include sprite( $common-btn-notice-close );
        @include hide-text;
      }
    }
  }

  &.flush-dialogue {
    // info, error, success override
    margin-top: 0!important;

    // position vertical middle
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
  }
}

#flush-modal-container {
  .modal-bg {
    &.flush-modal-bg {
      opacity: 0;
    }
  }
}





// modal-intro
// 初回起動時のサービス紹介
.modal-intro {
  @extend %modal-dialogue;
  display: none;

  .modal-bg {
    background-color: rgba(0, 0, 0, .7);
  }

  //.modal-intro-contents
  &-contents {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
  }

  //.modal-intro-close
  &-close {
    z-index: 999;
    position: absolute;
    top: 0;
    right: 0;
  }

  //.modal-intro-close-btn
  &-close-btn {
    display: block;
    width: 28px;
    height: 28px;
    background: url(/assets/images/intro/btn-close.png) 0 0 no-repeat;
    @include hide-text;

    &:hover {
      @include over-opacity;
    }
  }
}





// mod-btnA01
.mod-btnA01 {
  input[ type="submit" ],
  input[ type="button" ],
  a {
    display: inline-block;
    min-width: 160px;
    line-height: 50px - 2*2;
    padding-right: 4px;
    padding-left: 4px;
    border: 2px solid $highlight-color;
    border-radius: 6px;
    background-color: $highlight-color;
    font-weight: bold;
    text-align: center;

    &:hover {
      border: 2px solid $highlight-color;
      background-color: #fff;
      transition: background-color ease-out .4s;
    }
  }

  input[ type="submit" ],
  input[ type="button" ] {
    color: #fff;
  }

  a {
    @include link-decoration(#fff, $highlight-color, none, none);
  }

  input[ type="submit" ]:hover,
  input[ type="button" ]:hover {
    color: $highlight-color;
  }
}

// mod-btnA02
.mod-btnA02 {
  @extend .mod-btnA01;

  input[ type="submit" ],
  input[ type="button" ],
  a {
    min-width: 250px;
    border-radius: 3px;
  }

  // input[ type="submit" ],
  // input[ type="button" ],
  // a {
  //   display: inline-block;
  //   min-width: 250px;
  //   line-height: 50px;
  //   padding-right: 4px;
  //   padding-left: 4px;
  //   border-radius: 3px;
  //   background-color: $highlight-color;
  //   font-weight: bold;
  //   text-align: center;

  //   &:hover {
  //     @include hover-opacity;
  //   }
  // }

  // a {
  //   @include link-decoration(#fff, #fff, none, none);
  // }
}

// mod-btnB01
.mod-btnB01 {
  @extend .mod-btnA01;

  input[ type="submit" ],
  input[ type="button" ],
  a {
    border-color: $highlight-secondary-color;
    background-color: $highlight-secondary-color;

    &:hover {
      border-color: $highlight-secondary-color;
    }
  }

  a:hover {
    color: $highlight-secondary-color;
  }

  input[ type="submit" ]:hover,
  input[ type="button" ]:hover {
    color: $highlight-secondary-color;
  }
}

// mod-btnB02
.mod-btnB02 {
  @extend .mod-btnB01;

  input[ type="submit" ],
  input[ type="button" ],
  a {
    min-width: 250px;
    border-radius: 3px;
  }
}





// special-summary
.special-summary {
  margin: 0 -500em;
  padding: 0 500em;

  img {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
} //.special-summary






// sponsor-link
.sponsor-link {
  &:empty {
    display: none;
  }

  &.column2 {
    margin-top: 30px;
    text-align: center;
    letter-spacing: ls( inline-block );
    vertical-align: top;

    .sponsor-link-item {
      display: inline-block;
      margin-right: 15px;
      margin-left: 15px;
      letter-spacing: normal;
      vertical-align:top;
    }
  }
}






// サイドナビ広告
.sponsor-link-ranking,
.sponsor-link-recommend {
  @extend %board-small-sponsor-link;

  .adgLink {
    height: auto !important;
    margin-top: 20px;
    border-top: none;
  }
}

.sponsor-link-recommend {
  .adsImgContainer {
    width: 135px !important;
    height: auto !important;
    padding: 0 10px 0 0 !important;
  }
}

// sidebar sponsor-link を非表示に
.sponsor-link-ranking,
.sponsor-link-recommend {
  display: none;
}




// -------------------------------------------------
// override
// @import "./general_override";

// Added by taikiken
// -------------------------------------------------
// modal
.modal-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  min-height: 720px;

  &.opaque {
    opacity: 0;
  }

  .modal-container-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    min-height: 720px;
    background-color: rgba(255, 255, 255, 0.5);
  }

  .modal-container-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX( -50% ) translateY( -50% );
    width: 710px;
    background-color: #fff;
  }
}
