@import "../../../../scss/asset";
@import "../sprite";

// -------------------------------------------------
// 記事一覧
// board
// -------------------------------------------------
#board-container {
  .board-large-column {
    width: 100%;

    &.column1,
    &.column2 {
      float: none;
    }
  }

  .board-item {
    position: relative;
    top: 99999px;
    width: 340px;
  }
}


// -------------------------------------------------
// more button
#board-container-more {
  padding-top: 30px;

  .board-btn-viewmore {
    position: relative;
    padding-top: 0;

    .loading-spinner {
      display: block;
      overflow: hidden;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 0;
      background: rgba(255, 255, 255, 0.7);
    }
    &.loading {
      .loading-spinner {
        height: 100%;
      }
    }
  }

  .board-btn-viewmore-link {
    background-color: #fff;
  }
}

