// global footer
%foot-sec {
  position: relative;
  // margin-top: 30px;
  // background-color: #f5f5f5;

  .#{$prefix}foot-sec-inner {
    border-top: 1px solid $border-primary-color;
    // background: #061533 url(/assets/images/common/footer-bg.png) no-repeat center bottom;
  }

  .#{$prefix}foot-breadCrumb {
    // background-color: #030b1a;
    // border-bottom: 1px solid #333;

    ol {
      list-style: none;
      width: $global-inner-width;
      margin: 0 auto;
      padding: 20px 0 32px;
      line-height: 18px;

      li {
        display: inline-block;
        letter-spacing: ls(inline-block);

        a {
          display: inline-block;
          @include link-decoration(#666, #666, none, underline);
          font-weight: bold;
          font-size: fz(12);
          letter-spacing: normal;

          &:after {
            content: '';
            // @extend .sprite-common;
            // @include sprite( $common-breadcrumb-arrow );
            display: inline-block;
            width: 7px;
            height: 12px;
            background: url(/assets/images/common/breadcrumb-arrow.svg) 0 0 no-repeat;
            margin-top: -3px;
            margin-right: 5px;
            margin-left: 8px;
            font-size: 0;
            vertical-align: middle;
          }
        }
      }

      // li:first-child a {
      //   position: relative;
      //   padding-left: 25px;

      //   &:before {
      //     content: '';
      //     position: absolute;
      //     top: 0;
      //     left: 0;
      //     @extend .sprite-common;
      //     @include sprite( $common-breadcrumb-home );
      //     line-height: 18px;
      //     font-size: 0;
      //   }
      // }

      li:last-child a {
        &:hover {
          cursor: default;
          text-decoration: none;
        }

        &:after {
          display: none;
        }
      }
    }
  }

  .#{$prefix}foot-pr {
    border-bottom: 1px solid $border-primary-color;

    figure {
      float: left;
    }

    .#{$prefix}text-block {
      @include clearfix;
      float: left;
      width: 270px;
      margin-left: 24px;
    }
  }

  //.foot-pr-inner
  .#{$prefix}foot-pr-inner {
    @include clearfix;
    width: $global-inner-width;
    margin: 0 auto;
    padding-bottom: 24px;
  }

  .#{$prefix}foot-pr-btn {
    @include clearfix;
    // float: left;
    margin-top: 8px;

    li {
      float: left;
      + li {
        margin-left: 12px;
      }
    }

    a:hover {
      @include hover-opacity;
    }
  }

  .#{$prefix}foot-pr-text {
    line-height: lh(20,14);
    margin-top: 16px;
  }

  .#{$prefix}fb-page-plugin {
    float: right;
    width: 400px;
  }

  .#{$prefix}pagetop {
    position: absolute;
    right: 30px;
    top: -70px;

    a {
      display: block;

      &:hover {
        @include hover-opacity;
      }
    }

    span {
      // @extend .sprite-footer;
      // @include sprite( $footer-pagetop );
      display: block;
      width: 40px;
      height: 40px;
      background: url(/assets/images/common/pagetop.svg) 0 0 no-repeat;
      background-size: 100%;
      @include hide-text;
      margin: 0 auto;
    }

    &.fixed {
      position: fixed;
      top: auto;
      right: 30px;
      bottom: 30px;
    }

    // @since 2016-09-01
    // 非表示にするためのクラス
    &.blind {
      display: none;
    }
  } // pagetop

  .#{$prefix}fnav-block {
    @include clearfix;
    width: $global-inner-width;
    margin: 0 auto;
  }

  .#{$prefix}fnav {
    margin-top: 40px;

    ul {
      letter-spacing: ls(inline-block);
      text-align: center;

      li {
        display: inline-block;
        margin-right: 12px;
        margin-left: 12px;
        letter-spacing: normal;
      }

      a {
        @include link-decoration(#666, #666, none, underline);
        font-weight: bold;
        font-size: fz(12);
      }
    }
  } // fnav

  .#{$prefix}sns-block {
    margin-top: 20px;

    ul {
      text-align: center;
      letter-spacing: ls(inline-block);

      li {
        display: inline-block;
        vertical-align: middle;
        letter-spacing: normal;

        + li {
          margin-left: 10px;
        }
      }

      a {
        // @extend .sprite-footer;
        display: block;
        width: 42px;
        height: 42px;
        background-position: 0 0;
        background-repeat: no-repeat;
        @include hide-text;

        &:hover {
          @include hover-opacity;
        }
      }

      .#{$prefix}sns-tw a {
        // @include sprite( $footer-icon-sns-tw );
        background-image: url(/assets/images/common/footer-icon-sns-tw.svg);
      }

      .#{$prefix}sns-fb a {
        // @include sprite( $footer-icon-sns-fb );
        background-image: url(/assets/images/common/footer-icon-sns-fb.svg);
      }

      .#{$prefix}sns-yt a {
        // @include sprite( $footer-icon-sns-yt );
        background-image: url(/assets/images/common/footer-icon-sns-yt.svg);
      }

    }
  } //.sns-block

  .#{$prefix}copyright {
    margin: 40px 0;
    color: #ccc;
    font-weight: bold;
    font-size: fz(10);
    text-align: center;
  } //.copyright
}
