@import "../../../../scss/asset";

$prefix : '';

// sprite 不要の時はコメントに
/*
  sprite
* *********************************** */
@import "../sprite";

// Global
//
// design module global
//
// Styleguide 2.2.0

//  1. global layout base
//  2. global header
//  3. global navigation
//  4. global footer
//  5. global side section


// 1. global layout base
// ----------------------------------------------------------------------------------------------------------------------------------------
html, body {
  width: 100%;
  height: 100%;
}

a {
  @include link-decoration($highlight-color, $highlight-color, none, underline);
}

input,
textarea,
select,
button {
  outline: none;
}

input,
textarea {
  color: #333;
}

.whole {
  overflow: hidden;
  min-width: $global-width;

  img {
    &.responsive {
      display: none;
    }
  }
}





// 2. global header
// ----------------------------------------------------------------------------------------------------------------------------------------
@import "global_header";




// 3. global navigation
// ----------------------------------------------------------------------------------------------------------------------------------------
@import "global_gnav";






// 4. global footer
// ----------------------------------------------------------------------------------------------------------------------------------------
@import "global_footer";






// 5. global side section
// ----------------------------------------------------------------------------------------------------------------------------------------

%side-sec {
  .sponsor-link {
    &.nadir {
      margin-top: 20px;
      padding-top: 20px;
      border-top: 1px solid $border-primary-color;
    }
  }

  .app-bnr {
    margin-top: 30px;
  }

  > .app-bnr:first-child {
    margin-top: 0;
  }

  .side-menu {
    .menu-container {
      position: relative;
      margin-top: 12px;

      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 1px;
        background-color: #ddd;
      }

      .menu-heading {
        height: 38px;
        line-height: 38px;
        border-bottom: 1px solid #ddd;
        background-position: right bottom;
        background-repeat: no-repeat;
        background-size: auto 100%;
        font-weight: bold;

        // span {
        //   margin-left: 1em;
        // }
      } //.menu-heading {

      // ex. .category-baseball の時の .menu-heading のアイコンは menu-heading-chara_baseball.png
      $heading-array: pickup, baseball, soccer, basketball, motorsports, other;
      @include prc-each( pickup, baseball, soccer, basketball, motorsports, other ) {
        &.category-#{nth($heading-array, $arg_i)} {
          .menu-heading {
            background-image: url(/assets/images/common/menu-heading-chara_#{nth($heading-array, $arg_i)}.png);
          }
        }
      }

      .menu-list {
        display: flex;
        flex-wrap: wrap;
      } //.menu-list

      .menu-item {
        width: 50%;
        border-bottom: 1px solid #ddd;
        padding-right: 4px;
      } //.menu-item

      .menu-link {
        @include link-decoration(#000, #000, null, null);
        position: relative;
        display: flex;
        align-items: center;
        padding-top: 12px;
        padding-bottom: 12px;
        font-size: 12px;
        // white-space: nowrap;

        img {
          width: 16px;
          margin-right: 4px;
          vertical-align: middle;
        }
      } //.menu-link
    } //.menu-container
  } //.side-menu

  .side-menu + .widget-ranking,
  .side-menu + #widget-ranking-container {
    margin-top: 0;

    .widget-ranking {
      margin-top: 0;
    }

    .widget-ranking-heading {
      border-top: none;
    }
  }

  .side-menu + .widget-recommend,
  .side-menu + #widget-recommend-container {
    margin-top: 0;

    .widget-recommend {
      margin-top: 0;
    }

    .widget-ranking-recommend {
      border-top: none;
    }
  }

  .side-menu + #widget-recommend-list-container {
    .widget-ranking {
      margin-top: 0;
    }

    .widget-recommend-heading {
      border-top: none;
    }
  }


  .widget-ranking,
  .widget-recommend {
    margin-top: 20px;

    &.board-small {
      border-top: none;
    }

    &-heading {
      padding-top: 16px;
      border-top: 1px solid $border-primary-color;

      &-title, &-ruby {
        display: inline-block;
        line-height: 1;
      }

      &-title {
        @extend .sprite-common;
        @include hide-text;
        vertical-align: middle;
      }

      &-ruby {
        margin-left: 5px;
        color: #333;
        font-weight: bold;
        font-size: fz(10);
      }
    } // .widget-ranking-heading

    .board-item {
      margin-top: 20px;
      border-bottom: none;
    }

    .post {
      height: auto;
      padding: 0;

      &-thumb {}
      &-data {}
      &-category {}

      //.post-heading
      &-heading {
        font-size: fz(14);
      }

      &-date {}
      &:hover {
        .post-heading {}
      }
    } //.post
  } //.widget-ranking, .widget-recommend

  .widget-ranking {
    &-heading-title {
      @include sprite( $common-side-ranking-heading );
      display: inline-block;
    }

    .board-item {
      position: relative;

      &:before {
        content: '';
        z-index: 999;
        position: absolute;
        top: -5px;
        left: -5px;
        @extend .sprite-common;
        @include hide-text;
      }

    }

    .post {
      &-thumb {
        width: 124px;
        height: auto;
      }

      //.post-data
      &-data {
        display: table-cell;
        padding-left: 10px;
        vertical-align: middle;
      }

      //.post-date
      &-date {}

      //.post-category
      &-category {
        // position: relative;
        line-height: 1;

        // &:before {
        //   content: '';
        //   z-index: 999;
        //   position: absolute;
        //   top: -4px;
        //   left: -82px;
        //   width: 23px;
        //   height: 20px;
        //   line-height: 0;
        //   background-repeat: no-repeat;
        //   background-position: 0 0;
        // }
      }
    }

    .rank1:before {
      @include sprite( $common-ranking-icon-num1 );
    }

    .rank2:before {
      @include sprite( $common-ranking-icon-num2 );
    }

    .rank3:before {
      @include sprite( $common-ranking-icon-num3 );
    }

    .rank4:before {
      @include sprite( $common-ranking-icon-num4 );
    }

    .rank5:before {
      @include sprite( $common-ranking-icon-num5 );
    }

  } //.widget-ranking

  .widget-recommend {
    &-heading-title {
      @include sprite( $common-side-recommend-heading );
      display: inline-block;
    }

    .post {
      &-thumb {
        position: relative;
        width: 125px;
        height: 70px;
        background-image: url(/assets/images/common/thumb-noimage-16x9-s.png);
        background-size: 125px;

        img {
          width: 100%;
        }
      }

      //.post-date
      &-date {
        display: none;
      }

      &-category {
        line-height: 1;
        margin-top: 6px;
        color: #999;
      }
    }
  } //.widget-recommend
}
