@import "../../../../scss/asset";

// sprite 不要の時はコメントに
/*
  sprite
* *********************************** */
@import "../sprite";

// Global
//
// design module global
//
// Styleguide 2.2.0

//  1. global layout base
//  2. global header
//  3. global navigation
//  4. global footer
//  5. global side section


// 1. global layout base
// ----------------------------------------------------------------------------------------------------------------------------------------
html, body {
  width: 100%;
  height: 100%;
}

a {
  @include link-decoration($highlight-color, $highlight-color, none, underline);
}

input,
textarea,
select,
button {
  outline: none;
}

input,
textarea {
  color: #333;
}

.whole {
  overflow: hidden;
  min-width: $global-width;

  img {
    &.responsive {
      display: none;
    }
  }
}





// 2. global header
// ----------------------------------------------------------------------------------------------------------------------------------------
%head-sec {
  background-color: #0f3580;

  .head-sec-inner {
    @include clearfix;
    position: relative;
    width: $global-inner-width;
    height: 50px;
    margin: 0 auto;

    h1 {
      position: absolute;
      top: 16px;
      left: 50%;
      transform: translateX(-50%);

      a {
        @extend .sprite-header;
        @include sprite( $header-logo );
        @include hide-text;
      }
    }
  }

  #head-search-container {
    float: left;
    width: 220px;
  }

  .head-search {
    @include clearfix;
    margin-top: 12px;
    padding: 0 14px;
    background-color: #0c2350;
    border-radius: 15px;

    * {
      box-sizing: border-box;
    }

    input {
      border: none;
      background: transparent;
      outline: none;
    }

    input[type="text"] {
      float: left;
      width: 174px;
      padding: 5px 0;
      color: #aaa;
      vertical-align: middle;
      font-weight: bold;
      font-size: fz(12);
    }

    input[type="submit"] {
      float: right;
      @extend .sprite-header;
      @include sprite( $header-icon-search, inline-block );
      @include hide-text;
      margin-top: 8px;
    }

    &.error {
      border: #e14343 1px solid;
    }
  }



  #user-profile-container {
    float: left;
  }

  .user {
    @include clearfix;
    float: left;
    margin-top: 12px;

    //.user-signup-btn
    .user-signup-btn {
      display: table;

      a {
        display: table-cell;
        @include link-decoration(#fff, #fff, none, none);
        font-weight: bold;
        font-size: fz(13);
        vertical-align: middle;

        &:hover {
          @include over-opacity;
        }
      }
    }

    //.user-signup-btn--login
    .user-signup-btn--login {
      padding-right: 20px;
    }

    //.user-signup-btn--signup
    .user-signup-btn--signup {
      display: inline-block;
      line-height: 30px;
      padding: 0 16px;
      border-radius: 15px;
      background-color: #ad0003;
    }
  }



  .notice-container {
    float: left;
    margin-top: 6px;
  }

  .notice {
    position: relative;
    float: left;

    //.notice-opener
    &-opener {
      @include link-decoration(null, null, none, none);
    }

    //.notice-icon
    &-icon {
      @extend .sprite-header;
      @include sprite( $header-icon-notice );
    }

    //.notice-num
    &-num {
      position: absolute;
      top: -8px;
      right: -10px;
      display: block;
      width: 20px;
      height: 20px;
      padding-top: 4px;
      line-height: 1;
      background-color: $highlight-secondary-color;
      border-radius: 100%;
      color: #fff;
      font-weight: bold;
      font-size: fz(10);
      text-align: center;
    }

    //.notice-menu
    &-menu {
      z-index: 9999;
      display: block;
      position: absolute;
      top: 51px;
      left: -331px;

      .dropMenu {
        width: 360px;
        @extend %dropMenu;

        opacity: 0;
        transition-property: opacity;
        transition-duration: 0.3s;
        transition-timing-function: linear;
      }
    }

    .info {
      margin-top: 0;

      @at-root {
        &-heading {
          float: left;
          padding: 10px 15px;
          font-weight: bold;
          font-size: fz(12);
        }

        &-btn-readAll {
          margin-bottom: 0;
          padding: 10px 15px;
          font-size: fz(12);
        }

        &-link {
          padding-top: 12px;
          padding-bottom: 12px;
          padding-left: 60px;
        }

        &-user-thumb {
          left: 15px;
          width: 35px;
          height: 35px;
          border-radius: 100%;
          background: url(/assets/images/common/thumb-user-info.png) 0 0 no-repeat;
          background-size: 35px;

          img {
            width: 35px;
          }

          &.user-logged-in {
            background: none;
          }
        }

        &-content {
          font-size: fz(12);
        }

        &-date {
          font-size: fz(10);
        }
      }

      .btn-viewmore {
        @at-root {
          &-link {
            display: block;
            padding: 12px 0;
            background-color: $bg-primary-color;
            border-radius: 0 0 3px 3px;
            font-weight: bold;
            text-align: center;
          }
        }
      }
    }

  } //.notice



  .preference {
    position: relative;
    float: left;
    margin-left: 20px;

    @at-root {
      &-opener {
        position: relative;
        display: block;
        width: 30px;
        height: 30px;
        overflow: hidden;
        border-radius: 100%;
        background: url(/assets/images/common/thumb-user-info.png) 0 0 no-repeat;
        background-size: 30px;
      }

      &-avatar {
        display: block;

        img {
          width: 30px;
          height: 30px;
          border-radius: 100%;
        }

        &.user-logged-in {
          background-color: #fff;
        }
      }

      &-menu {
        z-index: 9999;
        display: block;
        position: absolute;
        top: 57px;
        left: -125px;

        .dropMenu {
          width: 160px;
          @extend %dropMenu;

          opacity: 0;
          transition-property: opacity;
          transition-duration: 0.3s;
          transition-timing-function: linear;


          @at-root {
            &-item {
              border-bottom: 1px solid $border-primary-color;

              &:last-child {
                border-bottom: none;
              }
            }

            &-link {
              @include link-decoration(#333, #333, none, underline);
              display: block;
              padding: 14px 20px;
              font-size: fz(13);
            }
          }

        }
      }
    }
  } //.preference


  .close {
    .notice-menu {
      overflow: hidden;
      width: 0;
      height: 0;
    }

    .preference-menu {
      overflow: hidden;
      height: 0;
      width: 0;

      transition-property: width, height;
      transition-duration: 0.001s;
      transition-delay: 0.05s;
    }

    .dropMenu {
      opacity: 0;
      transition-duration: 0.05s;
    }
  }

  .open {
    .notice-menu {
      overflow: visible;
      width: 360px;
      height: auto;
    }

    .preference-menu {
      overflow: visible;
      width: 160px;
      height: 162px;
    }

    .dropMenu {
      opacity: 1;
    }
  }

}
// global header





// 3. global navigation
// ----------------------------------------------------------------------------------------------------------------------------------------

// global navigation
%gnav-sec {
  // background: #111 url(/assets/images/common/gnav-bg.png) 0 0 repeat-x;
  background-color: #0d1320;

  ul {
    width: $global-inner-width;
    margin: 0 auto;
    padding: 6px 0 8px;
    letter-spacing: ls( inline-block );
  }

  li {
    display: inline-block;
    padding: 0 8px 0 6px;
    background: url(/assets/images/common/gnav-bg.png) right center no-repeat;
    text-align: center;
    vertical-align: middle;
    letter-spacing: normal;

    &:last-child {
      padding-right: 0;
      background: none;
    }
  }

  a {
    display: block;
    // max-height: 40px;
    // line-height: 40px;
    padding: 6px 0 6px;
    // padding: 10px 8px 12px;
    @include link-decoration(#fff, $highlight-secondary-color, none, none);
    font-weight: bold;
    font-size: fz(12);
    white-space: nowrap;

    &:hover {
      padding-bottom: 4px;
      border-bottom: 2px solid $highlight-secondary-color;
      color: $highlight-secondary-color;
    }
  }

  .current {
    a {
      padding-bottom: 4px;
      border-bottom: 2px solid $highlight-secondary-color;
      color: $highlight-secondary-color;
    }
  }
}





// 4. global footer
// ----------------------------------------------------------------------------------------------------------------------------------------

// global footer
%foot-sec {
  position: relative;
  // margin-top: 30px;
  // background-color: #f5f5f5;

  .foot-sec-inner {
    border-top: 1px solid $border-primary-color;
    // background: #061533 url(/assets/images/common/footer-bg.png) no-repeat center bottom;
  }

  .foot-breadCrumb {
    // background-color: #030b1a;
    // border-bottom: 1px solid #333;

    ol {
      list-style: none;
      width: $global-inner-width;
      margin: 0 auto;
      padding: 20px 0 32px;
      line-height: 18px;

      li {
        display: inline-block;
        letter-spacing: ls(inline-block);

        a {
          display: inline-block;
          @include link-decoration(#666, #666, none, underline);
          font-weight: bold;
          font-size: fz(12);
          letter-spacing: normal;

          &:after {
            content: '';
            @extend .sprite-common;
            @include sprite( $common-breadcrumb-arrow );
            display: inline-block;
            margin-top: -3px;
            margin-right: 5px;
            margin-left: 8px;
            font-size: 0;
            vertical-align: middle;
          }
        }
      }

      // li:first-child a {
      //   position: relative;
      //   padding-left: 25px;

      //   &:before {
      //     content: '';
      //     position: absolute;
      //     top: 0;
      //     left: 0;
      //     @extend .sprite-common;
      //     @include sprite( $common-breadcrumb-home );
      //     line-height: 18px;
      //     font-size: 0;
      //   }
      // }

      li:last-child a {
        &:hover {
          cursor: default;
          text-decoration: none;
        }

        &:after {
          display: none;
        }
      }
    }
  }

  .foot-pr {
    border-bottom: 1px solid $border-primary-color;

    //.foot-pr-inner
    &-inner {
      @include clearfix;
      width: $global-inner-width;
      margin: 0 auto;
      padding-bottom: 24px;
    }

    figure {
      float: left;
    }

    .text-block {
      @include clearfix;
      float: left;
      width: 270px;
      margin-left: 24px;
    }

    //.foot-pr-logo
    &-logo {}

    //.foot-pr-btn
    &-btn {
      @include clearfix;
      // float: left;
      margin-top: 8px;

      li {
        float: left;

        + li {
          margin-left: 12px;
        }
      }

      a:hover {
        @include hover-opacity;
      }
    }

    //.foot-pr-text
    &-text {
      line-height: lh(20,14);
      margin-top: 16px;
    }

    .fb-page-plugin {
      float: right;
      width: 400px;
    }
  } // foot-pr

  .pagetop {
    position: absolute;
    right: 30px;
    top: -70px;

    a {
      display: block;

      &:hover {
        @include hover-opacity;
      }
    }

    span {
      @extend .sprite-footer;
      @include sprite( $footer-pagetop );
      @include hide-text;
      margin: 0 auto;
    }

    &.fixed {
      position: fixed;
      top: auto;
      right: 30px;
      bottom: 30px;
    }

    // @since 2016-09-01
    // 非表示にするためのクラス
    &.blind {
      display: none;
    }
  } // pagetop

  .fnav-block {
    @include clearfix;
    width: $global-inner-width;
    margin: 0 auto;
  }

  .fnav {
    margin-top: 40px;

    ul {
      letter-spacing: ls(inline-block);
      text-align: center;

      li {
        display: inline-block;
        margin-right: 12px;
        margin-left: 12px;
        letter-spacing: normal;
      }

      a {
        @include link-decoration(#666, #666, none, underline);
        font-weight: bold;
        font-size: fz(12);
      }
    }
  } // fnav

  .sns-block {
    margin-top: 20px;

    ul {
      text-align: center;
      letter-spacing: ls(inline-block);

      li {
        display: inline-block;
        vertical-align: middle;
        letter-spacing: normal;

        + li {
          margin-left: 10px;
        }
      }

      a {
        @extend .sprite-footer;
        @include hide-text;

        &:hover {
          @include hover-opacity;
        }
      }

      .sns-tw a {
        @include sprite( $footer-icon-sns-tw );
      }

      .sns-fb a {
        @include sprite( $footer-icon-sns-fb );
      }

      .sns-yt a {
        @include sprite( $footer-icon-sns-yt );
      }

    }
  } //.sns-block

  .copyright {
    margin: 40px 0;
    color: #ccc;
    font-weight: bold;
    font-size: fz(10);
    text-align: center;
  } //.copyright
}





// 5. global side section
// ----------------------------------------------------------------------------------------------------------------------------------------

%side-sec {
  .sponsor-link {
    &.nadir {
      margin-top: 20px;
      padding-top: 20px;
      border-top: 1px solid $border-primary-color;
    }
  }

  .app-bnr {
    margin-top: 30px;
  }

  > .app-bnr:first-child {
    margin-top: 0;
  }

  .widget-ranking,
  .widget-recommend {
    margin-top: 30px;

    &.board-small {
      border-top: none;
    }

    &-heading {
      padding-top: 16px;
      border-top: 1px solid $border-primary-color;

      &-title, &-ruby {
        display: inline-block;
        line-height: 1;
      }

      &-title {
        @extend .sprite-common;
        @include hide-text;
        vertical-align: middle;
      }

      &-ruby {
        margin-left: 5px;
        color: #333;
        font-weight: bold;
        font-size: fz(10);
      }
    } // .widget-ranking-heading

    .board-item {
      margin-top: 20px;
      border-bottom: none;
    }

    .post {
      height: auto;
      padding: 0;

      &-thumb {}
      &-data {}
      &-category {}

      //.post-heading
      &-heading {
        font-size: fz(14);
      }

      &-date {}
      &:hover {
        .post-heading {}
      }
    } //.post
  } //.widget-ranking, .widget-recommend

  .widget-ranking {
    &-heading-title {
      @include sprite( $common-side-ranking-heading );
      display: inline-block;
    }

    .board-item {
      position: relative;

      &:before {
        content: '';
        z-index: 999;
        position: absolute;
        top: -5px;
        left: -5px;
        @extend .sprite-common;
        @include hide-text;
      }

    }

    .post {
      &-thumb {
        width: 124px;
        height: auto;
      }

      //.post-data
      &-data {
        display: table-cell;
        padding-left: 10px;
        vertical-align: middle;
      }

      //.post-date
      &-date {}

      //.post-category
      &-category {
        // position: relative;
        line-height: 1;

        // &:before {
        //   content: '';
        //   z-index: 999;
        //   position: absolute;
        //   top: -4px;
        //   left: -82px;
        //   width: 23px;
        //   height: 20px;
        //   line-height: 0;
        //   background-repeat: no-repeat;
        //   background-position: 0 0;
        // }
      }
    }

    .rank1:before {
      @include sprite( $common-ranking-icon-num1 );
    }

    .rank2:before {
      @include sprite( $common-ranking-icon-num2 );
    }

    .rank3:before {
      @include sprite( $common-ranking-icon-num3 );
    }

    .rank4:before {
      @include sprite( $common-ranking-icon-num4 );
    }

    .rank5:before {
      @include sprite( $common-ranking-icon-num5 );
    }

  } //.widget-ranking

  .widget-recommend {
    &-heading-title {
      @include sprite( $common-side-recommend-heading );
      display: inline-block;
    }

    .post {
      &-thumb {
        position: relative;
        width: 125px;
        height: 70px;
        background-image: url(/assets/images/common/thumb-noimage-16x9-s.png);
        background-size: 125px;

        img {
          width: 100%;
        }
      }

      //.post-date
      &-date {
        display: none;
      }

      &-category {
        line-height: 1;
        margin-top: 6px;
        color: #999;
      }
    }
  } //.widget-recommend
}
