@import "../../../../scss/asset";

// index
//
// design module index
//
// Styleguide 2.2.0

// background override
// ブルくんの背景
.home .body-sec {
  background-repeat: no-repeat;
  background-position: center 325px;
  background-image: url(/assets/images/index/bull-bg.png);
}

.home .main-sec {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    // top: 195px;
    top: 650px;
    left: -30px;
    width: 49px;
    height: 41px;
    background: url(/assets/images/index/bull-hand.png) 0 0 no-repeat;
    @include hide-text;
  }
}

// 汎用化のため motion_slider へ移動
// @since 2016-09-20
//// hero-slider
//// トップページ用 メインビジュアルスライダー
//.hero {
//  &-sec {
//  }
//  $pickup-height: 400px;
//
//  &-slider {
//    position: relative;
//    width: 100%;
//    height: $pickup-height;
//    background-color: #000;
//    overflow: hidden;
//
//    &-inner {
//      width: 640px;
//      margin: 0 auto;
//      overflow: visible;
//
//      ul {
//        @include clearfix;
//        width: 200000px;
//      }
//
//      li {
//        // なぜ消した?
//        float: left;
//        width: 640px;
//
//        a {
//          @include link-decoration(#fff, #fff, none, none);
//          position: relative;
//          display: block;
//          width: 100%;
//          height: $pickup-height;
//          overflow: hidden;
//
//          &:hover {
//            @include hover-opacity;
//
//            .category-label,
//            .post-heading {
//              // color: $highlight-secondary-color;
//            }
//          }
//
//          .overlay {
//            position: absolute;
//            bottom: 0;
//            left: 0;
//          }
//
//          .post {
//            &-overview {
//              position: absolute;
//              bottom: 0;
//              left: 0;
//
//              padding: 0 30px 24px 30px;
//            }
//
//            &-category {
//              color: $highlight-color;
//              font-weight: bold;
//            }
//
//            &-heading {
//              font-weight: bold;
//              font-size: fz(24);
//            }
//
//            &-date,
//            &-comment-num {
//              display: inline-block;
//              font-size: fz(12);
//            }
//
//            &-comment-num {
//              margin-left: 10px;
//              padding-left: 20px;
//              background: url(/assets/images/index/icon-slider-comment.png) 0 center no-repeat;
//            }
//          }
//        }
//      }
//    } //.hero-slider-inner
//
//    &-control {
//      position: absolute;
//      top: 0;
//      width: 100%;
//
//      .direction {
//        a {
//          position: absolute;
//          display: block;
//          width: 40px;
//          height: 40px;
//          margin-top: ($pickup-height/2) - 20;
//          background-position: center center;
//          background-repeat: no-repeat;
//          @include hide-text;
//
//          &:hover {
//            @include hover-opacity;
//          }
//        }
//
//        &-prev {
//          left: 20px;
//          background-image: url(/assets/images/index/btn-slider-prev.png);
//        }
//
//        &-next {
//          right: 20px;
//          background-image: url(/assets/images/index/btn-slider-next.png);
//        }
//      }
//
//      .pager {
//        position: absolute;
//        top: 370px;
//        left: 50%;
//        width: 100%;
//        margin-left: -320px;
//
//        ul {
//          width: 640px;
//          text-align: center;
//          letter-spacing: ls(inline-block);
//        }
//
//        li {
//          display: inline-block;
//          letter-spacing: normal;
//
//          + li {
//            margin-left: 15px;
//          }
//        }
//
//        a {
//          display: block;
//          width: 6px;
//          height: 6px;
//          background-color: #999;
//          border-radius: 100%;
//          @include hide-text;
//
//          &.active,
//          &:hover {
//            background-color: $highlight-secondary-color;
//          }
//        }
//      }
//    } //.hero-slider-control
//  }
//}
//
//// ---------------------------
//// motion slider setting
//// ---------------------------
//@import "motion_slider";





// headline
// トップページ ヘッドライン
.headline {
  margin-top: 30px;

  @at-root {
    &-heading {
      padding-bottom: 10px;
      border-bottom: 3px solid #0e357f;

      &-title, &-ruby {
        display: inline-block;
        line-height: 1;
      }

      &-title img {
        vertical-align: middle;
      }

      &-ruby {
        margin-left: 8px;
        color: #333;
        font-weight: bold;
        font-size: fz(12);
      }
    } //.headline-heading
  }

  .board-small.column2 {
    .board-item {
      border-top: none;
      margin-top: 16px;
      // &:nth-child(1), &:nth-child(2) {}

      .post {
        height: 105px - 30;
        padding: 0;

        &-thumb {}
        &-data {}
        &-category {}
        &-heading {}
        &-date {}

        &:hover {
          .post-thumb {}
          .post-heading {}
        }
      }
    } //.post-list-item
  }
}

.headline-outer {
  position: relative;

  .sponsor-link {
    position: absolute;
    bottom: 0;
    right: 0;

    @extend %board-small-sponsor-link;
  }
}





// sns-pr
.sns-pr {
  height: 88px;
  margin-top: 30px;
  padding: 20px 26px 0 33px;
  background: url(/assets/images/index/sns-pr-bg.png) no-repeat 0 0;

  &-inner {
    display: table;
    width: 100%;
  }

  dd, dt {
    display: table-cell;
    height: 40px;
    vertical-align: middle;
  }

  dt {
    width: 596px;

    img {
      vertical-align: middle;
    }

    span {
      margin-left: 8px;
      vertical-align: middle;
    }

    p {
      color: #333;
      font-weight: bold;
      font-size: fz(16);

      strong {
        font-size: fs(22, 16);
      }
    }
  }

  dd {
  }
} //.sns-pr





// .sokuho-bnr
// 速報コンテンツ
// sample html
// <div class="sokuhou-bnr now_onair">
//   <a href="https://sportsbull.jp/sokuhou/?utm_source=SPORTS%20BULL&utm_content=20161011&utm_campaign=sokuhou&utm_medium=banner"><img src="/assets/images/index/bnr-sokuhou-161011.png" alt="サッカー日本代表 リアルタイム速報 日本vsオーストラリア アジア最終予選"></a>
// </div>
// .sokuhou-bnr {
//   margin-top: 30px;

//   a {
//     display: block;
//     position: relative;
//   }

//   a:hover {
//     @include hover-opacity;
//   }

//   &.now_onair {
//     a::after {
//       content: "";
//       position: absolute;
//       top: 0;
//       left: 0;
//       display: block;
//       width: 100%;
//       height: 100%;
//       @include hide-text;
//       background-image: url(/assets/images/index/bnr-sokuhou-161011_onair.gif);
//       background-repeat: no-repeat;
//       background-position: 0 0;
//     }
//   }
// }
