@import "../../../../scss/asset";

// index
//
// design module index
//
// Styleguide 2.3.0

// background override
// ブルくんの背景
$z-map: (
  board-large,
  sns-pr,
  headline,
  focus-bnr,
  stats_banner
);

// z-index
@function z($name) {
  @return index($z-map, $name);
}
// @debug z(header); // 1

.home {
  .board-large,
  .sns-pr,
  .headline,
  .focus-bnr,
  .stats_banner {
    position: relative;
  }

  .board-large { z-index: z(board-large);}
  .sns-pr { z-index: z(sns-pr);}
  .headline { z-index: z(headline);}
  .focus-bnr { z-index: z(focus-bnr);}
  .stats_banner { z-index: z(stats_banner);}

  //ブルちゃん、リニューアルで不要になりました
  // .board-large {
  //   &:before,
  //   &:after {
  //     content: "";
  //     position: absolute;
  //     @include hide-text;
  //   }

  //   &:before {
  //     z-index: -1;
  //     top: -214px;
  //     left: -135px;
  //     width: 394px;
  //     height: 537px;
  //     background: url(/assets/images/index/bull-bg.png) 0 0 no-repeat;
  //   }

  //   &:after {
  //     top: 111px;
  //     left: -30px;
  //     width: 49px;
  //     height: 41px;
  //     background: url(/assets/images/index/bull-hand.png) 0 0 no-repeat;
  //   }
  // }
}





//お知らせ
// https://aws-plus.backlog.jp/view/UNDO_SPBL-281
.announce {
  width: $global-inner-width;
  margin: 0 auto;
  padding: 8px 0;

  //.announce__item
  &__item {
    &:before {
      content: "";
      @extend .sprite-index;
      @include sprite( $index-icon-notice, inline-block );
      @include hide-text;
      margin-right: 4px;
      vertical-align: middle;
    }

    a {
      @include link-decoration(#333, #333, null, null);
      font-weight: bold;
      font-size: fz(13);
    }
  }
} //.announce





// headline
// トップページ ヘッドライン
.headline {
  margin-top: 10px;

  //.headline-heading
  // トップページリニューアルで不要になりました
  // &-heading {
  //   padding-bottom: 10px;
  //   border-bottom: 3px solid #0e357f;

  //   //.headline-title
  //   //.headline-ruby
  //   &-title, &-ruby {
  //     display: inline-block;
  //     line-height: 1;
  //   }

  //   //.headline-title
  //   &-title img {
  //     vertical-align: middle;
  //   }

  //   //.headline-ruby
  //   &-ruby {
  //     margin-left: 8px;
  //     color: #333;
  //     font-weight: bold;
  //     font-size: fz(12);
  //   }
  // } //.headline-heading

  .board-small.column2 {
    .board-item {
      border-top: none;
      margin-top: 10px;
      // &:nth-child(1), &:nth-child(2) {}

      .post {
        height: 70px;
        padding: 0;

        &-thumb {}
        &-data {}
        &-category {}
        &-heading {}
        &-date {}

        &:hover {
          .post-thumb {}
          .post-heading {}
        }
      }
    } //.post-list-item
  }
}

.headline-outer {
  position: relative;

  .sponsor-link {
    // 不要 CSS なので削除, float layout
    // @see https://github.com/undotsushin/undotsushin/issues/1647
    // @since 2017-04-10
    //position: absolute;
    //bottom: 0;
    //right: 0;

    @extend %board-small-sponsor-link;
  }
}





// sns-pr
.sns-pr {
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid $border-primary-color;
  border-bottom: 1px solid $border-primary-color;

  &-inner {
    display: table;
    margin-right: auto;
    margin-left: auto;
  }

  dd, dt {
    display: table-cell;
    vertical-align: middle;
  }

  dt {

    img {
      display: block;
    }

    span {
      display: block;
      margin-top: 0.25em;
      font-weight: bold;
      font-size: fz(13);
    }
  }

  dd {
  }
} //.sns-pr





// .focus-bnr
// 速報コンテンツなど一面・すべてに表示されるのバナー
// sample html
// <div class="focus-bnr now_onair">
//   <a href="https://sportsbull.jp/sokuhou/?utm_source=SPORTS%20BULL&utm_content=20161011&utm_campaign=sokuhou&utm_medium=banner"><img src="/assets/images/dummy/bnr-sokuhou.png" alt=""></a>
// </div>
.focus-bnr {
  margin-top: 30px;

  a {
    display: block;
    position: relative;
  }

  a:hover {
    @include hover-opacity;
  }
}





// stats_banner
// トップページ 速報&データ
.stats_banner {
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid $border-primary-color;
  border-bottom: 1px solid $border-primary-color;

  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow:hidden;
  overflow-x:scroll;

  //.stats_banner__heading
  &__heading {
    width: 100px;
    text-align: left;

    //.stats_banner__heading__title
    &__title {
      line-height: 1.2em;
      color: #0f3580;
      font-weight: bold;
      // font-size: 2.7vw;
      font-size: fz(16);
    }
  }



  //.stats_banner__list
  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    width: 520px;

    * {
      line-height: 0;
    }
  }

  //.stats_banner__item
  &__item {
    a {
      @include link-decoration(#0f3580, #0f3580, none, underline);
      display: flex;
      align-items: center;
      padding-left: 20px;
      font-weight: bold;
    }

    i {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      margin-right: 8px;
      border-radius: 50%;
      background-color: #0f3580;
    }

    svg {
      margin: 0;
      padding: 0;
      width: 24px;
      height: 24px;
      fill: transparent;
      stroke-width: 0;
      stroke: #fff;

      &.icon--baseball  {
        fill: #fff;
      }
    }

    span {
      display: inline-block;
      line-height: 1.2;
      font-size: fz(15);
    }
  } //.stats_banner__item



  //.stats_banner__btn
  &__btn {
    width: 84px;
    margin-left: auto;

    //.stats_banner__btn__link
    &__link {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 40px;
      border: 2px solid #0f3580;
      border-radius: 6px;
      font-weight: bold;
      text-align: center;

      &:hover {
        background-color: #0f3580;
        color: #fff;
        text-decoration: none;
      }
    }
  } //.stats_banner__btn
} // stats_banner
