@import "../../../../scss/asset";

// List
//
// design module list
//
// Styleguide 2.3.0

// category-heading
.category-heading {
  padding: 30px 0;
  border-bottom: 30px solid #f5f5f5;

  h1 {
    width: $global-inner-width;
    margin: 0 auto;
    font-size: fz(28);
  }
}

.layout-list .category-heading {
  border-bottom: none;
}


// カテゴリーに設定される副題的タイトル画像
// ex. Facebook話題の投稿のPOWERD BY
.category-heading-image {
  padding-left:5px;
  img {
    vertical-align: middle;
  }
}


// 検索結果 アイコン付きタイトル
.search-heading {
  color: $highlight-secondary-color;
  font-weight: bold;
  font-size: fz(20);

  &:before {
    content: '';
    position: relative;
    top: -1px;
    @extend .sprite-common;
    @include sprite( $common-icon-search-heading, inline-block );
    @include hide-text;
    margin-right: 5px;
    vertical-align: middle;
  }
}
