@import "../../../../scss/asset";

// ---------------------------------------------------------------------
// slider home motion
// API: pickup
// ---------------------------------------------------------------------

// hero-slider
// トップページ用 メインビジュアルスライダー
#pickup-container {
  $slider-width: 640px;

  .hero-slider {

    .hero-slider-inner {
      position: relative;

      .overlay,
      .post-overview {
        opacity: 0;

        transition-property: opacity;
        transition-duration: 0.25s;
        transition-timing-function: linear;
      }
    }

    .pickup-slider {
      position: absolute;
      left: -$slider-width * 5;
      top: 0;

      // default position
      transform: translateX( 0 );

      transition-property: transform;
      transition-duration: 0.5s;
    }

    .hero-slider-control {
      .pager {
        a {
          transition-property: background-color;
          transition-duration: 0.25s;
          transition-timing-function: linear;
        }
      }
    }

    // --------------------------------------------------
    // 親コンテナ class に対する 位置
    &.slide-0 {
      .pickup-slider {
        transform: translateX(0);
        transition-duration: 0.5s;

        .pickup-5 {
          .overlay,
          .post-overview {
            opacity: 1;
            transition-duration: 0.25s;
          }
        }
      }
      .hero-slider-control {
        .pager {
          .pager-0 {
            a {
              background-color: $highlight-secondary-color;
              transition-duration: 0.25s;
            }
          }
        }
      }
    }
    &.slide-1 {
      .pickup-slider {
        transform: translateX(-$slider-width * 1);

        .pickup-6 {
          .overlay,
          .post-overview {
            opacity: 1;
          }
        }
      }
      .hero-slider-control {
        .pager {
          .pager-1 {
            a {
              background-color: $highlight-secondary-color;
            }
          }
        }
      }
    }
    &.slide-2 {
      .pickup-slider {
        transform: translateX(-$slider-width * 2);

        .pickup-7 {
          .overlay,
          .post-overview {
            opacity: 1;
          }
        }
      }
      .hero-slider-control {
        .pager {
          .pager-2 {
            a {
              background-color: $highlight-secondary-color;
            }
          }
        }
      }
    }
    &.slide-3 {
      .pickup-slider {
        transform: translateX(-$slider-width * 3);

        .pickup-8 {
          .overlay,
          .post-overview {
            opacity: 1;
          }
        }
      }
      .hero-slider-control {
        .pager {
          .pager-3 {
            a {
              background-color: $highlight-secondary-color;
            }
          }
        }
      }
    }
    &.slide-4 {
      .pickup-slider {
        transform: translateX(-$slider-width * 4);
        transition-duration: 0.5s;

        .pickup-9 {
          .overlay,
          .post-overview {
            opacity: 1;
            transition-duration: 0.25s;
          }
        }
      }
      .hero-slider-control {
        .pager {
          .pager-4 {
            a {
              background-color: $highlight-secondary-color;
              transition-duration: 0.25s;
            }
          }
        }
      }
    }
    // --------------------------------------------------
    // 循環アニメーションのために
    // アニメーションなしで移動させるための設定
    // --------------------------------------------------
    // index 4 -> 0
    &.slide-999 {
      .pickup-slider {
        transform: translateX($slider-width);
        transition-duration: 0s;
        //transition-property: none;

        //.pickup-9 {
        //  .overlay,
        //  .post-overview {
        //    opacity: 1;
        //    transition-duration: 0.5s;
        //  }
        //}
      }
      //.hero-slider-control {
      //  .pager {
      //    .pager-4 {
      //      a {
      //        background-color: $highlight-secondary-color;
      //        transition-duration: 0.5s;
      //      }
      //    }
      //  }
      //}
    }

    // index 0 -> 4
    &.slide-1999 {
      .pickup-slider {
        transform: translateX(-$slider-width * 5);
        transition-duration: 0s;

        //.pickup-5 {
        //  .overlay,
        //  .post-overview {
        //    opacity: 1;
        //    transition-duration: 0.5s;
        //  }
        //}
      }
      //.hero-slider-control {
      //  .pager {
      //    .pager-0 {
      //      a {
      //        background-color: $highlight-secondary-color;
      //        transition-duration: 0.5s;
      //      }
      //    }
      //  }
      //}
    }
  }// .hero-slider
}
