@import "../../../../scss/asset";

// ---------------------------------------------------------------------
// PICKUP
// index.scss から移動
// ---------------------------------------------------------------------

// pickup
//
// design module pickup
//
// Styleguide 2.13.0

// hero-slider
// トップページ用 メインビジュアルスライダー
.hero {
  &-sec {
  }
  $pickup-height: 230px;

  &-slider {
    position: relative;
    width: 100%;
    height: $pickup-height;
    background-color: #000;
    overflow: hidden;

    &-inner {
      width: 540px;
      margin: 0 auto;
      overflow: visible;

      ul {
        @include clearfix;
        width: 200000px;
      }

      li {
        float: left;
        width: 540px;

        &.current {
          a {
            @include opacity(1);

            &:hover {
              @include hover-opacity;
            }
          }
        }

        a {
          @include link-decoration(#fff, #fff, none, none);
          position: relative;
          display: block;
          width: 100%;
          height: $pickup-height;
          overflow: hidden;
          @include opacity(0.5);

          &:hover {
            @include hover-opacity;

            .category-label,
            .post-heading {
              // color: $highlight-secondary-color;
            }
          }

          .overlay {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
          }

          .post {
            //.post-overview
            &-overview {
              position: absolute;
              bottom: 0;
              left: 0;

              padding: 0 16px 24px;
            }

            //.post-category
            &-category {
              display: none;
            }

            //.post-heading
            &-heading {
              width: 508px;
              overflow: hidden;
              text-overflow: ellipsis;
              font-weight: bold;
              font-size: fz(24);
              white-space: nowrap;
            }

            //.post-date
            //.post-comment-num
            &-date,
            &-comment-num {
              display: none;
            }
          } //.post

          // リニューアルで不要になりました
          // .post {
          //   //.post-overview
          //   &-overview {
          //     position: absolute;
          //     bottom: 0;
          //     left: 0;

          //     padding: 0 30px 24px 30px;
          //   }

          //   //.post-category
          //   &-category {
          //     color: #999;
          //     font-weight: bold;
          //   }

          //   //.post-heading
          //   &-heading {
          //     font-weight: bold;
          //     font-size: fz(24);
          //   }

          //   //.post-date
          //   //.post-comment-num
          //   &-date,
          //   &-comment-num {
          //     display: inline-block;
          //     font-size: fz(12);
          //   }

          //   //.post-comment-num
          //   &-comment-num {
          //     margin-left: 10px;
          //     padding-left: 20px;
          //     background: url(/assets/images/index/icon-slider-comment.png) 0 center no-repeat;
          //   }
          // } //.post
        }
      }
    } //.hero-slider-inner



    &-control {
      position: absolute;
      top: 0;
      left: 50%;
      width: 540px;
      margin-left: -270px;


      .direction {
        a {
          position: absolute;
          margin-top: ($pickup-height/2) - 20;
          @extend .sprite-index;
          @include hide-text;

          &:hover {
            @include hover-opacity;
          }
        }

        &-prev {
          left: -48px;
          @include sprite( $index-btn-slider-prev );
        }

        &-next {
          right: -48px;
          @include sprite( $index-btn-slider-next );
        }
      }
    } //.hero-slider-control
  }
}

// max 10 から無限にカルーセル増やす仕様変更に対応するために CSS animation から JS へ変更する
// @see https://github.com/undotsushin/undotsushin/issues/1481
// @see https://github.com/undotsushin/undotsushin/issues/1462
// @since 2017-03-28
//// ---------------------------------------------------------------------
//// slider home motion
//// API: pickup
//// ---------------------------------------------------------------------
//
//// hero-slider
//// トップページ用 メインビジュアルスライダー
//#pickup-container {
//  $slider-width: 640px;
//
//  .hero-slider {
//
//    .hero-slider-inner {
//      position: relative;
//
//      .overlay,
//      .post-overview {
//        opacity: 0;
//
//        transition-property: opacity;
//        transition-duration: 0.25s;
//        transition-timing-function: linear;
//      }
//    }
//
//    // @since 2016-09-20
//    // swipe 実装のために ul.pickup-slider left: 0 にする
//    // wrapper div.pickup-slider-wrapper を作成しこちらで移動させる
//    .pickup-slider-wrapper {
//      position: absolute;
//      left: 0;
//      top: 0;
//    }
//
//    // slider の数で位置を調整する
//    // .hero-slider.pickup-slider-length-NN
//    // @type {number} NN slider の数, 1 ~ 5
//    &.pickup-slider-length-0 {
//      .pickup-slider-wrapper {
//        left: 0;
//      }
//    }
//    &.pickup-slider-length-1 {
//      .pickup-slider-wrapper {
//        left: -$slider-width * 0;
//      }
//      // 1 件しかない時の表示
//      .pickup-0 {
//        .overlay,
//        .post-overview {
//          opacity: 1;
//          transition-duration: 0s;
//        }
//      }
//    }
//    &.pickup-slider-length-2 {
//      .pickup-slider-wrapper {
//        left: -$slider-width * 2;
//      }
//    }
//    &.pickup-slider-length-3 {
//      .pickup-slider-wrapper {
//        left: -$slider-width * 3;
//      }
//    }
//    &.pickup-slider-length-4 {
//      .pickup-slider-wrapper {
//        left: -$slider-width * 4;
//      }
//    }
//    &.pickup-slider-length-5 {
//      .pickup-slider-wrapper {
//        left: -$slider-width * 5;
//      }
//    }
//
//    .pickup-slider {
//      position: absolute;
//      //left: -$slider-width * 5;
//      // @since 2016-09-20
//      left: 0;
//      top: 0;
//
//      // default position
//      transform: translateX(0);
//
//      transition-property: transform, left;
//      transition-duration: 0.5s;
//    }
//
//    .hero-slider-control {
//      .pager {
//        a {
//          transition-property: background-color;
//          transition-duration: 0.25s;
//          transition-timing-function: linear;
//        }
//      }
//    }
//
//    // --------------------------------------------------
//    // 親コンテナ class に対する 位置
//    &.slide-0 {
//      .pickup-slider {
//        transform: translateX(0);
//        transition-duration: 0.5s;
//
//        .pickup-5 {
//          .overlay,
//          .post-overview {
//            opacity: 1;
//            transition-duration: 0.25s;
//          }
//        }
//      }
//      .hero-slider-control {
//        .pager {
//          .pager-0 {
//            a {
//              background-color: $highlight-secondary-color;
//              transition-duration: 0.25s;
//            }
//          }
//        }
//      }
//    }
//    &.slide-1 {
//      .pickup-slider {
//        transform: translateX(-$slider-width * 1);
//
//        .pickup-6 {
//          .overlay,
//          .post-overview {
//            opacity: 1;
//          }
//        }
//      }
//      .hero-slider-control {
//        .pager {
//          .pager-1 {
//            a {
//              background-color: $highlight-secondary-color;
//            }
//          }
//        }
//      }
//    }
//    &.slide-2 {
//      .pickup-slider {
//        transform: translateX(-$slider-width * 2);
//
//        .pickup-7 {
//          .overlay,
//          .post-overview {
//            opacity: 1;
//          }
//        }
//      }
//      .hero-slider-control {
//        .pager {
//          .pager-2 {
//            a {
//              background-color: $highlight-secondary-color;
//            }
//          }
//        }
//      }
//    }
//    &.slide-3 {
//      .pickup-slider {
//        transform: translateX(-$slider-width * 3);
//
//        .pickup-8 {
//          .overlay,
//          .post-overview {
//            opacity: 1;
//          }
//        }
//      }
//      .hero-slider-control {
//        .pager {
//          .pager-3 {
//            a {
//              background-color: $highlight-secondary-color;
//            }
//          }
//        }
//      }
//    }
//    &.slide-4 {
//      .pickup-slider {
//        transform: translateX(-$slider-width * 4);
//        transition-duration: 0.5s;
//
//        .pickup-9 {
//          .overlay,
//          .post-overview {
//            opacity: 1;
//            transition-duration: 0.25s;
//          }
//        }
//      }
//      .hero-slider-control {
//        .pager {
//          .pager-4 {
//            a {
//              background-color: $highlight-secondary-color;
//              transition-duration: 0.25s;
//            }
//          }
//        }
//      }
//    }
//    // --------------------------------------------------
//    // 循環アニメーションのために
//    // アニメーションなしで移動させるための設定
//    // --------------------------------------------------
//    // index 4 -> 0
//    &.slide-999 {
//      .pickup-slider {
//        transform: translateX($slider-width);
//        transition-duration: 0s;
//      }
//    }
//
//    // index 0 -> 4
//    &.slide-1999 {
//      .pickup-slider {
//        transform: translateX(-$slider-width * 5);
//        transition-duration: 0s;
//      }
//    }
//    // --------------------------------------------------
//    // slide が 1枚の時の設定
//    // --------------------------------------------------
//    // @since 2016-09-23
//    &.pickup-slider-length-2 {
//      .pickup-slider {
//        width: $slider-width;
//      }
//    }
//    // --------------------------------------------------
//    // slide が 2枚の時の設定
//    // 循環アニメションのために擬似的に 3まいとして処理する
//    // --------------------------------------------------
//    // @since 2016-09-23
//    &.pickup-slider-length-2 {
//      .pickup-slider {
//        width: $slider-width * 2 * 4;
//      }
//      // --------------------------------------------------
//      // 親コンテナ class に対する 位置
//      &.slide-0 {
//        .pickup-slider {
//          transform: translateX(0);
//          transition-duration: 0.5s;
//
//          .pickup-2 {
//            .overlay,
//            .post-overview {
//              opacity: 1;
//              transition-duration: 0.25s;
//            }
//          }
//        }
//        .hero-slider-control {
//          .pager {
//            .pager-0 {
//              a {
//                background-color: $highlight-secondary-color;
//                transition-duration: 0.25s;
//              }
//            }
//          }
//        }
//      }
//      &.slide-1 {
//        .pickup-slider {
//          transform: translateX(-$slider-width * 1);
//
//          .pickup-3 {
//            .overlay,
//            .post-overview {
//              opacity: 1;
//            }
//          }
//        }
//        .hero-slider-control {
//          .pager {
//            .pager-1 {
//              a {
//                background-color: $highlight-secondary-color;
//              }
//            }
//          }
//        }
//      }
//      &.slide-2 {
//        .pickup-slider {
//          transform: translateX(-$slider-width * 2);
//
//          .pickup-4 {
//            .overlay,
//            .post-overview {
//              opacity: 1;
//            }
//          }
//        }
//        .hero-slider-control {
//          .pager {
//            .pager-0 {
//              a {
//                background-color: $highlight-secondary-color;
//                transition-duration: 0.25s;
//              }
//            }
//          }
//        }
//      }
//
//      // --------------------------------------------------
//      // 循環アニメーションのために
//      // アニメーションなしで移動させるための設定
//      // --------------------------------------------------
//      // index 1 -> 0
//      &.slide-999 {
//        .pickup-slider {
//          transform: translateX($slider-width);
//          transition-duration: 0s;
//        }
//      }
//
//      // index 0 -> 1
//      &.slide-1999 {
//        .pickup-slider {
//          transform: translateX(-$slider-width * 3);
//          transition-duration: 0s;
//        }
//      }
//    }
//    // --------------------------------------------------
//    // slide が 3枚の時の設定
//    // --------------------------------------------------
//    // @since 2016-09-23
//    &.pickup-slider-length-3 {
//      .pickup-slider {
//        width: $slider-width * 3 * 3;
//      }
//      // --------------------------------------------------
//      // 親コンテナ class に対する 位置
//      &.slide-0 {
//        .pickup-slider {
//          transform: translateX(0);
//          transition-duration: 0.5s;
//
//          .pickup-3 {
//            .overlay,
//            .post-overview {
//              opacity: 1;
//              transition-duration: 0.25s;
//            }
//          }
//        }
//        .hero-slider-control {
//          .pager {
//            .pager-0 {
//              a {
//                background-color: $highlight-secondary-color;
//                transition-duration: 0.25s;
//              }
//            }
//          }
//        }
//      }
//      &.slide-1 {
//        .pickup-slider {
//          transform: translateX(-$slider-width * 1);
//
//          .pickup-4 {
//            .overlay,
//            .post-overview {
//              opacity: 1;
//            }
//          }
//        }
//        .hero-slider-control {
//          .pager {
//            .pager-1 {
//              a {
//                background-color: $highlight-secondary-color;
//                transition-duration: 0.25s;
//              }
//            }
//          }
//        }
//      }
//      &.slide-2 {
//        .pickup-slider {
//          transform: translateX(-$slider-width * 2);
//
//          .pickup-5 {
//            .overlay,
//            .post-overview {
//              opacity: 1;
//            }
//          }
//        }
//        .hero-slider-control {
//          .pager {
//            .pager-2 {
//              a {
//                background-color: $highlight-secondary-color;
//                transition-duration: 0.25s;
//              }
//            }
//          }
//        }
//      }
//      // --------------------------------------------------
//      // 循環アニメーションのために
//      // アニメーションなしで移動させるための設定
//      // --------------------------------------------------
//      // index 4 -> 0
//      &.slide-999 {
//        .pickup-slider {
//          transform: translateX($slider-width);
//          transition-duration: 0s;
//        }
//      }
//
//      // index 0 -> 4
//      &.slide-1999 {
//        .pickup-slider {
//          transform: translateX(-$slider-width * 3);
//          transition-duration: 0s;
//        }
//      }
//    }
//    // --------------------------------------------------
//    // slide が 4枚の時の設定
//    // --------------------------------------------------
//    // @since 2016-09-23
//    &.pickup-slider-length-4 {
//      .pickup-slider {
//        width: $slider-width * 4 * 3;
//      }
//      // --------------------------------------------------
//      // 親コンテナ class に対する 位置
//      &.slide-0 {
//        .pickup-slider {
//          transform: translateX(0);
//          transition-duration: 0.5s;
//
//          .pickup-4 {
//            .overlay,
//            .post-overview {
//              opacity: 1;
//              transition-duration: 0.25s;
//            }
//          }
//        }
//        .hero-slider-control {
//          .pager {
//            .pager-0 {
//              a {
//                background-color: $highlight-secondary-color;
//                transition-duration: 0.25s;
//              }
//            }
//          }
//        }
//      }
//      &.slide-1 {
//        .pickup-slider {
//          transform: translateX(-$slider-width * 1);
//
//          .pickup-5 {
//            .overlay,
//            .post-overview {
//              opacity: 1;
//            }
//          }
//        }
//        .hero-slider-control {
//          .pager {
//            .pager-1 {
//              a {
//                background-color: $highlight-secondary-color;
//                transition-duration: 0.25s;
//              }
//            }
//          }
//        }
//      }
//      &.slide-2 {
//        .pickup-slider {
//          transform: translateX(-$slider-width * 2);
//
//          .pickup-6 {
//            .overlay,
//            .post-overview {
//              opacity: 1;
//            }
//          }
//        }
//        .hero-slider-control {
//          .pager {
//            .pager-2 {
//              a {
//                background-color: $highlight-secondary-color;
//                transition-duration: 0.25s;
//              }
//            }
//          }
//        }
//      }
//      &.slide-3 {
//        .pickup-slider {
//          transform: translateX(-$slider-width * 3);
//
//          .pickup-7 {
//            .overlay,
//            .post-overview {
//              opacity: 1;
//            }
//          }
//        }
//        .hero-slider-control {
//          .pager {
//            .pager-3 {
//              a {
//                background-color: $highlight-secondary-color;
//                transition-duration: 0.25s;
//              }
//            }
//          }
//        }
//      }
//      // --------------------------------------------------
//      // 循環アニメーションのために
//      // アニメーションなしで移動させるための設定
//      // --------------------------------------------------
//      // index 4 -> 0
//      &.slide-999 {
//        .pickup-slider {
//          transform: translateX($slider-width);
//          transition-duration: 0s;
//        }
//      }
//
//      // index 0 -> 4
//      &.slide-1999 {
//        .pickup-slider {
//          transform: translateX(-$slider-width * 4);
//          transition-duration: 0s;
//        }
//      }
//    }
//
//    // --------------------------------------------------
//    // slide が 5枚の時の設定
//    // --------------------------------------------------
//    // @since 2016-09-23
//    &.pickup-slider-length-5 {
//      .pickup-slider {
//        width: $slider-width * 5 * 3;
//      }
//    }
//  }// .hero-slider
//}

// ---------------------------------------------------------------------
// pager setting
// carousel を JS 管理に変更するので pager だけ取り出す
// @since 2017-03-28
// ---------------------------------------------------------------------

// .pager
// pager style
.pager {
  position: absolute;
  top: 204px;
  left: 50%;
  width: 100%;
  margin-left: -270px;

  ul {
    width: 540px;
    text-align: center;
    letter-spacing: ls(inline-block);
  }

  li {
    display: inline-block;
    letter-spacing: normal;

    + li {
      margin-left: 10px;
    }
    // current mark
    // @since 2017-03-28
    &.current {
      a {
        background-color: $highlight-secondary-color;
      }
    }
  }

  a {
    display: block;
    width: 6px;
    height: 6px;
    background-color: #999;
    border-radius: 100%;
    @include hide-text;

    &.active,
    &:hover {
      background-color: $highlight-secondary-color;
    }

    transition-property: background-color;
    transition-duration: 0.25s;
    transition-timing-function: linear;
  }
}





// ---------------------------------------------------------------------
// cover setting
// @since 2017-03-28
// ---------------------------------------------------------------------

// #pickup-container
// carousel slide container
#pickup-container {
  $slider-width: 540px;

  .hero-slider-inner {
    position: relative;
  }

  .overlay,
  .post-overview {
    opacity: 0;

    transition-property: opacity;
    transition-duration: 0.25s;
    transition-timing-function: linear;
  }

  // current で表示する - fadein
  .current {
    .overlay,
    .post-overview {
      opacity: 1;
      transition-duration: 0.1s;
    }
  }
}

// 静的ファイルブラウジング時にスライダーを表示にさせる
#pickup-container.debug {
  .overlay,
  .post-overview {
    opacity: 1;
  }
}

.pickup-slider-wrapper {
  position: absolute;
}
