@import "../../../../scss/asset";

// Signup
//
// design module signup
//
// Styleguide 2.8.0

// signup
// bodyの背景に画像
.signup {
  position: relative;
  width: 100%;
  min-height: 100%;
  background: #000 url(/assets/images/signup/bg.png) center -90px repeat;
  // background-size: cover;
}

.signup .body-sec-inner {


}





// body-sec
// .body-secをオーバーライド
.signup {
  .body-sec {
    z-index: 10;
    position: relative;
    margin-top: 40px;
    margin-bottom: 56px;
    background: none;

    &:before {
      background: none;
    }

    &-inner {
      width: 600px;
      padding-bottom: 40px;
      border-radius: 5px;
      border: 3px solid $highlight-color;
      background: none;
      background-color: #fff;

      &:before,
      &:after {
        position: absolute;
        content: '';
        @include hide-text;
      }

      &:before {
        z-index: -1;
        top: -85px;
        left: 50%;
        margin-left: -375px;
        width: 750px;
        height: 322px;
        background: url(/assets/images/signup/bull-bg.png) 0 0 no-repeat;
      }

      &:after {
        top: 110px;
        left: -12px;
        width: 30px;
        height: 25px;
        background: url(/assets/images/signup/bull-hand.png) 0 0 no-repeat;
      }
    }
  }
}





// copyright
// .copyright
.signup {
  .copyright {
    padding-top: 0;
    padding-bottom: 56px;
    color: #777;
    text-align: center;
  }
}





// signup-header
.signup-header {
  padding-top: 100px;
  width: 600px;
  margin: 0 auto;

  .heading {
    a {
      display: block;
      width: 360px;
      height: 39px;
      background: url(/assets/images/signup/logo.png) 0 0 no-repeat;
      @include hide-text;
      margin: 0 auto;
    }
  }

  .lead {
    margin-top: 30px;
    font-size: fz(16);
    text-align: center;
  }
}





// signup-heading
.signup-heading {
  position: relative;
  padding: 60px 0;
  border-bottom: 1px solid $border-primary-color;

  h1, h2, h3, h4, h5, h6 {
    font-size: fz(24);
    text-align: center;
  }

  .btn {
    position: absolute;
    bottom: 22px;
    width: 100%;
    text-align: center;

    a {
      display: inline-block;
      font-weight: bold;

      &:after {
        content: '';
        // position: relative;
        // top: 1px;
        margin-left: 4px;
        // @extend .sprite-common;
        // @include sprite( $common-icon-arrow2, inline-block );
        display: inline-block;
        width: 6px;
        height: 10px;
        background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 6.23 11.04"><defs><style>.cls-1{fill:none;stroke:#0f3580;stroke-miterlimit:10;}</style></defs><title>icon-arrow</title><g id="icon-arrow" data-name="icon-arrow"><g id="common"><g id="icon-arrow"><polyline class="cls-1" points="0.35 0.35 5.52 5.54 0.35 10.69"/></g></g></g></svg>') 50% 50% no-repeat;
        background-size: 6px;
        @include hide-text;
      }
    }
  }
} //.signup-heading





// signup-step
.signup-step {
  width: 520px;
  margin: 0 auto;
  padding-top: 40px;

  @at-root {
    &-list {
      letter-spacing: ls( inline-block );
      background-color: #f5f5f5;
      border-radius: 3px;
    }

    &-item {
      position: relative;
      display: inline-block;
      width: 33.3%;
      letter-spacing: normal;

      &:after {
        content: '';
        position: absolute;
        top: 0;
        right: -10px;
        // display: inline-block;
        // width: 10px;
        // height: 30px;
        // background: url(/assets/images/signup/step-bg.png) 0 0 no-repeat;
        @extend .sprite-setting;
        @include sprite( $setting-step-bg, inline-block );
        @include hide-text;
      }

      span {
        display: block;
        line-height: 30px;
        text-align: center;
      }

      &.current {
        background-color: $highlight-color;

        &:after {
          // background-image: url(/assets/images/signup/step-bg_o.png);
          @include sprite( $setting-step-bg_o, inline-block );
        }

        span {
          color: #fff;
          font-weight: bold;
        }
      }
    }

    &-step1,
    &-step2 {
      background-color: #e5e5e5;
    }

    &-step1 {
      z-index: 3;
      border-radius: 3px 0 0 3px;
    }

    &-step2 {
      z-index: 2;
    }

    &-step3 {
      z-index: 1;

      &:after {
        display: none;
      }
    }
  }
} //.signup-step





// register
.register {
  width: 520px;
  margin: 0 auto;

  @at-root {
    &-or {
      margin-top: 30px;
      background: url(/assets/images/signup/bg-or.png) center center no-repeat;
      text-align: center;
    } //.register-or

    &-mail {
      @include clearfix;
      width: 100%;
      margin-top: 30px;

      .setting-form-mail,
      .setting-form-submit {
        margin-top: 0;
      }

      .setting-form-mail {
        float: left;
        width: perCalc(320, 520);

        input {
          width: 86%;
        }
      }

      .setting-form-submit {
        float: right;
        width: perCalc(190, 520);

        input {
          width: 100%;
          min-width: initial !important;
          min-width: auto !important;
        }
      }

      p {
        clear: both;
        padding-top: 30px;
      }
    }

    .login-email {
      margin-top: 30px;

      .setting-form-mail,
      .setting-form-pw {
        input {
          width: 92%;
        }
      }

    }
  } //at-root

  .linkage-sns {
    @at-root {
      &-list {
        @include clearfix;
      }

      &-item {
        float: left;

        & + .linkage-sns-item {
          margin-top: 0;
        }

        &:nth-child(2) {
          float: right;
        }
      }

      &-link {
        width: 250px;
      }
    } //at-root
  }

  .wowma-attention {
    margin-top: 0.5em;
    color: $highlight-secondary-color;
    font-size: fz(10);
  }
} //.register





// basic-setting
.basic-setting {
  width: 520px;
  margin: 40px auto 0;

  .setting-form-submit {
    margin-top: 40px;
  }
} //.basic-setting





// interest-setting
.interest-setting {
  width: 520px;
  margin: 40px auto 0;

  .setting-form-submit {
    margin-top: 20px;
  }
} //.interest-setting





// pw-reset
.pw-reset {
  width: 520px;
  margin: 0 auto;
} //.pw-reset





// -------------------------------------------------
// error
.error {
  textarea {
    border: 1px solid #e14343!important;
  }
  .form-input {
    border-color: #e14343;
  }

  .error-message-container {
    display: inline-block;
    margin: 8px 0;

    .error-message-txt {
      font-size: 12px;
      color: #e14343;
    }
  }
}

// -------------------------------------------------
// submit 上 エラーメッセージ
.form-submit-parts.error {
  .error-message-container {
    display: block;
    text-align: center;
  }
}





// -------------------------------------------------
// 表示 / 非表示
.signup-1 {
  .fieldset-container-2,
  .fieldset-container-3 {
    display: none;
  }
}
.signup-2 {
  .fieldset-container-1,
  .fieldset-container-3 {
    display: none;
  }
}
.signup-3 {
  .fieldset-container-1,
  .fieldset-container-2 {
    display: none;
  }
}





// -------------------------------------------------
// step 1~3
// -------------------------------------------------
.fieldset-container-1 {
  .note {
    .note-prefix,
    br {
      display: none;
    }
  }
  .register-link-home {
    display: none;
  }
}
.fieldset-step-1 {
  width: 100%;

  .form-parts {
    float: left;
    // ceil( 320/520 )
    // width: 62%;
    width: perCalc(320, 520);
  }

  .form-parts.align-right {
    float: right;
    // width: 37%;
    width: perCalc(190, 520);

    .setting-form-submit {
      width: 100%;
    }
  }
}
.fieldset-step-2 {
  width: 100%;

  .form-parts {
    display: block;
  }
}

.register-mail .setting-form-mail {
  width: 100%;
}





// -------------------------------------------------
// step 2
// drag / drop
// -------------------------------------------------
// step2 avatar size
.setting-form-avatar-dropArea {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  background: #fff;

  position: relative;

  &.entered {
    border: 3px solid #ccc;
    background-color: #FFEEAC;
    border-radius: 10px;

    .should-change-avatar,
    .avatar-container {
      opacity: 0;
    }
  }
}
.avatar-stage {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX( -50% );
  display: table-row;
  vertical-align: middle;

  .avatar-container {
    overflow: hidden;

    //display: inline-block;
    display: table-cell;
    //display: block;

    width: 120px;
    height: 120px;
    //border-radius: 100%;
    //border: 3px solid #e1438b;
    background: #fff url(/assets/images/setting/thumb-avatar.png) center center no-repeat;

    border-radius: 0;

    &.user-logged-in {
      background: none;
    }

    .avatar-block {
      overflow: hidden;
      display: inline-block;
      width: 120px;
      height: 120px;
      border-radius: 100%;
      border: 3px solid $highlight-color;
      background-size: cover;
    }
    img {
      width: 100%;
      height: auto;
    }
  }

  .should-change-avatar {
    display: table-cell;
    //margin-top: -45px;
    height: 120px;
    width: 120px;
    vertical-align: middle;
  }
}

// thumbnail が見えてる時は input tag を見えなくする
.show-thumbnail {
  // input type: file
  .setting-form-picture {
    display: none;
  }
}

// input type file を非表示にし
// drop area 全体に広げる
.setting-form-picture {
  position: absolute;
  left: 0;
  top: 0;
  width: 510px;
  height: 120px;
  opacity: 0;

  cursor: pointer;
}





// -------------------------------------------------
// 非表示 submit
.submit-hidden-container {
  position: relative;
  height: 0;
  overflow: hidden;
  input[type="submit"] {
    position: absolute;
    left: -100%;
    top: -100%;
    width: 0;
    height: 0;
  }
}





// Wowma!キャンペーン用モーダルウインドウ
// ref.https://aws-plus.backlog.jp/view/UNDO_SPBL-154
.signup_wowma__modal {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);

  //.signup_wowma__modal__inner
  &__inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    padding: 32px 24px 20px;
    background-color: #fff;
    border: 3px solid $highlight-color;
    border-radius: 2px;
  }

  //.signup_wowma__modal__heading
  &__heading {
    color: $highlight-color;
    font-weight: bold;
    font-size: fz(16);
    text-align: center;
  }

  //.signup_wowma__modal__text
  &__text {
    margin-top: 24px;
    color: $highlight-color;
  }

  //.signup_wowma__modal__btn
  &__btn {
    margin-top: 24px;

    //.signup_wowma__modal__btn__link
    &__link {
      @include link-decoration(#fff, #fff, none, none);
      display: block;
      line-height: 1;
      padding: 14px;
      background-color: $highlight-color;
      color: #fff;
      font-weight: bold;
      text-align: center;
    }
  } //.signup_wowma__modal__btn
} //.signup_wowma__modal
