@import "../../../../scss/asset";
@import "../sprite";

// Theme Motorsports
//
// design module Motorsports theme
//
// Styleguide 2.16.0

.whole.motorsports {

  //.headline-heading
  .headline-heading {
    border-bottom-color: #cc141d;
  }

  //.motorsports__category-nav
  .motorsports__category-nav {
    position: relative;
    width: 1088px;
    margin: 30px auto;


    //.motorsports__category-nav__list
    &__list {
      letter-spacing: ls(inline-block);
    }

    //.motorsports__category-nav__item
    &__item {
      display: inline-block;
      padding: 0 25px;
      border-left: 1px solid #45484b;
      letter-spacing: normal;

      &:first-child {
        border-left: none;
        padding-left: 0;
      }
    }

    //.motorsports__category-nav__link
    &__link {
      display: block;
      height: 23px;
      background-repeat: no-repeat;
      background-position: 0 0;
      @include hide-text;

      &:hover {
        background-position: 0 -23px;
      }

      &--top {
        width: 116px;
        background-image: url(/assets/images/motorsports/nav_top.png);
      }

      &--f1 {
        width: 121px;
        background-image: url(/assets/images/motorsports/nav_f1.png);
      }

      &--sgt {
        width: 132px;
        background-image: url(/assets/images/motorsports/nav_sgt.png);
      }

      &--wec {
        width: 132px;
        background-image: url(/assets/images/motorsports/nav_wec.png);
      }

      &--wrc {
        width: 135px;
        background-image: url(/assets/images/motorsports/nav_wrc.png);
      }
    } //.motorsports__category-nav__link
  } //.motorsports__category-nav

  &.motorsports--f1 .motorsports__category-nav__link--f1,
  &.motorsports--stg .motorsports__category-nav__link--sgt,
  &.motorsports--wec .motorsports__category-nav__link--wec,
  &.motorsports--wrc .motorsports__category-nav__link--wrc {
    background-position: 0 -23px;
  }

  //.motorsports__category-btns
  .motorsports__category-btns {
    margin-top: 10px;
    margin-bottom: 10px;

    //.motorsports__category-btns__list
    &__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    //.motorsports__category-btns__item
    &__item {
      margin-top: 30px;
    }

    //.motorsports__category-btns__link
    &__link {
      position: relative;
      display: block;
      width: 350px;
      height: 160px;
      backface-visibility: hidden;

      span {
        position: absolute;
      }

      //.motorsports__category-btns__link__bg
      &__bg {
        display: block;
        width: 100%;
        height: 100%;
        background-color: #fff;
        overflow: hidden;

        img {
          filter: sepia(0);
        }

        &:before {
          position: absolute;
          top: 0;
          left: -75%;
          z-index: 2;
          display: block;
          content: '';
          width: 50%;
          height: 100%;
          background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
          transform: skewX(-25deg);
        }
      }

      //.motorsports__category-btns__link__text
      &__text {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      //.motorsports__category-btns__link__arrow
      &__arrow {
        right: 0;
        bottom: 0;
      }

      &:hover {
        //.motorsports__category-btns__link__bg
        .motorsports__category-btns__link__bg {
          img {
            opacity: 0.85;
            filter: sepia(100%);
            transition: 0.5s ease-in;
          }

          &:before {
            animation: shine 0.6s;
          }
        }

        @keyframes shine {
          100% {
            left: 125%;
          }
        }

        //.motorsports__category-btns__link__text
        .motorsports__category-btns__link__text {
          animation: flash 0.4s ease-in;
        }

        @keyframes flash {
          0% {
            opacity: 0;
          }
          30% {
            opacity: 0.5;
          }
          60% {
            opacity: 0;
          }
          100% {
            opacity: 1;
          }
        }
      } //:hover
    } //.motorsports__category-btns__link
  } //.motorsports__category-btns





  //タイトル
  .mod-headingA {
    padding: 12px 0;
    border-top: 2px solid $key-color;
    border-bottom: 1px solid $border-color;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
  }





  //テーブル共通
  [class*="mod-table"] {
    width: 100%;

    thead {
      border-bottom: 1px solid $border-color;

      th {
        padding: 12px;
        color: #fff;
        font-weight: bold;
        text-align: center;
      }
    }

    tbody {
      tr {
        border-bottom: 1px solid $border-color;
      }

      td {
        padding: 10px;
        background-image: url(/assets/images/big6/bgline-table.png);
        background-position: 0 center;
        background-repeat: no-repeat;
        background-size: 1px 60%;
        color: #fff;

        &:first-child {
          background-image: none;
        }
      }
    }
  }



  //日程・結果
  //.matches
  .matches {

    //.matches__table
    &__table {
      tbody {
        td:nth-child(2),
        td:nth-child(3),
        td:nth-child(4) {
          text-align: center;
        }

        td:nth-child(4) {
          width: 40%;
        }
      }
    } //.matches__table
  } //.matches



  //ポイントランキング
  //.point_rank
  .point_rank {
    margin-top: 40px;

    //.point_rank__nav
    &__nav {
      margin-top: 20px;

      //.point_rank__nav__list
      &__list {
        display: table;
        width: 100%;
      }

      //.point_rank__nav__item
      &__item {
        display: table-cell;
        width: 50%;
        vertical-align: middle;

        a {
          @include link-decoration(#999, #fff, none, none);
          display: block;
          padding: 15px 4px;
          background-color: #585959;
          font-weight: bold;
          font-size: 16px;
          text-align: center;

          &.selected,
          &:hover {
            background-color: $key-color;
            color: #fff;
          }
        }
      } //.point_rank__nav__item
    }

    //.point_rank__table
    &__table {
      display: none;

      tbody {
        td {
          text-align: center;

          &:first-child {
            font-weight: bold;
          }
        }
      }

      &.selected {
        display: table;
      }
    } //.point_rank__table
  } //.point_rank



  //グランプリ情報・ラウンド情報
  //.race_info
  .race_info {
    margin-top: 40px;

    //.race_info__accordion--trigger
    &__accordion--trigger {
      cursor: pointer;
      position: relative;
      display: table;
      width: 100%;
      border-bottom: 1px solid $border-color;

      &:after {
        content: "";
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        display: inline-block;
        width: 20px;
        height: 20px;
        background-image: url(/assets/images/motorsports/icon-plus.png);
        background-position: 0 center;
        background-repeat: no-repeat;
        @include hide-text;
      }

      dt, dd {
        display: table-cell;
        padding-top: 12px;
        padding-bottom: 12px;
        color: #fff;
        vertical-align: middle;
      }

      dt {
        width: perCalc(260, 728);
        padding-left: 20px;
        padding-right: 10px;
      }

      dd {
        padding-right: 40px;
        padding-left: 32px;
        background-image: url(/assets/images/big6/bgline-table.png);
        background-position: 0 center;
        background-repeat: no-repeat;
        background-size: 1px 60%;
      }

      &:hover {
        dt, dd {
          background-color: #111;
        }

        &:after {
          @include opacity(0.8);
        }
      }

      &.selected {
        &:after {
          background-image: url(/assets/images/motorsports/icon-minus.png);
        }
      }
    } //.race_info__accordion--trigger

    //.race_info__accordion--body
    &__accordion--body {}

    //.race_info__table
    &__table {
      th, td {
        background-color: #111;
      }

      tbody {
        td:nth-child(2),
        td:nth-child(3),
        td:nth-child(4) {
          text-align: center;
        }

        td:nth-child(4) {
          width: 40%;
        }
      }
    } //.race_info__table

    //テーブルを非表示
    .race_info__accordion--trigger + .race_info__accordion--body {
      // height: 0;
      max-height: 0;
      @include opacity(0);
    }

    //triggerにselectedがあれば表示
    .race_info__accordion--trigger.selected + .race_info__accordion--body {
      // height: auto;
      max-height: 20000px;
      @include opacity(1);
      transition: opacity 0.5s;
    }
  } //.race_info


  //チーム&amp;ドライバー
  //.team_driver
  .team_driver {
    margin-top: 40px;

    //.team_driver__heading
    &__heading {
      padding: 20px 30px;
      background-color: #232323;
      color: #fff;
      font-weight: bold;
      font-size: 18px;
    }

    //.team_driver__body
    &__body {
      overflow: hidden;
      padding: 20px 30px;
      background-color: #151515;

      //.team_driver__body__heading
      &__heading {
        color: #cc141d;
        font-weight: bold;
      } //.team_driver__body__heading

      p {
        line-height: 1.2;
        margin: 1em 0;
        color: #fff;
      }

      //.team_driver__body__small
      &__small {
        font-size: 11px;
      } //.team_driver__body__small

      //.team_driver__body__table--team
      &__table--team {
        margin-top: 1em;

        th,
        td {
          color: #fff;
          padding-bottom: 0.25em;
        }

        th + td {
          padding-left: 36px;
        }
      } //.team_driver__body__table--team


      //.team_driver__body--ratio2
      &--ratio2 {
        .column {
          width: 50%;
          float: left;

          &:nth-child(2) {
            float: right;
          }
        }
      } //.team_driver__body--ratio2
    } //.team_driver__body
  } //.team_driver
}
