@import "../../../../scss/asset";
@import "../sprite";

// Theme Crazy
//
// design module Crazy theme
//
// Styleguide 2.13.0

$key-color: #e1438b;

.whole.crazy {

  .body-sec {
    background-color: #000;

    &:before {
      background-color: #000;
    }

    .body-sec-inner {
      background-image: none;
      background-color: #000;
    }
  }

  .widget-ranking,
  .widget-recommend {
    &-heading,
    .post {
      border-bottom-color: #333;
    }

    .board-item:before {
      background-color: $key-color;
    }
  }

  .widget-ranking-heading-ruby,
  .widget-recommend-heading-ruby {
    color: $key-color;
  }

  .widget-ranking-heading-title {
    @include sprite( $common-side-ranking-heading_dark );
  }

  .widget-recommend-heading-title {
    @include sprite( $common-side-recommend-heading_dark );
  }

  .widget-ranking-heading-title,
  .widget-recommend-heading-title {
    display: inline-block;
  }

  .foot-sec {
    background-color: #000;

    .foot-pr {
      // background-color: #181818;
    }
  }

  // .related-post {
  //   .post {
  //     .post-category {
  //       color: $key-color;
  //     }

  //     &:hover {
  //       .post-heading {
  //         color: $key-color !important;
  //       }
  //     }
  //   }
  // }

  [ class^="board-" ] {
    .post {
      @include link-decoration(#fff, #fff, none, none);

      &-date {
        color: #999;
      }

      &-heading {
        color: #fff;
      }

      &-category {
        color: $key-color;
      }

      &:hover {
        .post-heading {
          color: $key-color !important;
        }
      }
    }
  }

  .board-large {
    .board-item {
      border-bottom-color: #1b1b1b;
      background-color: #111;
    }

    .post-data {
      .post-excerpt-text {
        color: #ccc;
      }
    }

    .feature-user {
      &.comment-item {
        background-color: #222;
      }

      .comment-user {
        &-name {
          color: #fff;
        }

        &-job {
          color: #999;
        }
      }

      .comment-content {
        color: #ccc;
      }
    } //.feature-user

    .commented-user-andmore {
      color: #999;
    }

    .comment-reaction {
      .comment-reaction-btn {
        color: #fff;

        &.active {
          color: $key-color;
        }
      }
    }
  }

  .sponsor-link-ranking,
  .sponsor-link-recommend {
    .adgLink {
      .adsDescription {
        color: #fff !important;
      }

      &:hover {
        .adsDescription {
          color: $key-color !important;
        }
      }
    }

    .adsTitle {
      &,
      .adsSponsored {
        color: $key-color !important;
      }
    }
  }

  .widget-postList {
    .post {
      @include link-decoration(#333, #333, none, none);

      &-heading {
        color: #333;
      }

      &-date {
        color: #666;
      }

      &-category {
        color: $highlight-color;
      }

      &:hover {
        .post-heading {
          color: $highlight-color !important;
        }
      }
    }
  }

  .loading-root {
    .loading-spinner {
      background-color: #000;
    }
  }

} //.theme_crazy





// theme_crazy_list
.whole.crazy {
  &.post-single {
    .body-sec {
      background-color: #000;

      .body-sec-inner {
        background-image: none;
      }
    }
  }
}





// related-post
.whole.crazy {
  .related-post {
    .post {
      @include link-decoration(#333, #333, none, none);
    }

    .post-date {
      color: #666;
    }
  }
}
