@import "../../../../scss/asset";
@import "../sprite";

// Theme Dark
//
// design module Dark theme
//
// Styleguide 2.10.0

// -------------------------------------------------
// common
// -------------------------------------------------

.theme_dark {
  .body-sec {
    background-color: #181818;

    &:before {
      background-color: #000;
    }

    .body-sec-inner {
      background: #181818 none;

      .side-sec {
        background-color: #000;
      }
    }
  }

  .widget-ranking-heading-title {
    @include sprite( $common-side-ranking-heading_dark );
    display: inline-block;
  }

  .widget-recommend-heading-title {
    @include sprite( $common-side-recommend-heading_dark );
    display: inline-block;
  }

  .foot-sec {
    background-color: #000;

    .foot-pr {
      background-color: #181818;
    }
  }

  [ class^="board-" ] {
    .post {
      @include link-decoration(#fff, #fff, none, none);
    }

    .post-date {
      color: #999;
    }
  }

  .board-large {
    .feature-user {
      &.comment-item {
        background-color: #222;
      }

      .comment-user {
        &-name {
          color: #fff;
        }

        &-job {
          color: #999;
        }
      }

      .comment-content {
        color: #fff;
      }
    } //.feature-user

    .commented-user-andmore {
      color: #999;
    }

    .comment-reaction {
      .comment-reaction-btn {
        color: #fff;

        &.active {
          color: $highlight-color;
        }
      }
    }
  }

} //.theme_dark

