@import "../../../../scss/asset";
@import "../sprite";

// Theme photogallery
//
// design module photogallery theme
//
// Styleguide 2.21.0

.whole.photo-gallery {
  // タイトルを非表示
  #single-header-container {
    display: none;
  }

  // ページ上部のsnsブロック非表示
  #single-header-container + .post-sns {
    display: none;
  }

  // 下部写真ページャーにマージン追加
  .sponsor-link + .nav-photoalbum {
    margin-top: 20px;
  }

  // 一覧ページでメインの画像がある場合の余白を削除
  #single-visual-container > .post-kv:first-child {
    margin-top: 0;
  }
} //.whole.photo-gallery
