@import "../../../../scss/asset";
@import "../sprite";

// Theme Dark
//
// design module Dark theme
//
// Styleguide 2.17.0

$key-color: #cc141d;

.whole.dark {
  .body-sec {
    background-color: #000;

    &:before {
      background-color: #000;
    }

    .body-sec-inner {
      background-image: none;
      background-color: #000;
    }
  }

  .headline {
    // リニューアルで不要になりました
    // // ref. /_src/app/assets/css/module/_index.scss line: 205
    // &-heading {
    //   &-title {
    //     width: 178px;
    //     height: 20px;
    //     background: url(/assets/images/common/headline-heading_dark.png) 0 0 no-repeat;
    //     @include hide-text;
    //     vertical-align: middle;
    //   }

    //   &-ruby {
    //     color: #fff;
    //   }
    // }
  }


  .widget-ranking,
  .widget-recommend {
    &-heading,
    .post {
      border-bottom-color: $key-color;
    }

    .board-item:before {
      background-color: $key-color;
    }
  }

  .widget-ranking-heading-ruby,
  .widget-recommend-heading-ruby {
    color: #bcb8ad;
  }

  .widget-ranking-heading-title {
    @include sprite( $common-side-ranking-heading_dark );
  }

  .widget-recommend-heading-title {
    @include sprite( $common-side-recommend-heading_dark );
  }

  .widget-ranking-heading-title,
  .widget-recommend-heading-title {
    display: inline-block;
  }

  // .foot-sec {
  //   background-color: #000;

  //   .foot-sec-inner {
  //     background-color: #fff;
  //   }
  // }

  // [ class^="board-" ] {
  .side-sec {

    .headline-outer .sponsor-link,
    .sponsor-link-ranking,
    .sponsor-link-recommend {
      // ref. /_src/app/assets/css/module/_index.scss line: 254
      // ref. /_src/app/assets/css/_layout.scss line: 973
      .adgLink {
        .adsDescription {
          color: #fff;
        }

        &:hover {
          .adsDescription {
            color: $key-color !important;
          }
        }
      }

      .adsTitle {
        &,
        .adsSponsored {
          color: #bcb8ad !important;
        }
      }
    }
    .board-small {
      .post {
        @include link-decoration(#fff, #fff, none, none);

        &-date {
          color: #999;
        }

        &-heading {
          color: #fff;
        }

        &-category {
          color: #bcb8ad;
        }

        &:hover {
          .post-heading {
            color: $key-color !important;
          }
        }
      }
    }

    .board-large {
      .board-item {
        // border-bottom-color: #1b1b1b;
        background-color: transparent;
      }

      .post {
        @include link-decoration(#fff, null, none, none);

        &:hover {
          .post-heading {
            color: $key-color !important;
          }
        }
      }
    }
  }

  // .sponsor-link-ranking,
  // .sponsor-link-recommend {
  //   .adgLink {
  //     .adsDescription {
  //       color: #fff !important;
  //     }

  //     &:hover {
  //       .adsDescription {
  //         color: $key-color !important;
  //       }
  //     }
  //   }

  //   .adsTitle {
  //     &,
  //     .adsSponsored {
  //       color: $key-color !important;
  //     }
  //   }
  // }

  .widget-postList {
    .post {
      @include link-decoration(#333, #333, none, none);

      &-heading {
        color: #333;
      }

      &-date {
        color: #666;
      }

      &-category {
        color: $highlight-color;
      }

      &:hover {
        .post-heading {
          color: $highlight-color !important;
        }
      }
    }
  }

  .board-btn-viewmore {
    //.board-btn-viewmore-link
    &-link {
      @include link-decoration(#fff, $key-color, none, none);
      background-color: #222;
    }
  }

  .loading-root {
    .loading-spinner {
      background-color: #000;
      background-image: url("/assets/images/common/preloader_dark.gif");
    }
  }
} //.dark





// post-single
.whole.dark {
  &.post-single {
    .body-sec {
      background-color: #000;

      .body-sec-inner {
        background-image: none;
      }
    }
  }
}





// related-post
.whole.dark {
  .related-post {
    .post {
      @include link-decoration(#333, #333, none, none);
    }

    .post-date {
      color: #666;
    }
  }
}
