@import "../../../../scss/asset";
@import "../sprite";

// Theme parasports
//
// design module parasports theme
//
// Styleguide 2.20.0

.whole.parasports {
  .paraboard__widjet {
    margin-top: 20px;
    border-bottom: 4px solid #3b3f46;

    &:before {
      content: "";
      display: block;
      width: 100%;
      height: 20px;
      border-top: 1px solid #ddd;
      @include hide-text;
    }

    //.paraboard__widjet__header
    &__header {
      background-color: #474e5c;

      //.paraboard__widjet__header__sub
      &__sub {
        display: table;
        width: 100%;
        height: 60px;

        //.paraboard__widjet__header__sub__heading
        &__heading {
          display: table-cell;
          padding-left: 20px;
          vertical-align: middle;
          color: #fff;
          font-weight: bold;
          font-size: fz(16);

          span {
            margin-left: 5px;
            font-weight: normal;
            font-size: fs(11, 16);
          }
        }

        //.paraboard__widjet__header__sub__btn
        &__btn {
          display: table-cell;
          padding-right: 20px;
          text-align: right;
          vertical-align: middle;

          a {
            @include link-decoration(#fff, #fff, none, none);
            display: inline-block;
            padding: 6px 12px;
            border-radius: 3px;
            background-color: #e83851;
            font-weight: bold;
            font-size: fz(13);

            &:after {
              content: "";
              position: relative;
              top: -1px;
              display: inline-block;
              width: 6px;
              height: 6px;
              margin-left: 4px;
              border-top: 2px solid #fff;
              border-right: 2px solid #fff;
              transform: rotate(45deg);
              @include hide-text;
            }

            &:hover {
              @include hover-opacity;
            }
          } // a
        } //.paraboard__widjet__header__sub__btn
      } //.paraboard__widjet__header__sub
    } //.paraboard__widjet__header



    //.paraboard__widjet__list
    &__list {
      border-top: 1px solid #3b3f46;
      width: 100%;

      //.paraboard__widjet__list__date
      &__date {
        width: perCalc(128, 728);
        padding: 10px 10px 10px 20px;
        border-right: 1px solid #3b3f46;
        border-bottom: 1px solid #3b3f46;
        background-color: #474e5c;
        color: #fff;
        font-size: fz(12);
      } //.paraboard__widjet__list__date

      //.paraboard__widjet__list__game
      &__game {
        border-bottom: 1px solid #3b3f46;

        //.paraboard__widjet__list__game__link
        &__link {
          position: relative;
          display: block;
          padding: 10px;
          @include link-decoration(null, null, none, none);
          background-color: #474e5c;

          &:hover {
            @include hover-opacity(0.85);
          }
        } //.paraboard__widjet__list__game__link

        //.paraboard__widjet__list__game__header
        &__header {
          position: relative;
          padding-right: 105px;
          padding-left: 50px;

          &:before {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            display: inline-block;
            width: 40px;
            height: 40px;
            margin-top: -20px;
            background-position: 0 0;
            background-repeat: no-repeat;
            @include hide-text;
          }

          &.paraboard__widjet__list__icon--basketball:before {
            background-image: url(/assets/images/para-board/icon-basketball.png);
          }

          &.paraboard__widjet__list__icon--goalball:before {
            background-image: url(/assets/images/para-board/icon-goalball.png);
          }

          &.paraboard__widjet__list__icon--rugby:before {
            background-image: url(/assets/images/para-board/icon-rugby.png);
          }

          &.paraboard__widjet__list__icon--soccer:before {
            background-image: url(/assets/images/para-board/icon-soccer.png);
          }

          &.paraboard__widjet__list__icon--swimming:before {
            background-image: url(/assets/images/para-board/icon-swimming.png);
          }

          &.paraboard__widjet__list__icon--tennis:before {
            background-image: url(/assets/images/para-board/icon-tennis.png);
          }

          &.paraboard__widjet__list__icon--track:before {
            background-image: url(/assets/images/para-board/icon-track.png);
          }

          &.paraboard__widjet__list__icon--volleyball:before {
            background-image: url(/assets/images/para-board/icon-volleyball.png);
          }

          //.paraboard__widjet__list__game__header__category
          &__category {
            color: #fff;
            font-weight: bold;
            font-size: fz(12);
          } //.paraboard__widjet__list__game__header__category

          //.paraboard__widjet__list__game__header__heading
          &__heading {
            color: #fff;
            font-weight: bold;
            font-size: fz(16);
          } //.paraboard__widjet__list__game__header__heading
        } //.paraboard__widjet__list__game__header

        //.paraboard__widjet__list__game__btn
        &__btn {
          position: absolute;
          top: 50%;
          right: 20px;
          transform: translateY(-50%);

          span {
            color: #fff;
            font-weight: bold;
            font-size: fz(13);

            &:after {
              content: "";
              position: relative;
              top: -1px;
              display: inline-block;
              width: 6px;
              height: 6px;
              margin-left: 4px;
              border-top: 2px solid #e83851;
              border-right: 2px solid #e83851;
              transform: rotate(45deg);
              @include hide-text;
            }
          } // span
        } //.paraboard__widjet__list__game__btn
      } //.paraboard__widjet__list__game
    } //.paraboard__widjet__list
  } //.paraboard__widjet


} //.whole.parasports
