@import "../../../../scss/asset";
@import "../sprite";

// -------------------------------------------------
// user
// -------------------------------------------------
.activity-item-line {
  position: relative;
  display: block;
  padding: 20px 8px;
  border-bottom: 1px solid #ddd;
}