@import "../../../../scss/asset";
@import "../sprite";

// User
//
// design module user
//
// Styleguide 2.5.0

// user-config
.user-config {
  background-color: #000;

  .user-profile {
    @include clearfix;
    width: $global-inner-width;
    margin: 0 auto;
    padding-top: 35px;

    @at-root {
      &-avatar {
        float: left;
        width: 80px;
        height: 80px;
        margin-right: 15px;
        border-radius: 100%;
        background: url(/assets/images/common/thumb-user-info.png) 0 0 no-repeat;
        background-size: 80px;

        img {
          display: block;
          width: 80px;
          height: 80px;
          border-radius: 100%;
        }

        &.user-logged-in {
          background: none;
        }
      }

      &-data {
        overflow: hidden;
      }

      &-name {
        color: #fff;
        font-weight: bold;
        font-size: fz(24);
      }

      &-job {
        color: #fff;
        font-weight: bold;
      }

      &-favorite {
        letter-spacing: ls( inline-block );
        font-size: fz(12);

        @at-root {
          &-heading, &-list {
            display: inline-block;
            letter-spacing: normal;
          }

          &-heading {
            margin-right: 20px;
            color: #fff;
          }

          &-list {
          }

          &-item {
            margin-right: 5px;
            // &:after {
            //   content: '/';
            //   margin: 0 5px;
            //   color: #fff;
            // }

            &:last-child:after {
              display: none;
            }

            a {
              @include link-decoration(#fff, #fff, none, underline);
            }
          }
        }
      }//.user-profile-favorite
    }
  } //.user-profile

  @at-root {
    &-control {
      @include clearfix;
      width: $global-inner-width;
      margin: 30px auto 0;
    }

    &-nav {
      float: left;

      a {
        @include link-decoration(#555, $highlight-color, none, none);
        float: left;
        display: block;
        width: 200px;
        min-height: 36px;
        line-height: 1;
        margin-right: 1px;
        padding: 8px 0;
        background-color: #ddd;
        text-align: center;

        &.current,
        &:hover {
          color: $highlight-color;
          background-color: #fff;
          transition: background-color ease-out .4s;
        }

        span {
          position: relative;
          display: inline-block;
          font-size: fz(12);

          &:before {
            content: '';
            // @extend .sprite-common;
            margin-right: 5px;
            position: relative;
            top: 2px;
          }
        }
      }

      &-bookmark {
        border-radius: 3px 0 0 0;

        span {
          &:before {
            @extend .sprite-setting;
            @include sprite( $setting-icon-bookmark, inline-block );
          }
        }

        &.current,
        &:hover {
          span:before {
            @extend .sprite-common;
            @include sprite( $common-icon-bookmark_o, inline-block );
          }
        }
      }

      &-activity {
        span {
          &:before {
            @extend .sprite-common;
            @include sprite( $common-icon-activity, inline-block );
          }
        }

        &.current,
        &:hover {
          span:before {
            @extend .sprite-common;
            @include sprite( $common-icon-activity_o, inline-block );
          }
        }
      }

      &-info {
        border-radius: 0 3px 0 0;

        span {
          &:before {
            @extend .sprite-common;
            @include sprite( $common-icon-info, inline-block );
          }
        }

        &.current,
        &:hover {
          span:before {
            @extend .sprite-common;
            @include sprite( $common-icon-info_o, inline-block );
          }
        }
      }
    } //.user-config-nav

    &-btn-setting {
      @include link-decoration(#fff, #fff, none, underline);
      float: right;
      margin-top: .5em;
      display: inline-block;
      font-size: fz(12);

      &:before {
        content: '';
        @extend .sprite-common;
        @include sprite( $common-icon-config, inline-block );
        margin-right: 5px;
        position: relative;
        top: 2px;
      }
    }
  }
}






// activity, info
.info,
.activity {
  margin-top: 30px;

  @at-root {
    &-list {
      border-top: 1px solid $border-primary-color;
    }

    &-item {}

    &-link {
      @include link-decoration(#333, #333, none, none);
      position: relative;
      display: block;
      padding: 20px 8px;
      border-bottom: 1px solid $border-primary-color;

      // &:after {
      //   content: '';
      //   @extend .sprite-common;
      //   @include sprite( $common-icon-arrow1 );
      //   @include pos-middle;
      //   right: 8px;
      // }

      &:hover {
        background-color: #f5f5f5;
      }
    }

    &-content {}

    &-date {
      margin-top: .25em;
      color: #666;
      font-size: fz(12);
    }
  }
}



// activity
.activity {
  @at-root {
    &-content {
      strong {
        color: $highlight-color;
      }
    }
  }
}

.activity-item-line {
  position: relative;
  display: block;
  padding: 20px 8px;
  border-bottom: 1px solid #ddd;
}





// .info
.info {
  @at-root {
    &-btn-readAll {
      min-height: 1em;
      margin-bottom: 20px;
      text-align: right;

      a {
        font-weight: bold;
      }
    }

    &-link {
      padding-left: 75px;

      // &,
      // &.unread {
      //   background-color: $bg-primary-color;
      // }

      // &.read {
      //   background-color: #fff;
      // }

      &:hover,
      &.unread:hover,
      &.read:hover {
        background-color: $bg-primary-color;
      }
    }

    &-user-thumb {
      position: absolute;
      top: 20px;
      left: 10px;
      width: 50px;
      height: 50px;
      margin-right: 15px;
      border-radius: 100%;
      background: url(/assets/images/common/thumb-user-info.png) 0 0 no-repeat;
      background-size: 50px;

      img {
        width: 50px;
        border-radius: 100%;
      }

      &.user-logged-in {
        background: none;
      }
    }

    &-content {
      overflow: hidden;
    }

    &-date {
      overflow: hidden;
    }
  }
}
