@import "../../../../scss/asset";
@import "../sprite";

// Utility
//
// design module utility
//
// Styleguide 2.1.0

// responsive tool
.word_break {
  display: block;
}

.other {
  .show-for-pc { display: inherit !important;}
  .show-for-sp,
  .hide-for-sp { display: none !important;}
}

.mobile {
  .show-for-pc,
  .hide-for-pc { display: none !important;}
  .show-for-sp { display: block !important;}
}

@include screen('large') {
  .show-for-large { display: inherit !important;}
  .hide-for-large,
  .show-for-small { display: none !important;}
}

@include screen('small') {
  .show-for-small { display: inherit !important;}
  .hide-for-small,
  .show-for-large { display: none !important;}
}





// hover-opacity
// hover ¤Ç Í¸ß^ÂÊ 0.75 ¤Ë¤·¤Þ¤¹ (CSS¥¢¥Ë¥á©`¥·¥ç¥ó¸¶)
// $opacity=.75 - hover•r¤ÎÍ¸ß^ÂÊ
@mixin hover-opacity($opacity:.75) {
  opacity: $opacity;
  transition: opacity ease-out .4s;
  @content;
}





// dropMenu
%dropMenu {
  position: relative;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 0 3px rgba(0,0,0,.2);
  // box-shadow:rgba(0, 0, 0, 0.08) 0px 0px 5px 1px;

  &:before {
    content: '';
    position: absolute;
    top: -5px;
    right: 13px;
    @extend .sprite-common;
    @include sprite( $common-icon-user-menu );
    // width: 9px;
    // height: 5px;
    // background: url(/assets/images/common/icon-user-menu.png) 0 0 no-repeat;
  }
}





// modal-dialogue
%modal-dialogue {
  z-index: 99999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .modal-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .2);
  }

  .modal-dialogue-contents {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);

    padding: 28px;
    border-radius: 4px;
    background-color: #fff;
  }

  .modal-dialogue-close {
    position: absolute;
    top: 5px;
    right: 4px;

    @extend .sprite-common;
    @include sprite( $common-btn-dialogue-close );
    @include hide-text;
  }
}





// board-small-sponsor-link
%board-small-sponsor-link {
  .adgLink {
    display: block;
    height: 75px !important;
    // padding: 15px 0;
    // border-top: 1px solid $border-primary-color;

    &:hover {
      .adsDescription {
        color: $highlight-color !important;
      }

      .adsImg {
        @include hover-opacity;
      }
    }
  }

  .headline & .adgLink {
    width: 350px !important;

    .adsWrapper {
      width: 100% !important;
    }
  }

  .adsWrapper {
    height: auto !important;
    overflow: visible !important;
    background: none !important;
  }

  .adsImgContainer {
    width: 80px !important;
    height: 70px !important;
    padding: 0 10px 0 0 !important;
  }

  .adsImg {
    width: 100%;
    height: auto;
    border-radius: 3px;
  }

  .adsBody {
    padding: 0 !important;
  }

  .adsTitle {
    font-size: fz(12);
    text-align: left;

    &,
    .adsSponsored {
      color: $highlight-color !important;
    }
  }

  .adsDescription {
    min-height: 2.6em;
    line-height: lh(18, 14) !important;
    text-align: left;
  }
}





// font face

// icon like
@font-face {
  font-family: 'icon-like';
  src:url('/assets/fonts/icon-like/icon-like.eot');
  src:url('/assets/fonts/icon-like/icon-like.eot?#iefix') format('embedded-opentype'),
      url('/assets/fonts/icon-like/icon-like.ttf') format('truetype'),
      url('/assets/fonts/icon-like/icon-like.woff') format('woff'),
      url('/assets/fonts/icon-like/icon-like.svg#icon-like') format('svg');
  font-weight: normal;
  font-style: normal;
}





// ratio controll
@mixin aspect-ratio($width, $height) {
  position: relative;

  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }

  > .ratio#{$width}_#{$height}-inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.ratio16_9 {
  @include aspect-ratio(16, 9);

  iframe,
  video {
    width: 100%;
    height: 100%;
  }

  .video-js {
    width: 100% !important;
    height: 100% !important;
  }
}
