 @charset "UTF-8";

 // @import "common";
$base-blue:#0e357f;
$base-red:#cc141d;
$base-orange:#F7AC03;
.body-sec-inner{
	background:none;
}
.game-category2,.game-category3,.game-category4,#score-info,#personal-info{
	display:none;
}
h2{
	#af-schedule &,#af-match &{
		background-color: #fff;
		border-top: 4px solid #0e357f;
		margin-bottom:20px;
		color: #0e357f;
		font-weight: 700;
		padding: 12px 20px;
		font-size: 22px;
		position: relative;
	}
	.title &{
		position: relative;
		width: 1088px;
		margin: 0 auto;
		padding:15px 0;
		.btn{
			position:absolute;
			top:0;
			right:0;
			height:0;
			width: 170px;
			border-bottom: 60px solid #1b1b1b;
			border-left: 20px solid transparent;
			color: #f6ab00;
			font-weight: 700;
			line-height: 4.5;
			text-align: center;
		}
	}
	&.calendar{
		&:before{
			content:"";
			display: block;
			float: left;
			margin: 5px;
			width: 20px;
			height: 20px;
			background: url(https://sportsbull.jp/assets/images/inhigh/icon_calender.png) no-repeat 0 0;
		}
	}
}
h3{
	#basic-info &,#personal-info &{
		display: table;
		width: 100%;
		color: #f5f5f5;
		font-size: 16px;
		font-weight: 700;
		border-top: 2px solid #fff;
		padding:17px 0;
	}
	#personal-info &{
		span{
			float:right;
		}
	}
}
#game-category{
	width: 100%;
	border: 2px solid #cc141d;
	border-radius: 4px;
	margin-bottom: 30px;
	ul{
		display: flex;
		li{
			flex-grow: 1;
			text-align: center;
			color: #cc141d;
			background-color: #fff;
			font-weight: 700;
			font-size: 14px;
			padding:8px 0;
			cursor: pointer;
			&:not(:last-child){
				border-right: 1px solid #efefef;
			}
		}
	}
	@for $i from 0 through 3 {
		&.active-#{$i}{
			ul li:nth-child(#{$i+1}){
				background-color: $base-red;
				color:#fff;
			}
		}
	}
}

#af-schedule{
	margin-bottom:30px;
	.list{
		display:flex;
		border-top: 1px solid #dbdbdb;
		justify-content: center;
		align-items: center;
		font-weight: 700;
		p{
			flex-basis: 100px;
			text-align:center;
			line-height: 4;
		}
		ul{
			flex-grow: 1;
			display:flex;
			flex-wrap: wrap;
			li{
				width:50%;
				margin-bottom: 5px;
				text-align:center;
				&:nth-child(odd){
					box-sizing: border-box;
					border-right: 1px solid #f5f5f5;
				}
				&:nth-child(even){
					box-sizing: border-box;
					border-left: 2px solid #f5f5f5;
				}
				a{
					display:block;
					width:100%;
					text-decoration: none;
					position:relative;
					&:hover{
						opacity:0.7;
					}
					&:first-child{
						background-color:#fff;
						padding:10px 0;
						color:#000;
						&:after{
							content: "";
							width: 7px;
							height: 12px;
							background: url(https://sportsbull.jp/assets/images/inhigh/icon_arrow.png) no-repeat 0;
							position: absolute;
							top: 14px;
							right: 10px;
						}
					}
					&:last-child{
						background-color:#0F3580;
						padding:5px 0;
						color:#fff;
						font-size: 12px;
						display:flex;
						justify-content: center;
						&:before{
							content: "";
							width: 20px;
							height: 16px;
							background: url(https://sportsbull.jp/stats/hsb/img/mov_icon_a.png) no-repeat 0;
							background-size: 15px;
						}
					}
				}
				div{
					background-color:#E6E6E6;
					padding:5px 0;
					color:#D3D3D3;
					font-size: 12px;
					display:flex;
					justify-content: center;
					&:before{
						content: "";
						width: 20px;
						height: 16px;
						background: url(https://sportsbull.jp/stats/hsb/img/mov_icon_a.png) no-repeat 0;
						background-size: 15px;
					}
				}
			}
		}
	}
}
#af-match{
	margin-bottom:30px;
	table{
		width:100%;
		tr{
			border-bottom: 1px solid #DADADA;
			th{
				background: $base-blue;
				padding:5px 0;
				text-align:center;
				vertical-align: middle;
				color:#fff;
				font-weight:700;
				font-size:14px;
				&:not(:last-child){border-right:1px solid #DADADA;}
			}
			td{
				color:#000;
				padding:5px 0;
				text-align:center;
				vertical-align: middle;
				&:not(:last-child){border-right:1px solid #DADADA;}
				&.non{
					background: #E6E6E6;
				}
			}
		}
	}
}

#result-sec{
	height: 340px;
	color: #fff;
	background: url(https://sportsbull.jp/stats/hsb/css/resulthead_bg.png) no-repeat center -160px;
	background-size: 100% auto;
	position:relative;
	.inner{
		width: 1088px;
		margin: 0 auto;
		text-align:center;
		padding-top: 50px;
		.game-name{
			font-size: 23px;
			font-weight: 700;
			letter-spacing: 1px;
			margin-bottom:5px;
		}
		.result{
			display:flex;
			justify-content: center;
			align-items: center;
			font-size: 25px;
			font-weight: 700;
			letter-spacing: 3px;
			margin-bottom:5px;

			.score{
				width:300px;
				font-size: 60px;
				span{
					font-size:25px;
					vertical-align: middle;
					padding: 0 20px;
				}
			}
		}
		.state{
			background:$base-blue;
			font-size:20px;
			width:100px;
			font-weight:700;
			margin: 0 auto 15px;
		}
		.info{
			font-size:18px;
		}
	}
	.bulu-line{
		display:block;
		width:50%;
		background:$base-blue;
		position:absolute;
		bottom: 0;
		left:0;
		height: 5px;
	}
	.red-line{
		display:block;
		width:50%;
		background:$base-red;
		position:absolute;
		bottom: 0;
		right:0;
		height: 5px;
	}
}
#game-info,#team-tab{
	width: 100%;
	margin: 30px 0;
	ul{
		display: flex;
		li{
			flex-grow: 1;
			text-align: center;
			color: #fff;
			background-color: #1A1A1A;
			font-weight: 700;
			font-size: 18px;
			padding:17px 0;
			cursor: pointer;
		}
	}
	@for $i from 0 through 2 {
		&.active-#{$i}{
			ul li:nth-child(#{$i+1}){
				background-color: #222222;
				color:$base-orange;
			}
		}
	}
}
#team-tab{
	li:nth-of-type(1){
		border-bottom:2px solid $base-blue;
	}
	li:nth-of-type(2){
		border-bottom:2px solid $base-red;
	}
}
#basic-info{
	.movie{
		border-top: 2px solid #1B1B1B;
		padding-top:15px;
		ul{
			li{
				margin-bottom:20px;
				a:hover{
					opacity:0.7;
					text-decoration:none;
				}
				a:nth-of-type(1){
					display: flex;
					margin-bottom: 20px;
					border-bottom: 4px solid #1B1B1B;
					div:nth-of-type(1){
						position:relative;
						width: 178px;
						height: 100px;
						flex-basis: 178px;
						img{
							width:100%;
						}
						&:after{
							content: "";
							width: 178px;
							height: 100px;
							position:absolute;
							background: url(https://sportsbull.jp/stats/hsb/img/mov_thumb_icon.png) no-repeat center;
							background-size: 170px;
							top:0;
							left:0;
						}
					}
					div:nth-of-type(2){
						flex-grow: 1;
						font-weight:700;
						padding:20px 20px 0 20px;
						img{
							width:100%;
						}
						p:nth-of-type(1){
							font-size:12px;
							color: $base-orange;
						}
						p:nth-of-type(2){
							color: #fff;
							font-size: 17px;
						}
					}
				}
				a:nth-of-type(2){
					width:100%;
					text-align:center;
					padding:15px 0;
					border-radius:4px;
					font-weight:700;
					background:#F6AB00;
					display: block;
					text-decoration:none;
					color:#000;
				}
			}
		}
	}
	.quarter{
		margin-bottom:30px;
		thead tr {
			border-left:none !important;
		}
		tr{
			&:nth-of-type(1){
				border-left:2px solid $base-blue;
			}
			&:nth-of-type(2){
				border-left:2px solid $base-red;
			}
		}
	}
	.data{
		margin-bottom:30px;
		thead th {
			&:nth-of-type(2){
				border-bottom:2px solid $base-blue;
			}
			&:nth-of-type(3){
				border-bottom:2px solid $base-red;
			}
		}
	}
}
table{
	width:100%;
	border-top: 1px solid #222222;
	color:#fff;
	tr{
		border-bottom: 1px solid #222222;
		th{
			background: #1A1A1A;
			padding:10px 0;
			text-align:center;
			vertical-align: middle;
			font-weight:700;
			font-size:14px;
			&:not(:last-child){border-right:1px solid #222222;}
		}
		td{
			padding:10px 0;
			text-align:center;
			vertical-align: middle;
			&:not(:last-child){border-right:1px solid #222222;}
		}
		&.non{
			background: #E6E6E6;
		}
	}
}
#score-info{
	color:#fff;
	margin-bottom:30px;
	li{
		.blue{
			background:#1A1A1A;
			border-bottom:1px solid $base-blue;
			padding:10px 20px;
			font-weight:700;
			font-size: 15px;
		}
		.red{
			background:#1A1A1A;
			border-bottom:1px solid $base-red;
			padding:10px 20px;
			font-weight:700;
			font-size: 15px;
		}
		.passage{
			padding:10px 20px;
			font-size: 15px;
		}
	}
	.run,.pass,.receive{
		margin-bottom:30px;
	}
}