// import library setting + mixin + function
@import "./asset";

// scss-lint:disable ColorVariable

// scss-lint:disable NestingDepth


// draft-header
.draft-header {
  .lead {
    margin-top: 15px;
    font-size: 14px;
  }
}

.draft-header-bnr-top {
  padding-top: 20px;

  li {
    margin-top: 20px;
    text-align: center;

    &:first-child {
      margin-top: 0;
    }
  }
}

.draft-header-main {
  position: relative;
  width: 840px;
  margin: 60px auto 0;
  padding-left: 236px;
  text-align: center;

  .draft-logo {
    position: absolute;
    top: 0;
    left: 0;
  }

  .lead {
    margin-top: 10px;
    color: $color-white;
  }

  .lead-credit {
    margin-top: 1em;
    color: $color-white;
    text-align: right;
  }

  .lead-credit-logo {
    margin-left: 5px;
    display: inline-block;
    background: hsla(0, 0, 100%, .8);
    padding: 5px;
    border: 1px solid #666;

    img {
      max-width: 120px;
      height: auto;
      line-height: 0;
    }
  }
}

.draft-header-bnr-bottom {
  padding-top: 20px;

  li {
    margin-top: 20px;
    text-align: center;

    &:first-child {
      margin-top: 0;
    }
  }
}
