Options FollowSymLinks Includes
RewriteEngine on
RewriteBase /

#BULL'S PICKS
RewriteRule ^bulls-picks$ /api/editdm/bulls_picks/get_picks_xml.php [L]
RewriteRule ^bulls-picks/([0-9]{2})/([0-9]{2})$ /api/editdm/bulls_picks/get_picks_xml.php?date=$1/$2 [L]
RewriteRule ^bulls-picks/tmp$ /api/editdm/bulls_picks/get_picks_xml.php?tmp [L]
RewriteRule ^bulls-picks/tmp/update$ /api/editdm/bulls_picks/post_tmp_picks_xml.php [L]
RewriteRule ^bulls-picks/2prd/([0-9]{2})/([0-9]{2})$ /api/editdm/bulls_picks/archive_to_production_picks_xml.php?date=$1$2 [L]

RewriteRule ^bulls-picks/au$ /api/editdm/bulls_picks/get_picks_xml.php?au [L]
RewriteRule ^bulls-picks/au/([0-9]{2})/([0-9]{2})$ /api/editdm/bulls_picks/get_picks_xml.php?au&date=$1/$2 [L]
RewriteRule ^bulls-picks/au/tmp$ /api/editdm/bulls_picks/get_picks_xml.php?au&tmp [L]
RewriteRule ^bulls-picks/au/tmp/update$ /api/editdm/bulls_picks/post_tmp_picks_xml.php?au [L]
RewriteRule ^bulls-picks/au/2prd/([0-9]{2})/([0-9]{2})$ /api/editdm/bulls_picks/archive_to_production_picks_xml.php?date=$1$2&au [L]
