Options FollowSymLinks Includes
RewriteEngine on
RewriteBase /

# ranking
RewriteRule ^ranking$ /api/big6/ranking.php [L]

# schedule
RewriteRule ^schedule$ /api/big6/schedule.php [L]

# live
RewriteRule ^live$ /api/big6/live.php [L]
