Options FollowSymLinks Includes
RewriteEngine on
RewriteBase /

# ranking
RewriteRule ^ranking$ /api/big6tv/ranking.php [L]

# schedule
RewriteRule ^schedule$ /api/big6tv/schedule.php [L]

# live
#RewriteRule ^live$ /api/big6tv/live.php [L]
RewriteRule ^live$ /api/ver1/static/big6live.json [L]
