Options FollowSymLinks Includes
RewriteEngine on
RewriteBase /

# ranking 2017
RewriteRule ^ranking$ /api/big6tv/ranking.php [L]
# ranking 2018s
RewriteRule ^ranking/(20[0-9]{2}[as])$ /api/big6tv/ranking.php?season=$1 [L]

# schedule
#RewriteRule ^schedule$ /api/big6tv/schedule.php [L]
RewriteRule ^schedule$ /api/ver1/static/big6tv2017s_schedule.json [L]

# live
RewriteRule ^live$ /api/big6tv/live.php [L]
# live - 2017autumn
RewriteRule ^live/(20[0-9]{2}[as])$ /api/big6tv/live.php?season=$1 [L]
# live - json
# RewriteRule ^live$ /api/ver1/static/big6live.json [L]
