html,body,p,ul,ol,li,p,h1,h2,h3,h4,dl,dt,dd{margin:0;padding:0;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{overflow:hidden;}
/* Hides from IE-mac \*/* html .clearfix{height:1%;overflow:visible;}/* End hide from IE-mac */

img{
	border:0;
}
body{
	font-size:100%;
	color:#333;
	font-family:Verdana, Meiryo, "Hiragino Kaku Gothic ProN", "游ゴシック", YuGothic, sans-serif;
	padding:0 0 2em 0;
}

.header{
	width:980px;
	padding:10px 0 15px 0;
	margin:0 auto 5px auto;
	border-bottom:1px dotted #ccc;
}
.headerleft{
	float:left;
	padding:13px 0 0 0;
}
.headerright{
	float:right;
	padding:15px 0 0 0;
}

h1{
	font-size:120%;
	padding:10px 0 0 0;
}

.explain2{
	padding:10px 0 0 0;
}


.formbpw{
	background-image:url(/shared/2014ss/img/model/formtitle.png);
	background-repeat:no-repeat;
	background-position:center 46px;
	padding:0 0 101px 0;
}
#formArea{
	width:980px;
	margin:0 auto;
	line-height:1.75;
	font-size:85%;
}
#formArea .formBlock{
	border-top:1px dotted #ccc;
}
#formArea .fc{
	border-bottom:1px dotted #ccc;
	border-top:4px solid #fff;
}
#formArea .fbox{
	padding:8px 0 5px 0;
	background-color:#fff;
	display:block;
	margin:0 0 4px 0;
}
#formArea .fbox dt{
	display:block;
	width:20%;
	padding:0 0 5px 0;
	float:left;
}
#formArea .fbox dd{
	display:block;
	width:78%;
	float:right;
}
#formArea .fbox dt *,#formArea .fbox dd *{

}
#formArea .fbox dt span{
	padding-left:0.75em;
	display:block;
}

#formArea .required{
	border-left:5px solid #fb4d00;
}
#formArea .optional{
	border-left:5px solid #666;
}
#formArea .explain{
	background-color:#efefef;
	border-top:10px solid #fff;
	border-bottom:10px solid #fff;
}
#formArea .explain p{
	padding:3px 0 3px 8px;
}
#formArea label{
	padding:0 8px 0 0;
}
#formArea .modcaption{
	padding:8px 0 0 2px;
	line-height:1.5;
	color:#FF5700;
	border-top:1px dotted #ccc;
	margin:8px 0 0 0;
	font-size:12px;
}
#formArea .imgbox{
	padding:5px 0 0 1px;
}
#formArea .formFlow{
	padding:25px 0 0 0;
	border-bottom:35px solid #fff;
}
#formArea .reqop{
	background-color:#f5f3f3;
	padding:5px 9px;
	width:10.5em;
	border-bottom:15px solid #fff;
}
#formArea .reqop p{
	line-height:1.75em;
	border-left:5px solid #fb4d00;
	padding:0 0 0 0.75em;
}
#formArea textarea{
	width:80%;
	padding:5px;
}
#formArea .errArea{
	border:2px solid #ffb07b;
	background-color:#fff9f5;
	padding:14px 18px 10px 18px;
	margin:20px 0 0 0;
}
#formArea .errArea ul{
	list-style-type:none;
}
#formArea .errArea ul li{
	color:#c8301c;
	text-decoration:underline;
	cursor:pointer;
}
#formArea .noboder{
	border:none !important;
}
#formArea .noboder .fbox{
	margin:0 !important;
	padding-bottom:2px;
}
#formArea .formButton1{
	width:250px;
	margin:0 auto;
	padding:20px 0 0 0;
}

#formArea .formButton2{
	width:412px;
	margin:0 auto;
	padding:20px 0 0 0;
}
#formArea .formButton2 ul{
	margin:0 auto;
	list-style-type:none;
}
#formArea .formButton2 .prev{
	width:147px;
	float:left;
	padding:9px 0 0 0;
	cursor:pointer;
	display:block;
}
#formArea .formButton2 .next{
	width:250px;
	float:right;
	display:block;
}
#formArea .formButton3{
	padding:20px 0 0 0;
}
#formArea .caption{
	padding:2em 0 0 0;
}
#formArea .caption h2{
	font-size:120%;
	padding:20px 0 30px 0;
}
#formArea .caption p{
	font-size:120%;
	padding:0;
	margin:0;
}
#formArea .caption p a{
	color:#c8301c;
	text-decoration:none;
}
#formArea .caption p a:hover{
	text-decoration:underline;
}

#aFooter{
	background-image:url(/shared/2014ss/img/common/formbg.png);
	background-repeat:repeat-x;
	background-position:left top;
}








.privacypolicy{
	height:180px;
	overflow-y:scroll;
	overflow-x:auto;
	width:940px;
	text-align:left;
	border:1px solid #ccc;
	padding:20px 20px 15px 20px;
	margin:30px auto 15px auto;
	font-size:80%;
	line-height:1.7;
}
.privacypolicy .title1{
	padding:1em 0 0 0;
}
.sslv{
	float:right;
	margin:0 0 0 20px;
}
.privacypolicy h2{
	border-bottom:1px solid #333;
	font-size:120%;
}
.privacypolicy dl,.privacypolicy dt,.privacypolicy dd{
	display:block;
}
.privacypolicy dt{
	background-color:#ececec;
	padding:5px;
	text-align:left !important;
	border-left:5px solid #CCC;
	font-size:100%;
	margin:1em 0;
}
.purpose{
	margin:0 0 0 1.5em;
}
ul{
	list-style-type:disc;
}
ol{
	margin:0 0 0 2em;
}
ol ul {
	margin:0 0 0 1.5em;
}
.ppadr{
	margin:0.5em 0 0 0;
}
.ppadr td,.ppadr th{
	line-height:1.25;
}

.formtitle{
	width:980px;
	margin:0 auto;
	padding:10px 0 15px 0;
}

.ftrw{
	font-size:85%;
	width:980px;
	margin:0 auto;
	padding:30px 0 0 0;
}
.ftrw dt{
	font-weight:bold;	
	margin:0;
	padding:0;
}
.ftrw dd{
	margin:0;
	padding:0;
	line-height:2;
}
.copyright{
	width:980px;
	margin:0 auto;
}

.endmsg{
	width:980px;
	margin:0 auto;
	padding:1.5em 0 0 0;
}
.endmsg p{
	font-size:120%;
}

.kobet{
	width:950px;
	margin:0 auto;
}
