@charset "UTF-8";
/*! build: @@buildTime */
// import mixin / function
@import "../../../../../scss_sp/asset";

// normalize / reset / 基本 class, tag 設定
@import "../../../../../bower_exports/modularized/normalize";
@import "../../../../../scss_sp/style/reset";
@import "../../../../../scss_sp/dependencies/style";

// --------------------------------------------
// 以下、import ファイルを編集
// --------------------------------------------

// page layout
@import "../module/utility";
@import "../module/global";
@import "../layout";


// print
// @import "print";

// common override

footer.foot-sec {
  margin-top: 0;
  text-align: left;
  font-size: inherit;
}





$link-color: #0e357f;
$bg-color_gray: #e6e6e6;
$bg-color_blue: #0e357f;
$highlight-color: #033583;

// stats__header
.stats__header {}

// stats___banner
.stats__banner {
  padding: (20/2)+px perCalc(55, 750);
  background-color: #dbdbdb;
}

//.stats__nav
.stats__nav {
  padding: (40/2)+px perCalc(20, 750);

  //.stats__nav__list
  &__list {
    letter-spacing: ls(inline-block);
  }

  [class^="stats__nav__item"] {
    display: inline-block;
    width: 25%;
    border-top: (4/2)+px solid #cc141d;
    border-bottom: (4/2)+px solid #cc141d;
    letter-spacing: normal;
    box-sizing: border-box;
  }

  a {
    @include link-decoration(#cc141d, #cc141d, none, none);
    display: block;
    line-height: 1;
    padding-top: (24/2)+px;
    padding-bottom: (24/2)+px;
    border-right: 1px solid #efefef;
    background-color: #fff;
    font-weight: bold;
    text-align: center;
  }

  .current {
    a {
      border-right-color: #cc141d;
      background-color: #cc141d;
      color: #fff;
    }
  }
}

// .stats__nav--tennis
.stats__nav--tennis {
  .stats__nav__item_1 {
    border-left: (4/2)+px solid #cc141d;
    border-radius: 4px 0 0 4px;
  }

  .stats__nav__item_4 {
    border-right: (4/2)+px solid #cc141d;
    border-radius: 0 4px 4px 0;

    a {
      border-right: none;
    }
  }

  .stats__nav__item_5 {
    width: 100% !important;
    margin-top: (20/2)+px;
    border-right: (4/2)+px solid #cc141d;
    border-left: (4/2)+px solid #cc141d;
    border-radius: 4px;
  }
}





#sj_contents_div {
  font-family: 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', Arial, verdana, sans-serif
}

#sj_contents_div,
#sj_contents_div.SJ_color-blue,
#sj_contents_div .SJ_color-sky {
  padding-right: perCalc(20, 750);
  padding-left: perCalc(20, 750);

  img {
    width: auto;
  }

  a {
    @include link-decoration($link-color, $link-color, none, none);
  }

  // ボーダーカラー
  .SJ_h2-pole,
  .SJ_h3-pole,
  .SJ_h4-pole,
  .SJ_h5-pole,
  .SJ_h3-upper,
  .SJ_h4-upper,
  .SJ_h3-under,
  .SJ_h4-under,
  ul.SJ_tabs,
  ul.SJ_tabs a,
  dl.SJ_tabs-year {
    border-color: $highlight-color;
  }

  // ウィジェットのページトップを非表示
  .SJ_to-top {
    display: none;
  }

  //ウィジェットのコピーライト
  footer {
    padding-bottom: 10px;
    font-size: 10px;
  }

  // heading title
  [class^="SJ_h2"],
  [class^="SJ_h3"], {
    color: $highlight-color;
    font-weight: bold;
  }

  .SJ_h2 {
    font-size: (32/2)+px;
  }

  .SJ_h2-pole {
    margin: 0 0 20px;
    padding: 5px 0;
    border-width: 0 0 3px 0;
  }

  .SJ_h2-solid {
    margin: 0 0 20px;
    padding: 5px 0;
    background-color: transparent;
  }

  .SJ_h2-pole.SJ_h2-solid {
    padding: 5px 0 !important;
  }

  //.SJ_h3-plain
  .SJ_h3-plain {
    margin-right: 0;
    margin-left: 0;
    vertical-align: middle;

    // ex. https://sportsbull.jp/stats/golf/ テーブル上のタイトル右側のテキスト
    span {
      color: #333;
      font-weight: normal;
    }
  }

  //.SJ_update
  h2 + .SJ_update,
  .SJ_switch-ttl + .SJ_update {
    font-size: 10px;
  }

  //.SJ_h3-under
  .SJ_h3-under {
    h3 {
      color: $highlight-color;
      font-weight: bold;
      font-size: (28/2)+px;
    }
  }

  //.SJ_h4-upper
  .SJ_h4-upper {
    padding: 10px 0;

    a {
      font-weight: bold;
    }
  }

  // 矢印付きリンク
  // ex. https://sportsbull.jp/stats/tennis/ タイトル横 / テーブル右上の赤いリンク
  .SJ_h3-plain .SJ_float-r,
  .SJ_h4-plain .SJ_float-r,
  .SJ_h3-under .SJ_float-r,
  .SJ_h4-under .SJ_float-r {
    a {
      @include link-decoration(#cc141d, #cc141d, none, none);
      position: relative;
      left: -(20/2)+px;
      display: inline-block;
      margin-right: -(16/2)+px;
      padding-left: (16/2)+px;
      overflow: hidden;
      background-color: #fff;
      text-indent: -(16/2)+px;
      font-size: (24/2)+px;
      font-weight: bold;
      vertical-align: middle;

      &:after {
        content: "";
        position: absolute;
        top: 5px;
        right: 0;
        display: block;
        width: (20/2)+px;
        height: (20/2)+px;
        background: url(/assets/images/stats/icon-link_arrow.png) 0 0 no-repeat;
        background-size: (20/2)+px;
      }
    }
  }


  // table
  table {
    margin-bottom: 30px;
  }

  ul.SJ_tabs + table,
  ul.SJ_tabs + .SJ_schedule-match ul {
    margin-top: 5px;
  }

  table.SJ_table-solid.SJ_table-color thead th:first-child {
    border-color: transparent;
    border-right-color: #fff;
  }

  table.SJ_table-solid.SJ_table-color thead th {
    background-color: $bg-color_blue;
    border-color: transparent #fff;
  }

  table.SJ_table-solid thead th,
  table.SJ_table-solid tbody th {
    padding: 10px 1%;
    font-size: (24/2)+px;
    font-weight: bold;

    a {
      @include link-decoration(#fff, #fff, underline, none);
    }
  }

  table.SJ_table-solid tbody td {
    padding: 8px 1%;
    font-size: (24/2)+px;
  }

  table.SJ_table-solid tbody th:first-child,
  table.SJ_table-solid tbody td:first-child {
    border-left: none;
  }

  table.SJ_table-solid tbody td:last-child {
    border-right: none;
  }

  table.SJ_table-stripe tbody tr:nth-child(odd) td {
    background-color: $bg-color_gray;
  }



  // table caption
  table.SJ_table-solid caption {
    padding: 0 0 5px;
  }

  table.SJ_table-solid caption .SJ_float-l {
    color: $highlight-color;
    font-size: (28/2)+px;
    font-weight: bold;
  }

  table.SJ_table-solid caption .SJ_float-r {
    a {
      @include link-decoration(#cc141d, #cc141d, none, none);
      position: relative;
      left: -(20/2)+px;
      display: inline-block;
      margin-right: -(16/2)+px;
      padding-left: (16/2)+px;
      overflow: hidden;
      background-color: #fff;
      text-indent: -(16/2)+px;
      font-size: (24/2)+px;
      font-weight: bold;
      vertical-align: middle;

      &:after {
        content: "";
        position: absolute;
        top: 5px;
        right: 0;
        display: block;
        width: (20/2)+px;
        height: (20/2)+px;
        background: url(/assets/images/stats/icon-link_arrow.png) 0 0 no-repeat;
        background-size: (20/2)+px;
      }
    }
  } // table caption



  // tab
  ul.SJ_tabs {}

  ul.SJ_tabs + ul.SJ_tabs {
    margin-top: 5px !important;
  }

  ul.SJ_tabs-focus {}

  ul.SJ_tabs.SJ_tabs-under,
  ul.SJ_tabs.SJ_tabs-focus {
    border-width: 0 0 2px;
  }

  ul.SJ_tabs-medium {}

  ul.SJ_ul-ratio-2 {}

  ul.SJ_tabs > li {
    margin: 0;
    padding: 0;
    font-size: (20/2)+px;
    float: left;
    zoom: 1;
    border-right: none;
    border-top: none;
    box-sizing: border-box;
  }

  ul.SJ_tabs > li a,
  ul.SJ_tabs > li span {
    margin: 0;
    padding: 12px 0;
    border-left: 1px solid #f5f5f5;
    background-color: $bg-color_gray;
    color: $highlight-color;
    position: relative;
    display: block;
    line-height: 1.2;
    box-sizing: border-box;
    text-align: center;
  }

  ul.SJ_tabs > li.SJ_disuse span {
    color: #aaa;
  }

  ul.SJ_tabs > li a:hover {
    text-decoration: none;
    cursor: pointer;
    background-color: #ccc;
    color: #fff;
  }

  ul.SJ_tabs > li:first-child a,
  ul.SJ_tabs > li:first-child span,
  ul.SJ_tabs > li.SJ_current a,
  ul.SJ_tabs > li.SJ_current span,
  ul.SJ_tabs > li.SJ_current + li a,
  ul.SJ_tabs > li.SJ_current + li span {
    border-left: none;
  }

  ul.SJ_tabs.SJ_tabs-focus.SJ_tabs-medium > li {
    font-weight: bold;
    font-size: (28/2)+px;
  }

  ul.SJ_tabs.SJ_tabs-focus > li a,
  ul.SJ_tabs.SJ_tabs-focus > li span {
    padding: 12px 2px;
    top: 0;
    box-sizing: border-box;
    position: relative;
  }

  ul.SJ_tabs.SJ_tabs-focus > li a:hover {
    text-decoration: none;
    cursor: pointer;
    background-color: #c1c1c1;
    color: #fff;
  }

  ul.SJ_tabs li.SJ_current > a,
  ul.SJ_tabs li.SJ_current > a:hover,
  dl.SJ_tabs-year dd ul > li.SJ_current a,
  dl.SJ_tabs-year dd ul > li.SJ_current a:hover,
  ul.SJ_tabs.SJ_tabs-focus > li.SJ_current a {
    background-color: $highlight-color;
    color: #fff;
  }

  ul.SJ_tabs.SJ_tabs-focus > li.SJ_current a {
    padding: 12px 2px;
    top: 0;
    border-width: 0;
    border-style: none;
    border-color: transparent;
    background-color: $highlight-color;
    color: #fff;
  }

  ul.SJ_tabs.SJ_tabs-focus > li.SJ_current a {
    border-color: transparent;
  }

  ul.SJ_tabs.SJ_tabs-focus.SJ_tabs-medium > li a,
  ul.SJ_tabs.SJ_tabs-focus.SJ_tabs-medium > li span,
    ul.SJ_tabs.SJ_tabs-focus.SJ_tabs-medium > li.SJ_current a {
    padding: 12px 2px !important;
  }
} //#sj_contents_div.SJ_color-blue
