// Project setting
//
// 基本設定(_default-setting.scss), 上書きを行います
//
// Styleguide 1.0.2

//// Support
//$graceful-usage-threshold: 100;
//$critical-usage-threshold: 100;
//
//$support-ie8: false;
//$support-ie7: $support-ie8;
//
//// Path
//$project-path: '/' !default;
//$project-path-img: "#{$project-path}/common/img" !default;
//
//// Font
//$font-color: #333 !default;
//$font-family: 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', Arial, verdana, sans-serif !default;
$font-size: 14px;
// $line-height: 1.5 !default;
$default-em: 14px;
//
//// Various global styles
//$float: left !default;
$box-sizing: border-box;
$font-smoothing: on; // on or off
//$bg-color: #fff !default;
////$bg-color: transparent !default;

$highlight-color: #e1438b;
$border-primary-color: #ddd;
$bg-primary-color: #f5f5f5;

//
//// Media Queries
//$screen-small: 768px !default;
//$screen-medium: 1280px !default;
//$screen-large: 1440px !default;
//
//// max-width
//$media-screen: "only screen";
//$media-small: "only screen and (max-width: #{$screen-small})"; // less than 768
//$media-medium: "only screen and (max-width: #{$screen-medium})"; // 768 - 1280
//$media-large: "only screen and (max-width: #{$screen-large})"; // 1280-1440
//$media-landscape: "only screen and (orientation: landscape)";
//$media-portrait: "only screen and (orientation: portrait)";
