/*

# Google系スタイル

*/


/*

## Google Optimzie

*/
.async-hide { opacity: 0 !important; }


/*

## Google DFP

*/

/* /531683568/mobile/mobile_index_bottom */
#div-gpt-ad-1514446255569-0 {
  box-sizing  : content-box;
  background  : #eee;
  padding-top : 25px;
  width       : 100%;
  height      : 250px;
  text-align  : center;
}
