/*

# Google系スタイル

*/


/*

## Google Optimzie

*/
.async-hide { opacity: 0 !important; }


/*

## Google DFP

*/

/* /531683568/mobile/mobile_index_bottom */
#div-gpt-ad-1514446255569-0 {
  box-sizing  : content-box;
  background  : #eee;
  padding-top : 25px;
  width       : 100%;
  height      : 250px;
  text-align  : center;
}


/*

adgene

*/

/* 一面 - ヘッドライン */
.adgAd_24203 .adgLink .adgTextContainer .adgPr {
  color: #888;
}

/* 一覧 */
.news-ad .adgAd_17038 .adsWrapper .adsSponsored {
  color: #888;
}
