@import "../../../scss/asset";

// sprite 不要の時はコメントに
/*
  sprite
* *********************************** */
@import "sprite";

// Layout
//
// コンテンツレイアウト
//
// Styleguide 3.0.0

//  1. head section
//  2. gnav section
//  3. foot section
//  4. main contents
//  5. side contents


// head
//
// Styleguide 3.1.0

// 1. head section
// ----------------------------------------------------------------------------------------------------------------------------------------

.head-sec {
  @extend %head-sec;
}





// gnav
//
// Styleguide 3.2.0

// 2. gnav section
// ----------------------------------------------------------------------------------------------------------------------------------------

.gnav-sec {
  @extend %gnav-sec;
}





// foot
//
// Styleguide 3.3.0

// 3. foot section
// ----------------------------------------------------------------------------------------------------------------------------------------

.foot-sec {
  @extend %foot-sec;
}




// main
//
// Styleguide 3.4.0

// 4. main contents
// ----------------------------------------------------------------------------------------------------------------------------------------

.body-sec {
  position: relative;
  // background-color: #fff;
  background-color: #f5f5f5;

  // &:before {
  //   content: '';
  //   position: absolute;
  //   top: 0;
  //   left: 50%;
  //   width: 50%;
  //   height: 100%;
  //   background-color: $bg-primary-color;
  // }

  &-inner {
    @include clearfix;
    position: relative;
    width: $global-inner-width;
    margin: 0 auto;
    background: #fff url(/assets/images/common/bg-bodysec.png) repeat-y center 0;
  }

  .main-sec {
    float: left;
    // width: 710px;
    width: 728px;
    // padding-top: 30px;
  }

  .side-sec {
    float: right;
    width: 330px;
    padding-top: 30px;
    padding-left: 30px;
    // background-color: #f5f5f5;
  }
}

.home .body-sec,
.layout-list .body-sec {
  // background-color: #f5f5f5;

  &-inner {
    background: none;
  }
}

.layout-detail .body-sec {
  // background-color: #f5f5f5;

  &-inner {
    background: none;
  }

  .main-sec {
    width: 788px;
    margin-left: -30px;
  }

  .side-sec {
    width: 300px;
    padding-left: 0;
  }
}




// side
//
// Styleguide 3.5.0

// 5. side contents
// ----------------------------------------------------------------------------------------------------------------------------------------


.side-sec {
  @extend %side-sec;
}

