@import "../../../scss/asset";

// ---------------------------------------------------------
// FORM style
// ---------------------------------------------------------
input,
textarea,
select,
button {
  outline: none;
}

// -------------------------------------------------
// head section
// -------------------------------------------------
#user-profile-container {
  float: left;
}

#user-profile-container {
  .user {
    // notice
    .notice-container {
      float: left;
    }


    // setting
    .preference-menu {
      display: none;
    }
    .dropMenu {
      opacity: 0;

      transition-property: opacity;
      transition-duration: 0.3s;
      transition-timing-function: linear;
    }

    // 非表示
    .close {
      .preference-menu {
        overflow: hidden;
        height: 0;
        width: 0;

        transition-property: width, height;
        transition-duration: 0.001s;
        transition-delay: 0.05s;
      }
      .dropMenu {
        opacity: 0;
        transition-duration: 0.05s;
      }
    }

    // 表示
    .open {
      .preference-menu {
        display: block;
        overflow: visible;
        width: 160px;
        height: 162px;
      }
      .dropMenu {
        opacity: 1;
      }
    }
  }
}