@import "../../../scss/asset";

// sprite 不要の時はコメントに
/*
  sprite
* *********************************** */
@import "sprite";

// Layout
//
// コンテンツレイアウト
//
// Styleguide 3.0.0

//  1. layout Base
//  2. head section
//  3. gnav section
//  4. foot section
//  5. main contents
//  6. side contents


// base
//
// Styleguide 3.1.0

// 1. layout Base
// ----------------------------------------------------------------------------------------------------------------------------------------





// head
//
// Styleguide 3.2.0

// 2. head section
// ----------------------------------------------------------------------------------------------------------------------------------------

.head-sec {
  @at-root {
    &-inner {
      @include clearfix;
      width: 1070px;
      margin: 0 auto;

      h1 {
        float: left;
        margin: 10px 0;

        a {
          @extend .sprite-header;
          @include sprite( $header-logo );
          @include hide-text;
        }
      }
    }
  }

  .head-search {
    @include clearfix;
    float: left;
    width: 300px;
    margin-top: 14px;
    padding: 0 14px;
    background-color: #eee;
    border-radius: 17px;

    input {
      border: none;
      background: transparent;
    }

    input[type="text"] {
      float: left;
      width: 250px;
      padding: 8px 0;
      vertical-align: middle;
    }

    input[type="submit"] {
      float: right;
      @extend .sprite-header;
      @include sprite( $header-icon-search, inline-block );
      @include hide-text;
      margin-top: 8px;
    }
  }

  .user {
    position: relative;
    float: left;
    margin-left: 15px;

    @at-root {
      &-preference {
        display: none;
      }

      &-signup {
        @include link-decoration($highlight-color, $highlight-color, none, none);
        display: table-cell;
        height: 60px;
        font-weight: bold;
        vertical-align: middle;
      }

      &.signin {
        margin-top: 14px;

        .user-signup {
          display: none;
        }

        .user-preference {
          position: relative;
          display: block;
          width: 35px;
          height: 35px;
          background: url(/assets/images/common/header-icon-user.png) 0 0 no-repeat;
        }

        .user-notice {
          position: absolute;
          top: -5px;
          right: -5px;
          display: block;
          width: 20px;
          height: 20px;
          padding-top: 4px;
          line-height: 1;
          background-color: #e14343;
          border-radius: 100%;
          color: #fff;
          font-weight: bold;
          font-size: fz(10);
          text-align: center;
        }

        .user-avatar {
          display: block;

          img {
            width: 35px;
            height: 35px;
            border-radius: 100%;
          }
        }

        .user-menu {
          display: block;
        }
      }

      &-menu {
        z-index: 9999;
        display: none;
        position: absolute;
        top: 57px;
        left: -125px;
        width: 160px;
        background-color: #fff;
        border-radius: 3px;

        &:before {
          content: '';
          position: absolute;
          top: -5px;
          left: 138px;
          width: 9px;
          height: 5px;
          background: url(/assets/images/common/icon-user-menu.png) 0 0 no-repeat;
        }

        .dropmenu {
          @at-root {
            &-item {
              border-bottom: 1px solid $border-primary-color;

              &:last-child {
                border-bottom: none;
              }
            }

            &-link {
              @include link-decoration(#333, #333, none, underline);
              display: block;
              padding: 14px 20px;
              font-size: fz(13);
            }
          }
        }
      }
    }
  }

}





// gnav
//
// Styleguide 3.3.0

// 3. gnav section
// ----------------------------------------------------------------------------------------------------------------------------------------

.gnav-sec {
  .row1 {
    background-color: #111;
  }

  .row2 {
    background-color: #222;
  }

  ul {
    display: table;
    width: 1070px;
    margin: 0 auto;
  }

  li {
    display: table-cell;
    padding: 0 11px 0 0;
    background: url(/assets/images/common/gnav-separator.png) right center no-repeat;
    text-align: center;
    vertical-align: middle;

    &:last-child {
      padding-right: 0;
      background: none;
    }
  }

  a {
    display: block;
    padding: 10px 0 12px 0;
    @include link-decoration(#ccc, $highlight-color, none, none);
    font-weight: bold;

    &.current,
    &:hover {
      padding-bottom: 10px;
      border-bottom: 2px solid $highlight-color;
      color: $highlight-color;
    }
  }
}





// foot
//
// Styleguide 3.4.0

// 4. foot section
// ----------------------------------------------------------------------------------------------------------------------------------------

.foot {
  @at-root {
    &-sec {
      padding-top: 20px;
      background-color: #f5f5f5;

      &-inner {
        background-color: #000;
      }
    }

    &-pr {
      background-color: #333;

      &-inner {
        @include clearfix;
        width: 1070px;
        margin: 0 auto;
      }

      figure {
        float: left;
        margin: 20px 0 0 95px;

        figcaption {
          float: left;
          margin: 40px 37px 0 0;
        }
      }

      .text-block {
        float: right;
        width: 585px;
        margin-top: 40px;

        h3, p {
          color: #fff;
        }

        h3 {
          font-weight: bold;
          font-size: fz(16);
        }

        p {
          margin-top: .25em;
          font-size: fz(12);
        }

        ul {
          @include clearfix;
          margin-top: 20px;

          li {
            float: left;

            + li {
              margin-left: 10px;
            }
          }

          a:hover {
            @include hover-opacity;
          }
        }
      }
    } // foot-pr

    &-sec {
      .pagetop {
        border-bottom: 1px solid #333;

        a {
          display: block;
          padding: 18px 0;

          &:hover {
            @include hover-opacity;
          }
        }

        span {
          @extend .sprite-footer;
          @include sprite( $footer-pagetop );
          @include hide-text;
          margin: 0 auto;
        }
      } // pagetop

      .fnav {
        width: 1070px;
        margin: 30px auto 0;

        ul {
          text-align: center;
          letter-spacing: ls(inline-block);

          li {
            display: inline-block;
            letter-spacing: normal;

            + li {
              margin-left: 20px;
            }
          }

          a {
            @include link-decoration(#666, #666, none, underline);
            font-size: fz(12);
          }
        }
      } // fnav

      .sns-block {
        margin-top: 20px;

        ul {
          text-align: center;
          letter-spacing: ls(inline-block);

          li {
            display: inline-block;
            vertical-align: middle;
            letter-spacing: normal;

            + li {
              margin-left: 10px;
            }
          }

          a {
            @extend .sprite-footer;
            @include hide-text;

            &:hover {
              @include hover-opacity;
            }
          }

          .sns-tw a {
            @include sprite( $footer-icon-sns-tw );
          }

          .sns-fb a {
            @include sprite( $footer-icon-sns-fb );
          }

          .sns-yt a {
            @include sprite( $footer-icon-sns-yt );
          }

        }
      } //.sns-block

      .copyright {
        padding: 24px 0 28px;
        color: #666;
        font-size: fz(10);
        text-align: center;
      } //.copyright
    }


  }
}



// main
//
// Styleguide 3.5.0

// 5. main contents
// ----------------------------------------------------------------------------------------------------------------------------------------

.body-sec {
  position: relative;
  background-color: #fff;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    background-color: #f5f5f5;
  }

  @at-root {
    &-inner {
      @include clearfix;
      position: relative;
      width: 1070px;
      margin: 0 auto;
      background: #fff url(/assets/images/common/bg-bodysec.png) repeat-y center 0;
    }
  }

  .main-sec {
    float: left;
    width: 710px;
    // padding-top: 30px;
  }

  .side-sec {
    float: right;
    width: 330px;
    padding-top: 30px;
    padding-left: 30px;
    background-color: #f5f5f5;
  }
}




// side
//
// Styleguide 3.6.0

// 6. side contents
// ----------------------------------------------------------------------------------------------------------------------------------------

.side-sec {
  .sponsor-link {
    &.nadir {
      margin-top: 30px;
    }
  }

  .app-bnr {
    margin-top: 30px;
  }

  @at-root {
    .widget-ranking,
    .widget-recommend {
      margin-top: 30px;

      &-heading {
        padding-bottom: 10px;
        border-bottom: 1px solid $border-primary-color;

        &-title, &-ruby {
          display: inline-block;
          line-height: 1;
        }

        &-title img {
          vertical-align: middle;
        }

        &-ruby {
          margin-left: 8px;
          color: $highlight-color;
          font-weight: bold;
          font-size: fz(10);
        }
      } // .widget-ranking-heading

      .post {
        @include link-decoration(#333, #333, none, none);
        @include clearfix;
        display: block;
        padding: 10px 0;
        border-bottom: 1px solid $border-primary-color;

        &-thumb {
          float: left;
          margin-right: 10px;
          background-repeat: no-repeat;
          background-position: center center;
          background-color: #ccc;
        }

        &-data {
          overflow: hidden;
        }

        &-category {
          color: $highlight-color;
          font-weight: bold;
          font-size: fz(12);
        }

        &-heading {
          line-height: lh(18, 14);
          font-weight: bold;
        }

        &-date {
          margin-top: .25em;
          color: #666;
          font-size: fz(10);
        }

        &:hover {
          .post-heading {
            color: $highlight-color;
          }
        }
      } //.post
    } //.widget-ranking, .widget-recommend

    .widget-ranking {
      .post {
        &-thumb {
          width: 70px;
          height: 70px;
          background-image: url(/assets/images/common/thumb-noimage-70x70.png);
        }

        &-data {
          float: right;
          width: 220px;
          overflow: visible;
        }

        &-category {
          position: relative;
          line-height: 1;
          margin-bottom: .25em;

          &:before {
            content: '';
            z-index: 999;
            position: absolute;
            top: -4px;
            left: -25px;
            width: 23px;
            height: 20px;
            line-height: 0;
            background-repeat: no-repeat;
            background-position: 0 0;
          }
        }
      }

      @for $i from 1 through 5 {
        .rank#{$i} {
          .post-category:before {
            background-image: url(/assets/images/common/side-ranking-icon-num#{$i}.png);
          }
        }
      }
    } //.widget-ranking

    .widget-recommend {
      .post {
        &-thumb {
          position: relative;
          width: 125px;
          height: 70px;
          background-image: url(/assets/images/common/thumb-noimage-340x150.png);
          background-size: 125px;

          img {
            width: 100%;
          }

          &-overlay-movie {
            position: absolute;
          }
        }
      }
    } //.widget-recommend
  }
}

// ---------------------------------------------------------
// override
@import "./layout_override";