$common-btn-viewmore: -0px -0px 82px 11px;
$common-icon-thumbs-down: -0px -11px 17px 17px;
$common-icon-thumbs-down_o: -17px -11px 17px 17px;
$common-icon-thumbs-up: -34px -11px 17px 17px;
$common-icon-thumbs-up_o: -51px -11px 17px 17px;
$footer-icon-sns-fb: -0px -25px 30px 30px;
$footer-icon-sns-tw: -30px -25px 30px 30px;
$footer-icon-sns-yt: -0px -0px 60px 25px;
$footer-pagetop: -60px -0px 79px 14px;
$header-icon-search: -0px -40px 18px 18px;
$header-logo: -0px -0px 105px 40px;
@mixin sprite-width($sprite) {
  width: nth($sprite, 3);
}
@mixin sprite-height($sprite) {
  height: nth($sprite, 4);
}
@function sprite-width($sprite) {
  @return nth($sprite, 3);
}
@function sprite-height($sprite) {
  @return nth($sprite, 4);
}
@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 1);
  $sprite-offset-y: nth($sprite, 2);
  background-position: $sprite-offset-x $sprite-offset-y;
}
@mixin sprite($sprite, $display: block) {
  @include sprite-position($sprite);
  background-repeat: no-repeat;
  overflow: hidden;
  display: $display;
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}
.sprite-common {
  background-image: url(/assets/images/sprite/sprite-common.png);
}
.sprite-footer {
  background-image: url(/assets/images/sprite/sprite-footer.png);
}
.sprite-header {
  background-image: url(/assets/images/sprite/sprite-header.png);
}