@charset "UTF-8";
/** SASS変数定義 */
/** 配列操作 map-get($map, $key)     : 指定したキーの値を取得する関数 map-merge($map1, $map2) : 2つのマップをマージする関数 map-keys($map)          : 1つのマップ内のすべてのキーをカンマ区切りのリストで返す関数 map-values($map)        : 1つのマップ内のすべての値をカンマ区切りのリストで返す関数 map-has-key($map, $key) : 1つのマップ内に特定のキーがあるかどうか調べる関数 */
/** グローバル変数定義 参照 mg(namespace namespace) */
/** SASS関数定義 */
/** Mathクラス定義 引数) 数値,桁数=0 */
/* Round (四捨五入) */
/* Ceil (切り上げ) */
/* Floor (切り捨て) */
/** MIXIN定義 */
/** マップスタイル生成 @param  {[type]} $hash     [ハッシュマップ] @param  {[type]} $class    [クラス名] @param  {[type]} $property [プロパティ] @return {[type]}           [スタイル] */
/** 数値から単位を削除 @param  {[type]} $value [description] @return {[type]}        [description] */
/** rem support @param  {[type]} $size [description] @return {[type]}       [description] */
/** プリフィックス付与 @param  {[type]} $options:() [ content: 表示内容 indent: インデント offset: 表示内容の余白 ] @return {[type]}             [description] */
/** ボタンジェネレータ */
/* ------------------------------------------------------------------------

vars

------------------------------------------------------------------------ */
/** デザインパーツセット */
/* margin padding */
@for $i from 0 through 60 {
  .mt#{$i} { margin-top: 0px + $i !important; }
  .mt-#{$i} { margin-top: 0px - $i !important; }
  .mb#{$i} { margin-bottom: 0px + $i !important; }
  .mb-#{$i} { margin-bottom: 0px - $i !important; }
	.pt#{$i} { padding-top: 0px + $i !important; }
  .pb#{$i} { padding-bottom: 0px + $i !important; }
  .pl#{$i} { padding-left: 0px + $i !important; }
}
/* PC */
@media screen and (max-width: 1024px) {
  @for $i from 0 through 60 {
    .mt_pc_#{$i} { margin-top: 0px + $i !important; }
    .mt_pc_-#{$i} { margin-top: 0px - $i !important; }
    .pt_pc_#{$i} { padding-top: 0px + $i !important; }
    .mb_pc_#{$i} { margin-bottom: 0px + $i !important; }
    .mb_pc_-#{$i} { margin-bottom: 0px - $i !important; }
    .pb_pc_#{$i} { padding-bottom: 0px + $i !important; }
  }
}
/* TABLET */
@media screen and (max-width: 968px) {
  @for $i from 0 through 60 {
    .mt_tablet_#{$i}  { margin-top: 0px + $i !important; }
    .mt_tablet_-#{$i}  { margin-top: 0px - $i !important; }
    .pt_tablet_#{$i}  { padding-top: 0px + $i !important; }
    .mb_tablet_#{$i}  { margin-bottom: 0px + $i !important; }
    .mb_tablet_-#{$i}  { margin-bottom: 0px - $i !important; }
    .pb_tablet_#{$i}  { padding-bottom: 0px + $i !important; }
  }
}
/* SP */
@media screen and (max-width: 620px) {
  @for $i from 0 through 60 {
    .mt_sp_#{$i} { margin-top: 0px + $i !important; }
    .mt_sp_-#{$i} { margin-top: 0px - $i !important; }
    .pt_sp_#{$i} { padding-top: 0px + $i !important; }
    .mb_sp_#{$i} { margin-bottom: 0px + $i !important; }
    .mb_sp_-#{$i} { margin-bottom: 0px - $i !important; }
    .pb_sp_#{$i} { padding-bottom: 0px + $i !important; }
  }
 }

/* blink */
/* font-size */
@for $i from 0 through 90 {
  .rem#{10 + $i} { font-size: 10px + $i; font-size: 1rem + ($i / 10); }
}
/* PC */
@media screen and (max-width: 1024px) {
  @for $i from 0 through 90 {
    .rempc#{10 + $i} { font-size: 10px + $i; font-size: 1rem + ($i / 10); }
  }
}
/* TABLET */
@media screen and (max-width: 968px) {
  @for $i from 0 through 90 {
    .remtablet#{10 + $i} { font-size: 10px + $i; font-size: 1rem + ($i / 10); }
  }
}
/* SP */
@media screen and (max-width: 620px) {
  @for $i from 0 through 90 {
    .remsp#{10 + $i} { font-size: 10px + $i; font-size: 1rem + ($i / 10); }
  }
}

.centering { width: 1024px; margin-left: auto; margin-right: auto; }

.clearfix:after { content: ""; display: block; clear: both; }

.left, .right { display: inline; }

.left { float: left; }

.right { float: right; }

.inline_block { display: inline-block; *display: inline; *zoom: 1; }

.align_left { text-align: left !important; }

.align_right { text-align: right !important; }

.align_center { text-align: center !important; }

.bold { font-weight: bold; }

.image_replace { text-align: left; text-indent: -300%; overflow: hidden; white-space: nowrap; }

.valign_middle { vertical-align: middle; position: relative; top: -.2em; }

.list_square { text-indent: -1em; margin-left: 1em; }

.list_square:before { content: "■"; margin-right: 0.4em; }

.notes { text-indent: -1.4em; margin-left: 1.4em; }

.notes:before { content: "※"; margin-right: 0.4em; }

.nowrap { white-space: nowrap; }

.lh_s { line-height: 1.3; }

.lh_m { line-height: 1.7; }

.lh_l { line-height: 2.3; }

.resp_iframe { position: relative; width: 100%; padding-top: 56.25%; }

.resp_iframe.aspect4-3 { padding-top: 75%; }

.resp_iframe iframe { position: absolute; top: 0; left: 0; width: 100% !important; height: 100% !important; }

@for $i from 1 through 10 {
  @for $j from 0 through 3 {
    .has_icon.size#{$i}.gutt#{$j + 1} {
      text-indent: -.5em - (.5 * $i) - (.5 * $j);
      padding-left: .5em + (.5 * $i) + (.5 * $j);
    }
  }
}

.undotsushin-ios .list_page .main-sec .back_btn, .undotsushin-android .list_page .main-sec .back_btn { margin-bottom: 70px; }

/* -----------------------------------------
crazy
----------------------------------------- */
/* common -------------- */
.special-summary { background-color: #fff; }

.special-summary img { max-width: inherit; }

.special-summary .pc_hide { display: none; }

.body-sec-inner { background: transparent; }

.main-sec { margin-top: 30px; margin-bottom: 40px; }

.main-sec img { vertical-align: bottom; max-width: 100%; max-height: 100%; width: auto; height: auto; }

.main-sec a:hover { text-decoration: none; }

.main-sec .pc_hide { display: none; }

div:empty {
  display: none;
}

@media screen and (max-width: 768px) { .special-summary .sp_hide, .main-sec .sp_hide { display: none; }
    .special-summary .pc_hide, .main-sec .pc_hide { display: inline-block; }
    .main-sec { margin-top: 0; margin-bottom: 0; }
    .main-sec .sponsor-link { padding: 10px; } }

.ttl-wrapper { background-color: #fff; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; width: 100%; height: 60px; color: #000; font-weight: bold; border-top: 4px solid #0e357f; padding: 0 20px; }

.ttl-wrapper > * { font-weight: bold; padding-top: 3px; }

.ttl-wrapper .ttl { font-size: 22px; font-size: "2.2rem"; }

.ttl-wrapper .ttl i { margin-right: 10px; position: relative; top: 2px; display: inline-block; }

.ttl-wrapper .ttl.pickup i { width: 20px; height: 20px; background: url(../img/icon_pickup.png) no-repeat top left/contain; }

.ttl-wrapper .ttl.recommend i { width: 20px; height: 20px; background: url(../img/icon_recommend.png) no-repeat top left/contain; }

.ttl-wrapper .ttl.popular i { width: 15px; height: 15px; background: url(../img/icon_spbl.png) no-repeat top left/contain; }

.ttl-wrapper .more { font-size: 14px; font-size: "1.4rem"; }

.ttl-wrapper .more a { display: block; padding-right: 12px; position: relative; }

.ttl-wrapper .more a:after { display: inline-block; content: ""; background: url(../img/icon_arrow.png) no-repeat top right; width: 7px; height: 12px; position: absolute; top: 4px; right: 0; -webkit-transition: .3s ease; -o-transition: .3s ease; transition: .3s ease; }

.ttl-wrapper .more a:hover { color: #000; }

.ttl-wrapper .more a:hover:after { right: -3px; }

@media screen and (max-width: 768px) { .ttl-wrapper { background-color: #0e357f; border-top: none; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; height: 30px; color: #fff; }
    .ttl-wrapper > * { padding-top: 0; }
    .ttl-wrapper .ttl { font-size: 12px; font-size: "1.2rem"; }
    .ttl-wrapper .ttl.pickup i, .ttl-wrapper .ttl.recommend i { width: 15px; height: 15px; }
    .ttl-wrapper .ttl.pickup i { background: url(../img/sp_icon_pickup.png) no-repeat top left/contain; }
    .ttl-wrapper .ttl.recommend i { background: url(../img/sp_icon_recommend.png) no-repeat top left/contain; } }

@media screen and (max-width: 768px) { .section_crazy_popular .ttl-wrapper { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; } }

/* pickup -------------- */
.section_crazy_pickup { margin-top: 30px; }

.section_crazy_pickup .ttl-wrapper { margin-bottom: 30px; }

.section_crazy_pickup .more_btn { margin: 20px 10px 15px; }

.section_crazy_pickup .more_btn a { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; background-color: #cc141d; height: 44px; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; font-weight: bold; font-size: 14px; font-size: "1.4rem"; border-radius: 4px; color: #fff; }

.section_crazy_pickup .more_btn i { margin-right: 5px; position: relative; top: 0; display: inline-block; width: 12px; height: 12px; background: url(../img/icon_list.png) no-repeat top left/contain; }

@media screen and (max-width: 768px) { .section_crazy_pickup { margin-top: 0; }
    .section_crazy_pickup .ttl-wrapper { margin-bottom: 20px; }
    .section_crazy_pickup .more_btn { display: block; } }

.pickup_player_list { margin-bottom: 5px; }

.pickup_player_list .thumb_area { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: start; -webkit-justify-content: flex-start; -ms-flex-pack: start; justify-content: flex-start; padding: 0 14px; margin-left: -20px; }

.pickup_player_list .thumb_area li { width: 160px; margin-left: 20px; }

.pickup_player_list .thumb_area li a { display: block; }

.pickup_player_list .thumb_area li a:hover .img img { opacity: 0.75; filter: alpha(opacity=75); -webkit-transform: scale(1.03); -ms-transform: scale(1.03); transform: scale(1.03); }

.pickup_player_list .thumb_area li a:hover .txt_area { -webkit-transition: .4s ease; -o-transition: .4s ease; transition: .4s ease; }

.pickup_player_list .thumb_area li a:hover .txt_area .name { color: #0e357f; }

.pickup_player_list .thumb_area li .img { position: relative; overflow: hidden; border-radius: 50%; margin-bottom: 10px; height: 160px; width: 160px; border: 2px solid #0e357f; background-color: #fff; }

.pickup_player_list .thumb_area li .img img { -webkit-transition: .4s ease; -o-transition: .4s ease; transition: .4s ease; position: relative; border-radius: 50%; width: 100%; }

.pickup_player_list .thumb_area li .txt_area { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; text-align: center; font-weight: bold; }

.pickup_player_list .thumb_area li .txt_area .name { font-size: 18px; font-size: "1.8rem"; font-weight: bold; color: #000; }

.pickup_player_list .thumb_area li .txt_area p { font-size: 14px; font-size: "1.4rem"; -webkit-transition: .4s ease; -o-transition: .4s ease; transition: .4s ease; color: #666; }

@media screen and (max-width: 768px) { .pickup_player_list .thumb_area { margin-left: -0.3%; }
    .pickup_player_list .thumb_area li { width: 23.5%; margin-left: 1.5%; }
    .pickup_player_list .thumb_area li .img { width: auto; height: auto; } }

@media screen and (max-width: 414px) { .pickup_player_list .thumb_area { margin-left: -2.6%; }
    .pickup_player_list .thumb_area li { width: 30%; margin-left: 3.1%; }
    .pickup_player_list .thumb_area li:nth-child(4n) { display: none; }
    .pickup_player_list .thumb_area li .img { width: auto; height: auto; margin-bottom: 8px; }
    .pickup_player_list .thumb_area li .txt_area .name { font-size: 12px; font-size: "1.2rem"; }
    .pickup_player_list .thumb_area li .txt_area p { font-size: 10px; font-size: "1rem"; } }

/* recommend -------------- */
.section_crazy_recommend { margin-top: 30px; }

.section_crazy_recommend .ttl-wrapper { margin-bottom: 20px; }

@media screen and (max-width: 768px) { .section_crazy_recommend { margin-top: 0; } }

.recommend_list .thumb_area { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: start; -webkit-justify-content: flex-start; -ms-flex-pack: start; justify-content: flex-start; }

.recommend_list .thumb_area li { margin-right: 11px; width: 174px; background-color: #fff; border-bottom: 5px solid #e7e7e7; }

.recommend_list .thumb_area li:nth-child(2n) { margin-right: 10px; }

.recommend_list .thumb_area li:nth-child(4n) { margin-right: 0; }

.recommend_list .thumb_area li a { display: block; height: 100%; }

.recommend_list .thumb_area li a:hover .img img { opacity: 0.75; filter: alpha(opacity=75); -webkit-transform: scale(1.03); -ms-transform: scale(1.03); transform: scale(1.03); }

.recommend_list .thumb_area li a:hover .post_ttl { color: #0e357f; }

.recommend_list .thumb_area li .img { background-color: #fff; height: 98px; overflow: hidden; position: relative; }

.recommend_list .thumb_area li .img:after { content: ""; position: absolute; top: 0; left: 0; right: 0; bottom: 0; margin: auto; background: url(../img/icon_play.png) no-repeat center/contain; width: 40px; height: 40px; }

.recommend_list .thumb_area li .img img { width: 100%; -webkit-transition: .4s ease; -o-transition: .4s ease; transition: .4s ease; }

.recommend_list .thumb_area li .txt_area { padding: 10px; }

.recommend_list .thumb_area li .category { color: #0e357f; font-weight: bold; margin-bottom: 2px; }

.recommend_list .thumb_area li .post_ttl { font-weight: bold; font-size: 12px; font-size: "1.2rem"; margin-bottom: 5px; color: #000; }

.recommend_list .thumb_area li .date { color: #666; }

.recommend_list .thumb_area li p { font-size: 10px; font-size: "1rem"; line-height: 1.4; }

@media screen and (max-width: 768px) { .recommend_list { overflow-x: auto; overflow-y: hidden; padding: 0 10px; }
    .recommend_list .thumb_area { min-width: 600px; -webkit-flex-wrap: nowrap; -ms-flex-wrap: nowrap; flex-wrap: nowrap; }
    .recommend_list .thumb_area li { background-color: inherit; border-bottom: none; min-width: 140px; padding-right: 10px; margin-right: 0; }
    .recommend_list .thumb_area li:nth-child(2n) { margin-right: 0; padding-right: 10px; }
    .recommend_list .thumb_area li a { height: auto; }
    .recommend_list .thumb_area li .img { border-radius: 3px; height: auto; }
    .recommend_list .thumb_area li .img:after { width: 32px; height: 32px; }
    .recommend_list .thumb_area li .img img { width: auto; }
    .recommend_list .thumb_area li .txt_area { padding: 10px 0; }
    .recommend_list .thumb_area li .post_ttl { font-size: 11px; font-size: "1.1rem"; }
    .recommend_list .thumb_area li p { font-size: 9px; font-size: "0.9rem"; } }

/* lower -------------- */
.list_page .main-sec .back_btn { margin-top: 30px; }

.list_page .main-sec .back_btn a { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; background-color: #cc141d; height: 50px; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; font-weight: bold; font-size: 16px; font-size: "1.6rem"; -webkit-transition: .4s ease; -o-transition: .4s ease; transition: .4s ease; color: #fff; }

.list_page .main-sec .back_btn a:hover { background-color: #f93da3; }

.list_page .main-sec .section_crazy_pickup .ttl-wrapper { height: 50px; }

.list_page .main-sec .section_crazy_pickup .ttl-wrapper .ttl { font-size: 16px; font-size: "1.6rem"; }

.list_page .main-sec .section_crazy_pickup .pickup_player_list .thumb_area { margin-top: -25px; }

.list_page .main-sec .section_crazy_pickup .pickup_player_list .thumb_area li { margin-top: 25px; }

.list_page .main-sec .sponsor-link { margin: 50px 0; }

@media screen and (max-width: 768px) { .list_page .main-sec .back_btn { margin: 10px 10px 15px; }
    .list_page .main-sec .back_btn a { font-size: 14px; font-size: "1.4rem"; border-radius: 4px; height: 44px; }
    .list_page .main-sec .section_crazy_pickup { margin-top: 0; }
    .list_page .main-sec .section_crazy_pickup .pickup_player_list .thumb_area { margin-top: -12px; }
    .list_page .main-sec .section_crazy_pickup .pickup_player_list .thumb_area li { margin-top: 12px; }
    .list_page .main-sec .section_crazy_pickup .pickup_player_list .thumb_area li:nth-child(4n) { display: block; }
    .list_page .main-sec .sponsor-link { margin: 0; } }
