// import library setting + mixin + function
@import "./asset";

// scss-lint:disable ColorVariable

// scss-lint:disable NestingDepth

// draft-nav
.draft-nav {
  margin: percent(40, 750) percent(20, 750);

  ul {
    display: flex;
  }

  li {
    width: 50%;
    height: 80px * 0.5;
    line-height: 80px * 0.5;
    border-radius: 0 4px * 0.5 4px * 0.5 0;
    background-color: #222;
    color: #4c4c4c;
    font-size: 22px * 0.5;
    font-weight: bold;
    text-align: center;

    a {
      border-radius: 0 4px * 0.5 4px * 0.5 0;
    }

    &:first-child {
      border-radius: 4px * 0.5 0 0 4px * 0.5;

      a {
        border-radius: 4px * 0.5 0 0 4px * 0.5;
      }
    }
  }

  a {
    display: block;
    line-height: 80px * 0.5;
    background-color: #947d15;
    @include link-decoration($color-white, $color-white, none, none);
  }
}
