@import "../../../../../scss/asset";

// index
//
// design module index

.head-sec {
  h1 {
    margin: 0;
  }
}

.body-sec {
  background: url(/assets/images/npb/bg.jpg) center 0 no-repeat;
  background-color: #202020 !important;

  &:before {
    background-color: transparent !important;
  }
}

.body-sec-inner {
  padding-bottom: 30px;
  background-color: transparent !important;
}

.main-sec {
  margin-top: 40px;

  .heading {
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: center;
  }

  .spacer {
    margin-top: 20px;
    line-height: 0;
  }
}

.side-sec {
  .app-bnr:first-child {
    margin-top: 10px;
  }
}
