@charset "UTF-8";
/*! build: @@buildTime */
// import mixin / function
@import "../../../../scss/asset";

// normalize / reset / åŸºæœ¬ class, tag è¨­å®š
@import "../../../../bower_exports/modularized/normalize";
@import "../../../../scss/style/reset";
@import "../../../../scss/dependencies/style";

// --------------------------------------------
// ä»¥ä¸‹ã€import ãƒ•ã‚¡ã‚¤ãƒ«ã‚’ç·¨é›†
// --------------------------------------------

// page layout
@import "../module/import";
@import "../layout";



// common override
.red-bull-crashed-ice-2018 {
  .body-sec,
  .body-sec-inner,
  .foot-sec {
    background-color: #fff !important;
  }

  .body-sec {
    background: url(/assets/images/red-bull-crashed-ice-2018/summary-bg.jpg) center 0 no-repeat;
  }

  .body-sec-inner {
    background-image: none;
  }

  .side-sec {
    position: relative;
    background: none;
  }
}

// sponsor-link
.sponsor-link.column2 {
  margin-top: 30px + 24;
}





//.special-summary
.special-summary {
  position: relative;
  margin: 0 -500em;
  padding: 0 500em;

  //.special-summary-inner
  &-inner {
    position: relative;
    width: 1090px;
    height: 180px;
    margin: 0 auto;
  }

  //.special-summary-heading
  &-heading {
    position: absolute;
    top: 10px;
    left: 0;
  }

  //.special-summary-copy1
  &-copy1 {
    position: absolute;
    top: 85px;
    left: 408px;
  }

  //.special-summary-copy2
  &-copy2 {
    position: absolute;
    top: 34px;
    left: 1150px;
  }
}





//.live-streaming
.live-streaming {
  //.live-streaming__container
  &__container {
    width: 1090px;
    margin-right: auto;
    margin-left: auto;
  }

  //.live-streaming--sp
  &--sp {
    // display: none;
  }
}

#liveVideo {
  width: 1090px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;

  .video_alt {
    img {
      width: 100%;
    }
  }
}

//.redbulltv
.redbulltv__wrap {
  width: 1090px;
  margin: 0 auto;
  .redbulltv__container {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    iframe {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
    }
  }
}

//container setting
.crashedice__container {
  margin-right: -556px;
  margin-left: -195px;
  padding-right: 556px;
  padding-left: 195px;
  padding-top: 36px;
  padding-bottom: 40px;
}





//.crashedice--intro
.crashedice--intro {
  margin-top: 30px;
  padding-top: 0;

  .intro__catch {
    font-weight: bold;
    font-size: 20px;
  }

  .intro__link__app {
    margin-top: 20px;

    a {
      @include link-decoration(#001a72, #001a72, underline, none);
      display: inline-block;
      line-height: 40px;
      padding-left: 48px;
      background: url(/assets/images/red-bull-crashed-ice-2018/intro-app_icon.png) 0 0 no-repeat;
      background-size: 40px;
      font-weight: bold;
      font-size: 18px;
    }
  }

  .intro__timetable {
    margin-top: 20px;

    table {
      width: 100%;
    }

    th,
    td {
      padding: 8px 10px;
      font-weight: bold;
      font-size: 14px;
    }

    th {
      width: 90px;
      color: #0a1a72;
    }

    td {
      span {
        font-size: 10px;
      }
    }

    tr:nth-child(odd) {
      th, td {
        background-color: #e9f3fb;
      }
    }

    //.intro__timetable__note
    &__note {
      margin-top: 10px;
      font-size: 10px;
    }
  }

  .intro__banner {
    margin-top: 40px;

    img {
      border: 1px solid #eee;
    }

    a:hover {
      @include opacity(0.8);
    }
  }

  .intro__widjet_twitter {
    margin-top: 40px;

    iframe {
    width: 100% !important;
    }
  }
} //.crashedice--intro





//.crashedice--about
.crashedice--about {
  position: relative;
  background: url(/assets/images/red-bull-crashed-ice-2018/about-bg2.png) center 0 repeat-y;
  margin-top: 24px;
  margin-bottom: 24px;

  &:before,
  &:after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 24px;
    @include hide-text;
  }

  &:before {
    top: -24px;
    left: 0;
    background: url(/assets/images/red-bull-crashed-ice-2018/about-bg1.png) center 0 no-repeat;
  }

  &:after {
    bottom: -24px;
    left: 0;
    background: url(/assets/images/red-bull-crashed-ice-2018/about-bg3.png) center 0 no-repeat;
  }

  .about__heading {
    margin-bottom: 24px;

    img {
      // width: 366px;
    }
  }

  .about__text {
    p + p {
      margin-top: 1em;
    }
  }

  .about__movie {
    position: relative;
    margin-top: 30px;

    &:before {
      content: "";
      display: block;
      padding-top: (728/1280*100)+%;
    }

    iframe {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    a {
      position: relative;
      display: block;

      &:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 90px;
        height: 90px;
        transform: translate(-50%, -50%);
        background: url(/assets/images/red-bull-crashed-ice-2018/about-movie-icon_play.png) 0 0 no-repeat;
        @include hide-text;
      }

      &:hover {
        @include opacity(0.8);
      }
    }
  }

  //.about__featured
  .about__featured {
    margin-top: 32px;

    //.about__featured__heading
    &__heading {
      margin-bottom: 4px;
    }

    //.about__featured__list
    &__list {
      display: flex;
      flex-wrap: wrap;
    }

    //.about__featured__item
    &__item {
      width: 132px;
      margin-top: 20px;
      margin-right: 17px;

      &:nth-child(5) {
        margin-right: 0;
      }

      figure {
        img {
          width: 132px;
        }
      }

      h4 {
        margin-top: 12px;
        font-weight: bold;
      }

      p {
        margin-top: 4px;
        font-size: 10px;

        &.country {
          margin-top: 6px;
          color: #e50b43;
        }
      }
    }
  } //.about__featured

} //.crashedice--course





//.crashedice--overview
.crashedice--overview {
  padding-top: 40px;

  .overview__heading {
    margin-bottom: 38px;

    img {
      // width: 308px;
    }
  }

  .overview__data {
    th,
    td {
      padding-bottom: 0.5em;
      vertical-align: top;
    }

    th {
      padding-right: 20px;
      border-right: 1px solid #69ace5;
      font-weight: bold;
    }

    td {
      padding-left: 24px;

      a {
        @include link-decoration(#0a1a72, #0a1a72, none, underline);
      }
    }
  }
} //.crashedice--overview





//.crashedice--related
.crashedice--related {
  position: relative;
  background: url(/assets/images/red-bull-crashed-ice-2018/related-bg2.png) center 0 repeat-y;
  margin-top: 24px;
  margin-bottom: 24px;

  &:before,
  &:after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 24px;
    @include hide-text;
  }

  &:before {
    top: -24px;
    left: 0;
    background: url(/assets/images/red-bull-crashed-ice-2018/related-bg1.png) center 0 no-repeat;
  }

  &:after {
    bottom: -24px;
    left: 0;
    background: url(/assets/images/red-bull-crashed-ice-2018/related-bg3.png) center 0 no-repeat;
  }


  .related__heading {
    margin-bottom: 14px;

    img {
      // width: 235px;
    }
  }

  .related__post {
    position: relative;

    + .related__post {
      border-top: 1px solid #d2e6f7;
    }

    a {
      @include link-decoration(null, null, none, none);
      display: table;
      padding-top: 20px;
      padding-bottom: 20px;
      // transition: background-color 0.2s;

      &:hover {
        @include opacity(0.8);
        // background-color: #10151e;
      }
    }

    //.related__post__thumb
    //.related__post__text
    &__thumb,
    &__text {
      display: table-cell;
      vertical-align: top;
    }

    //.related__post__thumb
    &__thumb {
      width: 300px;

      img {
        width: 280px;
      }
    }

    a.movie {
      .related__post__thumb span {
        position: relative;
        display: inline-block;
        width: 280px;

        &:before {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          width: 60px;
          height: 60px;
          transform: translate(-50%, -50%);
          background: url(/assets/images/red-bull-crashed-ice-2018/related-icon_play.png) 0 0 no-repeat;
          @include hide-text;
        }
      }
    }

    //.related__post__text
    &__text {
      padding-right: 1em;

      .related__post__heading {
        color: #0a1a72;
        font-weight: bold;
        font-size: 20px;
      }

      .related__post__text {
        margin-top: 0.75em;
        color: #000;
      }

      .related__post__category {
        margin-top: 0.75em;
        color: #001a72;
        font-weight: bold;
      }

      .related__post__date {
        margin-top: 2em;
        color: #999;
        font-size: 12px;
      }
    } //.related__post__text
  } //.related__post

  //.related__topics
  .related__topics {
    margin-top: 12px;

    //.related__topics__heading
    &__heading {
      padding-bottom: 8px;
    }

    //.related__topics__post
    &__post {
      a {
        @include link-decoration(null, null, none, none);
        display: table;
        width: 100%;
        margin-top: 12px;
        background: url(/assets/images/red-bull-crashed-ice-2018/related-topics-bg.png) 0 0 no-repeat;
        // transition: background-color 0.2s;

        &:hover {
          @include opacity(0.8);
          // background-color: #10151e;
        }
      }

      //.related__topics__post__thumb
      //.related__topics__post__text
      &__thumb,
      &__text {
        display: table-cell;
      }

      //.related__topics__post__thumb
      &__thumb {
        width: 178px;
        vertical-align: top;

        img {
          // width: 178px;
        }
      }

      //.related__topics__post__text
      &__text {
        padding: 2px 52px 2px 20px;
        vertical-align: middle;

        h5 {
          color: #0a1a72;
          font-weight: bold;
          font-size: 18px;

          span {
            font-size: 14px;
          }
        }
      }
    } //.related__topics__post
  } //.related__topics
} //.crashedice--related





//.boxcart--jasrac
.boxcart--jasrac {
  padding-bottom: 12px;
  // text-align: right;

  .jasrac__num {
    display: inline-block;
    line-height: 40px;
    padding-left: 48px;
    background: url(/assets/images/red-bull-box-cart-2017/jasrac-logo.jpg) 0 0 no-repeat;
    background-size: 40px;
    font-size: 10px;
  }
} //.boxcart--jasrac
