/**
 * videojs.ads.css
 */

/* Ad playback */
.vjs-ad-playing.vjs-ad-playing .vjs-progress-control {
  pointer-events: none;
}
.vjs-ad-playing.vjs-ad-playing .vjs-play-progress {
  background-color: #ffe400;
}

/* Ad loading */
.vjs-ad-playing.vjs-ad-loading .vjs-loading-spinner {
  display: block;
}

/* Addtinal style*/
.video-js .vjs-big-play-button:before{
  content: '' !important;
}
.video-js .vjs-big-play-button{
  width: 2.5em !important;
  height: 2.5em !important;
  border: none;
  border-radius: 50% !important;
  background-color: transparent  !important;
  background: url('/assets/ima_plugin/images/video-play-btn-80x80.png') ;
  background-repeat:no-repeat;
  background-size:100% 100%;
  margin-top: -1.25em !important;
  margin-left: -1.25em !important;
}
.video-js .vjs-big-play-button:hover{
  background-color: rgba(43,51,63,.7) !important;
}